[2018-08-03 09:25] devapro commented on #1722
I used the master branch. After the first open screen with  RNCamera get the user prompt for the permissions (camera and microphone).  After the user granted permission camera work normally.

[2018-08-03 14:59] Gatreek92 commented on #1220
Hi guys, does anyone tried`onPictureSaved` function ? (Its a callback that you can pass to `takePictureAsync` and it will be involved when the picture is saved, it came with **SDK 28**)
see doc [here](https://github.com/expo/expo-docs/blob/9d5f0e478d1f13a67546e71928b5ebbc61a86799/versions/unversioned/sdk/camera.md#takepictureasync)

[2018-08-03 15:56] jgcmarins commented on #1722
try to ask permission on app startup

[2018-08-04 21:05] sturmenta commented on #1407
I deleted the "ios/build" folder and executed "react-native run-ios" and it worked!

[2018-08-05 03:02] matamicen commented on #920
Hi guys,
We are having a crash in Android when we rotate the emulator when the camera is active, could be the react-navigator with redux? becasue we have the same project with the same versions of react-native-camera, compileSdkVersion, buildToolsVersion, etc and it is working without any problem (the working project doesn't have redux and react-navigation).

More info: The camera is on a StackNav

[2018-08-05 03:29] matamicen opened #1729 "Failed when Rotate with React-Navigation - setPreviewTexture failed"
Hi guys,
We are having a crash in Android when we rotate the emulator when the camera is active, could be the react-navigator with redux? becasue we have the same project with the same versions of react-native-camera, compileSdkVersion, buildToolsVersion, etc and it is working without any problem (the working project doesn't have redux and react-navigation).

More info: The camera is on a StackNav

[2018-08-05 07:39] kanekotic commented on #1722
thanks, @devapro & @jgcmarins, your answers where insightful.
I did test the master branch before, but as explained this is a different issue that was being solved, at least in my case it did not bring any effect.
On the other side to a manual permission at `startup` did `works`. In any case this but open for me the question what is the difference with this and doing it at the construction of the

[2018-08-05 14:55] jgcmarins commented on #1722
Great to know @kanekotic
Any idea on how to fix it on `RNCamera`, just open a pull request \o/

[2018-08-06 08:14] yli18 commented on #1723
text recognition for example

[2018-08-06 09:36] n1ru4l commented on #1723
Someone wanna improve documentation?

[2018-08-06 09:36] v4lerio commented on #1251
I still have the same issue. No idea why it is happening

[2018-08-06 12:04] kanekotic commented on #1722
so I have debugged a bit and it has to do with the rationale passed to `PermissionsAndroid.request`, if present it actually does not show.

[2018-08-06 12:08] jgcmarins commented on #1722
https://github.com/facebook/react-native/issues/17985

[2018-08-06 18:05] rzapalupi commented on #1501
same problem with me, it doesnt work if portrait mode

[2018-08-06 18:44] jcgonzave commented on #794
Hi

I am having the same problem when scanning pdf417 codes on iOS.

On android it works as expected giving me the whole data I need.
I actually can get information that is between the null characters (\u0000)

![7eb59589fac0b7c66e97182653c5f32cf38b455f](https://user-images.githubusercontent.com/1459799/43734030-185ad1e8-997c-11e8-8211-fb0d0168c898.jpg)

But when scanning on iOS the data breaks ju

[2018-08-07 00:37] devapro commented on #1453
for android added <uses-permission android:name="android.permission.FLASHLIGHT"/> to manifest.
now it work well on master branch

[2018-08-07 00:38] #1453 closed

[2018-08-07 00:44] devapro commented on #632
@shahchaitanya try to use latest code from the master branch. I used from master in production - work well.

[2018-08-07 03:25] Bitenca commented on #1368
Thanks @krystianpach! Like a charm!

[2018-08-07 03:57] export-mike commented on #220
@sharathprabhal did you get an issue afterwards about google() missing in build.gradle?

I've found this issue which seems to be related: https://github.com/react-native-community/react-native-camera/issues/1530

[2018-08-07 05:18] isaaclem opened #1732 "Module RCTCameraManager requires main queue setup since it overrides `constantsToExport` but doesnt implement `requiresMainQueueSetup`"
### Which implementation are you using
I've migrated from RCTCamera to RNCamera

Under `node_modules/react-native-camera`, I can see below file structures
![screen shot 2018-08-07 at 1 14 45 pm](https://user-images.githubusercontent.com/32945572/43755730-ee664692-9a43-11e8-914a-5bb719872b63.png)

I've tried to added below code to `RCTCameraManager.m` but warning still showing

    + (BOOL)requires

[2018-08-07 06:36] rmnrajan opened #1733 "Could not find method google() for arguments [] on repository container."
Where:
Build file 'C:\Users\user\Desktop\TP\Software\Chatbot_MobileApp\tmp\ChatbotIonicApp\platforms\android\build.gradle' line: 28

* What went wrong:
A problem occurred evaluating root project 'android'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.
(node:12616) UnhandledPromiseRejectionWarning: Error: cmd: Command failed w

[2018-08-07 08:47] nadzic commented on #1686
Why should I use react-native-qrcode-scanner if I am scanning barcodes? What is actually the difference between react-native-camera and react-native-qrcode-scanner?

[2018-08-07 08:56] YouCii commented on #1509
My android app runs very slowly while navigating back from a camera screen.
So i need to stop preview before navigation.

[2018-08-07 12:53] sibelius commented on #1733
check this https://github.com/react-native-community/react-native-camera/blob/master/docs/GradleUpgradeGuide.md

[2018-08-07 12:53] #1733 closed

[2018-08-07 12:57] ShawSmall opened #1734 "on a null object reference"
react-native-camera 1.1.5  android
When i quit app, make a mistake。
java.lang.NullPointerException: Attempt to invoke virtual method 'void com.google.zxing.MultiFormatReader.reset()' on a null object reference
        at org.reactnative.camera.RNCameraView.onBarCodeScanningTaskCompleted(RNCameraView.java:295)
        at org.reactnative.camera.tasks.BarCodeScannerAsyncTask.onPostExecute(BarCodeScan

[2018-08-07 13:32] sibelius commented on #1734
this looks like a bug on package com.google.zxing, could you open an issue there as well?

[2018-08-07 14:03] tobyhinloopen commented on #1733
That worked for me, thank you @sibelius

[2018-08-07 15:28] luisrodge opened #1735 "undefined is not an object 'CameraManager.Aspect.Fill'"
react-native-camera 1.1.4 android

For some reason I keep getting the aforementioned error on android when running the app on my device.
There is no way to get rid of the error other than reinstalling the app entirely.

[2018-08-07 15:39] sibelius commented on #1735
this looks like a linking issue

[2018-08-07 15:54] cartesv opened #1736 "undefined is not an object (evaluating 'CameraManager.Aspect')"
I'm getting the message: "undefined is not an object (evaluating 'CameraManager.Aspect')" while trying to render the demo code in iOS through Expo.

react-native-cli: 2.0.1
react-native: 0.55.4

![img_1fdf22529a28-1](https://user-images.githubusercontent.com/23144526/43787524-302934b4-9a39-11e8-94c4-4e40426decc9.jpeg)

Any idea?

[2018-08-07 16:01] cartesv commented on #1736
In Camera.js, classes NativeModules.CameraManager || NativeModules.CameraModule are not defined.

[2018-08-07 16:13] luisrodge commented on #1735
I have done everything according to the documentation.

[2018-08-08 07:35] dileepbolisetti opened #1737 "evaluating h.Aspect.fill"
### Which implementation are you using

*RNCamera* or RCTCamera (RCTCamera will be removed on v2.0.0)?
"react-native-camera": "git+https://git@github.com/react-native-community/react-native-camera",

### Steps to reproduce
1. npm i
2. react-native run-android

### Expected behaviour

### Actual behaviour
 -if you force stop the application sometimes working
-even in production apk is crashing 3-4

[2018-08-08 11:48] jgcmarins commented on #1737
@dileepbolisetti is there a repo to reproduce this?

[2018-08-08 12:35] n1ru4l opened #1738 "[Android] Audio Playback of other Applications stops when the RNCamera component is rendered"
Any ideas on how to work around this "issue"?

[2018-08-08 13:01] n1ru4l commented on #1738
Okay it seems like this is due to heavy RAM usage. Sometimes it works, in cases where the applications RAM usage is higher the Spotify app gets "autoclosed", e.g. when I switch back after the sound has stopped the Spotify app is restarting.

[2018-08-08 13:01] #1738 closed

[2018-08-08 14:35] Irrelon commented on #1407
This happened to me after following the cocoapods based install instructions.

Fixed it by:

1) Removing all mention of "react-native-camera" from the ./ios/Podfile
2) Manually adding the RNCamera project to my main project's Libraries folder (in xcode right click on Libraries in the project tree left side, select "Add files to <project name>..." then navigate to your project's node_modules/react-

[2018-08-08 15:10] asimkhan0 commented on #700
@leonyhenn did you find any solution ?
CameraRoll returns URIs 'content://media/external/video/media/11' and I need to display an Image/Thumbnail of it.

[2018-08-08 15:27] n1ru4l commented on #700
@leonyhenn @asimkhan0 Like @timt mentioned: https://github.com/phuochau/react-native-thumbnail

[2018-08-08 16:32] dileepbolisetti commented on #1737
@jgcmarins created a repo with sample code
https://github.com/dileepbolisetti/react-native-camera-test

and

https://github.com/dileepbolisetti/react-native-camera-test/tree/master/android/app/release
app-release.apk is behaving as i mentioned earlier..

(y)

[2018-08-09 03:05] lizhuoyuan commented on #1711
@banaszeknorbert  thanks! I will try

[2018-08-09 03:09] lizhuoyuan commented on #1711
@banaszeknorbert  love you haha , it was solved

[2018-08-09 10:46] JB-CHAUVIN commented on #1282
Anything new ?

[2018-08-09 11:30] ThaJay commented on #632
@shahchaitanya I have not had complaints about this crash in some time. I also did some things in the meantime to prevent double navigation at some point because that also resulted in other issues.
I think this bug has something to do with double rendering of the camera but I can't be sure because I was never able to confirm with a good test.

All I know is that our app has not been crashing much

[2018-08-09 16:00] shalin87 commented on #417
Video does not start again.

[code]

[2018-08-09 17:58] keske commented on #1736
@cartesv Look this: https://github.com/react-native-community/react-native-camera/issues/1407#issuecomment-392881900

I had the same issue and that script helps me.

[2018-08-10 01:28] isaaclem opened #1740 "Camera Not Authorize issue"
### Which implementation are you using
RNCamera

### Expected behaviour
Camera should be popping up

### Actual behaviour
Instead showing "Camera Not Authorize"

### Environment
"react": "^16.4.1",
"react-native": "^0.56.0"

Android 4.1

### react-native-camera
**Version**: 1.1.4

[2018-08-10 06:57] dileepbolisetti commented on #1737
hi @jgcmarins did u get the chance to see the  issue !!

[2018-08-10 10:12] cagataycali commented on #1740
Please give more information about your issue

[2018-08-10 18:47] devapro commented on #1724
maybe this related to permissions. Try manual set permissions for camera and microphone to app. after this try call recordAsync

[2018-08-10 22:30] halilb opened #1741 "Path option does not continue recording video over the same file on iOS"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
I am trying to create an Instagram-like video recorder, and trying to make use of this explanation of RNCamera for that purpose:

So I am storing the file _uri_ after the first record, and passing that _uri_ as the **path** option to **recordAsync** method. Here is all the logic:

[code]

And after invoking _startCapturing_

[2018-08-10 23:26] LBRGeorge opened #1742 "Camera preview not showing up"
### Which implementation are you using
*RNCamera*

### Expected behaviour
Camera preview should show properly.

### Actual behaviour
Sometimes the camera preview shows and sometimes it doesn't. Even when the preview doesn't shows up, the camera is able to take a picture perfectly.

### Environment
"react": "16.3.1",
"react-native": "0.55.4"
**Android 6.0**

### react-native-camera
**Version**: lat

[2018-08-11 08:53] vygandas commented on #566
I'm using RNCamera like this
[code]

when `type={RNCamera.Constants.Type.front}` it works. If I use `back` it fails. App closes and says "Unfortunately app has stopped....."

I've added things to manifest like exif 27+, android:largeHeap="true" and other things but it doesn't help.

[2018-08-11 13:49] PavelPolyakov commented on #1459
@akriger
In my case if I have screen orientation fixed as `portrait` and I do rotate my phone to the `landscape` - camera preview rotates, as it want to stay in `portrait`. So the image in preview is `-90deg` rotated comparing to the one I see in real life.

Do you think this is the same issue? Or your's is different.

[2018-08-12 17:51] priezz commented on #1712
I have the same issue. In my case it is not necessary to reinstall the app (though it helps), but phone reboot also allows to scan the code at the first camera use. App forceful restart does not help.

[2018-08-13 06:30] PavelPolyakov opened #1743 "camera preview rotates when there is no need"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
Here is the repo:
https://github.com/PavelPolyakov/react-native-camera-rotation-bug
the `orientation` must be fixed to the `portrait`:
https://github.com/PavelPolyakov/react-native-camera-rotation-bug/blob/master/app.json#L10

1. Run the app
2. Turn the phone to the landscape mode

### Does it work with Expo Camera?
the bug

[2018-08-13 08:50] banafsh13 commented on #1490
@ldstein thank you, works for me!

[2018-08-13 12:02] tonmanayo commented on #134
Hi, I'd like to know if there is any way of checking Camera permissions. I'd like to being up a modal before asking the users on IOS for permissions

[2018-08-13 12:13] tonmanayo opened #1744 "react-native-camera check permissions before using RNCamera"
using RNCamera

There is no way to check the permissions status on IOS before actually trying to use the RNCamera

I should be able to check IOS camera permissions before using the camera
- **React Native version**: Latest

### react-native-camera
**Version**: npm version or "master" latest

[2018-08-13 13:48] erez-guesty commented on #1711
@banaszeknorbert
where is the 'ext' section? i dont have it in the build.gradle...
can you post your file?
thanks

[2018-08-13 14:44] tonmanayo commented on #1711
buildscript {
     repositories {
         google()
         jcenter()
     }
     dependencies {
         classpath 'com.android.tools.build:gradle:3.1.3'
         classpath 'com.google.gms:google-services:4.0.1'
     }
 }

 allprojects {
     repositories {
         mavenLocal()
         google()
         jcenter()
         maven {
             // All of React Native (JS, Obj-C sources, Android

[2018-08-14 05:56] prajnarobo commented on #926
Any solution for the above issue? App is crashing even after removing barCodeTypes

[2018-08-15 08:57] veeyka opened #1745 "barcode scanner cant recognize small size barcodes (html size: 200px*100px). but big ones are ok"
its working fine on ios.
but it dont recognize small barcodes
i'm using code128
300*300 px barcodes are identifying goodly

                <RNCamera
                    ref={ref => {
                        this.camera = ref;
                    }}
                    style={styles.preview}
                    type={RNCamera.Constants.Type.back}
                    flashMode={RNCamera.Constants.F

[2018-08-15 09:44] nes123 opened #1746 "Cant compile"
error: package com.google.android.gms.vision does not exist

my relevant build.gradle section looks like that:
[code]

[2018-08-15 10:02] n1ru4l commented on #1744
You might use https://github.com/yonahforst/react-native-permissions for this.

A PR that exposes a method on `RNCamera` would also be handy.

[2018-08-15 10:13] tonmanayo commented on #1744
@n1ru4l thanks for the response. I really don't want to use that library at the moment as one of the issues says that it gets rejected by the apple app store, and the camera is the only lib that I need the permissions for.

[2018-08-15 14:33] n1ru4l commented on #1744
@tonmanayo Well we have an app in the app store that uses this library.

[2018-08-15 14:49] sibelius commented on #1744
this should be in user land, or in another library

[2018-08-15 15:53] MD3XTER commented on #1719
The "4:3" quality ratio is only available to Android not iOS.

[2018-08-15 20:08] export-mike commented on #1040
@ngo275 are you using 0.10.0? I'm having the same issue. Once i've removed barCodeTypes={['qr']} it no longer scans for QR codes. I've downgraded as I'm having issues installing this library for android, I'm going in circles

[2018-08-16 04:04] godoakbrutal commented on #272
this work for me in iOS
1. remove  folder `build` in folder `ios`
2. `react-native run-ios`

done.

[2018-08-16 07:59] #1744 closed

[2018-08-16 10:15] NordlingArt opened #1747 "React Pod has been deprecated and causes conflict with node_modules/react-native"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. `yarn add react-native-camera`
2. `react-native link react-native-camera`
3. Podspec gets added to Podfile but when running the project, I see no `CameraManager` inside `NativeModules`.
4. I manually run a `pod install` in order for it to get added.
5. Message I get after pods are installed is: "[!] React has been deprec

[2018-08-17 00:00] stewartduffy commented on #1399
Any updates on this??

[2018-08-17 00:04] haggholm opened #1748 "Incompatible with React Native 0.57 (RC)"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Upgrade to `react-native@next`
2. Attempt to build the Android client

### Expected behaviour
Successful compilation

### Actual behaviour
[code]

### Environment
- **React Native version**: 0.57.0-rc.0
- **React Native platform + platform version**: Android (platform version irrelevant)

### react-native-camera
**Versio

[2018-08-17 09:58] komaldeep commented on #1581
I ma facing this issue .. how you solved in the end ??

[2018-08-17 11:22] The-Code-Monkey opened #1749 "cannot take another image"
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using

*RNCamera* or RCTCamera (RCTCamera will be removed on v2.0.0)?

### Steps to reproduce
1. Copy example
2. Get Base64 and display image to screen by adding pushing to an array.
3. try and

[2018-08-17 13:06] Sterlingryan commented on #1513
I still have this bug, even after I add fixOrientation to true

[2018-08-20 09:23] YouCii opened #1750 "How to hide the another permissionDialog in android?"
### Which implementation are you using
*RNCamera*

### Steps to reproduce
1. npm i --s react-native-camera
2. react-native link react-native-camera
3. other build.gradle modifications

### Does it work with Expo Camera?
I don't know.

### Expected behaviour
Only show the dialog which actually contains agree and disagree buttons.

### Actual behaviour
It show a dialog(contains the 'permissionDialog

[2018-08-20 18:29] tiagoalucard commented on #1207
expo bro! no need Mac

[2018-08-20 18:57] pqminh commented on #1249
How to fix it?

[2018-08-20 19:01] pqminh commented on #1700
Did you fix it?

[2018-08-20 20:24] n1ru4l commented on #1249
@pqminh my current workaround is described here: https://github.com/react-native-community/react-native-camera/pull/1542#issuecomment-407324574

If you want to use the newest master you will have to adjust it.

I still had no time to file in a pull request 😕

[2018-08-21 02:16] pqminh commented on #1249
@n1ru4l tks. I'm trying now.

[2018-08-21 05:48] patt-makeitsimple commented on #1735
Have you console.log(CameraModule) in Camera.js?
I have the same issue, this will get error randomly. Because I have also installed react-native-camera-kit, I try to add a new function in react-native-camera-kit CameraModule.java , e.g.

@ReactMethod
public void cameraKitByTrial() {

}

After clean gradle and run again, I found the cameraKitByTrial function will be printed out in console.log . Tha

[2018-08-21 08:50] #1728 closed

[2018-08-21 11:27] cainoeraabele opened #1751 "Capture audio other app when RNCamera start to rec"
i have made a rec app with RNCamera but when i start to rec (recordAsync({ quality: '480p'}) the audio of other app like spotify and similar stoped! how can i capture both (my audio and dont stop other app sound )
tx cainoeraabele

[2018-08-22 10:01] swaroopa94 opened #1752 "black screeen in android"
What's happening?
Hi,
I installed this module and linked the modules as given in description but I am getting a black screen in android the camera is not opening up.

Build details?
android version 7.1.1
react-native-qrcode-scanner - ^1.0.1
react-native-camera - ^1.1.4

Here are my build.gradle

[code]

app/build.gradle

[code]

in gradle.properties

distributionUrl=https://services.gradle.org/dis

[2018-08-22 19:18] erez-guesty commented on #1026
@sibelius
the link is leading to the react-native-camera homepage...
where is the solution?

[2018-08-22 20:16] mshibl opened #1753 "Expected camera component error when pausePreview is called before takePictureAsync on android"
### Which implementation are you using
RNCamera - **android** (works on iOS)

### Steps to reproduce
1. Call camera.pausePreview()
2. Call camera.takePictureAsync()
3. catch and log error: `Expected camera component`

[code]

### Expected behaviour
The camera should pause the preview, and then take the picture

### Actual behaviour
Throws an error: `Error: takePictureAsync: Expected a Camera compo

[2018-08-23 02:09] L-Mno opened #1754 "The first video got a uri, but it crashed the second time. Can you help me?"
*RNCamera

### Steps to reproduce

I implemented the camera according to the document and ran it perfectly on Android, but I had a problem with ios video. I got the uri I needed for the first video, and then it crashed when I did the second video.

        <RNCamera
               ref={ref => {
                      this.camera = ref;
               }}
               style={styles.preview}

[2018-08-23 05:21] isaacwasserman opened #1755 "Addressbook.framework missing for face detection"
*RNCamera*

### Steps to reproduce
1. Follow steps for manual installation on iOS with face detection up through step 3

### Expected behaviour
According to step 4, I should be able to find `Addressbook.framework` in the link binary with libraries section of my target's build phases

### Actual behaviour
`Addressbook.framework` is nowhere to be found

### Environment
- **React Native version**: 0.

[2018-08-23 05:23] #1755 closed, assigned to nobody

[2018-08-23 10:53] husseinabed opened #1756 "faild resolution of: Lcom/google/android/gms/internal/zzbgl"
### Which implementation are you using

*RNCamera* or RCTCamera (RCTCamera will be removed on v2.0.0)? RNCamera

### Expected behaviour
use google vision (BarcodeDetector, textRecognize ....)

### Actual behaviour
error dialog popup with this error
![1](https://user-images.githubusercontent.com/29628342/44521116-ac623a00-a6da-11e8-82cf-8cce7a27d267.png)

### Environment
- **React Native version**:

[2018-08-23 16:26] husseinabed commented on #1756
solved in the root/app/build.gradle
### change
`implementation (project(':react-native-camera')){
    // exclude group: "com.google.android.gms"
    implementation 'com.android.support:exifinterface:25.+'
    implementation ('com.google.android.gms:play-services-vision:12.0.1') {
        force = true
    }
}
implementation 'com.google.android.gms:play-services-vision:$googlePlayServicesVersion`
##

[2018-08-23 16:27] #1756 closed

[2018-08-23 18:32] akriger commented on #1459
@PavelPolyakov
I'm not using expo and not specifying an orientation, but below is a video of what my issue is. I just updated everything and was doing some test. I found that when the device is rotated the view is initially wrong, but if I start to tilt the device down like I was going to lay it on a table it corrects itself.

Still not right and not sure how to fix it.
![orientation_bug](https://

[2018-08-23 18:32] akriger commented on #1459
Didn't mean to close sorry

[2018-08-24 12:57] sibelius opened #1760 "fix async react"
- [ ] remove `componentWillMount` usages
- [ ] remove `componentWillReceiveProps` usages

[2018-08-24 21:33] ingviso commented on #1754
Same here

[2018-08-25 05:15] swaroopa94 commented on #1669
@SeamusY Hi I am also facing same issue can you tell me how to solve this
`dependencies {
    compile (project(':react-native-camera')) {
        exclude group: "com.google.android.gms"
        exclude group: "com.android.support"

    }
    compile project(':react-native-permissions')
    compile project(':react-native-google-analytics-bridge')
    compile project(':react-native-vector-icons')

[2018-08-25 15:09] seftrick commented on #309
I'm still have an issue with that!

[2018-08-25 23:36] mxmzb opened #1761 "onBarCodeRead handler causes app to crash (but only in production mode)"
### Which implementation are you using

*RNCamera* @ 1.2.0

### Steps to reproduce
1. use `onBarCodeRead` handler
2. scan a code in production / profiling mode

### Expected behaviour
expected to behave like in development mode, scan the barcode and return the code as a string in the `event` argument.

### Actual behaviour
app crashes. however, the `onBarCodeRead` is actually being called (`alert(

[2018-08-26 00:45] mxmzb commented on #1761
i am very sorry, this had a different reason that i hadn't realized (of course, it was my code ;) ).

[2018-08-26 00:45] #1761 closed

[2018-08-27 04:50] swaroopa94 commented on #1669
@SeamusY YEs I checked and other thing I want to say is

the onCameraReady function is returning undefined when using like this:

`<RNCamera
          style={styles.preview}
          type={RNCamera.Constants.Type.back}
          flashMode={RNCamera.Constants.FlashMode.on}
          permissionDialogTitle={'Permission to use camera'}
          onCameraReady={(res)=>alert(res)}
          onMountErro

[2018-08-27 13:09] ingviso commented on #1754
For me release 1.1.2 works all releases after that give the same error

[2018-08-27 13:44] zeekw opened #1763 "onFacesDetected breaks app on iOS (device-only)"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Install react-native-camera *with* face detection using only manual procedures (no cocoapods or react-native link)
2. Import { RNCamera, FaceDetector }
3. Add component to page with onFacesDetected callback

### Expected behaviour
It should call the callback method defined

### Actual behaviour
The app completely freezes

[2018-08-27 16:02] ekimlinger opened #1764 "base64 image gets returned with newline characters"
### Which implementation are you using

RNCamera

### Steps to reproduce
1. Use [the RNCamera example](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md) as an example
2. Change the console.log for the photoData returned to:
`console.log(data.base64);`
3. In the debugger, the base64 string that is logged has newline characters in it. This should be one cont

[2018-08-27 16:29] okilimnik commented on #1754
the same error:
iphone X
IOS 11.4.1
RN 0.55.4
react-native-camera  1.2.0

[2018-08-28 01:05] thatjuan opened #1765 "iOS: Flash flickers when camera starts with flashMode = off"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Declare RNCamera with `flashMode = RNCamera.Constants.FlashMode.off`
2. Start the app
3. Flash flickers a couple of times and then turns off

### Expected behaviour
Flash should remain off

### Actual behaviour
Flash flickers a couple of times when the camera loads, then turns off and remains off.

Also, when switching t

[2018-08-28 01:13] ShinsukeWatanabe commented on #1765
same issue.

### Environment
- React Native version: 0.55
- Platform: iOS
- react-native-camera: "1.2.0"

[2018-08-28 10:14] SpQuyt commented on #1754
@ingviso it worksssssssssss!!!
1.1.2 is good bro!

[2018-08-28 11:55] eamonwhiter73 commented on #1616
@SimonErm I'm just curious...im newbish with github...how would i go about testing ur fork? just uninstall react-native-camera, and then install your version branch normally with `npm install`?

[2018-08-28 15:42] dileepbolisetti commented on #1752
help us with this issue

[2018-08-28 17:27] dileepbolisetti commented on #1671
@Albert0405 pls provide sample code i am unable to achieve it thanks in advance

[2018-08-29 04:00] godoakbrutal commented on #1407
But I've got this error. I really don't know what is happening now, Can anyone help ?

`Argument list too long: recursive header expansion failed at /Users/FOLDER/APP/node_modules/react-native-camera/ios/../../../ios/Pods/boost-for-react-native/boost/numeric/ublas/experimental.`

rn-version: 0.55.4
rn-cli-version: 2.0.1
react-native-camera: 1.1.4 -> installation by use `react-native link react-nat

[2018-08-29 08:37] Albert0405 commented on #1671
@dileepbolisetti  Here

[code]

[code]

[2018-08-29 11:58] zedtux opened #1766 "[Feature] MSI barcode"
First of all, thank you guys for this awesome library 👍.

I'm wanted to use it also to scan some bar codes and discovered that actually they are MSI (not code128 as we was expecting).

This issue is a request to implement [the MSI bar codes](https://en.wikipedia.org/wiki/MSI_Barcode) symbology.

[2018-08-29 12:14] onmyway133 commented on #1407
I had this issue as well, here is how I fix it

- git reset --hard HEAD~5 // go back n commits and start from scratch
- npm install react-native-camera // run this at root of project
- react-native link react-native-camera // run this at root of project
- pod install // run this inside ios folder

[2018-08-29 12:44] onmyway133 opened #1767 "Duplicate module name: react-native"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Follow README and installation guide for iOS, either with automatically with react-native or automatically with pod install, or manually add project and lib

### Actual behaviour
I get error

[code]

### Environment
react-native-cli: 2.0.1
react-native: 0.56.0

### react-native-camera
"react-native-camera": "^1.2.0"

[2018-08-29 12:56] Irrelon commented on #1407
Be very careful when running **git reset --hard**, this is not the command you are looking for if you are in your own repo and don't want to potentially loose any changes. Branch first so you are protected!

[2018-08-29 13:14] cgeorgiu commented on #1763
I'm having the same issue but using the cocoapods method.

It does not work on iPhone 5s and iPhone 7 but it works on iPhone 7+
All iPhones are running the same OS version (11.4.1)

[2018-08-29 13:50] onmyway133 commented on #1747
@NordlingArt I installed manually like you described, still the issue

[2018-08-29 14:45] KyrosDigital commented on #298
@taltultc I tried your mov - mp4 model but it isn't working on your master,
looks like the recent commit on the .m file has removed the code.

Seems there is no current working mov - mp4 solution available that plays well with react-native-camera.

Thinking of rolling our own, has anybody found a solution for this?

[2018-08-29 16:33] eamonwhiter73 commented on #1616
@SimonErm I'm just curious...im newbish with github...how would i go about testing this? just uninstall react-native-camera, and then install your fork?

[2018-08-29 20:34] eamonwhiter73 commented on #1616
@dmitryn hod does the reference issue relate?

[2018-08-29 20:37] jonathanmauer commented on #1560
I had the same issue, but on vertical different direction

Any update on this?

[2018-08-29 20:43] SimonErm commented on #1616
@eamonwhiter73 use "react-native-camera": "git+https://git@github.com/SimonErm/react-native-camera#multipleOutputOfSameType" instead of a version and run npm install

[2018-08-29 20:44] eamonwhiter73 commented on #1616
@SimonErm thanks ill try

[2018-08-29 20:50] eamonwhiter73 commented on #1616
@SimonErm I am getting `error: pathspec 'multipleOutputOfSameType' did not match any file(s) known to git.` when trying to run `npm install` and in your repo on git it says `Cannot retrieve the latest commit at this time.` Are there any commits I can retrieve?

[2018-08-29 21:17] SimonErm commented on #1616
@eamonwhiter73 oh sorry, it has to be: `"react-native-camera": "git+https://git@github.com/SimonErm/react-native-camera#fix/multipleOutputOfSameType"`

[2018-08-30 04:32] ianc-datacom opened #1768 "App (iOS only) crash when camera not authorized in Function as Child Component way"
### Which implementation are you using
RNCamera

### Steps to reproduce
1. create camera component with FaCC way
2. un-authorized camera in phone setting
3. crash as soon as turning on the camera in the app

### Does it work with Expo Camera?
Check usage with Expo - https://github.com/react-native-community/react-native-camera/blob/master/docs/Expo_Usage.md
You should open an issue there as well,

[2018-08-30 05:09] kaushal9678 commented on #1252
**update your project build.gradle dependencies
 dependencies {
        classpath 'com.android.tools.build:gradle:3.1.4'
        classpath 'com.google.gms:google-services:3.2.1'
}**

[2018-08-30 07:38] cgeorgiu commented on #1763
@possiblytyler Downgraded what to 1.4.0? did you mean downgraded iOS from 11.4.1 to 11.4.0?

[2018-08-30 08:13] jonathangreco opened #1769 "Unable to record video on android"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Using this component

[code]

### Expected behaviour
The camera should record something.

### Actual behaviour

See the following screen to see what happenened (console log are explicit)
![capture d ecran 2018-08-30 a 10 03 35](https://user-images.githubusercontent.com/1587180/44838668-0021d580-ac3d-11e8-86e5-dba82df9f71

[2018-08-30 10:05] jonathangreco commented on #1769
Additionnal informations:

Tested on Ipad with RNCamera -> crashes at preview.
Tested on Ipad with RCTCamera -> it worked.
Tested on Android with RCTCamera -> same issue.

[2018-08-30 12:47] sibelius commented on #1769
you should use RNCamera

[2018-08-30 19:17] roselinho commented on #768
same issue here , did anyone find a solution ?

[2018-08-30 20:36] enieber commented on #123
@sibelius  this issue can it is being closed?

[2018-08-30 20:42] #123 closed

[2018-08-30 20:44] enieber commented on #461
@sibelius or @jgfidelis, this issue can it is being closed?

[2018-08-30 20:47] enieber commented on #558
@sibelius this issue can it is being closed?

[2018-08-30 20:49] enieber commented on #569
@sibelius  this issue can it is being closed?

[2018-08-31 12:03] enieber commented on #1565
I try to use the lib but I have the similar error

## react-native-camera

version: 1.2.0

## react-native

version: 0.56.0

## gradle

version: 2.3.3

I can't update Gradle in my project to version > 3, this problem can affect in compile in the project?

[2018-08-31 12:38] fauster01 commented on #1765
Same issue.
Flash flickers twice with **any** flashMode (iPhone 8, iPhone 6s).
Also, when switching the flashMode to `auto `or `on`, it starts behaving like an always-on torch on iPhone 6s and like  an always-off torch on iPhone 8.

### Environment
- **React Native version**: 0.55.4
- **React Native platform + platform version**: iOS 11.4, iPhone 8, iPhone 6s

### react-native-camera
Version: mast

[2018-08-31 13:17] aamir0 commented on #890
I submitted #1770 to allow for a `doNotSave` flag, which should provide the functionality you're looking for

[2018-09-01 09:21] dekemega opened #1771 "can't read "UTF-8""
i have some official documentation that has qr code but it's not using English character .. so i need to decode them using uft-8

this is the qr

![2018](https://user-images.githubusercontent.com/23610404/44944529-5760ab00-ade1-11e8-8574-52131e862221.jpg)

the result

![screenshot_2018-09-01-12-13-59](https://user-images.githubusercontent.com/23610404/44944532-66dff400-ade1-11e8-847f-3e7ab7506ccd.

[2018-09-01 19:20] varburg opened #1772 "Too much zoom on iOS"
### Which implementation are you using

*RNCamera*

Only on iOS
there have strange behaviour when I add zoom to RNCamera component.
The behaviour is something like "super zoom" i.e. if max zoom is 1x I see 10x.

react native version 0.56.0
xcode Version 9.4.1 (9F2000)

Code was copied from RNCamera docs. Just added zoom.
Can somebody guide me what is wrong in this code:
[code]

[2018-09-02 23:13] shaksi commented on #1626
had similar issue where the camera is loading on iOS and not on android.
following @massimopibiri advice adapted the code as follows

`{({ camera, status }) => {
//check if camera is ready and platform is not android
//if android assume its ready
            if (status !== 'READY' && Platform.OS === "android") return <PendingView />;
            return (
              <View style={{ flex: 0, flexD

[2018-09-03 02:45] meiqi1992 opened #1773 "AVCaptureSessionPreset960x540 ios no support"
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using

*RNCamera* or RCTCamera (RCTCamera will be removed on v2.0.0)?

### Steps to reproduce
1.
2.
3.

### Does it work with Expo Camera?
Check usage with Expo - https://github.com/react-native

[2018-09-03 03:30] fantasyStyle commented on #1736
make sure you have linked xcode's linked frameworks and librales with libRNCamera.a And project finder existed the rncamera.xcodeproj

[2018-09-03 06:53] staafl commented on #1753
Same scenario, same error - Android 8, react-native-camera 1.2.0

[2018-09-03 07:42] sybil052 opened #1774 "android vivoY67 can't read code-39 or code-128"
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using
<RNCamera
                                ref={(cam) => {
                                    this.camera = cam;
                                }}
                                style={s

[2018-09-03 08:30] ribuluo000 commented on #1717
I didn't do anything, now it's ok... so, I close this issue.

[2018-09-03 08:30] #1717 closed

[2018-09-03 09:47] komaldeep commented on #1765
I am also facing the same issue ... flash auto or on behaves like torch in ios

[2018-09-03 13:12] sibelius commented on #890
fixed here https://github.com/react-native-community/react-native-camera/pull/1770

test on master

tks

[2018-09-03 13:12] #890 closed

[2018-09-03 13:12] sibelius commented on #1446
fixed https://github.com/react-native-community/react-native-camera/pull/1775

test on master

[2018-09-03 13:12] #1446 closed

[2018-09-03 13:12] sibelius commented on #1610
fixed here https://github.com/react-native-community/react-native-camera/pull/1775

test on master

[2018-09-03 13:12] #1610 closed

[2018-09-03 15:17] blaues0cke commented on #1593
Seems to duplicate https://github.com/react-native-community/react-native-camera/issues/846

[2018-09-04 06:37] victorileaf commented on #1772
Same issue here as well 👍

[2018-09-04 08:31] #1764 closed

[2018-09-04 08:37] djleonskennedy opened #1777 "RNCamera [android] recordAsync options doesn't work"
### Which implementation are you using
*RNCamera*

### Steps to reproduce
1. install camera
2. setup android
3. set option for recording video on android to 480p or 720p or whatever

### Does it work with Expo Camera?
no

### Expected behaviour
properties does affect to record result

### Actual behaviour
properties doesn't affect to record result

### Environment
- **React Native version**: 0.55.

[2018-09-04 12:11] wynch commented on #1748
Same problem here, with React Native 0.57.0-rc.4

[2018-09-04 14:36] ekimlinger commented on #1764
Nice, thanks everyone!

[2018-09-04 16:49] diego-caceres opened #1778 "Can't record short videos on iOS. Crahses."
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using

RNCamera

### Steps to reproduce
1. Call recordAsync on the camera reference
2. Wait 1 second and call stopRecording on camera reference
3. The promise from recordAsync throws an exceptio

[2018-09-04 22:58] #569 closed

[2018-09-05 18:54] fozzarelo commented on #1348
Has this issue been addressed?

[2018-09-05 21:17] fozzarelo commented on #1513
is still an issue? it would mean the library is not compatible with several devices, if that's the case there should be a big warning on top of the readme.

[2018-09-06 07:41] aseem1992 commented on #1772
+1

[2018-09-06 08:14] raphaelhovsepyan commented on #963
@Macstyg  Maybe you need `flashMode={RNCamera.Constants.FlashMode.torch}`

[2018-09-06 08:39] ooitakayuki commented on #1754
i have same problem.
IOS 11.0
RN 0.55.4
react-native-camera 1.2.0

thanks @ingviso

[2018-09-06 09:37] raphaelhovsepyan commented on #1671
Don't Wrap `RNCamera` with other components, it should be on the top

[2018-09-06 12:05] aseem1992 commented on #1772
changing the "zoom" value to 0.02 than 0.5 worked for me.

zoomInOut() {

        if (Platform.OS == 'ios') {

            switch (this.state.zoomValue) {
                case  0.0 :

                    this.setState({zoomValue: 0.02, opticalZoom: '2x'});
                    break;
                case 0.02 :
                    this.setState({zoomValue: 0.04, opticalZoom: '3x'});

[2018-09-06 12:21] ThabrezAhmed opened #1782 "Captured image is getting cropped in samsung j7"
### Which implementation are you using
RCTCamera

### Steps to reproduce
1. Try the sample RN camera in j7

### Expected behaviour
Captured image should have the viewport aspect ratio

### Actual behaviour
Image got cropped in the top and bottom part

### Environment
- **React Native version**: 0.44
- **React Native platform + platform version**: Android 6.0.1

### react-native-camera
**Version**:

[2018-09-06 16:42] dmitry-salnikov commented on #1407
As mentioned above, the issue is caused by recursive header expansion, and could be fixed by narrowing down the search paths scope in `FRAMEWORK_SEARCH_PATHS` and `HEADER_SEARCH_PATHS` Xcode project build settings. These values works for me:

`FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../../../ios/Pods/Headers/**`
`HEADER_SEARCH_PATHS = $(SRCROOT)/../../react-native/React/**`

The next bash script makes

[2018-09-07 06:01] varburg commented on #1772
Anyway i think the best way for now is to manualy edit updateZoom function in RNCamera.m

[2018-09-07 07:50] djleonskennedy commented on #1782
@ThabrezAhmed **RNCamera** should be used, **RCTCamera** is deprecated

[2018-09-07 08:39] YouCii commented on #1507
I lowered the width and solved the problem.

[2018-09-07 08:51] victorileaf commented on #1772
@aseem1992 0.02 works for now ..
But we will need an official fix ...

[2018-09-07 09:09] n1ru4l commented on #1772
@victorileaf feel free to open a pull request

[2018-09-07 11:51] phyzalis commented on #1766
Hi guys,

It would really be a great feature

[2018-09-07 14:14] rptwsthi commented on #1754
I am facing same issue.

[2018-09-08 09:48] SpQuyt commented on #1669
Can you show me your build.gradle in project, in android folder;
And the gradle-wrapper.properties please?

[2018-09-08 16:28] ThabrezAhmed commented on #1782
@djleonskennedy I even tried RNCamera issue still exists

[2018-09-08 18:44] bemaxima opened #1783 "How to access video stream ?"
Hello;
Is there any event/callback or api to access video stream (live streaming)?
I want to stream the video to an RTMP server.

[2018-09-08 23:10] matamicen opened #1784 "Preview freeze when FLIP the camera to Back mode type (only iOS)"
Hi Guys,

It is working when flip the camera from back to front, but when I click again the flip button to switch to back again it freeze and the torch turn ON.

React Native: 0.56
react-native-camera: "^1.2.0" (Also with 1.1.4 failed)
Tested just on iPhoneX (I didn't test yet in others Phones)

Thanks for helping.

[2018-09-09 07:51] doosti commented on #1513
@ziks21 thanks. this solve my problem.
just set in option   fixOrientation:true
my phone is LG k10

[2018-09-09 15:34] sadeghhosseini commented on #1017
I am facing the same issue, would you please provide a react-native-camera demo app so that beginners can build their project on top of it?

[2018-09-10 09:11] rusliabdulgani opened #1785 "Async error java takePictureAsync()"
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using

RNCamera

### Steps to reproduce
1. Open Camera
2. camera.takePictureAsync()
3. force closed (sometimes OK)

### Does it work with Expo Camera?
Check usage with Expo - https://github.com/

[2018-09-10 20:38] pribeh commented on #1754
Same here. anybody have any insight into this?

[2018-09-11 12:04] telkandrew opened #1787 "Unable"
After installing react-native-camera via "npm install react-native-camera", and then running react-native-link, my build is logging the following errors in Android Studio.

Unable to resolve dependency for ':react-native-camera@debug/compileClasspath': Could not resolve com.facebook.infer.annotation:infer-annotation:+.

and...

Unable to resolve dependency for ':react-native-camera@release/compile

[2018-09-11 12:52] jgcmarins commented on #1787
try to link only this package, i.e.: `react-native-link react-native-camera`

[2018-09-12 04:16] diennguyentien opened #1788 "Can I recording with audio and music using headphones?"
Can I Recording with audio and music using headphones?
Version
react-native-audio : 4.1.3
react-native : 0.56.0
react : 16.4.1
using react-native-sound ? No

[2018-09-12 05:29] Colman opened #1789 "Get pixel data in the current camera preview"
I have a react native camera view and a small logo that overlaps it. My goal is to change the tint of the logo so that is shows up best regardless of what the camera is pointing at (i.e. what's in the preview). What I was thinking is that I could get the pixel data for the area around the logo, then find the average color of that area and then set the tint of my logo to the complimentary color of

[2018-09-12 05:53] anubhav19rai commented on #1252
Please run this command **react-native upgrade**. This command will ask replace existing file or not. If you    want to replace a particular file press Y and hit enter button or press N. After completing this command than run command  **react-native link**. This command will link all dependencies than you can run command **react native run-android /ios**. This issue create when you uninstall some

[2018-09-12 06:57] kaushal9678 commented on #1252
@anubhav19rai  some dependencies are not added using the **react-native link** you have to add those manually on both platforms. Try manually!

[2018-09-12 09:35] TheHothihi commented on #1767
The problem occurs when you "pod install" react-native again.
so when nodejs compile the library, nodejs finds that there are two library with same name.
My solution is that open "/Users/khoa/XcodeProject2/MyApp/ios/Pods/React/package.json"
edit "name" field from "react-native" to "react-native2" then run it again.

**And you should edit the package.json in Pods rather than the package.json in nod

[2018-09-12 14:31] #1777 closed

[2018-09-12 20:35] nicholasess opened #1790 "create github page to docs"
Hi everyone!
I'm member of the core team [docz](https://github.com/pedronauck/docz) and i will send a PR with docs to react-native-camera. Before that, i need that you create in settings the github page in branch master the folder ```docs```.

After tell me when the github page created.

Thanks

[2018-09-13 11:28] yli18 commented on #1747
react-native link works for me, but i had the similar error when i tried CocoaPods install.

I was playing with the latest ios textRecognition function. Since CocoaPods Path is the only install option if i want to include Text Recognition function.

when pod install it has [!] React has been deprecated warning
compile fail because of the 'React/RCTBridge.h' file not found error, also with the foll

[2018-09-13 14:12] yli18 opened #1791 "CocoaPods install failed"
Text Recognition is a great function, I tried to integrate it with this version
github:react-native-community/react-native-camera#e12310869ebefb1a264abb593126a52481220c7e

I used to automatic install with react-native which has no problem. However, CocoaPods Path is the only option for Text Recognition. So I follow the document to Install with CocoaPod.

### Steps to reproduce
1. npm install
"reac

[2018-09-13 15:36] yli18 commented on #1791
Update, I add the following code to Podfile
    pod 'React', :path => '../node_modules/react-native',:subspecs => [
    'DevSupport',
    'RCTNetwork',
    ]
    pod 'yoga', :path => '../node_modules/react-native/ReactCommon/yoga'

and set Dead Code Stripping to yes, build success with run time error
error: bundling failed: ambiguous resolution: module `.../index.js` tries to require `react-native

[2018-09-13 15:56] blakesanie commented on #1743
No idea what's happening. Same bug here!

[2018-09-13 15:57] sibelius commented on #1743
try with master

it should be fixed by https://github.com/react-native-community/react-native-camera/pull/1786

[2018-09-13 15:58] sean-elder123 commented on #1389
Any further updates on this?

[2018-09-13 17:08] nadzic commented on #1686
Is there any solution already?

[2018-09-13 18:26] pribeh commented on #1713
@djleonskennedy did you take a stab at this?

[2018-09-13 20:48] djleonskennedy commented on #1713
@pribeh yes, i've tested bitrate, its works different depending on device, but it works, i'll prepare pull request on this holidays

[2018-09-14 04:25] bonkzero404 opened #1793 "AR Face Mimic Filters"
Hi your lib was great, can I make AR stickers like Snapchat with face recognition features? can you give me a reference? Thanks

[2018-09-14 04:26] jordanmkoncz commented on #1768
I just ran into this issue as well. Looks like there's some issue using the FaCC (Function as Child Components) approach when the user has not authorized access to the camera.

As a temporary fix, I changed my component to instead use the `pendingAuthorizationView` and `notAuthorizedView` props on `RNCamera`, and then directly included my camera overlay view as a child of `RNCamera`. This seems to

[2018-09-14 07:49] ortonomy commented on #960
I'm still having this isssue on iOS. It just crashed. Any thoughts?

[2018-09-14 09:06] yli18 commented on #1791
Anyone succeed in installing the library with Coco pls leave comments, how you config the Podfile

I spend hours still stuck here.

[2018-09-14 09:30] dov11 commented on #1791
Try with the following in your podfile:
[code]

[2018-09-14 10:34] yli18 commented on #1791
@dov11  It works like a charm! Text recognition works!!
Thank you, you saved my day!

[2018-09-14 10:34] #1791 closed

[2018-09-14 16:01] SimonErm commented on #571
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #571 closed

[2018-09-14 16:01] SimonErm commented on #579
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #579 closed

[2018-09-14 16:01] SimonErm commented on #580
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #580 closed

[2018-09-14 16:01] SimonErm commented on #585
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #585 closed

[2018-09-14 16:01] SimonErm commented on #591
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #591 closed

[2018-09-14 16:01] SimonErm commented on #593
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #593 closed

[2018-09-14 16:01] SimonErm commented on #594
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #594 closed

[2018-09-14 16:01] SimonErm commented on #600
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #600 closed

[2018-09-14 16:01] SimonErm commented on #603
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #603 closed

[2018-09-14 16:01] SimonErm commented on #604
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #604 closed

[2018-09-14 16:01] SimonErm commented on #605
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #605 closed

[2018-09-14 16:01] SimonErm commented on #606
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #606 closed

[2018-09-14 16:01] SimonErm commented on #609
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #609 closed

[2018-09-14 16:01] SimonErm commented on #610
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #610 closed

[2018-09-14 16:01] SimonErm commented on #611
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #611 closed

[2018-09-14 16:01] SimonErm commented on #612
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:01] #612 closed

[2018-09-14 16:02] SimonErm commented on #613
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #613 closed

[2018-09-14 16:02] SimonErm commented on #614
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #614 closed

[2018-09-14 16:02] SimonErm commented on #616
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #616 closed

[2018-09-14 16:02] SimonErm commented on #618
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #618 closed

[2018-09-14 16:02] SimonErm commented on #621
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #621 closed

[2018-09-14 16:02] SimonErm commented on #628
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #628 closed

[2018-09-14 16:02] SimonErm commented on #631
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #631 closed

[2018-09-14 16:02] SimonErm commented on #633
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #633 closed

[2018-09-14 16:02] SimonErm commented on #638
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #638 closed

[2018-09-14 16:02] SimonErm commented on #639
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #639 closed

[2018-09-14 16:02] SimonErm commented on #641
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #641 closed

[2018-09-14 16:02] SimonErm commented on #645
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #645 closed

[2018-09-14 16:02] SimonErm commented on #647
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #647 closed

[2018-09-14 16:02] SimonErm commented on #649
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #649 closed

[2018-09-14 16:02] SimonErm commented on #655
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #655 closed

[2018-09-14 16:02] SimonErm commented on #659
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #659 closed

[2018-09-14 16:02] SimonErm commented on #666
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #666 closed

[2018-09-14 16:02] SimonErm commented on #669
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #669 closed

[2018-09-14 16:02] SimonErm commented on #671
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #671 closed

[2018-09-14 16:02] SimonErm commented on #672
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:02] #672 closed

[2018-09-14 16:02] #676 closed

[2018-09-14 16:02] #678 closed

[2018-09-14 16:02] #688 closed

[2018-09-14 16:02] #691 closed

[2018-09-14 16:02] #694 closed

[2018-09-14 16:02] #707 closed

[2018-09-14 16:02] #708 closed

[2018-09-14 16:02] #710 closed

[2018-09-14 16:02] #714 closed

[2018-09-14 16:02] #715 closed

[2018-09-14 16:02] #719 closed

[2018-09-14 16:02] #721 closed

[2018-09-14 16:02] #732 closed

[2018-09-14 16:02] #733 closed

[2018-09-14 16:02] #737 closed

[2018-09-14 16:02] #742 closed

[2018-09-14 16:02] #744 closed

[2018-09-14 16:02] #749 closed

[2018-09-14 16:02] #753 closed

[2018-09-14 16:02] #754 closed

[2018-09-14 16:02] #756 closed

[2018-09-14 16:02] #758 closed

[2018-09-14 16:02] #760 closed

[2018-09-14 16:02] #763 closed

[2018-09-14 16:02] #764 closed

[2018-09-14 16:02] #765 closed

[2018-09-14 16:02] #766 closed

[2018-09-14 16:02] #770 closed

[2018-09-14 16:02] #772 closed

[2018-09-14 16:02] #776 closed

[2018-09-14 16:02] #778 closed

[2018-09-14 16:07] SimonErm commented on #1102
#1786
#1574

[2018-09-14 16:07] #1102 closed

[2018-09-14 16:15] SimonErm commented on #1058
Is this still an Issue?

[2018-09-14 16:18] SimonErm commented on #866
This issue is closed because of inactivity.
Furthermore RCTCamera is deprecated now, use RNCamera instead. If this issue is also related to RNCamera, please open a new one.

[2018-09-14 16:18] #866 closed

[2018-09-14 19:35] ebrugulec opened #1794 "Could not find method compile() for arguments [com.facebook.react:react-native:+]"
I am a new react native world. I am trying to use RNCamera with native android.  And I always get this error.
###  Could not find method compile() for arguments [com.facebook.react:react-native:+] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.
I tried everthing. I changed implementation to compile or i changed build.grandle(implementation to compile)

[2018-09-14 19:37] sibelius commented on #1794
upgrade to gradle 3 https://github.com/react-native-community/react-native-camera/blob/master/docs/GradleUpgradeGuide.md

[2018-09-14 19:37] #1794 closed

[2018-09-15 09:48] webmasterdragon commented on #1399
Same issue here.

[2018-09-15 11:45] rptwsthi commented on #768
Same issue I am using "### 1.2.0-7 (2018-08-09).

[2018-09-15 23:55] adiii4 commented on #419
I tried to throttle the call on onBarCodeRead with 3000ms but it doesn't work as expected. I hold the barcode in front of the camera and when the barcode is read (the phone vibrates when that happens), I **immediately** move the barcode away from the camera. Then after about 3 seconds the same barcode gets read again (phone vibrates again) even though there is no barcode in front of the camera? Wh

[2018-09-16 16:48] nadzic opened #1797 "Black screen after first scanning on Android 7.0, 8.1"
### Warning

### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Coming to scanning screen (We are using react-navigation)
2. Scan product bacode
3. After scanning black screen

### Does it work with Expo Camera?
We did not try yet expo camera.

### Expected behaviour
On iOS it works normally, after scanning we can scan normally next product.

### Actual behaviour
On Andr

[2018-09-16 19:36] nadzic commented on #1774
Did you get black screen or simply did not read the code?

[2018-09-17 01:28] ianc-datacom commented on #1768
Thanks for your comment @jordanmkoncz, I have done the same in my work two days after this issue got ignored. I guess this isn't important enough to get attention.

[2018-09-17 01:40] rusliabdulgani commented on #1785
hi all,

anybody know this issue?

[2018-09-17 08:33] SimonErm commented on #1741
#1754

[2018-09-17 08:36] SimonErm commented on #1783
#135

[2018-09-17 08:36] #1783 closed

[2018-09-17 08:48] SimonErm commented on #581
Can you try if it is fixed with master?

[2018-09-17 10:19] pistou opened #1798 "Can't link react-native-camera (vectoricons file not found)"
## Environment
Environment:
  OS: Windows 10
  Node: 8.9.4
  npm: 6.1.0

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: ~0.55.2 => 0.55.4

## Description
Can't link react-native-camera without an issue, then I can't `npm run android` as I have `symbol not found` issues during `react-native-camera:compileDebugJavaWithJavac`

## Reproducible Demo
[code]

Here is what conso

[2018-09-17 11:03] pistou commented on #1798
Ok, my problem was due to [this issue](https://github.com/facebook/react-native/issues/9980)

[2018-09-17 11:03] #1798 closed

[2018-09-17 16:05] KurtMakesWeb commented on #1189
Has this been fixed yet, its also happening to me. Testing on an iPhone SE if that helps any

[2018-09-17 21:34] #1789 closed

[2018-09-18 12:15] JslinSir opened #1799 "react-native link destroys xcodeproj file"
when  i use  react-native link react-native-camera

the project hangs    and  this file project.pbxproj No conflict
![image](https://user-images.githubusercontent.com/30678791/45686584-62586100-bb7f-11e8-930f-6514e0f398e3.png)

[2018-09-18 16:40] raygerrard commented on #1791
textRecogniser still doesn't work for me using the above:

I get the following error doing pod install:

[code]

[2018-09-18 17:02] dov11 commented on #1791
Hi @raygerrard , are you using react-native-camera from master? Could you please check if the file `node_modules/react-native-camera/react-native-camera.podspec` in your project contains the following line: `s.subspec "TextDetector" do |ss|` (line 38)

[2018-09-18 17:10] fayte0618 opened #1800 "High Framerate mode?"
Does the library have a high framerate capture mode for video?

[2018-09-18 20:00] Asalem1 commented on #1540
Have there been any developments on this @ducgao ?

[2018-09-19 00:05] radjivF commented on #220
Hey guys I have been trying to do what @richburke advise to do.

I have been trying many time to rebuild with react-native run-android and with android studio and now I'm getting this error, any idea?

 Could not find com.android.support:appcompat-v7:27.1.0.

[2018-09-19 01:45] radjivF commented on #748
@bobmulder

I get thus error
 Could not resolve all files for configuration ':app:debugCompileClasspath'.

When I try your solution :'(
=====

[2018-09-19 02:01] yurnery commented on #1616
@SimonErm hi, can you tell me which commit you fix this issue, I got no information from your commit list

[2018-09-19 08:35] jonathangreco commented on #1769
This can be close as the issue was not relevant with RNCamera.

[2018-09-19 08:35] #1769 closed

[2018-09-19 08:51] jonathangreco commented on #1754
I've the same issue.

I tried this code, wich works fine on ANDROID :

[code]
With an IOS device version 9.3.5 and react-native-camera 1.2.0 I've the error from this issue.
With the same device and react-native-camera 1.1.2 I've the #1550 issue...

What should I do ?
How can I run React-native-camera  wainting this issue to be fixed ?

[2018-09-19 10:55] MrPluto commented on #1754
@rptwsthi maybe related #1801

[2018-09-19 21:51] sunweiyang opened #1803 "Request: ability to create animated .webp or .gif files with react-native-camera"
### Which implementation are you using
*RNCamera*

### Description
This will allow developers to use react-native-camera for features such as moving profile pictures, something similar to [iOS Live Photos](https://support.apple.com/en-us/HT207310), etc. Duration and/or number of frames would probably be specified as options.

[2018-09-20 00:54] meiqi1992 opened #1804 "Error: Error retrieving camcorder profile params"
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using

*RNCamera* or RCTCamera (RCTCamera will be removed on v2.0.0)?

### Steps to reproduce
1.
2.
3.

### Does it work with Expo Camera?
Check usage with Expo - https://github.com/react-native

[2018-09-20 01:37] meiqi1992 opened #1805 "{"framesToPop":1,"code":"E_CAPTURE_FAILED","line":21762,"column":31}"
### Warning
RCTCamera is **DEPRECATED** on v1.0.0 follow our [Migration guide](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md)

### Which implementation are you using

*RNCamera* or RCTCamera (RCTCamera will be removed on v2.0.0)?

### Steps to reproduce
1.
2.
3.

### Does it work with Expo Camera?
Check usage with Expo - https://github.com/react-native

[2018-09-20 01:38] meiqi1992 commented on #1805
need help

[2018-09-20 01:47] meiqi1992 commented on #1591
same question , anyway to resolve it?

[2018-09-20 02:04] sibelius commented on #1805
check this https://medium.com/react-native-training/uploading-videos-from-react-native-c79f520b9ae1

and this

https://medium.com/react-native-training/build-youtube-alike-livestreams-with-react-native-8dde24adf543

[2018-09-20 04:13] flybluewolf opened #1806 "> version 1.1.4 don't support <= iOS 8.0"
AVCaptureSessionPreset3840x2160 only is available on  iOS 9.0+，so please update react-native-camera.podspec and change to s.platform  = :ios, '9.0'.

[2018-09-20 04:14] flybluewolf commented on #1806
update title

[2018-09-20 12:34] pkyeck commented on #1343
@waitopiggu your example isn't working for me - it's resizing ok, but the preview always has a 4:3 ratio. Is this because my device doesn't support 1:1? Is this even a valid ratio?

[2018-09-20 15:19] BigPun86 commented on #1508
fixOrientation:true doesn't work for me :(

[2018-09-20 15:39] BigPun86 commented on #1459
i have the same issue. I have added the fixOrientation: true to the options when capturing an image.

    "react-native": "0.53.3",
    "react-native-camera": "1.2.0"

@akriger any progress on this?

[2018-09-20 15:46] BigPun86 opened #1807 "Android: captured image is always rotated"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Take a picture with android
    const data = await this.camera.takePictureAsync(this.options);
    if(data && data.uri) this.setState({ image: data.uri } )
2. display the image within a Image component
3. Check the rotation of the image => in my case it is always rotated by 90deg

### Expected behaviour
The image should

[2018-09-21 05:40] kigawas commented on #542
Hey guys, I found how to use google vision API with react-native-camera.

You can use `onGoogleVisionBarcodesDetected` like this:
[code]

[2018-09-21 05:44] kigawas commented on #1002
Hey guys, I found how to use google vision API with react-native-camera.

You can set `onGoogleVisionBarcodesDetected` like this:
[code]

Ref: https://github.com/react-native-community/react-native-camera/issues/542#issuecomment-423419379

[2018-09-21 06:52] carloscuesta commented on #940
Got the same error too!

[2018-09-21 07:43] luisfuertes commented on #1706
+1

[2018-09-21 08:57] devey opened #1809 "Use componentDidMount instead of componentWillMount"
### Warning

Please update the following components: Camera

### Steps to reproduce
1. Use `RNCamera` in dev mode

### Expected behaviour
Should change `componentDidMount`'s to `componentWillMount`'s.

### Environment
- **React Native version**:  react-native@0.55.0
- **React Native platform + platform version**: iPhone 6s 11.4.1

### react-native-camera
**Version**: react-native-camera@^1.2.0

[2018-09-21 19:54] tvand7093 opened #1810 "doNotSave missing in TypeScript definition"
### Which implementation are you using

*RNCamera*

### Steps to reproduce
1. Install package
2. Attempt to call `takePictureAsync` with specifying `doNotSave` in options

### Does it work with Expo Camera?
Typing issue, so not really applicable.

### Expected behaviour
It should exist in the definition

### Actual behaviour
It does not exist in the definition

### Environment
- **React Native ver

[2018-09-21 20:33] #1810 closed

[2018-09-21 20:33] xenu256 commented on #1708
Same with 27. Also, may be related, project builds only without vision api.

[2018-09-21 20:34] jgcmarins commented on #1810
hi @tvand7093 thanks for this issue.
Could you please try `master` branch? Thanks.

[2018-09-22 02:16] qingjiaowochengzd opened #1813 "IOS scanning bar code is very difficult"
### Which implementation are you using

*RNCamera*
"react": "16.3.1",
"react-native": "0.55.4",
"react-native-camera": "1.2.0",

my code:
[code]
### Expected behaviour
Running Android and iOS locally can sweep the qrcode, but they sweep out the barcode Almost impossible. After packing out, you can sweep out the qrcode, Android can sweep out the barcode, but IOS can not sweep out the barcode.

###

[2018-09-22 03:26] qingjiaowochengzd commented on #1706
+1

iOS  10.2.1
react-native 0.55.4
react-native-camera: 1.2.0

Troubled for a long time，
rotate the ipad4 fixed it !!!

[2018-09-22 03:27] qingjiaowochengzd commented on #1813
Camera not recognising barcodes on iOS until you rotate the phone #1706

[2018-09-22 09:14] webmasterdragon commented on #1754
1.1.2 is working fine on iOS and 1.2.0 is working fine on Android.

[2018-09-22 11:00] muhammadnasir786 commented on #1729
+1

[2018-09-22 13:33] SimonErm commented on #1748
Did you try 0.57.0?

[2018-09-22 13:35] SimonErm commented on #1804
Can you provide some more information like steps to reproduce and a stacktrace?

[2018-09-22 13:40] SimonErm commented on #1752
can you post the code you use with the camera?

[2018-09-22 13:40] wynch commented on #1748
Sure, it's alright with RN 0.57.0 :)

[2018-09-22 13:46] SimonErm commented on #1800
#1803

[2018-09-22 15:16] SimonErm commented on #1708
I think this could be an issue of react-native, because there is no class directly related to react-native-camera in stacktrace

[2018-09-23 20:12] SimonErm commented on #787
RCTCamera is deprecated, use RNCamera instead.
For uploading take a look at https://github.com/react-native-community/react-native-camera/blob/master/docs/Recipes.md

[2018-09-23 20:12] #787 closed

[2018-09-23 20:13] #784 closed

[2018-09-23 20:16] SimonErm commented on #780
RCTCamera is deprecated, use RNCamera instead.
If this issue still occures open a new issue please.

[2018-09-23 20:16] #780 closed

[2018-09-23 20:28] SimonErm commented on #830
RCTCamera is deprecated, use RNCamera instead. If this issue still occures, open a new issue please.

[2018-09-23 20:28] #830 closed

[2018-09-23 20:29] SimonErm commented on #817
RCTCamera is deprecated, use RNCamera instead.

[2018-09-23 20:29] #817 closed

[2018-09-23 20:31] SimonErm commented on #889
RCTCamera is deprecated, use RNCamera instead.

[2018-09-23 20:31] #889 closed

[2018-09-23 20:31] #893 closed

[2018-09-23 20:32] #875 closed

[2018-09-23 20:34] SimonErm commented on #868
Take a look here https://github.com/phuochau/react-native-thumbnail

[2018-09-23 20:34] #868 closed

[2018-09-23 20:36] SimonErm commented on #852
RCTCamera is deprecated, use RNCamera instead.

[2018-09-23 20:36] #852 closed

[2018-09-23 20:38] #930 closed

[2018-09-23 20:39] #909 closed

[2018-09-23 20:39] SimonErm commented on #909
RCTCamera is deprecated, use RNCamera instead.

[2018-09-23 20:42] SimonErm commented on #1011
RCTCamera is deprecated, use RNCamera instead.

[2018-09-23 20:42] #1011 closed

[2018-09-24 03:52] basanthalluri commented on #1752
Hi @SimonErm I have used the camera module for barcode scanner and here is what I kept for RNCamera

`<RNCamera
            ref={ref => {
              this.camera = ref;
            }}
            style = {styles.preview}
            type={RNCamera.Constants.Type.back}
            onBarCodeRead={this.barcodeReceived.bind(this)}
            flashMode={RNCamera.Constants.FlashMode.on}
            p

[2018-09-24 03:52] swaroopa94 commented on #1752
Hi @SimonErm I have used the camera module for barcode scanner and here is what I kept for RNCamera

`<RNCamera
            ref={ref => {
              this.camera = ref;
            }}
            style = {styles.preview}
            type={RNCamera.Constants.Type.back}
            onBarCodeRead={this.barcodeReceived.bind(this)}
            flashMode={RNCamera.Constants.FlashMode.on}
            p

[2018-09-24 04:28] anniewey commented on #1631
Run `react-native-link` didn't link the library completely.
Manually add `libRNCamera.a` to **Linked Frameworks and Libraries** solve the problem for me

[2018-09-24 06:29] ChandniSharma commented on #1443
I am also facing this issue with SoundModulePackage.
Can any one has a solution?

[2018-09-24 09:51] Dabbous1 commented on #220
How did you fix it?

[2018-09-24 10:04] Dabbous1 commented on #1207
What files do you add exactly?

[2018-09-24 11:16] winadiw commented on #1435
Any follow up on this? Really need this feature..

[2018-09-24 14:18] n1ru4l commented on #296
Closed due to missing feedback.

[2018-09-24 14:18] #296 closed

[2018-09-24 15:00] n1ru4l commented on #1207
@Dabbous1 The ones mentioned in Step 3

[2018-09-24 15:02] n1ru4l commented on #789
Closing due to inactivity. If you still experience the same issue with the newest version, please open a new issue!

[2018-09-24 15:02] #789 closed

[2018-09-24 15:05] n1ru4l commented on #726
Feel free to sent a pull request that implements a switch feature.

[2018-09-24 15:07] n1ru4l commented on #1806
@flybluewolf @jgfidelis @sibelius Should be either bump the version or make the code backwards compatible?

[2018-09-24 15:11] n1ru4l commented on #1788
Have you tried it?

[2018-09-24 15:11] #1788 closed

[2018-09-24 16:16] #1806 closed

[2018-09-24 16:16] n1ru4l commented on #1813
duplicate of #1706

[2018-09-24 16:16] #1813 closed

[2018-09-24 16:18] n1ru4l commented on #1803
This seems to be out of scope of this package. Feel free to create a react-native library that converts mp4/m4v to gif/webp

[2018-09-24 16:18] #1803 closed

[2018-09-24 16:23] #1749 closed, assigned to nobody

[2018-09-24 16:27] n1ru4l commented on #1793
I think this would be out of scope of this project, (which is already hard to maintain). I am therefore closing this issue.

[2018-09-24 16:27] #1793 closed

[2018-09-24 16:31] n1ru4l commented on #779
Please use the current version or master and give feedback whether this crash is still occuring.

I am closing this issue, if your problem is still not solved, please open a new issue.

[2018-09-24 16:31] #779 closed

[2018-09-24 16:31] n1ru4l commented on #782
Please use the current version or master and give feedback whether this crash is still occuring.

I am closing this issue, if your problem is still not solved, please open a new issue.

[2018-09-24 16:31] #782 closed

[2018-09-24 16:33] n1ru4l commented on #806
This is out of scope of this package. Please use react-native-video for displaying videos

[2018-09-24 16:33] #806 closed

[2018-09-24 16:34] n1ru4l commented on #1566
This is currently not possible. If you are still interested in this feature, I encourage you to send a pull request for this feature.

[2018-09-24 16:35] n1ru4l commented on #1778
@diego-caceres Could you please provide crash logs?

[2018-09-24 16:36] n1ru4l commented on #1773
See https://github.com/react-native-community/react-native-camera/pull/1816

[2018-09-24 16:36] #1773 closed

[2018-09-24 16:38] n1ru4l commented on #1746
Please checkout the documentation https://github.com/react-native-community/react-native-camera#android

Feel free to open a new issue if it is not clear enough.

[2018-09-24 16:38] #1746 closed

[2018-09-24 16:39] n1ru4l commented on #1771
@dekemega Please feel free to send a pull request that implements the feature.

[2018-09-24 16:42] n1ru4l commented on #1747
Please read the documentation and checkout the Podfile setup guide of react-native http://facebook.github.io/react-native/docs/integration-with-existing-apps.

Never use the deprecated react pod which is published to cocoapods.

[2018-09-24 16:42] #1747 closed

[2018-09-24 16:44] n1ru4l commented on #850
@JoschaP Feel free to send a pull request that implements that feature.

[2018-09-24 16:45] n1ru4l commented on #1533
The initial zoom is currently not set, feel free to send a pull request that implements that feature!

[2018-09-24 16:47] n1ru4l commented on #1659
closed in #1770

[2018-09-24 16:47] #1659 closed

[2018-09-24 16:49] n1ru4l commented on #1447
RCTCamera is deprecated, please try RNCamera and open a new issue if you still experience this issue.

[2018-09-24 16:49] #1447 closed

[2018-09-24 16:49] SimonErm commented on #745
RCTCamera is deprecated, use RNCamera instead. For uploading files taken by react-native-camera, take a look here: https://github.com/react-native-community/react-native-camera/blob/master/docs/Recipes.md

[2018-09-24 16:49] #745 closed

[2018-09-24 16:50] #901 closed

[2018-09-24 16:50] n1ru4l commented on #1364
Closed due to missing feedback. If you still experience this issue with the newest version open a new issue

[2018-09-24 16:50] #1364 closed

[2018-09-24 16:50] #897 closed

[2018-09-24 16:51] #902 closed

[2018-09-24 16:54] #971 closed

[2018-09-24 20:45] n1ru4l commented on #1371
Closed due missing feedback. Please feel free to reopen the issue if the issue does still occur.

[2018-09-24 20:45] #1371 closed

[2018-09-24 20:46] n1ru4l commented on #1328
RCTCamera is deprecated. Please use RNCamera instead. If there are any problems with RNCamera please open a separate issue that addresses the problem.

[2018-09-24 20:46] #1328 closed

[2018-09-24 20:47] n1ru4l commented on #1327
Ongoing Pull Request: https://github.com/react-native-community/react-native-camera/pull/1636

[2018-09-24 20:50] n1ru4l commented on #1435
@winadiw Feel free to send a pull request that addresses this issue.

[2018-09-24 20:51] n1ru4l commented on #1426
This issue seems to be solved. If you still experience this problem please reopen this issue.

[2018-09-24 20:51] #1426 closed

[2018-09-24 20:53] n1ru4l commented on #1357
@Dallas62 Do you still experience this issue?

[2018-09-24 20:55] n1ru4l commented on #1282
@JB-CHAUVIN This should be implemented in user land. Please feel free to use/adjust my example.

I am going to close this issue.

[2018-09-24 20:55] #1282 closed

[2018-09-24 21:00] n1ru4l commented on #1582
@edisonlao Could you please explain under which circumstances this error occurs?

Could you please also try if this issue occurs with the newest version published to npm and/or the master branch?

[2018-09-24 21:04] n1ru4l commented on #793
I am going to close this due to the facts @victorbadila  mentioned.

[2018-09-24 21:04] #793 closed

[2018-09-24 21:08] n1ru4l commented on #791
Does this still occur with RNCamera?

[2018-09-24 21:10] n1ru4l commented on #706
Closed - https://github.com/react-native-community/react-native-camera/issues/649#issuecomment-421405189

[2018-09-24 21:10] #706 closed

[2018-09-24 21:10] n1ru4l commented on #804
RCTCamera is deprecated, please use RNCamera.

[2018-09-24 21:10] #804 closed

[2018-09-24 21:12] n1ru4l commented on #796
RCTCamera is deprecated. Please use RNCamera and open a new issue if you still experience this crash when using the latest version published to npm and/or master.

[2018-09-24 21:12] #796 closed

[2018-09-24 21:14] n1ru4l commented on #790
Closed since it sees like @ryanwaite28 answered the question. Please reopen if this issue is still not solved.

[2018-09-24 21:14] #790 closed

[2018-09-24 21:14] #886 closed

[2018-09-24 21:15] #856 closed

[2018-09-24 21:15] #835 closed

[2018-09-24 21:16] #828 closed

[2018-09-24 21:17] n1ru4l commented on #935
This is currently not possible. Feel free to open a pull request that implements this feature.

[2018-09-24 23:52] #1173 closed

[2018-09-24 23:55] #1439 closed

[2018-09-24 23:58] #1008 closed

[2018-09-25 00:02] SimonErm commented on #803
RCTCamera is deprecated, try RNCamera instead. If this issue still occure, please open a new one

[2018-09-25 00:02] #803 closed

[2018-09-25 00:03] #795 closed

[2018-09-25 06:26] meiqi1992 opened #1817 "ios when record use 720p but the video being 1440x1080"
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [ ] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-camera:
- react-native:
- react:

**Description/Current Behaviour**

**Expected Behaviour**

**Steps to Reproduce**

**Additionals**

[2018-09-25 06:29] n1ru4l commented on #1817
Could you please provide the required information the form provides? I am going to close this issue. Feel free to reopen it once you can provide more information.

[2018-09-25 06:29] #1817 closed

[2018-09-25 06:34] n1ru4l commented on #1229
@Deevent Feel free to open a pull request that reimplements those properties.

@piuccio wrote

recordAsync returns the uri of the file, so you are still able to get physical access to the file.

[2018-09-25 06:35] n1ru4l commented on #885
This seems to be solved.

@irsyadmhdilham If you still experience this issue after using the newest npm release and/or the master branch and RNCamera I encourage you to open a new issue.

[2018-09-25 06:35] #885 closed

[2018-09-25 06:36] n1ru4l commented on #905
Dpulicate of #885

[2018-09-25 06:36] #905 closed

[2018-09-25 06:39] n1ru4l commented on #1247
RCTCamera is deprecated, please try the latest release of RNCamera. If you still experience these problems, please open a new issue!

[2018-09-25 06:39] #1247 closed

[2018-09-25 06:40] n1ru4l commented on #1360
This seems to be solved. I am going to close this. If the the documentation is not clear enough, please send a pull request!

[2018-09-25 06:40] #1360 closed

[2018-09-25 06:53] #826 closed

[2018-09-25 06:53] #1416 closed

[2018-09-25 06:55] Dror-Bar commented on #930
This doesn't really help if you want your app to be locked in Portrait mode, doesn't it?
Hopefully it will be fixed soon, however.

[2018-09-25 06:57] Dallas62 commented on #1357
@n1ru4l Hi! Can't tell you, I'm not working for the company which own the application anymore...

[2018-09-25 07:27] n1ru4l commented on #1357
Please feel free to reopen/create a new issue if anyone ist still experiencing this issue.

[2018-09-25 07:27] #1357 closed

[2018-09-25 08:47] Dror-Bar commented on #930
hi SimonErm -
My apologize, I haven't checked the latest PR when writing my comment, I'll see if I can test it soon but I do take your word that it indeed fixes the problem, looking forward to the newest release.

[2018-09-25 14:27] export-mike commented on #220
@radjivF follow the steps in the readme for Android. I'm running on the latest version of react-native-camera

[2018-09-25 14:50] arasemami commented on #1443
in the android/app/build.gradle at dependencies you must add this line to read package.

`dependencies {
    ...............
    compile project(':react-native-sound-player')
}`

it will be working ;)

[2018-09-25 16:51] SimonErm commented on #1727
Fixed in https://github.com/react-native-community/react-native-camera/commit/71a535571e4d06d8368bd46987f3878831a14c07

[2018-09-25 16:51] #1727 closed

[2018-09-25 16:53] SimonErm commented on #632
Can this be closed?

[2018-09-25 16:55] SimonErm commented on #357
Fixed in https://github.com/react-native-community/react-native-camera/commit/71a535571e4d06d8368bd46987f3878831a14c07

[2018-09-25 16:55] #357 closed

[2018-09-25 17:00] SimonErm commented on #1752
Did the permission Dialog pop up? Maybe it's a problem our permission request. Can you take a look at Settings->Apps->Application List->${YOUR_APP}->Permissions, if all permissions are granted? Furthermore did you add the permissions to your manifest?

[2018-09-25 17:02] #743 closed

[2018-09-25 17:05] SimonErm commented on #808
RCTCamera is deprecated, use RNCamera instead. Please open a new issue if this problem still occures.

[2018-09-25 17:05] #808 closed

[2018-09-25 17:06] SimonErm commented on #773
RCTCamera is deprecated, use RNCamera instead. Please open a new issue if this problem still occures.

[2018-09-25 17:06] #773 closed

[2018-09-25 17:10] SimonErm commented on #1306
RCTCamera is deprecated, use RNCamera instead. Please open a new issue if this problem still occures.

[2018-09-25 17:10] #1306 closed

[2018-09-25 17:13] SimonErm commented on #1048
RCTCamera is deprecated, use RNCamera instead. Please open a new issue if this problem still occures.

[2018-09-25 17:13] #1048 closed

[2018-09-25 20:47] SimonErm commented on #1797
Can you tell me what your this.onBarCodeRead does? Should pop up a modal or do you just save scanned data?

[2018-09-25 20:48] SimonErm commented on #1785
do you use fixOrientation option?

[2018-09-25 21:31] SimonErm commented on #1536
Try this
[code]

[2018-09-25 21:59] SimonErm commented on #1799
related https://github.com/react-native-community/react-native-camera/pull/1762 ?

[2018-09-25 22:16] SimonErm commented on #1771
I think that's releated to ZXing(take a look here https://github.com/zxing/zxing/issues/708 and here https://stackoverflow.com/questions/2489048/qr-code-encoding-and-decoding-using-zxing). Have you tried using [Google Vision](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md) for scanning?

[2018-09-25 22:18] SimonErm commented on #1694
Can this be closed?

[2018-09-25 22:21] #1486 closed

[2018-09-25 22:25] #1495 closed, assigned to nobody

[2018-09-26 06:55] ashavit commented on #1736
It didn't for me either. I think the 5 steps of installation are not enough.
I've noticed that RCTCameraManager.m (for iOS) has "Aspect" returned as part of it's constants (constantsToExport method).
But the same method in RNCameraManager,m does not have it. it is missing other constants as well.
is it on purpose? or could this be the reason?

[2018-09-26 06:59] piuccio opened #1821 "recordAsync doesn't resolve after 60 seconds"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**
- iOS:
- react-native-camera: 1.2.0
- react-native: 0.57.1
- react: 16.5.0

**Description/Current Behaviour**

I'm using the code below. It's supposed to stop recording after some time (`setTimeout`)

[2018-09-26 08:09] SimonErm commented on #1821
Have you tried using maxDuration record option instead of using a timeout?

[2018-09-26 08:12] piuccio commented on #1821
Well, the setTimeout is there just to automate the example, if I click on the stop button after 1 minute I'm still stuck in a never ending recording

[2018-09-26 08:50] #1670 closed

[2018-09-26 11:47] SimonErm commented on #1821
Can you try without mirroVideo option?

[2018-09-26 22:03] SimonErm commented on #1743
Is this a Android or iOS issue?

[2018-09-26 22:43] SimonErm commented on #1656
Are you useing mirrorImage or fixOrientation?

[2018-09-26 22:47] SimonErm commented on #1609
Normally exif orientation is 0, when the manufacturer don't use exif orientation and directly rotates the image, so it already has the right rotation.

[2018-09-26 22:48] SimonErm commented on #1609
@StarkMike your problem on ios should be fixed with latest version

[2018-09-27 09:17] sospedra commented on #1530
@kk412027247 comment should be on the official docs! Many thanks! Saved my day <3

[2018-09-27 09:37] Jeepeng opened #1822 "iOS: build error when follow the 'No Face Detection steps'"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

**Platforms**
iOS

**Versions**

- Android:
- iOS:
- react-native-camera: v1.3.0
- react-native:
- react:

**Description/Current Behaviour**
error log:
[code]
**cause: `/postinstall_project/projectWithoutFaceDetection.pbxproj` is outdated**

[2018-09-27 09:47] SimonErm commented on #1822
https://github.com/react-native-community/react-native-camera/pull/1762

[2018-09-27 12:10] recepkocur commented on #1822
+1

[2018-09-27 21:15] afrakhan123 commented on #1707
I am having the same problem android 4.4.4 and react native 0.55.4

[2018-09-27 21:24] watadarkstar opened #1823 "Error: An error occurred while recording a video."
**Description**

Some of our users (iPhone X iOS 12.0) get this error sometimes where the camera cannot record the video, the error says: `Error: An error occurred while recording a video.] framesToPop: 1, code: 'E_RECORDING_FAILED'`.

I'm just wondering what might cause this error? Is the camera locked up or something? I saw the code that throws this error and I'm wondering why it might throw suc

[2018-09-27 21:51] SimonErm commented on #1823
Maybe related: https://github.com/react-native-community/react-native-camera/issues/1778

[2018-09-28 12:30] karltaylor commented on #1822
+1

[2018-09-28 12:32] sibelius commented on #1822
can somebody update `/postinstall_project/projectWithoutFaceDetection.pbxproj`?

[2018-09-28 13:38] harrigee commented on #1373
For me it was an issue because of a conditional rendering of the camera component. When I was trying to create the image and then showed the ActivityIndicator, instead of the Camera component, the Promise never resolved. On iOS this was not an issue (probably a race condition).

[2018-09-28 20:04] ramipaleo commented on #1449
Hi @Aashir1 , How did you use Camera roll? I have all permissions that mentioned in the react-native-camera, but It show me error of access denied

[2018-09-28 20:46] sturmenta commented on #1597
@fauzzi  Did you try to execute `sudo react-native run-android` ?

[2018-10-01 05:31] sinkeat commented on #419
Hi adiii4, i have faced same issue before, i found that is caused by default trailing true of lodash.throttle, may try:
`this.throttledOnBarCodeRead = lodash.throttle(this.onBarCodeRead, this.props.scannerCooldown, {trailing:false});
`

[2018-10-01 05:42] jose2007kj commented on #1490
solved my issue in leniar-grdient thanks a lot

[2018-10-01 08:04] toeyanuntachai opened #1826 "Android: Error while updating property 'pictureSize'"
# Bug Report

**Versions**

"react-native-camera": "^1.3.0",
"react-native": "0.56.0"
"react-native-navigation": "^2.0.2510",

**Description/Current Behaviour**

I found this error when I'm navigated to the screen that makes for using the RNCamera, then i found this Error while updating property 'pictureSize' of a view managed by: RNCamera

![23442](https://user-images.githubusercontent.com/760823

[2018-10-01 08:14] Siarhei-Zharnasek commented on #1710
I'm facing the same problem for Android, iOS works well.
Is it possible to fix this?

[2018-10-01 14:49] Willis0826 commented on #1822
I saw the latest version @1.3.0 has been merged, and I tried to update & build.
Unfortunately, I still got the same error :
[code]

[code]

[2018-10-01 14:52] sibelius commented on #1822
try with master version

[2018-10-01 15:57] Willis0826 commented on #1822
@sibelius I tried the master version :
`react-native-camera: git://github.com/react-native-community/react-native-camera.git#master`

[2018-10-01 16:58] jorgeluisrezende commented on #1566
There is a way to do it now?

[2018-10-01 17:17] jorgeluisrezende opened #1827 "QR code inverted color doesn't reading, how to read it?"
# Question
**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Qu

[2018-10-01 17:53] AndrewHenderson commented on #1719
I'm using a full screen camera view — I find that iOS captures an image in the ratio of the screen. However, Android captures a 16:9 image.

I want the image produced to match the screen ratio on both platforms.

The result on Android is an image with info on the left and right that was not present on the screen when capturing. This is jarring to the user.

[2018-10-01 17:57] AndrewHenderson commented on #1603
@Tsiniloiv I find that on Android the image has extra info on the right and left which makes it look like it was cropped, but actually has more information, not less. Hopefully, @eqyiel's PR can get merged soon.

[2018-10-01 19:18] cicerojmm opened #1828 "barcode reader does not work v1.3.0-8"
# Bug Report
Barcode reader does not work  in version 1.3.0.8, but it works on the version I'm using, 1.1.4. After updating, the reading stopped working.

**To Do First**
- [X ] Did you try latest release?

**Related Modules**

**Platforms**
 SDK 29

**Versions**

- Android: 7.0
- react-native-camera: v1.3.0-8
- react-native: 0.55.4
- react: 16.3.1

[2018-10-01 21:10] n1ru4l commented on #1566
@jorgeluisrezende no, but feel free to implement this feature.

[2018-10-01 22:43] Sata51 commented on #1566
I implement this by inverting color on %2 frame to get this work both color

[2018-10-02 01:15] jorgeluisrezende commented on #1566
@Sata51 how could i do it? can you help me?

[2018-10-02 03:32] javi10823 opened #1829 "Exception thrown while executing UI block: -[RNCamera setOnTextRecognized:]: unrecognized selector sent to instance"
**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**
Environment:
  OS: macOS High Sierra 10.13.6
  Node: 9.11.1
  Yarn: 1.9.4
  npm: 6.1.0
  Watchman: 4.9.0
  Xcode: Xcode 10.0 Build version 10A255
  Android Studio: 3.1 AI-173.4907809

I have this crash, please help.

<img width="380" alt="captura de pantalla 2018-10-02 00 11 24" src="https://user-images.githubusercontent.com/1581454/463

[2018-10-02 07:47] Sata51 commented on #1566
@jorgeluisrezende I'm currently not using this package for this purpose. I replace it by react-native-barcode-scanner-google@1.3.0 and change some code in the CameraSource.java like this

[code]

[2018-10-02 11:43] sibelius commented on #1282
@n1ru4l maybe we should add your code do docs/

[2018-10-02 12:40] n1ru4l commented on #1282
Sure I will make a pull request with our updated version this month! #hacktober

[2018-10-02 12:57] sibelius commented on #1748
working fine on RN57 https://github.com/react-native-community/rncamera-example/pull/13

[2018-10-02 12:57] #1748 closed

[2018-10-02 16:32] Tsiniloiv opened #1830 "How to natively draw over the camera view?"
# Question

Heya! So, I've gotten tap-to-focus to mostly work on the Android side of RNCamera, and now I'm looking into making it a bit more apparent by drawing a circle where the user touches the camera view.

Overlaying a view over the Camera component doesn't seem to be the right answer, since that blocks the touch from reaching the actual Camera component. So it looks like I need to do this na

[2018-10-02 17:08] drhenault commented on #1399
Same here. Works with a Samsung Galaxy S6, but not with a Pixel C tablet.

[2018-10-03 01:15] muratozgul commented on #1822
same problem here (after upgrading to Xcode 10)

[2018-10-03 05:03] DavidRajPaul opened #1831 "Barcode scan error callback"
Hi,
Is there any call back if the scanner does not scan the barcode?

Pls help

[2018-10-03 14:03] jamalx31 commented on #1686
+1

[2018-10-03 16:00] Willis0826 commented on #1822
@muratozgul I tried the steps you mentioned, but couldn't fix it.

[2018-10-03 16:27] sospedra commented on #1763
[code]

Does this works?

[2018-10-03 16:27] sospedra commented on #1584
This fixed it for me:

[code]

[2018-10-03 17:06] sibelius commented on #1158
tks

[2018-10-03 17:06] #1158 closed

[2018-10-03 17:06] sibelius commented on #1822
tks

[2018-10-03 17:06] #1822 closed

[2018-10-03 17:06] sibelius commented on #1763
tks

[2018-10-03 17:06] #1763 closed

[2018-10-03 17:06] sibelius commented on #1584
tks

[2018-10-03 17:06] #1584 closed

[2018-10-04 12:18] AsocialCoder opened #1833 "RNCamera video quality option Error: Error retrieving camcorder profile params"
I am using RNCamera and If i use quality option return to me this error;

[code]

[2018-10-04 12:39] D3athSpank opened #1834 "Unable to scan Compact/Truncated PDF417 barcodes on iOS"
# Bug Report

**Platforms**
iOS

**Versions**
- iOS:
- react-native-camera: 1.3.0
- react-native: 55.4
- react: 16.3.1

**Description/Current Behaviour**

Unable to scan a Compact/Truncated PDF417 barcode

**Expected Behaviour**
Scanning a Compact/Truncated PDF417 should give a barcode back

**Does it work with Expo Camera?**
No, this is the reason we ejected out of Expo, to test the react-native-

[2018-10-04 17:12] AsocialCoder commented on #1833
what kind of information do you want?

[2018-10-04 18:04] reime005 commented on #1833
The more you can provide, the easier to reproduce. Infos about the device mainly

[2018-10-04 18:22] sibelius commented on #1833
fixed here https://github.com/react-native-community/react-native-camera/pull/1835

try master

[2018-10-04 18:22] #1833 closed

[2018-10-04 18:29] jgfidelis commented on #1830
I don't  know exactly how to do it on android either.

On iOS, I guess it would be not too dificult to draw a UIView over the preview layer. There was a PR once upon a time that implemented but nobody ever tested and we did not merge. You can try to look for it.

[2018-10-05 05:21] FullstackJack opened #1836 "Quick Preview Capture Mode to Beat Slow onPictureTaken on Android"
# Feature-Request

**Describe the Feature**
Despite recent modifications to improve image capture on Android, camera capture is still slow. For applications needing very fast capture before launching a new screen (i.e. Snapchat, Instagram), we should consider offering a capture mode to enable the use of PreviewCallback.

**Possible Implementations**
There is already an implementation of this for C

[2018-10-05 12:57] #1229 closed

[2018-10-05 13:41] tii-bruno commented on #705
Same problem on my Galaxy Tab A tablet … Something wrong with Samsung ? A collegue of mine has got a Galaxy S (wathever) phone and there is no problem …
I made a test on my NVidia Shield and there is no problem too …

[2018-10-05 23:33] watadarkstar commented on #1778
I also get this issue and can provide logs.

[2018-10-06 01:33] fxcosta opened #1837 "Incompatibilities with Camera2Api. New smartphones uses old Camera API"
# Bug Report
**To Do First**
- [x ] Did you try latest release?
- [x ] Did you try master?
- [x ] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**
- Android: 8.1
- react-native-camera: ^1.2.0
- react-native: 0.57.0
- react: 16.5.0

**Description/Current Behaviour**
I'm implementing an app that uses a lot of camera features like exposure, manual focus, wh

[2018-10-08 10:01] imspikey commented on #1678
I am still having the same problem although I have started a new project from scratch with latest version of react native 0.57.2 and react native camera 1.3.0!
Did anybody succeed to make smile recognition work on android?

[2018-10-08 11:59] #1678 closed

[2018-10-08 13:33] Bartlebyy commented on #323
I had the same problem. The camera component would not unmount when I switched between tabs. So I took advantage of the `componentDidMount` and added two listeners `willFocus` and `willBlur` and now it works.
[code]

[2018-10-08 13:38] Bartlebyy commented on #1400
I had a similar problem. The camera component would not unmount when I switched between tabs. So when I returned back to the cameraScreen it would just be black. So I took advantage of the `componentDidMount` and added two listeners `willFocus` and `willBlur` and now it works.
[code]

[2018-10-08 13:43] Bartlebyy commented on #1051
I had the same problem. The camera component would not unmount when I switched between tabs. So I took advantage of the `componentDidMount` and added two listeners `willFocus` and `willBlur` and now it works.
[code]

[2018-10-08 13:47] Bartlebyy commented on #1686
I had a similar problem. Looks like you're not unmounting the camera component when you switch between tabs.
I recommend you take advantage of `componentDidMount` and added two listeners `willFocus` and `willBlur`.

Here is an example:
[code]

[2018-10-08 13:47] sibelius commented on #1400
@Bartlebyy would you mind send this as a new .md inside docs/

I think this could help a lot newcomers

[2018-10-08 14:11] jonathangreco commented on #792
It would be nice if someone can provide a snippet on what's the best approach to follow here.

[2018-10-08 22:39] FullstackJack opened #1838 "Option to Not Automatically Resume Preview After Capture"
# Feature-Request

**Describe the Feature**
Some camera apps immediately launch a new screen to preview and edit the image before upload (i.e. Snapchat, Instagram). Unfortunately, this package automatically resumes camera preview before returning from onAsyncPictureTaken (which is usually used to navigate). The result is that the user sees an intermittent camera preview before the navigation actio

[2018-10-09 00:28] watadarkstar commented on #1823
This bug happened again on the latest version of rn-camera:

[code]

[2018-10-09 00:33] watadarkstar commented on #1823
Can anyone help with why this might be happening @n1ru4l @SimonErm @jgfidelis ? Just got the error again:

[code]

Log is above ^

[2018-10-09 00:35] albullington commented on #1736
I'm stuck on the same error. I tried both react-native link for automatic installation, and I tried the 5 manual steps of installation. Haven't found a solution.

[2018-10-09 08:08] pawanacharya commented on #1736
Stuck with the same error. The manual linking doesn't solve my issue either.

[2018-10-09 09:19] n1ru4l commented on #1778
@watadarkstar Please provide crash logs

[2018-10-09 09:46] zvs001 commented on #1626
I had this issue with `react-navigation` router.
Camera stops working after I changing page
This code solved it for me:
[code]

[code]
[code]

[2018-10-09 10:06] harrigee commented on #1373
@slorber Can you play around with the rendering order? I would try to place the Camera Component more upwards in the dom. As you can see, it is the first element inside the container in my case. This worked.

`<View style={styles.container}>
                <RNCamera
                    ref={(ref: any) => {
                        this.camera = ref;
                    }}
                    style

[2018-10-09 12:31] watadarkstar commented on #1778
Hi @n1ru4l you can find the logs here: https://github.com/react-native-community/react-native-camera/issues/1823

[2018-10-09 23:21] muratozgul commented on #648
setting ratio="1:1" on RNCamera worked for me on Android

[code]

[2018-10-10 07:19] pavermakov commented on #1752
@swaroopa94 Do you have `<uses-permission android:name="android.permission.CAMERA" />` set in your `AndroidManifest.xml` file?

[2018-10-10 07:58] harishbbb opened #1842 "Capture Photo is too slow in Android, takes around 3 seconds to capture"
Hi,

If any one has solution, please let me know

**Camera config is**

<Camera
      ref={(cam) => {
        this.camera = cam;
      }}
      style={styles.preview}
      captureTarget={Camera.constants.CaptureTarget.temp}
      captureMode={Camera.constants.CaptureMode.still}
      aspect={Camera.constants.Aspect.fill}
      type={Camera.constants.Type.back}
      orientation={Camera.constants.

[2018-10-10 08:38] reime005 commented on #1842
See #1836

[2018-10-10 10:34] basanthalluri commented on #1752
@pavermakov  Yes I added that line in my xml file

[2018-10-10 10:35] n1ru4l commented on #1778
Duplicate of #1823

[2018-10-10 10:35] #1778 closed

[2018-10-10 10:35] swaroopa94 commented on #1752
@pavermakov  yes I have added that line in my xml file

[2018-10-10 10:41] n1ru4l commented on #1836
@FullstackJack Are you interested in implementing this feature?

[2018-10-10 11:05] rafirr opened #1844 "Error while updating property 'googleVisionBarcodeDetectorEnable'"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: 6.0.0
- react-native-camera: 1.3, 1.2, master
- react-native: 0.57
- react: 16.5.1

**Steps to Reproduce**

[code]

**Additionals**

![screenshot_20181010-125100 1](https://user-ima

[2018-10-10 11:25] pavermakov opened #1845 "[Android] Failed to save image file"
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
- RCTCamera(deprecated)

**Platforms**
- Android

**Versions**

- Android: 6.0.1
- iOS:
- react-native-camera: 0.10.0
- react-native: 0.51.0
- react: 16.0.0

**Description**

Recently I've switched targetSdkVersion from 22 to 23 and the came

[2018-10-10 11:31] pavermakov commented on #1752
@swaroopa94 I believe you need to check permission to use camera. I had the same issue when my targetSdkVersion was 22 and camera worked perfectly, but later I switched to 23 and got a black screen. I used  [react-native-permissions](https://github.com/yonahforst/react-native-permissions) to prompt for camera permissions and that's it! I had it working like before.

[2018-10-10 16:04] ColinJS commented on #726
Any update on this ?

[2018-10-10 16:04] Lucas-Hudson commented on #726
Update please!!

[2018-10-10 18:19] wolfgio commented on #1737
Any update on this?

[2018-10-10 20:34] DanthonyPabon opened #1846 "Orientation not working in video"
# Question
I'm using this to take a video, but the orientation is not working, the video doesn't take the orientation

[code]

[2018-10-10 21:02] SimonErm commented on #1846
On Android or iOS? The orientation option is just implemented for iOS right now.

[2018-10-10 21:06] SimonErm commented on #1845
Because you're RCTCamera i am not sure if this will be fixed. Can you post Logcat-Logs? Which permissions do you check?

[2018-10-10 21:13] DanthonyPabon commented on #1846
Android

[2018-10-10 21:15] SimonErm commented on #1842
RCTCamera is deprecated use RNCamera instead.

[2018-10-10 21:17] SimonErm commented on #1846
Like i said, orientation option is just available for iOS right now. Feel free to make a PR.

[2018-10-10 21:17] #1846 closed

[2018-10-10 21:18] SimonErm commented on #1838
Is this just related to Android?

[2018-10-10 21:33] SimonErm commented on #1823
Maybe related: https://stackoverflow.com/questions/3495879/error-when-capturing-camera-and-audio-input#3498981 . Do you youse GoogleVision features?

[2018-10-10 22:17] SimonErm commented on #1823
Can you test if this fix it? https://github.com/SimonErm/react-native-camera/tree/fix/iOSCrashCannotRecord

[2018-10-10 22:18] watadarkstar commented on #1823
@SimonErm Thank you for responding! We do not use GoogleVision. We do upload the image to a server which uses computer vision to analyze the image.

[2018-10-10 22:18] watadarkstar commented on #1823
@SimonErm Sure I can give that a try.

[2018-10-11 05:06] pavermakov commented on #1845
@SimonErm I've just solved my issue. I had to ask permissions for camera and storage. I used [react-native-permissions](https://github.com/yonahforst/react-native-permissions) for that.

[2018-10-11 05:07] #1845 closed

[2018-10-11 05:09] pavermakov commented on #1752
@swaroopa94 You might also want to check permissions for storage, otherwise you might run into an issue like [this](https://github.com/react-native-community/react-native-camera/issues/1845).

[2018-10-11 07:06] idrissbellil commented on #1399
are testing on Android 8.0.0 and up?

[2018-10-11 09:04] siokstoksanoks commented on #1023
Hi,

Happens not only on emulator.

In file:
com.google.android.cameraview.Camera1.setDisplayOrientation

On line 454:
mCamera.setParameters(mCameraParameters) crashes.

Maybe unsupported size provided for camera.

[2018-10-11 10:16] Mathieuduverney commented on #1176
Still not working on 1.3.0

No updates ??

[2018-10-11 11:06] youssefatti commented on #1822
none of those things worked for me. Any update?

[2018-10-11 11:32] n1ru4l commented on #726
@ColinJS @Lucas-Hudson Spamming this issue will not result in any progress. If you want the functionality, you can implement it and send a pull request or wait until someone else implements it.

[2018-10-11 12:06] BaderSerhan opened #1848 "[iOS] App crashes after recording video through front camera on latest version"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

Issue started to appear after running `react-native-update` and upgrading to latest version.
Previous version works fine, but I need the new version cause it fixes the (torch always on) issue.

In my `package.json` file, I have `"react-native-camera": "git+http

[2018-10-11 13:04] sospedra commented on #1822
@youssefatti please, consider opening a new issue including the details of your problem 😀

[2018-10-11 14:27] laurentrivard commented on #945
Interesting in this as well. The camera takes a while to initialize, and it also slows down every frame!

[2018-10-11 14:28] SimonErm commented on #1018
https://github.com/react-native-community/react-native-camera/pull/1835

[2018-10-11 14:28] #1018 closed

[2018-10-11 14:28] SimonErm commented on #1337
https://github.com/react-native-community/react-native-camera/pull/1835

[2018-10-11 14:28] #1337 closed

[2018-10-11 16:35] SimonErm commented on #681
RCTCamer is deprecated, use RNCamera instead. If this error occures with RNCamera too, please open a new issue.

[2018-10-11 16:35] #681 closed

[2018-10-11 16:46] XaviSmith commented on #1807
+1, also getting this error

[2018-10-11 19:52] argenisleon commented on #1713
Hi @djleonskennedy, any news on this?. We are open to collaborating to make this happen.

[2018-10-11 22:11] gmaci005 commented on #1736
I'm stuck on the same error.

[2018-10-12 06:13] imspikey commented on #1763
Same for me using iPhone 6 with iOS 11.4.1

I am using cocapods method but still the app is crashing

[2018-10-12 14:03] watadarkstar commented on #1581
@arapocket How did you solve this?

[2018-10-12 14:06] watadarkstar commented on #626
I think this issue is due to re-rendering which causes the camera to re-render and stopRecording gets called. Do you call `setState` and if so where / when?

[2018-10-12 16:06] Udbhav12 commented on #1719
I am facing this exact same problem on Android. Did anyone manage to get it working ?

[2018-10-12 16:29] Udbhav12 commented on #1603
@eqyiel - When will be your PR merged in master.I am using react-native-camera:1.3.0 and facing this aspect ratio problem in android

My options are { quality: 1, base64: true, fixOrientation: true, skipProcessing: true }

[2018-10-12 17:14] werbeckes commented on #1706
We're also seeing this issue after upgrading react-native-camera and moving from RCTCamera to RNCamera.  However, we are only seeing the issue on android NOT on iOS devices.  Testing with iOS devices scan normally in portrait mode.
react-native: 0.53.0
react-native-camera: 1.3.0
devices: Samsung S6, Motorola Droid Turbo
android versions: 7.0, 6.0.1

@sibelius Is this an issue you've looked into or

[2018-10-13 01:21] pheromone opened #1850 "Android-> take takePicture: E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1 Process: com.eazytec.zqtong.gov.baseapp, PID: 4117 java.lang.RuntimeException: An error occurred while executing doInBackground()"
# Question
**Ask your Question**

Android-> take takePicture:  E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1     Process: com.eazytec.zqtong.gov.baseapp, PID: 4117     java.lang.RuntimeException: An error occurred while executing doInBackground()
**Tags**

 takePicture = async function() {
    if (this.camera) {
      const options = { quality: 0.5, base64: true };
      const response = await t

[2018-10-13 14:47] xenu256 commented on #1708
This is related to permissions, see my answer: [https://github.com/facebook/react-native/issues/17985?fbclid=IwAR3sETcagrGvb0OHhgX9KhJnygrM86A9pc8bzqorB_XgUT5tYUvSMWsrQVg#issuecomment-429541452](#17985)

AND also there is an error in an example,. Here's fully working example on RN 0.57 Android 27 solving both of those problems:

[code]

[2018-10-13 16:27] xenu256 commented on #814
See [this working example](https://github.com/react-native-community/react-native-camera/issues/1708#issuecomment-429547891)

[2018-10-13 16:30] xenu256 commented on #1492
See [this working example](https://github.com/react-native-community/react-native-camera/issues/1708#issuecomment-429547891)

[2018-10-14 08:23] jiangbophd opened #1854 "Not Working In Android, can not compile......."
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [ ] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-camera:
- react-native:
- react:

**Description/Current Behaviour**

**Expected Behaviour**

**Steps to Reproduce**

**Additionals**

[2018-10-14 12:36] drmmyx opened #1855 "Media Recorder higher then version 22 will result in setAudioSource error on Android"
RNCamera video recording permission issue

![image](https://user-images.githubusercontent.com/22949258/46916703-b163ab80-cff0-11e8-8eed-899889292715.png)

[2018-10-14 12:40] drmmyx commented on #588
![image](https://user-images.githubusercontent.com/22949258/46916755-5da59200-cff1-11e8-8799-c4e2fcd4b2d7.png)
This might be the reason causing it to fail

[2018-10-14 13:36] drmmyx commented on #1855
it is working on my another pc with the same file ... not sure what is the reason

[2018-10-14 13:36] #1855 closed

[2018-10-14 19:52] howardwkim opened #1856 "Problems with implementing TextDetector for iOS"
Upon entering `RNcamera` screen, I get a `FaceDetector not integrated, stub used!` warning. Then `onTextRecognized` is immediately called, returning  `{type: "TextBlock", target: 75, textBlocks: Array(0)` without actually detecting any text. They seem related.

* How do I resolve the issues related to the `FaceDetector not integrated, stub used!` warning?
* Is there an example implementation of Te

[2018-10-15 06:57] anhdevit commented on #1117
nice bro

[2018-10-15 08:06] Petka17 commented on #1848
We have the same issue. Right now we upgraded Xcode to 10th version, RN to 0.57.2 and react-native-camera to 1.3.0. On iOS 12 everything is working fine but on iOS 11 app crash at the record start.

PS: no problem on android

[2018-10-15 08:58] tiendn commented on #1763
Same for me using iPad Pro 12.9' with iOS 12.0

[2018-10-15 10:25] c-goettert opened #1858 "iPhone X: video uses 'HEVC' codec even though 'H264' was specified in config"
# Bug Report
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- Android: -
- iOS: 12.0.1
- react-native-camera: current master (https://github.com/react-native-community/react-native-camera/commit/8de827e6c2a027b30668c108b147fb02affb8a35), 1.3.0
- react-native: 0.52.0
- rea

[2018-10-15 10:34] n1ru4l commented on #1858
Could you please share a reproduction? Or at least the full code of your render function?

[2018-10-15 10:48] imspikey commented on #1763
I have upgraded iPhone to version 12 and the same problem happen ?!!

[2018-10-15 10:49] imspikey commented on #1763
can you please reopen this issue as it looks like many people are having the same issue

[2018-10-15 10:50] c-goettert commented on #1858
Thanks for the fast reply!
Sure I can share some more detailed parts of our component:
record function:
[code]
Render function:
[code]

But as I tried to emphasise in my initial report, we are quite convinced that the issue has to be something related to the native module. ```movieFileOutput.availableVideoCodecTypes``` should have nothing to do with our react-native components, right? Could there

[2018-10-15 11:15] n1ru4l commented on #1858
@c-goettert I do not know. My thought was that maybe some setting on the `RNCamera` component restricts the available types.

[2018-10-15 14:34] FaiChou commented on #1112
Same problem.

Even I tried to add judgment for `self.superview`:

![1539613168](https://user-images.githubusercontent.com/18500846/46956679-75037e80-d0c8-11e8-999a-d67c50f19a9f.jpg)

I think it is in other queue which sets `superview` to nil,  so I tried to fix this by adding `main queue`:

[code]

[2018-10-15 15:46] GerardoLucero commented on #1736
I'm stuck on the same error X2

[2018-10-15 16:50] albullington commented on #1736
I ended up solving by shutting down my simulators and devices, then re-running npm start and react-native run-ios/run-android. Maybe linking the camera library requires a rebuild?

[2018-10-15 18:54] matthewng commented on #1858
This is an issue that we are facing as well. The warning was a bit confusing at first since we are already checking for iOS >= 10, but it looks like its a problem with `movieFileOutput.availableVideoCodecTypes`

[2018-10-16 02:32] FaiChou commented on #1112
### Steps to reproduce

1. scan qrcode (or ean code)
2. leave scan page
3. repeat 1,2 many times

### Actual behaviour

Crash with native.

### RN core code

[code]

If `onScanResultReceived` gets result, then sets `isOk` state to `true`, this will cause `QRScannerView` unmount.

### Environment

[code]

[2018-10-16 02:41] tiendn commented on #1763
I have tried switch **cameraType** from `front` to `back`.
It works fine.

[2018-10-16 04:48] jbwhitcombe commented on #1763
Although for my use case (used to detect if the location of a face in the viewfinder), the front camera needs to work.

[2018-10-16 04:49] tiendn commented on #1763
@jbwhitcombe , me too

[2018-10-16 09:29] BaderSerhan commented on #1848
**[UPDATE]**

@SimonErm Thank you for your help, I have set mirrorVideo to false and the app is no longer crashing!
But we need a fix for this soon cause we would like our front camera videos to be inverted.

Thank you for your tremendous work!

[2018-10-16 10:13] thedjinn opened #1859 "Code smells and compile warnings in iOS native code"
# Bug Report
**To Do First**
- [X] Did you try latest release?
- [X] Did you try master?
- [X] Did you look for existing matching issues?

**Related Modules**
RNCamera and probably others.

**Platforms**
iOS

**Versions**
RN 0.57, react-native-camera 1.3.0, Xcode 10.0

**Expected Behaviour**

The RNCamera project produces lots of compile time warnings (33 in my case). After investigating I noticed

[2018-10-16 11:57] ahsan-storm commented on #178
Please reopen this issue

[2018-10-16 11:57] ahsan-storm commented on #178
Tap to focus still not working in android

[2018-10-16 12:02] ahsan-storm opened #1860 "Android focus on tap not working"
I'm not able to focus picture on tap in Android. I've tried everything mentioned in docs, still not able to run it. My device is Galaxy Tab A. Help needed

[2018-10-16 15:50] imspikey commented on #1763
@tiendn I have tried front and back camera but got the same result EXC_BAD_ACCESS

[2018-10-16 20:39] reime005 commented on #1858
had the same issue and solved it with this fix: #1857

[2018-10-17 01:51] jbwhitcombe opened #1861 "iOS Facial Detection Currently Broken (iOS 12)"
# Bug Report
**To Do First**
- Tried latest release
- Tried master
- There are existing reports however they are all closed

**Related Module**
FaceDetector

**Platform**
iOS

**Description/Current Behaviour**
Currently crashing with iOS 12 with an EXC_BAD_ACCESS when onFacesDetected function is called. Potentially due to onFacesDetected being called even when no faces are available to be detected

[2018-10-17 11:16] djleonskennedy commented on #1713
@abrahambotros module already have quality profiles, however i'm investigating why they cannot be set.

As i understood this method have to apply profile
[Camera1.java#L826](https://github.com/react-native-community/react-native-camera/blob/master/android/src/main/java/com/google/android/cameraview/Camera1.java#L826)

but it doesn't might something undocumented, also we should able to add ability

[2018-10-17 11:54] darekg11 commented on #1754
1.1.2 is the only version that is working for me on both IOS and Android with multiple recordings. 1.1.3 is failing as soon as I want to record once more. Is there possibility for someone with more IOS knowledge bisect commits between those two? By looking at changelog included in 1.1.3:
https://github.com/react-native-community/react-native-camera/commit/98b1895038ccf47f94d7d27811f3540d3847feb7
T

[2018-10-17 11:59] SimonErm commented on #1848
The problem is that there is no rejection if mirrorVideo fails at https://github.com/react-native-community/react-native-camera/blob/8de827e6c2a027b30668c108b147fb02affb8a35/ios/RN/RNCamera.m#L990 . The other question to ask is why it fails.

[2018-10-17 14:42] petlys opened #1862 "Rendering in response to state changes causes camera to go black"
### Which implementation are you using

RNCamera

### Steps to reproduce

1. Open camera
2. Scan barcode which updates state
3. Conditionally render a component inside the camera view in response to the updated state

### Expected behaviour

Component should render as expected when state changes

### Actual behaviour

Only an issue on Android.

When `onBarCodeRead` is fired, I update a state which

[2018-10-17 17:31] Udbhav12 commented on #1677
@SeamusY - I was facing the exact same problem as you while scanning QR codes/Barcodes, especially in Samsung Phones. I have included 'com.journeyapps:zxing-android-embedded:3.0.3@aar' in my build.gradle and developed a native module for scanning QR codes in android

[2018-10-18 00:32] jgfidelis commented on #1861
There was an issue where people identified what line code broke the facial recognition. Do you know enough objective C to try and fix it?

[2018-10-18 00:54] Samsinite commented on #1862
Getting this same error, on React 16.3.1, RN 0.55, android, and react-native-camera 1.3.0

[2018-10-18 01:14] Samsinite commented on #1862
For some reason it seems to work if I have `flex: 0` styles on RNCamera initially. If I change it via the inspector after to `flex: 1` then it continues to work. Not sure what is going on...

[2018-10-18 02:07] jbwhitcombe commented on #1861
Perhaps! My Objective-C > Swift, although any direction on what line is causing this would help!

[2018-10-18 08:58] petlys commented on #1862
Thanks for sharing! I successfully worked around the issue by having `RNCamera` as its own component, and using absolute positioning to overlay it:

[code]

`z-index` doesn't seem to work properly on Android, so you have to utilise the order of components to decide what goes on top of what.

[2018-10-18 10:17] Petka17 commented on #1848
We passed `quality` option to recordAsync and the application is no longer crashing on iOS 11.

[code]

package.json
[code]

Xcode Version 10.0 (10A255)

[2018-10-18 12:56] n1ru4l commented on #1861
duplicate of https://github.com/react-native-community/react-native-camera/issues/1613

[2018-10-18 12:56] #1861 closed

[2018-10-18 14:15] imspikey commented on #1861
yes but  #1613  is closed without solution?!!!

[2018-10-18 17:03] Samsinite commented on #1862
Thanks! I might try to help get this fixed this weekend and prefer to keep using facc for now as the app is paying attention to the status. Is there a way to grab the camera status if not using facc?

[2018-10-18 20:41] dov11 commented on #1856
Hi @howardwkim, #1863 should remove the warning, while you can check out a crude example of Text detector implementation here: https://github.com/dov11/rncamerademo. Hope that helps.

[2018-10-18 23:18] albullington commented on #1642
I'm also looking for a way to save location data while taking photos with react-native-camera. Did anyone find a fix for this?

[2018-10-19 03:38] JslinSir commented on #836
getParameters failed (empty parameters)

com.lwansbrough.RCTCamera.RCTCameraViewFinder.onTouchEvent(RCTCameraViewFinder.java:428)

android.hardware.Camera.native_getParameters(Native Method)
--
2 android.hardware.Camera.getParameters(Camera.java:3243)
3 com.lwansbrough.RCTCamera.RCTCameraViewFinder.onTouchEvent(RCTCameraViewFinder.java:428)
4 android.view.View.dispatchTouchEvent(View.java:10215)
5

[2018-10-19 16:47] fokoz opened #1864 "[Video Record] has no sound"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**

- Android:
- iOS: 11
- react-native-camera: 1.3.0
- react-native: 0.56.1
- react: 16.4.1

**Description/Current Behaviour**
Record video with no sound even set `captureAudio=true`, have tested with

[2018-10-19 16:56] fokoz commented on #1864
Here's file example:
[qlZTYpiaQbcdOZPzAHhWYD7nNZRRmDSCFUHFlxbg.mov.zip](https://github.com/react-native-community/react-native-camera/files/2496683/qlZTYpiaQbcdOZPzAHhWYD7nNZRRmDSCFUHFlxbg.mov.zip)

[2018-10-19 19:40] martinatti commented on #768
+1

[2018-10-20 10:57] markmckim opened #1866 "Android not compiling when using AndroidX libs"
# Bug Report
**To Do First**
- [X] Did you try latest release?
- [x] Did you try master?
- [X] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**
- Android: compileSDK 28, buildTools 28.0.3
- react-native-camera: 1.3.0
- react-native: 0.56.0
- react: 16.4.1
- react-navigation: 2.9.1

**Description/Current Behaviour**
I'm using AndroidX lib

[2018-10-21 01:19] howardwkim commented on #1856
@dov11 Thank you! I got iOS text detection working with your change in #1863 , and your example was helpful as well.

[2018-10-21 01:19] #1856 closed

[2018-10-21 10:52] FaiChou commented on #1112
fixed with move `[self stopSession];` to bottom of function.

[2018-10-22 06:33] BaderSerhan commented on #1821
@piuccio yes it mirrors the output video. It was also the problem to my issue :/
#1848

[2018-10-22 07:16] JslinSir commented on #940
+1

 android.hardware.Camera.native_setParameters(Native Method)
--
 android.hardware.Camera.setParameters(Camera.java:1940)
 com.google.android.cameraview.Camera1.setDisplayOrientation(Camera1.java:454)
 com.google.android.cameraview.CameraView$1.onDisplayOrientationChanged(CameraView.java:121)
 com.google.android.cameraview.DisplayOrientationDetector.dispatchOnDisplayOrientationChanged(DisplayOr

[2018-10-22 09:53] alimek commented on #1112
anyone has fix for it ?

[2018-10-22 14:42] alimek commented on #1112
@FaiChou are you able to give me a path how to reproduce this issue ?

It's happening for me, but not often. I would like to be able to reproduce this issue first and then check your suggestion, but sometimes i crashes for 1st time, and sometimes after 100x times scanning QR code.

[2018-10-22 14:43] sibelius commented on #1112
@FaiChou can u send a PR fixing this?

[2018-10-22 14:44] alimek commented on #1112
PR #1868

but i am still checking if this works for me, but its hard for me to reproduce it everytime :(

[2018-10-22 16:41] nadzic opened #1869 "Camera does not recognize barcodes on lighter space (examples in links)"
**Platforms**
Android, iOS

**Versions**
- Android: 8.1.0
- iOS: 11.2
- react-native-camera: ^1.1.2
- react-native: 0.52.0
- react: 16.2.0

**Description/Current Behaviour**
If you are trying to scan barcode in the light grey color and on little bit lighter space the react native camera does not recognize the barcode. We tried with other barcode scanning apps and they recognize it - so it is probl

[2018-10-22 19:15] sfyfe31 commented on #1555
@LucasLpr did you ever figure this out? I'm having the same issue. I can link `tipsi-stripe` and `react-native-camera` separately fine, but together I just can't get my app to run. I've tried excluding `com.google.android.gms` from both and then force declaring a version, but I just get `AppName has stopped` when it tries to run.

[2018-10-22 23:59] jbwhitcombe commented on #1861
@n1ru4l Yep. This resolves this issue for sure, thanks heaps! Interestingly, I had to reinstall everything via Pods as manual installation of the GMV didn't work. Perhaps it's worth adding this as part of the installation process for the latest version and with iOS 12 now?

[2018-10-23 01:01] FaiChou commented on #1112
@sibelius  @alimek

Check the new code of the RNCamera https://github.com/react-native-community/react-native-camera/blob/master/ios/RN/RNCamera.m#L133

I fixed it after checking the new code.

[2018-10-23 05:03] olegwn opened #1870 "Facedetector is not detecting any faces (iOS)"
# Bug Report
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera
FaceDetector

**Platforms**
iOS

**Versions**
- iOS: 11.x, 12.x (tried on two different devices)
- react-native-camera: master (fc3f7bd)
- react-native: 0.57.3
- react: 16.6

**Description/Current Behaviour**

When I open a frontal camera I get ini

[2018-10-23 06:09] kirandesai303 commented on #1490
Put the "provided" instead of "CompileOnly"

[2018-10-23 07:01] AsocialCoder opened #1871 "Could not find play-services-basement.aar (com.google.android.gms:play-services-basement:15.0.1)."
[code]

Error:

[code]

[2018-10-23 07:32] LucasLpr commented on #1555
@sfyfe31 Yes, it has been a long time haha :3 However it took me lots of time to make my dependencies working together :

[2018-10-23 07:56] Zabi-Progton opened #1872 "Could not find intellij-core.jar (com.android.tools.external.com-intellij:intellij-core:26.0.1)."
When looking into the URL given it gives Resource not found error. The Jar File might have been removed.

Steps to reproduce
1. React native init NewCameraProject
2. npm install react-native-camera --save
3. react-native link
4. react-native run-android

On executing step 4, it starts resolving the dependencies for ReactNative Camera: This error is shown in the Terminal:

* What went wrong:
A prob

[2018-10-23 08:17] iremlopsum commented on #1871
Having the same problem and can't seem to find a solution. Updated `react-native-camera` from `1.1.0` to `1.3.0` and issue still exists

[2018-10-23 08:45] iremlopsum commented on #1871
After Googling the hell out of this I found a solution based on this answer: https://stackoverflow.com/a/51213879/3840147

I changed my `build.gradle` files so that `jcenter()` would always be at the bottom of the list. I actually made this change for `react-native-camera` in `node_modules` as well and all works fine now :)

Seems that the library is down from maven's side, and needs to use a mirr

[2018-10-23 09:18] ger86 commented on #1872
Same here...

[2018-10-23 09:18] jiasongs commented on #1871
same problem, +1

[2018-10-23 09:32] ger86 commented on #1872
This seems to work:

Change my build.gradle files so that jcenter() would always be at the bottom of the list. I actually made this change for react-native-camera in node_modules as well and all works fine now :)

Seems that the library is down from maven's side, and needs to use a mirror instead

[2018-10-23 09:35] Peretz30 commented on #1872
@ger86 can you make a merge request?

[2018-10-23 09:37] aman5537jains opened #1873 "error: cannot find symbol variable surface_view"
I am trying to compile my code after adding react native camera and i am getting below error

[code]
Version :

 react-native-camera  1.3.0
React native version 0.55.2
React 16.4.1
compileSdkVersion 27
buildToolsVersion 27.0.2

[2018-10-23 09:41] ger86 commented on #1872
Sure

[2018-10-23 09:42] sospedra commented on #1872
Fix is coming: https://github.com/react-native-community/react-native-camera/pull/1874

[2018-10-23 09:46] ger86 commented on #1872
I was doing the fix....

[2018-10-23 09:50] satyen-progton commented on #1872
former error is solved then i got this-
* What went wrong:
Could not resolve all files for configuration ':react-native-camera:debugCompileClasspath'.

[2018-10-23 10:12] #1872 closed

[2018-10-23 10:13] netdesk commented on #1871
It was enough for me to move `jcenter()` below `google()` within `allprojects.repositories` in `android/build.gradle`. I don't know if this has side effects in other apps or configurations. At least using just this as a temporary solution you don't have to mess around in node_modules.

[2018-10-23 11:28] andikaerwansyah commented on #1871
same problem, +1

[2018-10-23 11:34] xenu256 commented on #1871
Yeah, jcenter() after google() fixed the problem for me too.

[2018-10-23 11:44] sibelius commented on #1871
fixed on master

[2018-10-23 11:44] #1871 closed

[2018-10-23 14:05] LostInReact commented on #1872
@sospedra
hello,
i have the same issue even after the fix :/
opérations :
rm -R node_modules
npm install git+https://github.com/react-native-community/react-native-camera.git
react-native run-android

[2018-10-23 14:16] LostInReact opened #1875 "Could not find intellij-core.jar error"
hello,
i have the same issue even after the fix #1874
opérations :
rm -R node_modules
npm install git+https://github.com/react-native-community/react-native-camera.git
react-native run-android

_Originally posted by @LostInReact in https://github.com/react-native-community/react-native-camera/issues/1872#issuecomment-432260690_

[2018-10-23 16:28] rikantro commented on #1875
resolved with
https://github.com/react-native-community/react-native-camera/issues/1871#issuecomment-432154734

[2018-10-23 16:30] shivenj opened #1876 "Zoom while Recording Video"
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-10-23 17:15] 4E71-NOP commented on #1875
I got this on a fresh install and an up to date Android Studio:

[code]
I see "**removed at the end of 2018**", "**below the minimum supported version (27.0.3)**".

Maybe this module should not rely on a specific gradle/sdk version. As soon as something change we're back to square one (in a fresh install). I bet a lot of things are changing lately. It won't get better as Android SDK versions go up

[2018-10-23 18:42] AndriiChubariev commented on #1875
This error happened today not only with `react-native-camera`, but with the majority of RN libraries as well.

The solution is:
https://stackoverflow.com/questions/50563407/could-not-find-play-services-basement-aar/51213879#51213879

UPD: Also, for me, the `/node_modules/react-native-camera/android/build.gradle` files required update too.

change:
[code]

to:
[code]

[2018-10-23 20:31] van1985 commented on #1875
When will be a new release for fix this issue? Thanks!!

[2018-10-23 20:53] ioanamirela opened #1877 "Text recognition for iOS without Cocoapods"
# Feature-Request

**Describe the Feature**
Would love to use text recognition on iOS without the cocoapods constraint.

[2018-10-23 20:54] sibelius commented on #1877
you can use postinstall strategy

[2018-10-23 23:17] ioanamirela commented on #1877
Do you mind clarifying?

[2018-10-24 00:37] bcalik commented on #1229
@n1ru4l ok we can access the file from cache, but when you make an application that has offline capabilities, then cache directory is not reliable because I have to keep the recordings for later use.

[2018-10-24 02:03] jgcmarins commented on #1877
@ioanamirela, check this: https://github.com/react-native-community/react-native-camera#face-detection-or-text-recognition-steps
you will find few instructions and a script to install text recognition without Cocoapods

[2018-10-24 03:20] Qggld opened #1878 "Error:Could not resolve all files for configuration ':app:debugRuntimeClasspath'. > Could not find play-services-basement.aar (com.google.android.gms:play-services-basement:15.0.1). Searched in the following locations: https://jcenter.bintray.com/com/google/android/gms/play-services-basement/15.0.1/play-services-basement-15.0.1.aar"
# Question

**To Do First**
- [ ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-10-24 04:01] rainbowvs commented on #1878
I have the same problem.

FAILURE: Build failed with an exception.

What went wrong:
Could not resolve all files for configuration ':app:debugRuntimeClasspath'.
  Could not find play-services-basement.aar (com.google.android.gms:play-services-basement:15.0.1).
    Searched in the following locations:  https://jcenter.bintray.com/com/google/android/gms/play-services-basement/15.0.1/play-services-ba

[2018-10-24 04:16] wbyoung commented on #1854
@jiangbophd I'm not a team member here, but I can venture to guess that you'll need to provide more details here if anything is to be resolved.

[2018-10-24 05:04] #1854 closed

[2018-10-24 05:04] ptomasroos commented on #1854
Feel free to open a issue with information in it.

[2018-10-24 05:06] ptomasroos commented on #1878
jcenter seems to have wiped a lot of dependencies lately

make sure to move down
jcenter() to the bottom of the repositories for the build.gradle + app/build.gradle

this solved our build and documented on many other places. this has nothing todo with react-native-camera it self

[2018-10-24 05:06] #1878 closed

[2018-10-24 05:34] rainbowvs commented on #1878
I solved this problem. Thank you for your help.   @ptomasroos 👍

[2018-10-24 05:37] ptomasroos commented on #1875
This is fixed in master.

Feel free to update the build.gradle to force this to all projects in your local app build to fix this across all build.gradle dependencies.

[code]

[2018-10-24 05:37] #1875 closed

[2018-10-24 05:37] chaileicsu commented on #1875
I move jcenter,like this:
repositories {
        google()
        maven {
                url 'https://maven.google.com'
        }
        jcenter()
 }

but

`* What went wrong:
A problem occurred configuring project ':react-native-camera'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/external/com-intellij/intellij-core/26.0.1/intellij-core-26.0

[2018-10-24 05:58] n1ru4l commented on #1229
@bcalik feel free to copy it to another place or send a pull request that allows specifying the output path of the file

[2018-10-24 05:59] JJMoon commented on #1585
The error happens in Huawei device, the message is.
`Attempt to invoke virtual method 'double java.lang.Double.doubleValue()' on a null object reference`

getDouble
ReadableNativeArray.java 114

[2018-10-24 06:02] alan-nakagiri opened #1879 "iOS build fails from master with no FaceDetection"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera
FaceDetector

**Platforms**

iOS

**Versions**

- Android:
- iOS: 12.0.0
- react-native-camera: 1.3.0
- react-native:0.57
- react: 16.5.1

**Description/Current Behaviour**
- v1.3.0 of react-native-camera was breaking earlier today

[2018-10-24 07:13] alan-nakagiri commented on #1879
Update: I picked reverted `RNFaceDetectorManager.h` to back to `<GoogleMobileVision/GoogleMobileVision.h>` and my build passes and the camera works 🤷‍♂️

[2018-10-24 08:17] Airomad commented on #1708
I had the same issue. It was because I used **resumePreview** and **pausePreview** methods in my code (which works on iOS without errors)

[2018-10-24 10:40] brightsider commented on #1879
Same issue

[2018-10-24 12:32] zedtux opened #1880 "Display corners around detected bar code"
# Feature-Request

**Describe the Feature**
Show corners, around the detected bar code, while scanning it, like is doing iOS in this screenshot :

![file](https://user-images.githubusercontent.com/478564/47430434-9f74cc00-d799-11e8-8ca2-b18027b649c5.png)

[2018-10-24 15:21] gisderdube commented on #1719
+1

[2018-10-24 15:31] sypl commented on #1879
Also facing this issue.

[2018-10-24 15:43] sibelius commented on #1879
anybody can send a PR fixing this?

[2018-10-24 17:20] #1879 closed

[2018-10-24 17:25] sibelius opened #1883 "Setup automated release"
based on this https://github.com/callstack/react-native-testing-library/issues/23

using https://github.com/webpro/release-it

[2018-10-24 20:39] van1985 opened #1884 "RN build failing because of a missing intellij-core library"
Hi,

react-native-camera: v1.1.4
RN version: 0.55.2

Notice: Same exact configuration was working yesterday (my colleagues with the jar in cache can still build the app)

Since this morning my build are failing because of a missing jar on jcenter.bintray.com (the pom file is there but nor the jar file):

FAILURE: Build failed with an exception.
* What went wrong:
A problem occurred configuring pro

[2018-10-24 20:42] sibelius commented on #1884
use master or latest release

[2018-10-24 20:42] #1884 closed

[2018-10-24 20:45] ioanamirela commented on #1877
Oh hey, there's a new "Non-CocoaPods Path" section. Thanks @sibelius, will try it out!

[2018-10-24 20:45] #1877 closed

[2018-10-24 20:46] van1985 commented on #1884
@sibelius the commit is a day ago (https://github.com/react-native-community/react-native-camera/commit/9261524609ac4d9f29a33fb94847ef78a50b38f3) and the last release doesn't have this chante (release v1.3.0-8).

The only change is use master?

[2018-10-24 21:05] sibelius commented on #1884
test new master, and if the fix works we can release a new version

[2018-10-25 01:07] listicos commented on #1249
Hello, I just created a simple solution for this https://github.com/react-native-community/react-native-camera/pull/1886

[2018-10-25 01:10] bcalik commented on #1836
Its still so slow on Android despite messing with all RNCamera options. I hope someone will fix it.

[2018-10-25 06:10] Cherrionella opened #1887 "Unable to scan some barcodes on iOS"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**
- iOS: 11.4.1
- react-native-camera: 1.3.0
- react-native: 0.57.0
- react: 16.5

**Description/Current Behaviour**
If you are trying to scan some barcodes on iOS the react-native-camera does not reco

[2018-10-25 08:31] n1ru4l commented on #1836
@bcalik Are you interested in fixing it?

[2018-10-25 08:32] msageryd commented on #1282
Please correct me if I'm wrong.. If this is implemented in JS, is it really possible to utilize the optical 2x zoom in iPhoneX and iPhone8, and other models?

A JS zoom is merely a crop, isn't it?

[2018-10-25 10:08] tonmanayo commented on #1884
Please release this

[2018-10-25 10:56] skizzo commented on #39
Still having this issue, 1 out of 3 times it takes about 4 seconds to initialize the camera component on my iPhone 6s..

[2018-10-25 15:53] msageryd commented on #1772
What's the argument for using a 0.0 to 1.0 zoom scale? If I produce the zoom value from a pinch event I'll have to accumulate the value by multiplying the pinch ratio with the last known scale, i.e. I'll get numbers ranging from 1 and up.

So, I have to convert my 1 to max range to the 0-1 range.
RNCamera then converts the 0 to1 range back to a 1 to max range, since this is what ios wants.

**Refe

[2018-10-25 18:29] msageryd commented on #1772
I have tried to dig in some more in RNCamera to try to solve my task.

- I really need to get hold of `videoMaxZoomFactor`.

- I would also like to get hold of `videoZoomFactorUpscaleThreshold` so I can know if the optical zoom is used or if I'm just cropping the image. Normally my app captures medium sized images. But if I knew that the image was digitally zoomed (cropped) I'd bump up the output

[2018-10-25 18:59] msageryd commented on #1830
Why cant you just draw a regular view with borders (i.e. a rectangle). Use absolute position and pointerEvents='none'. This should not block the touches from reaching the camera view.

Something like this (not tested)
[code]

[2018-10-25 19:32] msageryd opened #1888 "autoFocusPointOfInterest not implemented in RNCamera"
I tried to implement autoFocusPointOfInterest in my app, but it didn't work.

After digging into the RNCamera code I found that this prop isn't implemented at all. I could give it a stab, but I have never worked with ObjC before. If someone could give me some hints on how to send JS objects over the bridge I might be able to pull this off.

[2018-10-25 19:45] msageryd opened #1889 "Sort out the zoom handling on iOS"
I now realise that I have been writing in a closed issue. IMO this needs to be solved. I'm willing to help but I need some guidance.

Rather than just linking to my posts in a closed issue (#1772 ) I'll copy the text into this issue.

[2018-10-25 19:45] msageryd commented on #1889
What's the argument for using a `0 to 1` zoom range? If I produce the zoom value from a pinch event I'll have to accumulate the value by multiplying the pinch ratio with the last known scale, i.e. I'll get numbers ranging from 1 and up.

So, I have to convert my `1 to max` range to the `0 to 1` range.
RNCamera then converts the `0 to 1` range back to a `1 to max` range, since this is what ios want

[2018-10-25 19:45] msageryd commented on #1889
I have tried to dig in some more in RNCamera to try to solve my task.

- I really need to get hold of `videoMaxZoomFactor`.

- I would also like to get hold of `videoZoomFactorUpscaleThreshold` so I can know if the optical zoom is used or if I'm just cropping the image. Normally my app captures medium sized images. But if I knew that the image was digitally zoomed (cropped) I'd bump up the output

[2018-10-25 20:30] mmccartney commented on #1585
Same here, running on emulator `Nexus_5X_API_27_x86` with code that doesn't even touch the result of the Promise.  See the usage below (obviously without the `~~~~` underlined 😄 )

[code]

I get this stack trace:

[code]

[2018-10-25 22:05] msageryd commented on #1888
Oh, I'm sorry. I looked in a project which had RNCamera 1.20. autoFocusPointOfInterest was implemented in 1.30.

[2018-10-26 08:27] n1ru4l opened #1890 "Remove RCTCamera"
**Describe the Feature**
There are many issues about users using RCTCamera which is deprecated. If they still want to use it they could stick with an older version of react-native-camera. I think it would be best to remove RCTCamera from further react-native-camera versions and furthermore close all remaining RCTCamera related issues, since most of the time maintainers only respond with "Please us

[2018-10-26 08:54] benhartouz commented on #1252
[code]

**this code work for me very well**  just put jcenter() function after google() function.

[2018-10-26 10:59] sibelius commented on #1890
Let’s remove it and do a major bump

[2018-10-26 11:56] divyamakkar26 commented on #220
Manual Linking through Xcode Works for me.
Steps:
1.Navigate to node_modules/react-native-camera/ios/
2.Add RNCamera.xcodeproj to Libraries in Xcode and got to Target and add libRNCamera.a to Linked Frameworks and Libraries.
3.react-native run-ios

[2018-10-26 14:50] n1ru4l commented on #1859
Hey @thedjinn, it seems like you are quite familiar with objective c. Would you like to remove these code smells in a pull request? Also do you know any tools that could prevent those issues, e.g. by using a code analyzer at commit time? Ideally the tool is a cli and can be run on circle ci (without requiring a mac osx environment)

[2018-10-26 18:14] miracle2k commented on #1862
I ran into the same problem, and struggled for quite some time with permissions (https://github.com/react-native-community/react-native-camera/issues/1752), which turned out to be a dead end.

I was stepping through the code with a debugger to try to figure it out. What seems to happen is:

- When the state update happens,  react-native determines that it needs to run a `UIOperation` to delete a p

[2018-10-26 18:40] miracle2k commented on #1862
Note that for me this happens even if I do not use any custom state  updates myself; I am only changing the child render based on the `status` property being passed down to me, just like in the example.

At this point I am pretty sure this is a timing issue. The simpler I make my `PendingView` and the app startup code, the less  likely it is to appear; but I am seeing at least on some occasions, w

[2018-10-26 20:40] miracle2k commented on #1752
From what I can tell, react-native-camera itself should take care of asking for the permissions. It seems strange that asking for permissions manually should make any difference.

[2018-10-26 21:13] fxcosta commented on #626
This problem is definitely state. I had a similar problem today and all because of a component that was updated within RNCamera. The solution was to put it out and modify position via "position: absolute". The strangest thing is that before this error not happen. It appeared from nowhere.

[2018-10-27 17:15] miracle2k commented on #1862
Just run across this comment which may be react-native-maps facing a similar problem: https://github.com/react-community/react-native-maps/blob/master/lib/ios/AirMaps/AIRMap.m#L53

[2018-10-28 17:27] sivaranjansahu opened #1892 "Record video + run speech to text"
# Question

**To Do First**
- [Done ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [done ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [done ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

[2018-10-28 17:35] sibelius commented on #1892
Try to use react native voice

[2018-10-29 15:02] n1ru4l commented on #1249
Fixed in #1886

[2018-10-29 15:02] #1249 closed

[2018-10-30 04:50] swingywc commented on #1485
Thank you jgfidelis. Your solution save my days :)

[2018-10-30 21:42] chrismowbray92 commented on #1866
Getting the same issue! Can this get looked at ASAP?

[2018-10-31 05:16] sundariragavan commented on #1254
return await CameraRoll.saveToCameraRoll(uri, "photo");
In android, app is save the image into camera gallery. How to create a custom folder and save the image into gallery.

[2018-10-31 09:35] sharibtanweer commented on #1588
No any solution in internet working. why? in android studio 3.2.1

[2018-10-31 10:38] whwz163 commented on #1450
which props in RNCamera same as captureTarget

[2018-10-31 11:06] timjam commented on #1588
@sharibtanweer What have you tried so far? Upgrading to latest gradle should fix the issue. What's your setup?

[2018-10-31 13:04] olegwn commented on #1870
strange thing, but after recompiling project in XCode 10 with legacy build system the face detection now works!

[2018-10-31 13:22] jgcmarins commented on #1870
can we close?

[2018-10-31 16:48] subugwriter commented on #1357
I am having same issue on V1.1.4. Android camera occasionally crashes with same exception:

                                                                            java.lang.RuntimeException: Camera is being used after Camera.release() was called
                                                                                at android.hardware.Camera.setHasPreviewCallback(Native Method)

[2018-10-31 16:56] subugwriter opened #1894 "[RN Camera]Android camera occasionally crashes"
I am on V1.1.4.  Android camera occasionally crashes with exception:
[code]
same as a previously closed issue: https://github.com/react-native-community/react-native-camera/issues/1357

[2018-10-31 18:56] n1ru4l commented on #1894
Please upgrade to the newest version and open an issue if you are still experiencing this crash.

[2018-10-31 18:56] #1894 closed

[2018-11-01 02:14] georgetmayorga commented on #1741
@halilb Wondering if this was resolved? The tagged issue doesn't seem to be helpful.

I'm also passing in the `path` option to `recordAsync`, recording a few clips but the behavior I'm getting is that only the last clip comes out—it seems to be overwriting rather than merging the clips.

I'm on RNCamera 1.3.1 on iOs

[2018-11-01 08:58] zouminhuababa commented on #1495
I have this issue too, how to solve it?

[2018-11-01 12:33] halilb commented on #1741
Nope @georgetmayorga. I couldn't make it work.

[2018-11-01 13:46] CPIJ opened #1895 "Grab frames from Camera"
Hi!

I'm trying to make an object classifier using React Native. Just starting to explore this library, but I was wondering, is it possible to get a live feed from RNCamera with each frame as a separate image?

Some pseudocode to illustrate my question:

[code]

[2018-11-01 14:23] sibelius commented on #1895
you can create an new `event` here https://github.com/react-native-community/react-native-camera/blob/master/android/src/main/java/org/reactnative/camera/RNCameraView.java#L119

so you can send the data to javascript at each frame

this won't be so performatic

or you can try to explore this https://github.com/react-native-community/react-native-camera/issues/1262

where you can create a native co

[2018-11-01 14:41] CPIJ commented on #1895
Thanks sibelius, I'm not looking for the best performance. Just making a small proof of concept :)

[2018-11-01 15:38] 32penkin commented on #1513
Samsung J7 - the same issue

[2018-11-01 17:42] Sjiep commented on #1566
@jorgeluisrezende I made a PR (#1896) that should add this feature (inspired by the snippet posted by @Sata51) into the library when using the google vision barcode detector.

[2018-11-01 21:29] n1ru4l commented on #1566
Implemented in #1896

Please use the master branch or wait until a new release is published on npm!

[2018-11-01 21:29] #1566 closed

[2018-11-01 22:08] cesartotvs commented on #1836
@n1ru4 Got it, I'm interested in fixing this issue.

[2018-11-01 22:08] cesartotvs commented on #1836
@n1ru4l  Got it, I'm interested in fixing this issue.

[2018-11-02 00:48] FullstackJack commented on #1836
I'm currently building a prototype with video player and focusing on that at the moment, but I'm interested in helping out when I have the time (unless others have already pitched in what I'm suggesting.

[2018-11-02 04:48] youngjuning commented on #1532
this can solve my trouble

[code]

[2018-11-02 06:05] zouminhuababa opened #1897 "RNCamera [android] recordAsync method doesn't work"
Related Modules
RNCamera

Platforms
Android

Versions

android:
react-native-camera: ^1.3.1
react-native: 0.57.4
react: 16.6.0-alpha.8af6728

when i press record button i got this :

 Possible Unhandled Promise Rejection (id: 0):
Error: setAudioSource failed.
Error: setAudioSource failed.

I have added all the necessary permissions。
  <uses-permission android:name="android.permission.CAMERA" />

[2018-11-02 06:15] #1897 closed

[2018-11-02 11:00] kjartanvest opened #1900 "Incompatible AVCAptureSessionPreset causes crash on iPad Mini 4"
**Versions**
react-native-qrcode-scanner: 1.1.0
react-native-camera: 1.3.1
react-native: 0.44
react: 16.0.0-alpha.6
Platform: iOS 11/iOS 12

**Description/Current Behaviour**
In my project I am implementing a camera view for scanning QR codes, using the react-native-qrcode-scanner library. This lib is dependent on react-native-camera.
Using the latest release of react-native-camera on master (1.3.

[2018-11-02 19:10] thakshak commented on #947
suggestion for react-native-camera to develop a function like
onceBarCodeRead()
to read it only once which is very useful.

[2018-11-02 23:57] cesartotvs commented on #1836
Just a quick note I will not be adding any new features, but only fixing the performance issues.

[2018-11-04 09:16] hodatorabi commented on #1615
I am having this problem and I'm currently using 1.2.0 version.

[2018-11-04 16:43] amirRamirfatahi opened #1901 "NullPointerException"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera
We're getting an error in our app.
It does not occur on all android phones but it does only happen in android to my best knowledge.
It seems like the `MultiFormatReader` is null when the `reset` method is invoked.

**Platforms**

A

[2018-11-05 05:35] irtemed88 commented on #1599
Hey folks -- I had this same error and fixed it by adding an exclusion to Expoview:
[code]

I _think_ the issue was cameraview being used by expokit, but also by react-native-camera. For my particular use case I was only using the camera implementation in react-native-camera so there wasn't any problem excluding it here.

[2018-11-05 08:42] seraphmate opened #1902 "How make RNCamera to fit to container on Android?"
# Question

**To Do First**
- [O] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [O] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [O] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-11-05 11:26] Fsarmento opened #1903 "Freeze image while takePictureAsync is not resolved"
# Feature-Request

**Describe the Feature**
On Android, takePictureAsync takes up to 3 seconds to resolve (there are already a lot of issues opened regarding this). During this period, the camera is still active. If the user points the camera to a different location, the image seen on the screen is updated. The gif below shows better what I am trying to explain.

![ezgif com-optimize](https://user

[2018-11-05 13:19] Fsarmento commented on #1903
I guess this is related to https://github.com/react-native-community/react-native-camera/issues/1836

[2018-11-05 17:06] Sjiep commented on #1827
@jorgeluisrezende I added this feature and it got merged into master (#1896). Because it uses the google vision API it is currently Android only.

[See docs.](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#android-googlevisionbarcodemode)

[2018-11-05 17:06] #1827 closed

[2018-11-05 17:09] Sjiep commented on #1551
@jonathanort I added this feature and it got merged into master (#1896). Because it uses the google vision API it is currently Android only.

[See docs.](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#android-googlevisionbarcodemode)

[2018-11-05 17:09] #1551 closed

[2018-11-05 17:57] FullstackJack commented on #1903
@Fsarmento I'd say it's moreso related to https://github.com/react-native-community/react-native-camera/issues/1838

[2018-11-05 17:59] FullstackJack commented on #1838
@SimonErm The code I referenced is on Android. I haven't an iOS device to test this on that platform.

[2018-11-06 00:57] Fsarmento commented on #1903
Just to add that I tested the pull request https://github.com/react-native-community/react-native-camera/pull/1641 and it seems to work fine. It does pause de camera on takePictureAsync call and the promise is resolved.

`yarn add react-native-camera@react-native-community/react-native-camera#pull/1641/head`

[2018-11-06 03:52] NSShentu commented on #1902
and how can we hide the navigation bar in android？
i hide bar in mainActivity but it comes out when i go into camera page

[2018-11-06 03:55] NSShentu opened #1905 "How hide the navigation in android"
How hide the navigation bar in android.
i hide it in mainActivity but it comes out when i go into camera page

[2018-11-06 06:35] anztrax commented on #1570
in index.ts, there're  options that support the orientation :
[code]

you can use when using them for example (in android) :
[code]

[2018-11-06 07:58] zhuiye opened #1906 "How to identify the QR code in the album"
Now I have a need, I need to select the QR code image from the album, and then identify the information, but I don't know how to do it. Do you have any good ideas?

[2018-11-06 08:39] n1ru4l commented on #1906
This seems out of scope of this library. Please use StackOverflow for posting general questions.

Nevertheless I gave google a spin and found this:

https://stackoverflow.com/questions/51920987/qr-code-decoder-from-image-file-react-native

If you want a truly native solution you will most likely have to write your own native module.

I am going to close this issue because it is not related to reac

[2018-11-06 08:39] #1906 closed

[2018-11-06 09:59] n1ru4l commented on #1527
@matamicen Would be good to know the version number of the last working version!

[2018-11-06 13:57] matamicen commented on #1527
@n1ru4l Sorry ... here is the information where everything was ok:

    "react": "16.4.1",
    "react-native": "0.56.0",
    "react-native-camera": "^1.1.4"

And this is the actual versions where the resolution go down:

    "react": "16.6.0-alpha.8af6728",
    "react-native": "0.57.4",
    "react-native-camera": "^1.3.1"

Hope this helps ... Thanks for your help.

[2018-11-07 02:18] iCueto commented on #1581
The component Camera can't get inside it another elements, if you have a layout like this:

[code]

It will fail with the error: stop failed, that it's caused by the setState that re-render the element Camera and when the state change. Change it to something like this.

[code]

[2018-11-07 07:29] cozmo commented on #1900
I'm also experiencing this on both an iPhone XS with iOS 12 and a 5th generation iPad with iOS 11. Oddly for both of these devices this issue has started without any changes to the underlying package (version locked on commit 537f4bedf0f8172b4f96cd0dd997286ba5b497e2). Unclear what triggered this.

[2018-11-07 10:59] schumannd commented on #1490
After applying the changes I get:

[code]

can anyone comment on whether updating to react-native 0.57 would solve this issue? Currently using 0.51

[2018-11-07 11:07] sibelius commented on #1490
it could

[2018-11-07 11:08] dileepbolisetti opened #1909 "Android Text Recognize Error."
# Question

**To Do First**
- [ ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-11-07 11:18] #1900 closed

[2018-11-07 15:46] jgfidelis commented on #1905
Not a rncamera related issue, you can use Stack overflow for this.

To answer, it depends on your navigation lib.

[2018-11-07 15:46] #1905 closed

[2018-11-07 15:47] #1903 closed

[2018-11-07 17:04] maxmijn commented on #1902
+1. After upgrading my buildToolsVersion to "27.0.3" and the compileSdkVersion to 27, the camera does not fit to the view anymore. Setting a fixed height, width or ratio does not work.

[2018-11-07 17:15] maxmijn commented on #1902
@sibelius This works! Not sure what this helper actually does, but I got a square camera view again. Thanks.

[2018-11-07 17:17] lothindil opened #1910 "setPreviewTexture Failed"
# Bug Report
**To Do First**
- "react-native-camera": "^1.2.0"
- "react-native-qrcode-scanner": "^1.0.1",

**Related Modules**
RNCamera / qrcode scanner

**Platforms**
Android 7

**Versions**
- Android: 7.12
- react-native-camera: 1.2.0
- react-native: 0.55.4
- react: 16.3.1

**Description/Current Behaviour**
Error "SetPreviewTexture" after read of qr code
https://drive.google.com/file/d/1BjTwd_zf

[2018-11-07 20:44] allaire commented on #941
For border radius, you must add RNCamera to a view, and use `overflow: hidden`, exemple:

[code]

[code]

[2018-11-08 04:34] ksairi commented on #1373
any solid solutions about this?

[2018-11-08 09:00] meiqi1992 commented on #1570
same problem! how to resovle?

[2018-11-08 11:32] pedrofelipest opened #1912 "External Camera USB"
Hello, do you support the use of external USB cameras?

[2018-11-08 21:29] SimonErm commented on #1910
Can you provide the code of your camera and scanner component?

[2018-11-08 21:30] SimonErm commented on #1901
Fixed on master.

[2018-11-08 21:30] #1901 closed

[2018-11-08 21:35] Samsinite commented on #1495
@zouminhuababa and anyone else finding this issue, use https://facebook.github.io/react-native/docs/permissionsandroid and request permission for `PermissionsAndroid.PERMISSIONS.RECORD_AUDIO`

[2018-11-08 21:46] SimonErm commented on #1909
did you modify your gradle files like discribed here:https://github.com/react-native-community/react-native-camera/blob/master/README.md ?

[2018-11-08 21:54] SimonErm commented on #1880
the barcode read event already includes the barcode bounds

[2018-11-08 22:15] SimonErm commented on #1912
Related to this posts:
https://stackoverflow.com/questions/8963897/use-usb-camera-on-android-application/8986688#8986688
https://stackoverflow.com/questions/37877329/using-an-external-usb-camera-in-android#37892200
i think it won't be possible. If i am wrong feel free to correct me.

[2018-11-09 09:11] lothindil commented on #1910
For sure.

photoPage.js

    render()
    {
        return (

        <View style={styles.container}>
            <Text>Prendre une photo</Text>
          <RNCamera
              ref={ref => {
                this.camera = ref;
              }}
              style = {styles.preview}
              type={RNCamera.Constants.Type.back}
              flashMode={RNCamera.Constants.FlashMode.on}

[2018-11-09 10:41] theohdv commented on #1616
@SimonErm could you explain your fix please ? I'll try it but i'd like to know what went wrong

[2018-11-09 15:48] lothindil commented on #1910
Isolating the utilisation of module, we still have the issue.

In fact, the issue is more easier, we have the error when we use several times the camera, alone or with the module qrcode (who depend of the react-native-camera).

I asked myself why the error tell about "camera1" ? This modul is depreciated on Android since API 21, I work with API 28. Maybe the error come from there ?

[2018-11-09 15:58] sibelius commented on #1910
Camera2 has some bugs, his module will fallback to camera1 if you don’t explicit set it to use camera 2 api

[2018-11-09 16:36] mconiglio opened #1914 "Android app crashes sometimes when calling `takePictureAsync`"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**
- Android: 5.1.1
- react-native-camera: 1.3.1
- react-native: 0.55.4
- react: 16.3.1
- react-navigation: 2.17.0

**Description/Current Behaviour**
App crashes sometimes when calling `takePictureA

[2018-11-09 17:05] VinceBT commented on #1411
Just got a similar error on master:
[code]

[2018-11-11 07:53] dileepbolisetti commented on #1909
@SimonErm  thanks after adding few dependencies the error gone...

**implementation "com.google.zxing:core:3.2.1"
implementation "com.drewnoakes:metadata-extractor:2.9.1"**

How ever android Documentation is not as clear as ios.

[2018-11-11 07:53] #1909 closed

[2018-11-11 08:00] dileepbolisetti commented on #1658
yeah add an example please.

[2018-11-11 09:10] SiSa68 commented on #1871
I'm using `react-native-firebase` and I had same problem, but non of the above answers works for me.
Updated `react-native-firebase`  and everything works fine now

[2018-11-11 09:42] NadeemShakya commented on #1878
Moving down the jcenter() in the repositories in the android/build.gradle helped me solve my problem. Thankyou @ptomasroos 👍

[2018-11-12 05:40] seraphmate commented on #1902
@sibelius Thank you for your guide. :)

[2018-11-12 05:40] #1902 closed

[2018-11-12 07:58] n1ru4l commented on #1909
@dileepbolisetti Feel free to improve the documentation for android!

[2018-11-12 07:59] n1ru4l commented on #1880
An example/recipe for this could be provided in the documentation.

[2018-11-12 08:08] n1ru4l opened #1915 "Update CircleCI Docker Image Node Version to 8.12.x"
@sibelius Build is currently failing due to semantic-release requiring node version `>= 8.3`.
https://circleci.com/gh/react-native-community/react-native-camera/341

Could not find the source for the Dockerfile (https://hub.docker.com/r/entria/react-native-android/)

Also tried checking if the newest image hast a newer node version without success.

[code]

Would be beneficial to open source the s

[2018-11-12 08:13] n1ru4l commented on #1914
Would be beneficial if you cloud provide a stack trace.

Also please try using the master branch (https://github.com/react-native-community/react-native-camera#how-to-use-master-branch), you problem could already be fixed.

[2018-11-12 08:46] n1ru4l commented on #1411
@VinceBT https://github.com/react-native-community/react-native-camera/pull/1916 this might solve your issue.

[2018-11-12 09:49] sibelius commented on #1915
we upgrade it to latest node LTS (10) and also yarn version

check the code here https://github.com/entria/docker-react-native-android

maybe we can have a community docker version based on that one

[2018-11-12 09:49] #1915 closed

[2018-11-12 10:14] n1ru4l commented on #1900
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-12 14:11] mconiglio commented on #1914
Thanks @n1ru4l,

I tried using the master branch and this is happening there as well.

I haven't been able to get a stack trace because I couldn't connect this device to android studio. I was able to connect a Samsung A5 2017 but the error doesn't show up for that one.

I was thinking that for that reason it may be a something related to the hardware and the options I'm passing to the `takePicture

[2018-11-12 14:21] sibelius commented on #1914
try to do `adb logcat`

[2018-11-12 16:36] byronicone commented on #1732
I am also seeing this issue on RN - 0.57.4.

[2018-11-12 17:59] douglashptiago opened #1919 "Incorrect value reading 47 digit barcode 'interleaved 2 of 5' (Brazilian type)"
When reading bar code in 'interleaved 2 of 5' format, a code with 43 digits is being returned, 4 less than expected.
Code that I need: 00190000090050201018400016324188122550000015000
Code that is returned to me: 0019122550000150000000000502010180001632418
Any way to set the desired barcode length?

![captura de tela 2018-11-12 as 15 53 34](https://user-images.githubusercontent.com/14179399/4836585

[2018-11-13 00:08] mconiglio commented on #1914
@sibelius I tried several times with that (disconnecting and re-connecting the device) but the device doesn't show up. I also disabled and re-enabled the usb debugging and the whole developer options.

The only way I had to put the apk in the device is by sending it by bluetooth. But I'm still not able to make it work. I don't know if it's because of the device not supporting it or because of some

[2018-11-13 09:12] JB-CHAUVIN commented on #1878
Thanks you very much, it solved the issue.

[2018-11-13 17:18] sundariragavan commented on #278
Now i'm using "react-native-fs" for image save to particular folder.
The folder is created and image also saved in destination path but the image is not displayed in **Gallery**.
How to fix the issue.

```const path = `${RNFS.PicturesDirectoryPath}/My Album`;
		await RNFS.mkdir(path);
		return await fetch(uri)
			.then(res => res.blob())
			.then(image => {
				RNFetchBlob.fs.readFile(uri, "base64

[2018-11-13 21:28] solohin opened #1920 "How to apply iOS filters like CIImage.applyingFilter to preview stream?"
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-11-14 06:49] chenxin0916 opened #1921 "why make offline bundle cound not preview just loading"
# Question

**To Do First**
- [ ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-11-14 08:14] n1ru4l commented on #1921
I cannot understand what you want. Please provide more information

[2018-11-14 08:16] chenxin0916 commented on #1921
thank you！i solve it

[2018-11-14 08:16] n1ru4l commented on #1920
@sibelius This might be something that should be done in userland I think. It is for images in general so I do not think this should belong into react-native-camera.

[2018-11-14 08:56] #1921 closed

[2018-11-14 08:56] n1ru4l commented on #1919
Does this occur on both android and ios devices?

[2018-11-14 09:21] YouCii opened #1922 "onBarCodeRead don't callback"
# Question

**To Do First**
- [ok] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ok] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ok] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask you

[2018-11-14 10:41] kaueDM commented on #1767
Please update the docs with @n1ru4l answer.
I was unable to build my project using the current `Podfile` example.

[2018-11-14 10:52] n1ru4l commented on #1767
@kaueDM Please feel free to send a pull request!

[2018-11-14 11:41] n1ru4l commented on #1920
I do not know your exact use case but maybe https://github.com/iyegoroff/react-native-color-matrix-image-filters could solve it?

[2018-11-14 11:41] n1ru4l commented on #1922
Could you please ask your question in english?

[2018-11-14 11:51] n1ru4l commented on #278
@sundariragavan You will have to use CameraRoll api (https://facebook.github.io/react-native/docs/cameraroll.html) to save an image to the camera roll.

[2018-11-14 12:00] #1922 closed

[2018-11-14 12:01] sibelius commented on #1920
it makes sense

[2018-11-14 12:01] #1920 closed

[2018-11-14 12:39] vvusts commented on #1609
We still have this issue. We use master version RNCamera.
[code]
**On android** we take photo in landscape mode, EXIF orientation is 0 and image preview is like it is taken in portrait mode.
**If I take photo on IOS** in landscape and rotate phone to portrait image is rotated normally like on phone default camera.

Is there solution for this?

[2018-11-14 15:30] tushgup opened #1923 "Real-time Object detection / Image Labeling Support"
# Feature-Request

**Describe the Feature**
Just like the onTextRecognized prop, it'd be great to have a real-time object detection/image labeling prop!

**Possible Implementations**
From what I understand, onTextRecognized uses Firebase ML Kit on-device text OCR, so I'm guessing the model can be switched to their image labeling module.
See: https://firebase.google.com/docs/ml-kit/label-images
htt

[2018-11-14 18:19] SimonErm commented on #1859
Maybe we can use https://sonarcloud.io/about/sq . It's free for open source projects.

[2018-11-14 19:03] mateuszmatyszkowicz opened #1924 "Barcode Scanning (Aztec Code)"
It's possible to improve barcode scanner for aztec code?  I couldn't scan any aztec code (ex. https://dscu.pl/wp-content/uploads/2016/12/zdjecie-probne.jpg) using Camera with `onGoogleVisionBarcodesDetected` and also `onBarCodeRead`, both function was testing independent.
Has anyone had simmilar problem and managed to workaround it? Or maybe there are more suitable libraries to aztec codes which I

[2018-11-15 00:17] YouCii commented on #1922
Sorry, but the problem occurs only on a custom Android phone of China. So...

[2018-11-15 01:00] meiqi1992 commented on #1162
Same issue ，how to do it? really need help~

[2018-11-15 07:41] n1ru4l commented on #278
@sundariragavan Probably my moving the picture there with react-native-fs and then using the destination file uri with as the first param of `CameraRoll.saveToCameraRoll`?

[2018-11-15 07:42] n1ru4l commented on #1923
Hey @tushgup

thank you for your feature request. It would be awesome if you could implement this feature.

[2018-11-15 12:06] asgerhallas commented on #585
@maddanio could seem like `<Swiper loadMinimal>` does the trick.

[2018-11-15 15:18] jonathangreco commented on #1535
@sibelius Do I have to understand here, that preview camera is always in 4:3 ? Even if the capture is in 1080p ratio ?

[2018-11-15 17:01] Tsiniloiv opened #1925 "Setting focus area"
# Question

**Ask your Question**
Hey y'all. I'm trying to move the main focus point of the camera away from the center, because we've been running into some issues with finding steady focus there. Tap to focus has worked as a stopgap solution so far, but what I'm really after is continuous focus on a different area of the camera view.

Working on Android, react native version 0.55.2, with a modif

[2018-11-15 18:16] tonybebber commented on #1844
@rafirr - I'm getting the same error. Were you ever able to figure out why this error is occurring?

[2018-11-16 03:51] sundariragavan commented on #278
@n1ru4l  If i'm use <CameraRoll.saveToCameraRoll>the image is saved in ***DCIM*** folder.

[2018-11-16 05:26] arvinddr opened #1926 "How to show an error message when RNcamera doesn't pickup the barcode for some reason."
I have a requirement to show an error message to user when barcode is not recognized for some reasons.  Could anyone say how an error like this can be handled.

[2018-11-16 07:49] n1ru4l commented on #1747
@jqn Please send a pull request if you think we could improve the documentation.

[2018-11-16 08:19] BrightonWeBill commented on #1564
what was causing the error

[2018-11-16 10:42] TarikFojnica commented on #1564
Adding this to `Info.plist` fixed the thing.

[code]

[2018-11-16 11:34] sommesh commented on #1407
@cihadturhan Please let me know have you fixed this issue ..

I'm facing the same issue when integrating firebase ..

[2018-11-16 22:19] ryekerjh commented on #1864
@fokoz Did you ever find a solution for this?

[2018-11-17 15:15] AlexSeoven commented on #1897
How do you solve your problem?

[2018-11-18 04:31] fokoz commented on #1864
@ryekerjh don’t set mute in record options. Even if you set muted=false it will be muted anyway.

[2018-11-18 13:18] toeyanuntachai commented on #1826
@Ratnesh-Kumar Yes, I have resolved this issue, because I have installed some package that using the same dependency "com.google.android.cameraview", so looks like it's will confuse to resolve the correct package.

P.S. Sorry for English, I'm trying to practice it.

[2018-11-18 15:15] #1826 closed

[2018-11-19 09:50] SimonErm commented on #1837
Which targetSDK are you using? I think this could cause the fallback. I am facing the crash on useCamera2Api prop too and going to fix it this week.

[2018-11-19 10:06] n1ru4l commented on #1926
There is currently no such feature implemented. You could implement this functionality by sending a pull request. This feature will require code changes on the android and the ios codebase.

[2018-11-19 10:15] n1ru4l commented on #1924
@mateuszmatyszkowicz Mobile Vision should support aztec barcodes: https://developers.google.com/vision/android/barcodes-overview

Is it possible you have overwritten `barcodetypes` https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#barcodetypes?

Also Mobile Vision is now part of ml-kit. Maybe we should upgrade (https://firebase.google.com/docs/ml-kit/read-b

[2018-11-19 11:30] swaroopa94 commented on #1897
@zouminhuababa Can you tell me how did you solve this problem..

[2018-11-19 11:39] swaroopa94 opened #1927 "video is not playing after saving to gallery, when used recordAsync()"
# Bug Report
**To Do First**
-I used the latest version of this module

**Related Modules**

**Platforms**

**Versions**

- Android:7
- iOS:10
- react-native-camera:^1.4.1
- react-native: 0.53.0
- react:16.2.0

**Description/Current Behaviour**
I recorded the video using recordAsync() method It returned a uri and I saved i to local gallery but the video is not at all playing showing 0 sec and o by

[2018-11-19 14:12] SirhanDada opened #1929 "undefined is not an object (evaluating 'Z.Aspect')"
I'm getting the message: "undefined is not an object (evaluating'z.Aspect') render the demo code in Android. Can someone help me?

![bd5cf52a-bc7c-4fb5-890e-201d59875659](https://user-images.githubusercontent.com/45172643/48712038-ecf72400-ebf3-11e8-8ecc-1bd54b6aee58.jpg)

[2018-11-19 14:13] sibelius commented on #1929
your react-native link is wrong

do it again and rebuild

[2018-11-19 14:13] #1929 closed

[2018-11-19 16:14] equesteo opened #1930 "pauseAfterCapture option not working"
# Bug Report
**To Do First**
- [X] Did you try latest release?
- [ ] Did you try master?
- [X] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**

- Android: 7.1.2
- iOS:
- react-native-camera: 1.4.1
- react-native: 0.55.4
- react: 16.2.0

- react-native-navigation: 2.0.2556

**Description/Current Behaviour**
When taking a picture using RN

[2018-11-19 17:17] ryekerjh commented on #1864
@fokoz My coworker found that shortly after I tagged you. Thanks so much for responding!

[2018-11-19 19:17] nosuchip opened #1931 "takePictureAsync: expected a Camera component"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**

- Android: API 27
- react-native-camera: 1.4.1
- react-native: 0.57.4
- react:16.6.0-alpha.8af6728
react-navigation: 2.18.2

**Description/Current Behaviour**
Code below failed on either Android

[2018-11-19 20:12] AlexSeoven commented on #1927
@swaroopa94, i have similar problem
but after request permissions i can save video on android
try, maybe it helps

[code]

[2018-11-19 20:12] mateuszmatyszkowicz commented on #1924
@n1ru4l I tried it with barCodeTypes and without, but It didn't help. How long it would take to upgrade it for the new version? Did you recommend any other implementation barcode scanner for android? Because  for iOS it works well,. Anyway, thanks for your reply.

[2018-11-19 20:20] sibelius commented on #1927
we need to improve docs about permissions

this package won't ask for all the permissions, write permission should be asked in user landed, as not will save video in galerry for instance

[2018-11-19 20:33] sibelius commented on #1927
We save the video in a temporary location, so you don't need permission for that

but when you want to move to gallery or process the video you need the permission

this is how Expo Camera was implemented, that's why is kind of tricky

[2018-11-19 20:35] n1ru4l commented on #1927
I will send a PR to the docs with the snippet that I am using!

[2018-11-19 20:39] #1864 closed

[2018-11-19 20:41] n1ru4l commented on #1924
I have no requirements for qr codes in my application (yet) and I never worked on a project with barcode scanning so sadly I cannot give you an advice. 😕

Maybe someone else could provide more information or could do some research!

[2018-11-19 20:41] n1ru4l commented on #1864
:tada: This issue has been resolved in version 1.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-19 20:51] n1ru4l commented on #1890
What is your opinion on replacing Camera1 with Camera2 in this major bump?

[2018-11-19 20:53] mateuszmatyszkowicz commented on #1924
I have done some research and I encountered https://github.com/dex4er/barcodescanner-lib-aar this library It's looks promising under other project like Ionic (cordova), but I didn't manage to implement it under react-native because JAVA is not my strong suit.

[2018-11-19 20:54] sibelius commented on #1890
what is the minimum android level for react-native? is it higher than camera1 requirements? I feel that camera2 is still buggy

I'd rather keep camera1 and camera2 for now, and we can deprecate camera1 api in another major release

[2018-11-19 21:16] n1ru4l commented on #1924
@mateuszmatyszkowicz Can you scan the code by using the following app? https://github.com/ravi8x/Barcode-Reader

[2018-11-20 00:47] SimonErm commented on #1931
I was not able to reproduce the error with the code you provided. Can you post the Logcat-Log?

[2018-11-20 02:38] nosuchip commented on #1931
@SimonErm sure. Here is `logcat` from the moment screen with code above opened till I click "snap" button:
[code]

[2018-11-20 02:41] nosuchip commented on #1931
If it is related somehow I am operating on Linux Mint 18.3 x64. I thought that it is issue of emulator but on my Android phone (Xiaomi  Mi6, Android 7.1.1) tap on this button does not makes any errors in logcat even.

[2018-11-20 07:02] xcytek commented on #1736
Also, in Xcode under project navigation in the Info.plist file, you have to specify the Privacy - Camera Usage Description with a string Value. Otherwise, you will get an error.

[2018-11-20 07:32] Ratnesh-Kumar commented on #1826
I am trying firebase with RNCamera getting this error, trying to resolve.

[2018-11-20 07:37] barjas commented on #1654
same here , pausePreview has no effect

[2018-11-20 07:40] 2f-concept commented on #1844
@rafirr - I'm getting the same error too, I've found a solution to sole this ?

[2018-11-20 08:55] lucaspang opened #1934 "The camera view flickers with a dark blue mask when start/stop recording"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**
- iOS: 12.0
- react-native-camera: 1.4.2
- react-native: 0.57.2
- react: 16.5.2

**Description/Current Behaviour**
The camera area flickers with a dark blue mask for about 0.1 second whenever I calle

[2018-11-20 11:57] sibelius commented on #1883
don by @n1ru4l

great job

[2018-11-20 11:57] #1883 closed

[2018-11-20 11:57] sibelius opened #1935 "add tests using react-native-testing-library"
# Feature-Request

https://github.com/callstack/react-native-testing-library

[2018-11-20 12:30] n1ru4l commented on #1935
What exactly should be tested?

[2018-11-20 12:32] n1ru4l commented on #1930
:tada: This issue has been resolved in version 1.4.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-20 12:35] sibelius commented on #1935
- [ ] it should render with correct props
- [ ] it should render correctly with render props

maybe more

[2018-11-20 12:35] n1ru4l commented on #1934
@listicos is this caused by your pull request? (#1886)

This should definitely not be the default behaviour.

@lucaspang What happens if you use the [`defaultVideoQuality`](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#ios-defaultvideoquality) property?

[2018-11-20 13:09] SimonErm commented on #1935
Maybe we could add a test app and use https://github.com/wix/detox. Furthermore the test app could be used for static analysis like https://sonarcloud.io/about/sq

[2018-11-20 13:11] sibelius commented on #1935
related to https://github.com/react-native-community/react-native-camera/issues/1620

Detox would really test end to end this component

[2018-11-20 13:38] n1ru4l commented on #1935
Can Detox test hardware? Most issues with this project can unfortunately only be tested manual 😢

[2018-11-20 13:45] sibelius commented on #1935
it can run on devices

like this AWS Device Farm

[2018-11-20 14:11] n1ru4l commented on #1935
That is pretty rad but we would need a sponsor first!

[2018-11-20 14:22] n1ru4l commented on #1844
@rafirr @tonybebber  @2f-concept Could anyone of you please provide a reproduction repository?

[2018-11-20 14:31] n1ru4l commented on #1826
@Ratnesh-Kumar We cannot help you with clashing dependencies. It seems like you  have to force a specific version for all resolved `com.google.android.cameraview` dependencies in your `build.gradle`.

[2018-11-20 14:40] sibelius commented on #1826
we need more docs about this topic

[2018-11-20 14:41] n1ru4l commented on #1216
Seems like a feature request for RNCamera! Feel free to send a pull request that implements the bounds for `RNCamera`

[2018-11-20 14:47] n1ru4l commented on #1826
@Ratnesh-Kumar Can you please provide a reproduction repository so I can figure out a solution that can be documented?

[2018-11-20 15:13] SimonErm commented on #1216
@n1ru4l  Yes, the actual behaviour is the expected behaviour. Like said in the discription of  #1402 (@sash ) , Android and iOS returns different bounds since ZXing returns no real bounds, but ResultPoints (https://zxing.github.io/zxing/apidocs/com/google/zxing/ResultPoint.html). I though that this already was added to the docs, so i will make a PR.

[2018-11-20 15:14] SimonErm commented on #1216
@anchoretics which version of react-native-camera are you using?

[2018-11-20 15:31] n1ru4l commented on #1216
@SimonErm Can't we convert the android bounds to the ios equivalent?

[2018-11-20 15:32] n1ru4l commented on #1890
Alright.

Any features in RCTCamera that are currently not in RNCamera?

[2018-11-20 15:51] SimonErm commented on #1216
@n1ru4l  We could test, which codes deliver which resultPoints and calculate the origin and size before emitting the event. The bounds wouldn't be exact since the resultPoints don't deliver data to calculate the barcode heights and the QR-Corners are not the outer corners, but i think it would be more convenient for the user to handle iOS and Android the same way.

[2018-11-20 16:15] SimonErm commented on #1848
@Petka17  Cann you try if this is fixed without workaround in latest release? #1908

[2018-11-20 16:21] Tsiniloiv commented on #1925
Worked around it for now by moving away from CONTINUOUS_PICTURE and simply scheduling an autofocus operation every second or so. Seems even going that far I still need to set the focus area every time the autofocus is called. Could be some interaction there that's causing this? I don't know enough about the low-level camera code to even know where to start looking.

It doesn't seem to have any not

[2018-11-20 16:21] #1925 closed

[2018-11-20 16:34] SimonErm commented on #1735
can this be closed?

[2018-11-20 16:43] sibelius commented on #1735
relink properly

[2018-11-20 16:43] #1735 closed

[2018-11-20 18:59] 2f-concept commented on #1844
@n1ru4l I've uninstalled then reinstalled manually this plugin and never seen this message again.

[2018-11-20 19:10] sibelius commented on #1844
tks

[2018-11-20 19:10] #1844 closed

[2018-11-20 20:01] tonybebber commented on #1844
I'm not sure if this was the proper fix, but I got things working by updating the dependencies section in `/android/app/build.gradle`. When I updated the com.google.android.gms:play-services-vision dependency from 12.0.1 to 15.0.2, the error went away.

Here is what the relevant code in `dependencies` looks like for me, now that things are working as expected.

[code]

[2018-11-20 21:34] n1ru4l commented on #1860
Please use the issue template for reporting bugs.

[2018-11-20 21:34] #1860 closed

[2018-11-20 21:37] n1ru4l commented on #1869
The link to the barcodes that cannot be recognized does not work since they are from a private slack. You can upload images on github by drag'n'dropping them into you comment.

If you want to tackle this issue please feel free to send pull requests!

[2018-11-20 21:38] n1ru4l commented on #1887
If someone has ideas on how to improve the barcode scanning capabilities please feel free to share your thoughts!

[2018-11-20 21:39] n1ru4l commented on #1873
Closed due to inactivity

[2018-11-20 21:39] #1873 closed

[2018-11-20 21:43] n1ru4l commented on #750
Please use RNCamera if you still experience these issues open a new issue!

[2018-11-20 21:43] #750 closed

[2018-11-20 21:43] n1ru4l commented on #608
Please use RNCamera and open a new issue if you still experience this issue!

[2018-11-20 21:43] #608 closed

[2018-11-20 21:44] #461 closed

[2018-11-20 22:55] SimonErm commented on #1216
I will try to do this at the weekend

[2018-11-21 02:18] lchang70163 opened #1937 "open and close flashlight"
# Question

**To Do First**
- [ ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-11-21 04:41] Craigtut commented on #1830
@Tsiniloiv - How did you get tap-to-focus on Android to work? Only iOS appears to be supported. Did you build it in yourself?

[2018-11-21 07:30] SimonErm commented on #599
Does this issue still occure with RNCamera?

[2018-11-21 07:33] SimonErm commented on #726
Does this issue occure with RNCamera too?

[2018-11-21 08:15] 2f-concept commented on #1844
@tonybebber When I apply Your changes to my `/android/app/build.graddle` the error come back...
It seem realy to be an issue around this but I don't know how to set the proper version.
Here is the code that work for me:
`implementation (project(':react-native-camera')) {
        exclude group: "com.google.android.gms"
        implementation 'com.android.support:exifinterface:26.+'
        implemen

[2018-11-21 09:41] rafirr commented on #1844
@tonybebber, @2f-concept for me that's working:

[code]

[code]

[2018-11-21 10:01] Tsiniloiv commented on #1830
@Craigtut Built it in myself based on some Stack Overflow answers. How to do it:

Drop this into com.google.android.cameraview.CameraView

[code]

Drop this into com.google.android.cameraview.Camera1:

[code]

Add an abstract submitFocusAreaRect to the CameraViewImpl class, and stub it in Camera2 and Camera2Api23.