[2015-04-01 02:40] mrjjwright opened #2 "Recommendation"
For what it's worth, I think this is the best camera library out there to wrap.  Just my opinion, using it in my app and it's awesome.

https://github.com/IFTTT/FastttCamera.

[2015-04-01 02:52] lwansbrough commented on #2
Looks nice, though I'm wondering if it's a good idea to wrap third party libraries. I think it would be nice if this library didn't have dependencies on other iOS libraries - I'm open to have a discussion about it.

[2015-04-01 02:54] mrjjwright commented on #2
Totally up to you.  I know I won’t have a problem with it because there are a lot of very high quality third party libs out there and it saves a ton of work.  There will be lots of camera modules and it’s cool you are leading the way.  Perhaps you will find some good code in there.

[2015-04-01 02:58] lwansbrough commented on #2
Yeah, for now I think it's probably best to stick to core libs since RN is so young. Once adoption picks up I'm sure someone will fork this to add a third party library of some sort - not sure I want to make that my concern right now. :)

[2015-04-01 03:00] mrjjwright commented on #2
I personally don’t think the decision has anything to with the age of React.  It’s more the trajectory and stability of the third party lib you are wrapping versus writing one from scratch.   In a lot of cases I trust the battle tested nature of a third party lib, especially one that tis used in several production apps.

[2015-04-01 03:03] lwansbrough commented on #2
I suppose I have no real reservations about using a third party library, but I'd like to hear what other people think too. I'll leave this open for now - I'd like to hear from some more people before making any decisions like that. Also I'm not an Objective C developer so there's something to be said about using a hardened 3rd party lib. ;)

[2015-04-01 03:07] mrjjwright commented on #2
Absolutely cool.  Not suggesting anything for this lib at all.

[2015-04-01 03:51] deanmcpherson opened #3 "libRCTCamera.a is missing"
Hey there,

I'm trying to give this a go, but can't find the .a file to add to the build step, I might be missing something though.

[2015-04-01 05:05] deanmcpherson commented on #3
Figured it out,

```#import "RCTViewManager.h"```
in RTCCameraManager.h wasn't resolving as the project wasn't searching the react project for header files.

I added ```$(SRCROOT)/../react-native/React``` as a recursive search path in the build settings and it worked like a charm.

[2015-04-01 07:42] lwansbrough commented on #3
Oh yeah I forgot to include that step. Thanks for posting the solution.

[2015-04-01 07:42] #3 closed

[2015-04-01 13:04] voronianski opened #4 "Getting Started is not clear"
Add libRCTCamera.a to Build Phases -> Link Binary With Libraries

Where is `libRCTCamera.a`?

[2015-04-01 13:17] voronianski commented on #4
@lwansbrough ok.. I get it working:

1. `npm install react-native-camera --save`
2. In XCode, right click Libraries ➜ `Add Files to ______`
3. Go to `node_module` ➜ `react-native-camera` and add `RCTCamera.xcodeproj`
4. Add `libRCTCamera.a` (it's in workspace) to `Build Phases` ➜ `Link Binary With Libraries`
5. Run (`Cmd+R`)

I leave this open if somebody will be stuck too.

[2015-04-01 13:25] voronianski opened #5 "Build Fail - undefined is not an object (evaluating 'NativeModules.CameraManager.checkDeviceAuthorizationStatus')"
I've got a build fail everytime with such traceback:

[code]

[2015-04-01 16:35] lwansbrough commented on #4
Thanks, this is more thorough, I'm going to add it to the readme.

[2015-04-01 16:35] #4 closed

[2015-04-01 17:05] darylrowland opened #6 "This is brilliant!"
Love this - works really well. How soon do you think it'll be until you have the capture working?
It would also be really useful if the width could fill the current view, i.e. use flexbox or view styling to fit the space it is in.

Cheers!

[2015-04-01 17:28] lwansbrough commented on #5
Working on a fix for this now, sorry I didn't realize this problem since I'm working on a project which includes the files directly.

[2015-04-01 17:40] lwansbrough commented on #5
Hey, please see the updated getting started section. Also make sure that the module is up to date.

[2015-04-01 17:40] #5 closed

[2015-04-01 18:13] lwansbrough commented on #6
Thanks! I'm going to work on camera switching and capture today, we'll see how far I can get. Also, if you remove the width style and just set the height, then the camera will fill the bounds as you'd expect from flexbox.

[code]

[2015-04-02 12:14] developerworks opened #7 "Add QRCodeReaderViewController support"
I am not a professional ios programmer, If you can support the qr code reading, that's very nice. I think it must be useful for many apps, and will be very welcome.

https://github.com/yannickl/QRCodeReaderViewController

[2015-04-02 16:51] eduedix opened #8 "sample code in README produces error"
I get the following error in iOS simulator, when I try to run the sample code in README:

[code]

Is this normal when the app is run in iOS simulator?

[2015-04-02 17:13] lwansbrough commented on #8
Ah, yes I think that is to be expected. The simulator doesn't have a camera. That being said, I should add some checks to make sure the app isn't throwing errors/crashing in the simulator.

[2015-04-03 23:16] lwansbrough opened #10 "`takePicture` captures first frame from output buffer instead of current frame"
When you take a picture, the picture taken isn't actually the picture in your frame when the image was supposed to be captured. Instead, the first (at least, I think it's the first..) frame that is outputted to the `AVCaptureStillImageOutput` instance is the frame that is captured by `captureStillImageAsynchronouslyFromConnection`. I'm looking for some help on this, as I'm not really sure what the

[2015-04-04 14:15] wootwoot1234 opened #11 "Added this to ReactNativeModules.com"
I put together http://reactnativemodules.com last night and added your module.  It's a community run list of react native modules.  Hopefully it will make finding projects like these easier.  Am I missing any that you know of?

[2015-04-04 20:44] lwansbrough commented on #11
https://github.com/ericvicenti/react-native-community - You should make that site read from a JSON list than can be updated via pull requests on GitHub! :+1:

[2015-04-04 20:44] #11 closed

[2015-04-04 21:55] wootwoot1234 commented on #11
Sure!  Send me a link to the json file.  You can also create an account and add the modules there.  I'd be happy to make you or @ericvicenti admin.

[2015-04-07 22:19] kocyigityunus commented on #10
i think this is related to  : https://github.com/facebook/react-native/issues/725

you need to create an array as singleton. add all objects on manager's init method to that. and on a callback or some time later check if an object doesn't have a reactTag. if object doesn't have a reactTag it's a temp object for react and will not be on the js side.

for reactTag look at "UIView+React.h"

[2015-04-08 17:42] lwansbrough commented on #10
@kocyigityunus Sorry, I'm not quite sure I'm seeing the correlation here. Do you think you can elaborate on how this affects the `captureStillImageAsynchronouslyFromConnection` callback?

[2015-04-08 17:46] kocyigityunus commented on #10
i think there is 2 layer when started. and only one of them continuing to update after first round. and ypu are trying to take picture from the first one.

[2015-04-08 17:54] lwansbrough commented on #10
That definitely sounds possible. But my callback doesn't reference a view (which, as per your instruction, I would use to check for `reactTag`), so I'm not sure how I could make sure the callback is referencing the right objects. Would I want to somehow associate each object with the current camera view's `reactTag` during the init?

[2015-04-08 18:25] lwansbrough commented on #10
@kocyigityunus Maybe the best solution is to store the objects inside the camera view?

[2015-04-08 18:28] kocyigityunus commented on #10
actually. on the init method at the manager. reactTag is always null. after first round or after some method call the reactTag fill with the right id to one of two objects. so i think you can continue to manager as a singleton manager. but you need to seperate that two views.

i am still trying to learn this manager things etc.

[2015-04-08 18:33] lwansbrough commented on #10
Yeah I'm new to this too. And Objective-C programming hahah. I'm going to try and store all state in RCTCamera, and then delegate manager method invocations to the RCTCamera. This should keep the manager stateless (which I think is preferred?)

[2015-04-08 19:19] lwansbrough commented on #10
That worked!

[2015-04-08 19:21] kocyigityunus commented on #10
congratulations. i think this will be a great reference project for beginners.

[2015-04-08 20:52] #10 closed

[2015-04-13 03:54] lazaronixon commented on #7
:+1:

[2015-04-16 16:28] brianchirls opened #13 "Viewfinder does not work"
Adding this as noted under known issues in the readme, so we can discuss possible solutions.

It looks like you're not adding the `ViewfinderView` as a subview on `RCTCamera` anywhere. React does not take care of this automatically. I added some debug code to `layoutSubviews` and saw that the viewfinder does not have a `superview`, nor does it show up in the list of subviews, which is empty anyway

[2015-04-16 17:39] lwansbrough commented on #13
Re: the viewfinder not being added as a subview - I'll take a look at this first, obviously sounds like it would be the major issue.

[2015-04-16 17:40] lwansbrough commented on #13
As for the camera not starting up sometimes, I think I have fixed that by moving most of the logic out of the RCTCamera class itself and into RCTCameraManager. I hope that fixes it anyway..

[2015-04-16 18:25] brianchirls commented on #13
It looks like you moved everything out of the manager into the camera and then back again. What prompted that decision?

[2015-04-16 19:58] lwansbrough commented on #13
@brianchirls I initially moved everything into the view in the hopes that I would be able to instantiate multiple different cameras at once, but I quickly realized this was the wrong choice for two reasons: You can't run multiple cameras at once, and React Native creates a shadow view which ended up having the access to the camera in some cases and so the viewfinder wasn't working for the "real" (

[2015-04-16 20:04] brianchirls commented on #13
Okay, that makes sense. Thanks.

[2015-04-17 00:18] lwansbrough commented on #13
Please see the latest release. The viewfinder issues *should* be resolved!

[2015-04-17 01:34] #13 closed

[2015-04-19 22:56] lwansbrough commented on #7
https://github.com/lwansbrough/react-native-camera/commit/60fe613bd1ad2ad8efca3d22e5219d173eabd6ef

[2015-04-19 22:56] #7 closed

[2015-04-21 03:46] developerworks opened #14 "Compatibility with react-native 0.3.11 or above !"
I created a new project with:

[code]

It can be running on Simulator and iPhone4S

And i install `react-native-camera` with:

[code]

and follow README introduction, add the RCTCamera project to ReactNativeCameraTest, It shows the error:
https://github.com/facebook/react-native/issues/917

And shows a white screen on my 4S.

My Env:

XCode 6.2
Node: iojs 1.7.1
React Native: 0.3.11

[2015-04-21 06:09] lwansbrough commented on #14
Looks like this might be called by the `react-native` dependency. This has already been patched: https://github.com/lwansbrough/react-native-camera/blob/master/package.json but I haven't published those changes to npm. I suppose I should do that if the module is breaking stuff.

[2015-04-21 06:11] lwansbrough commented on #14
@developerworks I just pushed v0.1.1 to npm - let me know if that fixes it.

[2015-04-21 07:39] booxood commented on #8
+1

[2015-04-21 12:40] developerworks commented on #14
@lwansbrough

It's fixed.

[2015-04-21 12:40] #14 closed

[2015-04-21 12:48] developerworks opened #15 "Add startScanning and stopScanning method."
There is a project which added `startScanning` and `stopScanning` based on your project.

https://github.com/lifuzu/ReactNativeBarcodeScanner/blob/master/iOS/RCTBarcodeScannerManager.m#L168

But that project is not a module project , It's a full xcode project and can not be added as Library dependency

[2015-04-21 17:26] lwansbrough commented on #15
The problem with adding the `startScanning` and `stopScanning` methods is that it ends the camera session - which in turn stops the viewfinder from updating. I decided instead to create an event handler prop that you can include which will receive data whenever a barcode is in view. Have you tried this out? Right now there's no rate limiter so while the barcode is in view, the event handler gets s

[2015-04-21 21:25] steffenmllr commented on #15
I was also working on something like this, which kind of already works. The only problem I have is that the video sometimes freezes. Here is what I have so far: https://gist.github.com/steffenmllr/2eca6921525e3b9c7940

I have about 1 week in objective-c experience so not the best code I've written in my live :)

[2015-04-21 22:29] lwansbrough commented on #15
Thanks for your input guys. As far as I'm concerned, the barcode functionality is a solved problem. It needs to be tuned, but I don't necessarily agree that the API needs to change from it's current form. If you have a concern regarding the implementation, please don't hesitate to bring it up here.

[2015-04-22 23:55] rt2zz opened #16 "add method to save image to disk and return path"
How might image manipulation be supported? Namely scaling and cropping. Right now I have patched the module to crop the image square:
[code]
It would be nice to have an API to do arbitrary cropping/resizing, but I am not sure how to go about implementing this (iOS newb). Perhaps a second method called `takePictureWithManipulations` which takes a configuration object. The API could emulate the canv

[2015-04-23 00:16] lwansbrough commented on #16
Personally I'd prefer to keep image manipulation separate from the camera module, otherwise we'd be opening up a whole other can of worms. It should be pretty easy to pass the captured image into an image manipulation module though. Just take the output from `takePicture` and pass it to another module, for example:

[code]

[2015-04-23 00:27] rt2zz commented on #16
Makes sense, although I think it is expensive to cross the bridge 3 times
with a large payload, so it would be nice to have the ability to get a
string image id rather than the full base64 image. Not sure how the image
would be stored/passed around on the iOS side though...

On Wed, Apr 22, 2015, 17:16 Loch Wansbrough <notifications@github.com>
wrote:

[2015-04-23 00:51] lwansbrough commented on #16
@rt2zz I agree, perhaps a singleton could be created which could be accessed by any module.

[2015-04-23 02:18] lazaronixon commented on #15
I did this component using react-native-camera to simplify barcode scan... working 100% and easy..
Thanks a lot @lwansbrough you are the guy.
Some suggestion or enhancement is welcome.
https://github.com/lazaronixon/react-native-qrcode-reader

[2015-04-23 02:47] lwansbrough commented on #15
@lazaronixon Thanks for sharing :)

[2015-04-23 02:47] #15 closed

[2015-04-24 18:56] #8 closed

[2015-04-24 18:57] lwansbrough commented on #2
I'm going to close this. The camera is working well without the suggested library, and we currently do not have a way to incorporate pods into React Native modules in a nice way.

[2015-04-24 18:57] #2 closed

[2015-04-26 09:17] rt2zz commented on #16
I am playing with some possible implementations in a fork. Right now I am writing the image to disk, which while slower than keeping it in memory, is nice because I can pass the uri directly to an Image component. Also it will likely play nicely with other modules like https://github.com/kamilkp/react-native-file-transfer. In my very rough testing this reduces the time it takes to take a picture a

[2015-04-26 10:11] lwansbrough commented on #16
@rt2zz That's fantastic, I'd happily accept a PR for such improvements. `capturePictureToDisk` sounds reasonable, the other option could be to add an optional object before the callback on `takePicture` (doesn't require an API change - just a type check) which would have a propertly like `target: 'disk'` or something. Use your discretion - I think I prefer the latter though as it prevents the API

[2015-04-27 09:35] romanonthego opened #17 "Header Search Paths and gitignore"
hey.
I've notice you've used same install pattern as many react-native modules with manual setting up Header Search Path for xcode project.
Problem will rise when node_modules under .gitignore (as it should) and some kind of CI is used - your module will crash builds.
more on this problem - https://github.com/corymsmith/react-native-icons/issues/15.
@corymsmith found it possible to just include it

[2015-04-27 16:51] mrjjwright commented on #2
Oh sorry, I should of closed that.  Thanks!

[2015-04-27 17:42] lwansbrough commented on #17
This should be the case, I think it's there just as a sanity check. Have you experienced any of such problems?

[2015-04-28 09:06] romanonthego commented on #17
No, it's actually a case - if you are using CI and doing it right (aka - not including node_modules/ in repo).

Our app continued failing to build until react-native-icons was forked, Header Search Path set up and fork referenced as source in package.json. Until when Travis was using clean install of npm package without Paths set up and failing to find headers files.

[2015-04-28 09:08] lwansbrough commented on #17
@romanonthego So have you experienced build problems with this module? The Header Search Path is set in the project file.

[2015-04-29 23:28] josebalius commented on #16
@rt2zz @lwansbrough this is a very similar conversation to https://github.com/facebook/react-native/issues/575, would love to see @rt2zz solution i think it is exactly what we need.

[2015-04-29 23:59] rt2zz commented on #16
@josebalius I need to clean things up and make a proper pull request, right now it always saves to the same filename "temp". See sample code below.

RCTCameraManager.m additions:
[code]
In RCTCameraManager.h additions:
`- (void)takePictureToDisk:(RCTResponseSenderBlock)callback;`

[2015-04-30 00:01] lwansbrough commented on #16
@rt2zz This looks great, might I suggest `NSString *uuid = [[NSUUID UUID] UUIDString];` for the file name?

[2015-04-30 06:57] swennemans commented on #16
@rt2zz awesome! Really looking forward to your pull request. The main reason for not adapting react-native for me was not be able to take a picture and upload it.

[2015-04-30 13:11] josebalius commented on #16
I agree with @lwansbrough just name the file with a new random UUID. However @rt2zz it looks great! Go ahead and submit that PR.

[2015-04-30 17:20] lwansbrough commented on #16
@rt2zz Don't worry about docs and stuff. I think I'm gonna refactor the API a bit after your pull request.

[2015-05-01 04:08] rt2zz commented on #16
For now I decided against adding `target` as an options parameter to takePicture because I am wary of having the same method return different data types... well both strings, but one a base64 image, the other a filepath.

That said, long term I imagine this module might support more methods like capturing video or capturing a still from the video preview feed - the most generalized and explicit se

[2015-05-01 04:12] rt2zz commented on #16
also
1. I made a mini demo app for testing: https://github.com/rt2zz/reactNativeCameraDemo
2. With the front facing camera the image is previewed in "mirror" orientation, but the image is captured in normal orientation. Not sure if the intuitive handling is to return the mirrored image or normal image? Maybe this deserves an option as well.

[2015-05-01 04:29] lwansbrough commented on #16
@rt2zz 1.) Nice. 2.) I haven't done anything with this so I assume it's standard behaviour. It makes a lot of sense to me - we're much more used to seeing ourselves in a mirrored perspective, but of course when give someone the image it will look strange to them if it's still mirrored.

Regarding the method names, I agree that "capture" is probably a better verb. Perhaps these changes + a few othe

[2015-05-01 05:20] rt2zz commented on #16
@lwansbrough agreed. I think having a single capture method is probably the cleanest API, and I also agree this api change requires a major version bump.

I have some ideas on adding capture to disk options, but I will likely not be able to implementing them for some time.

[2015-05-01 05:26] lwansbrough commented on #16
Alright, so you think I can merge that PR now and fix up the API for a v2 release? I'd also like to tackle the orientation problem for that release.

[2015-05-01 05:46] rt2zz commented on #16
Sounds good to me

[2015-05-01 05:53] lwansbrough commented on #16
:+1:

[2015-05-01 05:53] #16 closed

[2015-05-01 06:55] amccloud opened #21 "Remove Camera.switch method"
I believe the switch method is imperative and against the ethos of React.

[2015-05-01 07:01] amccloud opened #22 "Remove state within Camera component"
The Camera component should be stateless. Looking at what state is available i believe we can remove it all.

##### isAuthorized

Doesn't appear to be used.

##### aspect, type, and orientation

Derived from props, we should just use the props.

See https://facebook.github.io/react/tips/props-in-getInitialState-as-anti-pattern.html for more information.

I can contribute this change I just want to

[2015-05-01 08:19] lwansbrough commented on #22
I actually just changed this while refactoring the component. See those changes here: https://github.com/lwansbrough/react-native-camera/commit/6dfcfa134e3c5411cd35768efca29e4c14f1cac6

I think the justification behind setting the `isAuthorized` state property was so that it could be read externally to determine the state of authorization, but seeing as it's set within an async call there isn't mu

[2015-05-01 08:19] #22 closed

[2015-05-01 08:20] lwansbrough commented on #21
You and I are very much on the same page right now, haha. I just changed that in this commit: https://github.com/lwansbrough/react-native-camera/commit/6dfcfa134e3c5411cd35768efca29e4c14f1cac6

[2015-05-01 08:20] #21 closed

[2015-05-01 08:21] lwansbrough commented on #16
Changes can be seen here: https://github.com/lwansbrough/react-native-camera/commit/6dfcfa134e3c5411cd35768efca29e4c14f1cac6 Thanks for your help @rt2zz

[2015-05-01 13:46] josebalius commented on #16
Beautiful work guys, thanks!

[2015-05-02 19:51] rt2zz opened #23 "Notes about base64 image & the CameraRoll"
To display the base64 image that is returned by this module:
[code]

Also images can be saved to the CameraRoll with the following patch: https://github.com/facebook/react-native/pull/1111

[2015-05-02 19:51] #23 closed

[2015-05-03 23:49] jonsherrard opened #24 "Can only get aspect fit to work"
Hi! First of all thank you for such a fantastic addition to the react-native eco system. It opens up so many interesting applications!

 - Regardless of the value I use with `aspect={Camera.constants.Aspect.fill/stretch/fit}` the aspect always seems to be fit
 - I've tried setting heights on the `<Camera />` element itself and also wrapping it in a `<View>` and setting height and width constraints

[2015-05-04 01:17] lwansbrough commented on #24
Looking into this now, thanks for reporting.

[2015-05-04 01:22] lwansbrough commented on #24
I can reproduce this - looks like I didn't catch the bug because the demo uses the screen's aspect ratio which matches the "fit" aspect. Hah.

[2015-05-04 01:36] lwansbrough commented on #24
Ah, oh boy. Don't think this fixed it correctly. Now everything is `fill`. 😁

[2015-05-04 01:54] #24 closed

[2015-05-04 10:49] swennemans commented on #16
Awesome guys. @rt2zz I see a lot of cool modules you worked on. Thanks!

A question:
I have an use case where I want to take a picture and upload this to the server. What is the (theoretical) best approach?
 I could either use: `Camera.constants.CaptureTarget.memory` or `Camera.constants.CaptureTarget.disk`.  My initial though was to capture to memory and upload it using fetch. However, based on t

[2015-05-04 12:33] lwansbrough commented on #16
Personally I'll be using react-native-file-transfer. ;)

[2015-05-04 14:02] jonsherrard commented on #24
Thanks Loch, I owe you a drink if you're even in London (UK)

[2015-05-04 14:07] lwansbrough commented on #24
Cheers. 🍻

[2015-05-05 02:19] chriszorn opened #25 "Example missing parts"
The example script is missing some stuff, like the styles and preview function

[2015-05-05 03:38] antoinegrant opened #26 "Displaying the captured image."
So I'm to clear as to how we go about displaying the captured image from memory or from disk? Could give an example?

[2015-05-05 04:03] rt2zz commented on #26
To display the base64 image (i.e. target: Camera.constants.CaptureTarget.memory) the code is roughly
[code]
where base64image is the string returned by the capture method.

To display the `target: disk` image, the code is roughly
[code]
where imageURI is the string returned by the capture method.

You will probably need to play with the width/height, and resizeMode prop to get everything the way y

[2015-05-05 04:39] xiekunRonaldo opened #27 "can't find variable:preview"
When I use curl to bundle js files into main.jsbundle and use

[code]
to build into devices, It reports `can't find variable:preview` error

[2015-05-05 04:44] antoinegrant commented on #26
That very helpful, thanks.

[2015-05-05 05:45] xiekunRonaldo commented on #27
I misused it!

[2015-05-05 05:45] #27 closed

[2015-05-05 06:11] #25 closed

[2015-05-05 06:11] #26 closed

[2015-05-06 07:58] flyingfeet opened #28 "Start camera on button click"
Hey,

first of all I'm very new to react native and it's concepts. I'm evaluating cross-platform frameworks for my thesis.

I want to ask, if it's possible with your plugin to start the camera when a button ("take picture") was clicked, then of course take the picture and show the taken image below the button. I didn't get it working, just the background camera, but then I had problems with my Tab

[2015-05-06 08:17] lwansbrough commented on #28
I don't think your problem is really specific to this module, but perhaps I can help. The camera starts when its `<Camera/>` element is rendered. Thus, if you want the camera to start, render the `<Camera/>` element. If you don't want it rendered, you need a way to determine when it should be rendered and when it shouldn't. This is what state is used for in React.js/React Native. Based on what you

[2015-05-06 08:17] #28 closed

[2015-05-06 10:03] lukasreichart opened #29 "Write image to tmp directory instead of encoding it."
The capture function returns the image Base64 encoded. I'd propose to add another mode to the capture function:
Instead of returning the image to the callback, we write it to the \<Application_Home>/tmp directory using a UUID as the filename. The callback just receives the UUID instread of the Base64 encoded data.

I could implement this feature easily but first wanted to check if anyone comes up

[2015-05-06 10:54] flyingfeet commented on #28
Thanks for your quick response!
I already thought about your solution at the end but then the user didn't know what picture he takes because he doesn't see any picture. Am I right?
My problem is also that I didn't get the camera in fullscreen mode in front of all other stuff. It's always in the background and blocks my TabBar navigation...

[2015-05-06 13:12] swennemans commented on #16
@lwansbrough cool :)

Any experience already using react-native-file-transfer? I'm trying but cannot get it to play nicely together. Any tips?

I also opened an issue: https://github.com/kamilkp/react-native-file-transfer/issues/1

[2015-05-06 19:36] rt2zz commented on #29
Agreed about having a configurable subfolder. It should probably default to a subfolder like "RCTCamera".

We did not use the tmp directory by default because it may be cleared out between app restarts, but in some applications this is probably desirable behaivor.

Which leaves the question of desigining the options around this. Something like
`targetBaseDirectory` enum("documents", "tmp") - defau

[2015-05-06 19:40] lukasreichart commented on #29
I think one option would be easier to use:
``` targetDirectory ``` defaulting to "documents/RCTCamera".
( If the directories used in ``` targetDirectory ``` don't exist we can easily create them. )

[2015-05-06 20:01] rt2zz commented on #29
I believe the only two valid base directories are `Documents` and `tmp`... and *Maybe* `Library`. So I would definitely want to enum that value.

As a seperate question, perhaps targetOptions should be its own config object, much like source is an object in `Image`
[code]
Just throwing out ideas, I like to keep things explicit, but I know Loch likes to keep things tidy.

[2015-05-06 21:04] swennemans opened #30 "Uploading an image from disk, file not found."
Saving an image to disk works perfectly, huuuge performance boost versus in memory. :smile:  Also previewing the image works fine.

However, when trying to select the image, in my use case to cloudinary, the url doesn't seem to work. Is there something particular I have to do?
ATM: I save my image to CameraRoll with @rt2zz patch. And send the image with the assets URL.
In my case the `assetsURL` w

[2015-05-06 21:31] lwansbrough commented on #29
Just a thought - what if `target` could be `memory`, `disk`, or a directory? `disk` would basically just be a default directory like we're already doing it.

[2015-05-06 22:19] rt2zz commented on #30
are you using react-native-file-transfer ?

upon very cursory inspection I think react-native-file-transfer has a bug  in supporting file:// tags

Above is a patch that I believe solves your use case, but I have not tested it

[2015-05-09 02:09] jtremback opened #31 "What's up with the constants?"
Really a pretty nitpicky thing to make an issue about, I suppose, but stuff like `Camera.constants.CaptureTarget.memory` is not really idiomatic JS. I'm curious as to what the benefits are over simply configuring with a string?

From my experiences in native dev, it seems that the main advantage of enumerables is that the IDE will catch typos in them. This is not the case in JS, and typing an enum

[2015-05-09 02:41] jtremback commented on #16
@rt2zz About saving the images to disk and cluttering the camera roll... Seems that for better or worse a lot of photo apps actually do this- Instagram for example. I think that maybe users are used to it.

[2015-05-09 21:25] jtremback opened #32 "jsSchedulingOverhead (-5999ms) should be positive"
Get this warning log when using .capture in development mode... I don't know that this is an issue, just FYI

[2015-05-09 21:31] lwansbrough commented on #31
As per the docs, you can use `Camera.constants.CaptureTarget.memory` or `'memory'`.

[2015-05-09 21:31] #31 closed

[2015-05-11 05:29] lukasreichart commented on #29
I think it makes more sense to add some options when using the target ```disk```, because when you define ```disk``` and ```target```, you have two ```captureTarget```'s with nearly the same functionality.
But in the @lwansbrough gets to decide, and I'd be really happy to start implementing this new feature :D

[2015-05-12 19:58] jtremback commented on #23
Is putting the data over the bridge and a base64 conversion twice (once from the camera, once to the screen) a concern at all?

[2015-05-12 22:05] lwansbrough commented on #23
@jtremback Yeah it's slow and locks up other actions from taking place over the bridge while it is being sent as far as I know.

[2015-05-12 23:57] jtremback commented on #23
I found it quite slow as well. Is the base64 conversion option in this module ever a realistic option?

[2015-05-13 00:00] lwansbrough commented on #23
Potentially. It has mostly just been kept as the default for backwards compatibility and predictability.

[2015-05-13 00:01] jtremback commented on #23
Kind of feels like there needs to be some code around handling files and data "over the bridge" in React Native in general.

[2015-05-13 00:03] lwansbrough commented on #23
The bridge is not really designed to be that. React Native is designed to reduce the workload of building a native app, it's not really a "Javascript all the things!" solution. The current suggested method of using file URIs works just fine.

[2015-05-13 00:06] jtremback commented on #23
Off topic for this thread I guess, but I was more thinking about an
abstraction that would let you manipulate data that is on the objC side in
JS without actually copying the actual data over.

I guess saving it on disk and reading it when I need to is good enough for
now though.

On Tue, May 12, 2015 at 5:03 PM, Loch Wansbrough <notifications@github.com>
wrote:

[2015-05-13 00:07] lwansbrough commented on #23
I don't know how you think that would work - the only way to get data between JS and Objective-C is over the JS bridge.

[2015-05-15 10:20] VonD opened #33 "ReactIOSViewAttributes removed in react-native 0.4.3"
The changelog mentions that [requireNativeComponent](https://github.com/facebook/react-native/blob/v0.4.3/Libraries/ReactIOS/requireNativeComponent.js) should be used instead :
https://github.com/facebook/react-native/releases/tag/v0.4.3

[2015-05-15 15:10] dhrrgn commented on #33
Added PR for this here: https://github.com/lwansbrough/react-native-camera/pull/34

[2015-05-15 20:11] #33 closed

[2015-05-19 00:01] rt2zz commented on #29
After thinking about this more, and reading other peoples thoughts in various issues, I think there are several issues that need to addressed, perhaps with signifigant API changes:

1. Make default target be `disk`
2. Make default directory `/tmp`
3. Rename `memory` to `base64String`
4. Add `targetDirectory ` configuration option (like @lukasreichart originally proposed)

This I think will solve a

[2015-05-19 00:20] lwansbrough commented on #29
I'm in favour of doing whatever is best for the community, so let's decide what that is. What @lukasreichart and @rt2zz have proposed seems like a pretty solid solution. If anyone has objections or comments we'd like to hear them.

[2015-05-19 15:15] pmg103 opened #35 "orientationChanged sent to deallocated instance of RCTCamera"
My app keeps crashing with this error:

`*** -[RCTCamera orientationChanged:]: message sent to deallocated instance 0x1246732e0`

Any thoughts? iPad mini 2 FWIW

[2015-05-19 19:19] lwansbrough commented on #35
Has the camera view been removed at this point? (ie. you've changed pages/scenes/states that makes the camera disappear)

[2015-05-19 21:43] pmg103 commented on #35
No. Originally I was doing that, but I wondered if that might be the problem, so i switched to keeping the component on the page the whole time.

I'm handling `onBarCodeRead`. I'll post the code here tomorrow if you'd like.

[2015-05-19 22:06] lwansbrough commented on #35
Yeah sure, and I'll see if I can find some time to take a look at this tonight.

[2015-05-20 06:22] lnut101 commented on #32
Yes i also saw a lot of this warning, but with different values

[2015-05-20 08:07] pmg103 commented on #35
[code]

and

[code]

Seems innocuous enough.

However, everything works fine for a few scans, but then I get the ```-[RCTCamera orientationChanged:]: message sent to deallocated instance``` error and the app crashes.

[2015-05-23 00:25] ortutay commented on #35
I am running into this issue as well. Here as simple component that reproduces the problem:

[code]

To reproduce:
1) Run app on iPhone
2) Click "Toggle" (goes to camera)
3) Click "Toggle" again (goes to plain text page)
4) Rotate iPhone
5) Observe crash

[2015-05-23 14:48] ksokhan opened #37 "Captured image does not crop image to <Camera> viewfinder's ratio"
I expected the outputted image to have the same width/height ratio as the camera viewfinder. However, the returned image is always the full capture of the camera, irrespective of the camera viewfinder's dimensions.

[2015-05-25 23:59] psbanka opened #38 "How to utilize the created image from capture() in an <Image/> component?"
I apologize if this is a dumb question, but after having captured an image with the camera API, I am trying to figure out a simple way to display it. My first thought is to use an `<Image/>` tag, but due to the base-64 nature of the image and the filename used (which does not end with an extension), the `<Image/>` component does not know how to read the data produced.

Is there a way to get the `c

[2015-05-26 00:09] psbanka commented on #38
Ah, sorry, I see this bug is the same as https://github.com/lwansbrough/react-native-camera/issues/26 . I think it would be very helpful to add this to the `README.md`

Thanks for all your work on this.

[2015-05-26 00:09] #38 closed

[2015-05-26 04:53] soliury opened #39 "I don't know why my phone6 to turn on the camera is too slow"
I just give a button on my first scence , and then , when click it can push a new scence which have the camera, but , after I click, it will take 3s to load, and the next , I try more time it go fast, but the first is too low.

[2015-05-26 05:20] rt2zz commented on #39
3s to load the scene or does the scene load immediately and it takes 3s for the camera preview feed to start?

[2015-05-26 07:23] soliury commented on #39
I change to a test component , it load quickly. So I think camera make the loading slow

[2015-05-26 17:48] lwansbrough commented on #39
Will need to see some code.

[2015-05-26 17:50] lwansbrough commented on #37
This is intended - I could see this being a useful setting though.

[2015-05-27 04:34] soliury commented on #39
This is my qrCode Component :

[code]

And In another Component I push this qrCode to the new sence:

[code]

[2015-05-27 04:42] soliury commented on #39
I think I have found the reason , it's the my phone problem , after I reboot my iphone, it works quickly.

[2015-05-27 04:42] #39 closed

[2015-05-27 05:01] lwansbrough commented on #39
Interesting, thanks for letting me know. I'll keep an eye on it.

[2015-05-27 07:28] soliury commented on #39
But sometimes, it also slow....I don't know why

[2015-05-27 13:41] bright-sea commented on #32
Yes, me too. happened when debug on devices. In index.ios.js, I have set a interval checking like:

<pre>
setInterval(FileSystemUtils.checkInboxFile, 3000);
</pre>

[2015-05-27 16:16] lwansbrough commented on #39
The QR code scanner spams the JS bridge if it is in the process of scanning, I've been meaning to fix that. I wonder if that has an effect on the speed of the app.

[2015-05-27 16:37] soliury commented on #39
Ok, I see. When you finish it , can you give me a message in here ? Now I am using this package in a project.

[2015-05-27 22:53] jtremback opened #40 "Make it work with rem"
I can help with this, but you'll need to put this on cocoapods first. Seems like the npm module and the cocoapods module should be owned by the same person.

https://github.com/ReactExtensionManager/rem#writing-modules-for-rem-for-module-authors

[2015-05-28 21:45] pmg103 commented on #35
You are adding an observer of NSNotificationCenter in `RCTCamera setOrientation()`:

[code]

 I think that maybe when the `RCTCamera` instance is deallocated you should remove the observer?

I was able to go ahead and use `react-native-camera`.in my project by actually just removing that observer as my app is fixed in portrait mode anyway.

[2015-05-29 02:18] ksokhan commented on #37
Ok thanks! I'll see if I can set up a PR for this.

[2015-05-29 02:18] #37 closed

[2015-06-02 21:34] #35 closed

[2015-06-02 22:20] lwansbrough commented on #40
`pod spec lint react-native-camera.podspec`

[code]

[2015-06-02 22:38] lwansbrough commented on #40
Changed my podspec:

[code]

And now I'm getting this:

`$ pod spec lint react-native-camera.podspec`

[code]

[2015-06-09 16:31] rpastorelle opened #42 "Update dependencies for Latest React Native (0.5.0)"
If there's nothing in the latest react native (0.5.0) that prevents this from working, can you please bump the dependency requirement? Thanks!

---

When trying to update to RN 0.5.0 got the following:

[code]

[2015-06-09 17:10] lwansbrough commented on #42
Yeah sure. Ah sorry I would have been quicker to do this if I realized npm was throwing an error.

[2015-06-09 18:29] #42 closed

[2015-06-09 19:40] rpastorelle commented on #42
@lwansbrough Thanks!

[2015-06-10 00:58] #40 closed

[2015-06-10 01:02] jtremback opened #43 "Why the 0.5.0 peerDependency?"
This no longer works with `react-native` master. Is it really necessary? I have gone back down to `0.2.9` in the mean time.

[2015-06-10 01:47] rt2zz commented on #43
While react-native is moving so fast I think it would be best to support a liberal range of versions. e.g. `>0.4.2`rather than fixing it on a minor version

[2015-06-10 22:00] lwansbrough commented on #43
Sorry I sort of botched that change. Fixed in 0.2.11, supporting `>=0.4.3`. Thanks for bringing this to my attention.

[2015-06-10 22:00] #43 closed

[2015-06-12 18:25] jtremback opened #46 "Save dummy image when in the simulator"
This will allow much faster development for me. I'm going to dive in and try to make this work, let me know if there have been previous attempts!

[2015-06-12 22:24] jtremback commented on #46
https://github.com/lwansbrough/react-native-camera/pull/47

[2015-06-15 19:58] jtremback opened #50 "Continuing PeerDependency issues."
Trying to install with react-native `0.6.0-rc` still causes a peerDependency error.

[2015-06-15 19:59] jtremback commented on #50
There's significant debate about whether peerDependencies should have been added to npm in the first place. I would vote for eliminating it.

[2015-06-16 14:54] dizlexik opened #51 "Not working if app initialization is triggered through location services"
I've implemented react-native-camera in my app and it's working amazingly, except for this one issue. My app uses location services to constantly scan for beacons. When a beacon is found in range iOS launches the app silently in the background so it can respond to the event. It then leaves the app running. When the app is started in this way the next time I open it (remember it's running in the ba

[2015-06-18 13:58] guodong000 opened #52 "Camera start when app open, so iPhone will become hot"

[2015-06-18 19:24] rt2zz commented on #52
You should use some conditional logic to only display the camera component when it is in use.

The Navigator component will keep the camera in the route stack, so you should either manipulate the stack or have some conditional logic in your camera scene e.g. {this.props.activeScene ? <Camera /> : null}

[2015-06-19 06:50] guodong000 commented on #52
Well, I know...

[2015-06-20 17:23] mrspeaker commented on #50
Is there any way to work around this?

[2015-06-20 23:07] uoroaix opened #54 "[torchMode] Cannot read property 'on' of undefined"
Hi, I am not sure if this is me or is torchMode currently not working?
Here is my code
[code]
And I create a Camera like this
[code]
i've also tried torchMode={this.state.cameraTorch}
but it always says Camera.constants.TorchMode is undefined thus the error Cannot read property 'on' of undefined.

Just wondering if I am using this correctly?

[2015-06-21 01:28] lwansbrough commented on #50
I can eliminate this. Should I just not include any reference to react-native?

[2015-06-21 01:30] lwansbrough commented on #51
Interesting. I'll have to think about the best way to deal with this. It must be possible to detect if they app is running in the background and not run the typical camera initialization if it is.

[2015-06-21 16:18] jtremback commented on #50
You can list the version as `*`, and I think it will be OK.

On Sat, Jun 20, 2015 at 6:28 PM, Loch Wansbrough <notifications@github.com>
wrote:

[2015-06-27 15:12] donghanji opened #55 "[AVCaptureStillImageOutput captureStillImageAsynchronouslyFromConnection:completionHandler:] - inactive/invalid connection passed"
when used the react-native-camera in iOS Simulator-iPhone 6/ iOS 8.3:
<pre>
Exception thrown while invoking capture on target <RCTCameraManager: 0x7fd06a727bf0> with params (
        {
        mode = 0;
        target = 0;
    },
    9
): *** -[AVCaptureStillImageOutput captureStillImageAsynchronouslyFromConnection:completionHandler:] - inactive/invalid connection passed.
</pre>

there are part of

[2015-06-27 15:25] donghanji commented on #55
meme this is answer,
<a href="http://stackoverflow.com/questions/25486080/how-to-access-ios-simulator-camera">http://stackoverflow.com/questions/25486080/how-to-access-ios-simulator-camera</a>

It's not possible to access camera of your development machine to be used as simulator camera. Camera functionality is not available in any iOS version and any Simulator. You will have to use device only fo

[2015-06-27 15:25] #55 closed

[2015-07-02 20:38] lwansbrough commented on #52
I believe the capture sessions are started when the module is initialized, which would be the contributing factor to this issue. With the arrival of video capture I need to ensure these capture sessions do not start prematurely.

[2015-07-02 20:41] #50 closed

[2015-07-02 20:43] lwansbrough commented on #54
Can you confirm that `Camera.constants` is populated?

[2015-07-05 22:37] jtremback commented on #51
The issue is that the camera is not being initialized properly?

[2015-07-05 22:39] jtremback opened #56 "Add GPS metadata to image. (needs docs)"
Might be problematic, because of the need to import the location framework. Will investigate whether this should be in this module etc.

[2015-07-06 05:17] jtremback commented on #56
Probably going to do this as an optional parameter that one can pass to `.capture`. Seems kind of weird semantically, but the react native geolocation polyfill is too good not to use.

[2015-07-06 18:38] jtremback commented on #56
Might be good to actually have that parameter just be general metadata.... or maybe pass it via props?

[2015-07-07 03:06] jtremback opened #57 "Use of UIImage strips some metadata from photo"
In my quest to add GPS metadata, I have found that converting to and from `UIImage` strips some metadata from an image: https://gist.github.com/jtremback/50cf75604c9e5c55db49.

It appears that the only reason that `UIImage` is being used is to satisfy the requirements of the `UIImage+Resize` class that is included in the module. It appears that `UIImage+Resize` is not actually doing anything, just

[2015-07-07 21:40] jtremback commented on #46
This has mysteriously disappeared. Why?

[2015-07-08 05:29] jtremback commented on #57
Successfully stopped stripping the metadata here: https://gist.github.com/jtremback/e5dde527da9bcd69536e

Still need to do the orientation flip.

Unfortunately I wrote this on an older version, so I will need to sort out the merge tomorrow.

[2015-07-08 05:30] jtremback commented on #56
Adding GPS metadata here: https://gist.github.com/jtremback/e5dde527da9bcd69536e

I still need to sort out some merging stuff with the latest version tomorrow. @lwansbrough you may want to bump the version that is on npm to the latest.

[2015-07-09 07:25] jtremback opened #58 "Prompts for microphone access"
This is probably tricky to fix because it involves init, but I cannot have my app ask for microphone access.

Might be worth splitting the video camera into a separate component. It doesn't actually share much code with the still camera.

[2015-07-09 22:28] morukutsu commented on #52
I had the same issue and I added a function to enable the camera capture manually.
See: https://github.com/morukutsu/react-native-camera/commit/db17ea9f2d03e1a5279efd2ff6d92702445f82b7

It obviously need more work but it fixes the problem. The camera manager should be aware of the current status of the camera and avoid calling other functions if the camera is disabled. Also, I did not check if it

[2015-07-10 03:13] lwansbrough commented on #58
Going to close this, let me know if you encounter any problems.

[2015-07-10 03:13] #58 closed

[2015-07-10 03:14] lwansbrough commented on #52
Just added some changes which should address this issue. Give it a try and let me know if you notice anything. Thanks!

[2015-07-10 03:14] #52 closed

[2015-07-10 17:46] lwansbrough commented on #57
Hey @jtremback, thanks for your work regarding this. I think we should do it the way it's *supposed* to be working, which is to transpose the X/Y coords in the final image. This is just simpler for everyone and typically represents what people want the camera to do (otherwise they'd have to manage rotation themselves by reading metadata.)

I think copy/pasting the metadata is a decent solution, so

[2015-07-10 17:48] lwansbrough commented on #51
@dizlexik I changed the way the camera is initialized. I'm not sure if the changes will fix your issue, but I'd appreciate it if you could give it a try. The latest version with the changes is not on npm so you'll have to install via the master branch if you want to try it out.

[2015-07-10 19:00] dizlexik commented on #51
It actually did fix the issue, great!

Although now I can't get bar codes to scan, so I can't use this yet :/  It looks like there was some work in that area but I don't see any documentation updates so I'm not sure if I need to update my code to get that working again. I don't have enough time to dig deeply but I took a quick look at one commit and tried adding `barCodeType={Camera.constants.BarC

[2015-07-10 19:16] lwansbrough commented on #51
Ok, closed a door and opened a window. Not too bad. Thanks for reporting that. I'll have a look at it.

[2015-07-10 19:16] #51 closed

[2015-07-10 19:56] lwansbrough commented on #51
So the `barCodeType={Camera.constants.BarCodeType.qr}` is unnecessary - those constants are only exposed so you can test the bar code scan `event.type` against them (if needed.) There was indeed an issue caused by the new initialization process. Fixed here: https://github.com/lwansbrough/react-native-camera/commit/5d306b54b8cb2670658061758ce427e9e1eecc4b

[2015-07-11 00:11] lwansbrough commented on #46
I think you fixed this?

[2015-07-11 00:12] lwansbrough commented on #56
https://github.com/lwansbrough/react-native-camera/commit/8eb6e9e7dce7d70b9be60a70515a7b972f9a8a40

[2015-07-11 00:12] lwansbrough commented on #57
https://github.com/lwansbrough/react-native-camera/commit/8eb6e9e7dce7d70b9be60a70515a7b972f9a8a40

[2015-07-11 00:12] #57 closed

[2015-07-11 00:13] lwansbrough commented on #32
@jtremback Is this still happening?

[2015-07-11 14:47] jtremback opened #61 "Stuttery viewfinder on switching to camera"
It's kind of dim and stuttery for about a second. Trying to take a picture during this time can crash the app.

[2015-07-11 14:49] jtremback opened #62 "Long pause between hitting shutter and picture being taken"
The first picture is taken instantly, however pictures in quick succession will have a long delay before being taken. Hitting the shutter button quickly enough can crash the app.

[2015-07-11 19:35] lwansbrough commented on #62
Do you think this has something to do with your image rotation code?

[2015-07-12 00:34] pgmemk commented on #32
@lwansbrough Yes it is for me

[2015-07-13 04:03] jtremback commented on #62
Possibly. I'll look into it.

[2015-07-13 05:16] achang28 commented on #62
I'm having a similar issue.  The camera is "paused" for about 15 seconds after the Camera component renders.  But after the it works just fine (provided I don't re-render it). One way of getting around this problem is to not unmount the containing component

[2015-07-13 05:17] achang28 commented on #62
I'm having a similar issue.  The camera is "paused" for about 15 seconds after the Camera component renders.  But after the it works just fine (provided I don't re-render it). One way of getting around this problem is to not unmount the containing component. I'm using 0.3

[2015-07-13 05:39] jtremback commented on #62
@achang28 I think you may be referring to this issue: https://github.com/lwansbrough/react-native-camera/issues/61

What I'm talking about here is something that happens when you hit the shutter several times in quick succession. Tomorrow, I'll try to track down the cause.

[2015-07-13 14:18] lwansbrough commented on #62
@jtremback If it happens to be the rotation code, maybe using the metadata is best?

[2015-07-13 16:45] jtremback commented on #62
If it is the rotation code, then it's due to some flaw in the code, not the fact that the image is being rotated. In that case, I'll switch back to the library that you were using before to do the rotation via resize.

[2015-07-13 18:47] jtremback commented on #62
Yes, it is the rotation code. I'll try some different code. Rotating an image is well within the capabilities of the iPhone.

[2015-07-13 18:47] #46 closed

[2015-07-13 18:47] jtremback commented on #32
Haven't seen this myself, for a while.

[2015-07-14 01:41] lwansbrough commented on #32
@pgmemk Are you using the latest version of the camera?

[2015-07-14 04:40] #62 closed

[2015-07-14 17:35] nraboy opened #64 "What type of bar codes can be read?"
I'm sorry if this is an inappropriate place to ask, but what types of bar codes can be read with this component?  Maybe you can add them to the README?

Thanks,

[2015-07-14 18:21] jtremback commented on #64
I've never used the barcode functionality, but I saw this in the source:

[code]

[2015-07-14 19:43] nraboy commented on #64
Awesome.  Thanks for finding this for me @jtremback :-)

[2015-07-14 19:47] achang28 opened #65 "Enhancement Request: Image Resolution Size"
Would an enhancement request for setting image resolution size make sense?

[2015-07-15 21:18] jtremback commented on #65
I was thinking of doing this, I have no real need for it myself right now though.

[2015-07-16 17:13] lwansbrough commented on #64
@nraboy Yeah that's the list, also the scan event will return the type of barcode recognized.

[2015-07-16 17:13] #64 closed

[2015-07-16 17:19] lwansbrough commented on #65
@achang28 I'd support a PR for this, probably best to do it through the `.capture()` method options. If you're not interested, it's probably something we'll get around to at some point.

[2015-07-16 17:19] lwansbrough commented on #54
Going to close this until someone can reproduce.

[2015-07-16 17:19] #54 closed

[2015-07-16 17:40] achang28 commented on #65
Was thinking of possibly giving it a shot.  If it takes some Obj-C skills && has a bit of complexity to it, then i'm outta luck.  Although I wonder whether my 6 weeks of full-time Swift skills may be useful...

[2015-07-17 03:29] lwansbrough commented on #65
It'll be objective c but shouldn't be too complicated from what I can recall.

[2015-07-17 21:19] jtremback commented on #65
@lwansbrough where will it happen? can we get it in the size we want from the AVCapture session, or does it need to be resized?

[2015-07-17 23:05] lwansbrough commented on #65
@jtremback It happens here: https://github.com/lwansbrough/react-native-camera/blob/e983a6902f2abd5930fc829502867da3c5b63183/RCTCameraManager.m#L101

I think that's what we're talking about? If we're talking about changing the size of the photo based on some given dimensions, I don't think that's actually the job of the camera..

[2015-07-17 23:15] achang28 commented on #65
I think what would be most appropriate (for the Camera) at this point would be to require "quality level" to be provided as (Integer) props, e.g. 1 to 100.  Then this module (react-native-camera) can simply use the provided number as the multiplier for the native camera resolution.

Guessing this would be the simples -- yet decently valuable -- solution.

[2015-07-18 01:56] darkrishabh opened #67 "Phone still heats up"
I tried it using for image capture and it significantly increases the phone temperature
And my code properly mounts and un mounts the component. So there is nothing like it is being kept initiated.

Compared it with the ios camera itself.
Tested on -
iPhone6 [ iOS8.3, 8.4, & 9 ]

[2015-07-18 11:58] morukutsu commented on #65
For me, switching to AVCaptureSessionPresetPhoto did the trick. However, I don't think this is compatible with video.

For reference: https://developer.apple.com/library/prerelease/ios/documentation/AVFoundation/Reference/AVCaptureSession_Class/index.html#//apple_ref/doc/constant_group/Video_Input_Presets

[2015-07-18 21:27] morukutsu commented on #67
Yes, it does. As I pointed out in the previous issue on the subject, the culprit might be there: https://github.com/lwansbrough/react-native-camera/blob/master/RCTCameraManager.m#L147

I guess a little housekeeping (eg. calling stopRunning on the AVCaptureSession instance) is needed before the component is unmounted.

[2015-07-18 23:35] achang28 commented on #67
@darkrishabh: out of curiosity, what exact things are you doing with the Camera module when unmounting?

[2015-07-18 23:38] achang28 opened #68 "Long pause immediately after Camera initializes"
When rendering the react-native-camera module, the app locks up for about 15 seconds before I can interact with the app.  Can't scroll; can't navigate anywhere, etc.  Seems like a case of locking the UI thread.  Anyway, after the 15 seconds, the camera works fine.

[2015-07-19 02:34] sunilp opened #69 "No Audio ?"
Tried implementing with, Video get recorded, but audio, tried with different devices, still same issue.
Also, it never asks the permission to use microphone.

[2015-07-19 07:11] lwansbrough commented on #67
@morukutsu Oh yes I may have accidentally left that lingering. There's a React Native issue triage happening tomorrow, maybe I'll get some of these bugs fixed up then too.

[2015-07-19 07:13] lwansbrough commented on #68
@achang28 Thanks for reporting this, I haven't experienced this but I'm going to look into it tomorrow.

[2015-07-19 16:48] sunilp commented on #32
What it means is that the start date passed on the timer creation (Date.now() on JavaScript) is 5999ms ahead of the current time on iOS ([NSDate now]), when you're running the app on the device and the executor on your computer it's very unlikely that the times will be the same at the millisecond level. So no, don't worry about it.

can simply ignore.

[2015-07-19 17:44] lwansbrough commented on #32
@sunilp That's good news - is there a way we can suppress this notification?

[2015-07-19 20:04] lwansbrough commented on #68
So I saw and replied to your pull request, waiting for your thoughts. In the mean time, here's something I'm proposing. This fixed UI lock up for me, let me know if it works for you.

https://github.com/lwansbrough/react-native-camera/tree/performance-improvements

[2015-07-19 20:05] lwansbrough commented on #67
@darkrishabh @morukutsu @achang28 Please give this branch a try: https://github.com/lwansbrough/react-native-camera/tree/performance-improvements

[2015-07-19 21:01] achang28 commented on #68
Caused a crash (in Xcode) when I unmounted react-native-camera module.  See attached image.

So I Downloaded everything from "performance-improvements" branch, and restarted everything (Xcode, and  terminal instance running Node (iojs v2.3.4)).
<img width="976" alt="screen shot 2015-07-19 at 1 28 21 pm" src="https://cloud.githubusercontent.com/assets/3760499/8767845/a97bcd70-2e1e-11e5-944a-05c22ea

[2015-07-19 21:04] lwansbrough commented on #68
@achang28 Try moving line 97 to before the super call on line 95 and report back.

[2015-07-19 21:08] achang28 commented on #68
oh Damn!  Just retried the app about 15x (e.g. relaunched in Xcode).  Works like a charm!  Awesome shit!  I'll keep playing around with it, but it has been working consistently with "only" a 0.5 second delay after rendering the react-native-camera module.  Consistent 0.5 second delay beats 15 seconds any day!!!

[2015-07-19 21:09] lwansbrough commented on #68
Ok cool, that's good to hear. I think I'll merge this with master then push to npm.

[2015-07-19 21:12] #68 closed

[2015-07-19 21:13] lwansbrough commented on #69
Should be resolved, sorry about this. Pull the latest version (`0.3.1`) from npm.

[2015-07-19 21:13] #69 closed

[2015-07-19 21:16] achang28 commented on #68
Merge it!

[2015-07-19 21:21] lwansbrough commented on #69
@sunilp There's a small possibility this isn't fixed.. I'm looking into it. Let me know if you continue to experience problems.

[2015-07-19 21:25] lwansbrough commented on #67
I'm hoping this is fixed. If everyone could please update to `0.3.1` and report back that would be great, thank you.

[2015-07-19 21:28] lwansbrough commented on #61
Not sure we're gonna fix this Jehan, it's pretty difficult to manage the camera in such a way taking into consideration how the views are managed by React Native. I'd support your effort to try, but I did a number of optimizations and they didn't seem to help substantially with this particular issue.

[2015-07-19 21:30] lwansbrough commented on #17
Going to close this as I haven't received any new issues regarding the problem you've outlined, though I acknowledge without further investigation this may be an issue for some. I'll leave it to them to open an issue should that be the case.

[2015-07-19 21:30] #17 closed

[2015-07-19 23:21] achang28 commented on #68
looks like your suggested change of ```[self.manager stopSession]``` above ```[super removeFromSuperview]``` didn't make it through w/ 0.3.1.  In RCTCamera.m, around line 95

[2015-07-19 23:23] lwansbrough commented on #68
Oh sorry, I guess that wasn't clear. This change is needed to fix the problems you mentioned?

[2015-07-19 23:24] achang28 commented on #68
Yeah.  Specifically the app crashing that occurs when unmounting Camera module.

[2015-07-19 23:25] lwansbrough commented on #68
My bad, `0.3.2` published to accommodate these changes.

[2015-07-19 23:32] achang28 commented on #67
so with 0.3.2, the overheating does NOT appear to be happening. Just to be clear, the sequence I was following that was leading to this problem went like this:  1) Render Camera module, 2) unmount Camera module, 3) press home button on iPhone, and 4) leave iPhone sitting around for 5+ minutes.

Re-running this sequence and the phone does not seem to be overheating anymore.

[2015-07-19 23:34] lwansbrough commented on #67
Great news. I'll close this issue then. :)

[2015-07-19 23:34] #67 closed

[2015-07-20 14:08] sunilp commented on #69
yeah :+1:  works perfectly now. Thanks!!

[2015-07-20 21:58] achang28 opened #71 "Camera crashes in Simulator; but works in actual device"
Looks like we caused brought on an unintended-consequence going back to https://github.com/lwansbrough/react-native-camera/issues/68.

As the Camera module is in the middle of rendering, something with the obj-c code crashes
![screen shot 2015-07-20 at 2 56 02 pm](https://cloud.githubusercontent.com/assets/3760499/8788494/b0e0d278-2eef-11e5-8d39-a7bfe3900df6.png)

[2015-07-20 23:49] lwansbrough commented on #71
Ah oops. Should be an easy fix.

[2015-07-20 23:49] #71 closed

[2015-07-21 02:45] achang28 commented on #68
Hot like buttah.  Good shit.  Works beautifully.

[2015-07-21 02:48] lwansbrough commented on #68
👍

[2015-07-21 04:55] darkrishabh commented on #67
@lwansbrough Perfect!! and its seamless.

[2015-07-21 05:32] chentsulin opened #72 "Import module issue"
When I run the program it seems that some problems happened with the `require` function：

[code]
In my previous experiences in browser and node, `require` function should have a module name or relative path as parameters.
How can these to be imported?
[code]
Sorry for as a react-native novice, I can't find out how to be done. Any Inspiration with be appreciated.

[2015-07-21 06:05] achang28 commented on #72
@chentsulin:  are you simply testing out the Camera module?  If you are, please remove all modules and be sure to only have:

```var Camera = require("react-native-camera");```
```var React = require("react-native");```

I'm assuming you followed the instructions on adding the necessary files to your Xcode project (e.g. RCTCamera.xcodeproj)?  And making sure that you stopped your Xcode project, an

[2015-07-21 06:31] lwansbrough commented on #72
@chentsulin Here's the `index.ios.js` code for the app I use for testing:

[code]

[2015-07-21 10:16] chentsulin commented on #72
This morning I using npm upgraded my `react-native` and `react-native-camera`, and I thought that break the packager build. I removed node_modules and installed again. Then, it works fine.

But I remain curious about module system in `react-native`. It seems that packager use filenames to address the modules. If I have a naming conflict with react-native core files, will it break packager build?

[2015-07-21 10:16] #72 closed

[2015-07-21 22:56] #32 closed

[2015-07-22 02:19] darkrishabh opened #73 "Image quality"
how can we set image quality as for video, a hd video of 20 sec is over 50mb which is not something you want to upload from your data plan.

[2015-07-22 03:56] darkrishabh commented on #73
I will be making a PR for that, since its not there and a camera plugin should have this. :)

[2015-07-22 08:05] lwansbrough commented on #73
Having that discussion here I believe. Noted, I'll try and figure something out ASAP.

[2015-07-22 08:05] lwansbrough commented on #73
Oops, forgot the link: https://github.com/lwansbrough/react-native-camera/issues/65

[2015-07-22 08:21] darkrishabh commented on #73
I did try something but what it was pretty unusual. It worked good for the first time but taking a videos back to back raised error during save

BTW I have react-native-cameraIOS repo which uses SCrecorder and give alot of additional features. you can check it out. It provides filter also. I think it can be a great library to help us throughout. I pulled it from react-native screcorder and fixed f

[2015-07-22 08:24] darkrishabh commented on #65
It is compatible. I just tried something.. I will create a PR tomorrow. but it is not functional. I would like to request you guys to have a look at it and test it thoroughly. I am not good with obj-c but I have a working code that does what we want.

[2015-07-22 09:48] darkrishabh commented on #65
Better I am putting a zip file of the whole project till then. just unzip and npm start. Don't do npm install.
https://www.dropbox.com/s/xhnzcyvsc7v2pir/cameraApp%202.zip?dl=0

[2015-07-22 18:46] lwansbrough commented on #73
@darkrishabh We've decided not to rely on third party libraries at this time due to the complexity of managing third party dependencies.

[2015-07-22 20:17] jtremback commented on #73
@darkrishabh SCRecorder looks pretty full featured, perhaps you can just wrap that and use it in your app without involving this module.

[2015-07-22 21:35] darkrishabh commented on #73
Yeah that what I am doing over here https://github.com/darkrishabh/react-native-cameraIOS

[2015-07-24 23:03] slonoed opened #74 "Unrecognized tag protocol"
I use
`captureTarget={Camera.constants.CaptureTarget.disk}`
When photo captured, callback receive string like
`/var/mobile/Containers/Data/Application/9B63344B-4B73-46AB-B8E8-0C447E001303/Documents/86ABB2D5-9C18-49C5-9DE0-37B35367AE23.jpg`

Then I use this string in Image
`<Image source={{uri: data}}/>`

First issue is this message (but I see the image)
[code]

Second issue: the image not shown (I

[2015-07-24 23:20] slonoed commented on #74
For first I found solution. isStatic:true

[2015-07-25 05:04] lwansbrough commented on #74
@slonoed You probably don't want a static image (though I'm not sure, I forget -- I usually use `cameraRoll`) -- what you want is to prepend the URI with `file://` however if we're returning the protocol on one and not the other that's probably not the best behaviour.

[2015-07-25 09:51] slonoed commented on #74
@lwansbrough it works fine without `file://`, I don't know why.

My only issue is cache. I think it isn't issue with react-native-camera, but with develop process.

When I restart app with xcode, the path is changed. I'm talking about folder in `Application` folder.

`/var/mobile/Containers/Data/Application/0CE546E7-DA58-42A3-8701-8CFA55456E1C/Documents/1F82781E-0213-4E77-8504-87172EDA0724.jpg`

`

[2015-07-26 19:40] JedWatson opened #76 "Orientation sometimes fails to initialise correctly"
I'm seeing an intermittent error when the camera is initialised, where the orientation is incorrectly detected.

Using an iPad Mini 2 w/ iOS 8.4, starting in Landscape mode, it sometimes starts in Portrait mode. There doesn't seem to be a reliable way to detect the current orientation in React Native itself (?) otherwise I'd set the `orientation` prop, but my app can be used in either `landscapeLe

[2015-07-27 04:42] jtremback commented on #76
You're talking about the orientation of the viewfinder, right?

[2015-07-27 04:42] #73 closed

[2015-07-27 04:43] jtremback commented on #65
@lwansbrough is this something we want to support in this module?

[2015-07-27 04:56] lwansbrough commented on #65
Not extensively. However, I think we should support the adjustment of the output in the line I mentioned earlier on: https://github.com/lwansbrough/react-native-camera/blob/e983a6902f2abd5930fc829502867da3c5b63183/RCTCameraManager.m#L101

[2015-07-29 08:11] JedWatson commented on #76
@jtremback yes, that's correct.

[2015-07-31 10:46] baseio commented on #56
Hi, sorry for writing to a closed issue - but some additional documentation/examplecode on the "pass a location object from the geolocation api" would be helpful...
Thanks in advance!

[2015-07-31 17:29] lwansbrough commented on #56
@jtremback? I personally haven't done this.

[2015-08-01 01:26] jtremback commented on #56
Sure, I'll take care of it.

[2015-08-02 16:10] jtremback commented on #56
Does this clear things up? 00a2b3adaf3df877da75181e5889664dbd4033b7

[2015-08-02 16:10] #56 closed

[2015-08-07 22:50] LeoFidjeland opened #78 "Barcode scanning slow"
Hiya!

First of all, thanks for your great work! This is awesome!

I'm having some issues with the Barcode scanning being slow. Sometimes it takes like 15 seconds of the barcode being fully in focus before it gets read.

I put some breakpoints in didOutputMetadataObjects, and it seems like it's Apple code that is the problem.
I'm just wondering if anyone else is having the same issue? And if there

[2015-08-08 07:27] LeoFidjeland commented on #78
Maybe this is still valid...
https://blog.sabintsev.com/apples-native-ios-barcode-scanner-is-junk-83d2129bd017

[2015-08-08 18:09] lwansbrough commented on #78
It's possible that those faster scanners use a custom library if that's true about the speed of the native barcode scanner. That's unfortunate. We're sticking to Apple's libraries for this module for simplicity. Let me know if you discover anything.

[2015-08-09 20:27] LeoFidjeland commented on #78
Ok will do. My plan is to see if it works better with QR-codes than with Aztecs. Otherwise make a RN wrapper for a custom library. Currently my eyes are on https://github.com/TheLevelUp/ZXingObjC

[2015-08-09 23:41] LeoFidjeland commented on #78
Yeay I switched to QR codes and the performance is much better! Seems like it was the Aztec code in particular that was crappy.

Thanks for for attention :)

[2015-08-09 23:41] #78 closed

[2015-08-18 10:10] AngryBaby opened #79 "i can't find the libRCTCamera.a"
i can't find the libRCTCamera.a after download . it not in the directory. why?

[2015-08-18 20:22] lwansbrough commented on #79
It's a product of building this module. Be sure to follow the steps in the readme exactly.

[2015-08-18 20:22] #79 closed

[2015-08-20 19:26] achang28 commented on #29
So I may be wanting to look at this soon, except with a twist:  to see how I can build out a solution using Swift (because that's all I know -- to an extent, too).  Perhaps something that is invoked once the image is obtained.  And that "something" will/should provision the proposed solution above (which I like)...

[2015-08-26 11:54] hrlarsen opened #80 "Camera freezes when opened 2 times via navigator"
Hi

Currently have an app where you are meant to take several photos. Currently I have a class handling the camera capturing (CameraCapture.js), and this is opened using the IOS navigator with a push from a "capture images" class (imagine a number of empty thumbails that needs to be filled by capturing photos). When the CameraCapture is pushed the first time everything is fine and I can capture a

[2015-08-26 13:00] hrlarsen commented on #80
I found that this happens because CameraCapture variable ```javascript var CameraCapture = require('./CameraCapture') ``` creates an instance of the CameraCapture object, and this cannot handle showing the <Camera> more than once.

[2015-08-26 14:07] achang28 commented on #80
I hate to say it, but I, too am still experiencing freezes much like @hrlarsen is experiencing (even though 0.3.3 reduced the original problem). I wonder if there is some sort of "cleanup" or additional mounting process that should be done in the obj-c world, in addition to what has already been built in react-native-camera?

[2015-08-26 20:35] thomashermant opened #81 "No Location in the MetaData"
Hi,

I do not have the location meta data when I take a picture with this Camera Component.

---

I search the reason on the web and found this:
"
The problem is that since iOS 4 UIImage *image = [info objectForKey:UIImagePickerControllerOriginalImage]; strips the geolocation out. To solve this problem you have to use the original photo path to get access to the full image metadata. With something

[2015-08-26 21:53] ahh2131 commented on #23
Sorry if this is a silly question, but how do I get the base64 data from the camera without saving the image to the camera roll?

[2015-09-01 20:08] viscasillas opened #83 "Camera Flash doesnt seem to work"
[code]

[2015-09-01 20:09] viscasillas commented on #83
I have tried using the state for cameraFlashToggle = {this.state.cameraFlashToggle} and I cant seem to swap that one either

[2015-09-01 20:26] amccloud commented on #61
@lwansbrough I'd like to try to tackle this. Do you happen to know why it isn't playing nice with react?

I'm observing two behaviors. One for first-open and for re-open.

#### First-open
- Shows first frame of live feed dim (~150ms)
- Switches to another frame of live feed dim (~100ms)
- Switches to live feed no longer dim

#### Re-open
- Shows last frame when the camera was last opened (~150ms)

[2015-09-04 02:56] Jackarr commented on #83
Please help me

[2015-09-05 08:43] spyro92 opened #84 "unable to resolve module react 0.10.1"
is anyone else getting these errors in the react packager - react 0.10.1

ive followed all the instructions in the readme

[code]

[2015-09-05 18:25] philkeys commented on #84
Yeah getting the same issue on build.

[2015-09-06 11:15] DeodorantMan commented on #84
Same thing

[2015-09-15 06:28] #84 closed

[2015-09-15 06:34] lwansbrough commented on #83
@viscasillas Your problem seems to be here:

[code]

The ternary operator returns false in either case, so your flash mode will always be false.

[2015-09-15 06:34] #83 closed

[2015-09-15 06:35] lwansbrough commented on #74
@slonoed Yeah hmm, not sure how we can solve this..

[2015-09-15 06:37] lwansbrough commented on #81
Hey @thomashermant thanks for reporting this issue. I'll take some time to make some much-needed upgrades to the camera module later this week. Hope you can hold out 'til then. Cheers.

[2015-09-15 06:39] lwansbrough commented on #80
@hrlarsen Interesting. I'll look more into this sometime soon.

[2015-09-16 18:30] ardalann opened #87 "Android support"
Hey guys, fantastic job! Thank you!

I was just wondering whether you have plans to add Android support as well.

[2015-09-18 22:26] bfwg opened #89 "Camera crashes in Simulator"
This issue is same as #71
I think it is because I upgraded xCode to 7?
<img width="1128" alt="screen shot 2015-09-18 at 3 25 00 pm" src="https://cloud.githubusercontent.com/assets/12819525/9972467/86f1baaa-5e19-11e5-9867-7e2c885ce144.png">
<img width="1210" alt="screen shot 2015-09-18 at 3 25 12 pm" src="https://cloud.githubusercontent.com/assets/12819525/9972468/86f4dec4-5e19-11e5-93af-2fd1b4752b

[2015-09-18 22:54] jtremback commented on #89
Is it really the same issue as #71? I fixed that a long time ago. #71 involved the camera crashing when you take a picture. Is this still the case for you?

[2015-09-19 05:17] #89 closed

[2015-09-19 05:18] bfwg opened #90 "Unable to resolve module merge"
<img width="1034" alt="screen shot 2015-09-18 at 10 18 02 pm" src="https://cloud.githubusercontent.com/assets/12819525/9974718/277b7f5e-5e53-11e5-8a67-24f1ef038573.png">
Is this normal?

[2015-09-19 19:47] bfwg commented on #89
@lwansbrough
No, It was when I open the project it will stop and show this error, somehow this problem went away. But in the simulator I can't open my camera, I will ask me weather I allow the app to access the camera, and after I click yes, I show nothing but a black background.

[2015-09-20 03:37] davidsims9t commented on #90
I'm having the same issue. The module worked prior to upgrading to IOS 9.

[2015-09-20 18:57] mattiamanzati commented on #87
+1

[2015-09-20 19:30] achang28 commented on #87
+1,001

[2015-09-20 22:30] lwansbrough commented on #87
Hey guys, I'm working with a few folks from @exponentjs on the next iteration of rem which will support Android builds. Currently I'm not using rem but I think it is a good thing for the community going forward, so I'm investing some time in helping with that effort. FB currently doesn't have a recommended approach to Android module development - we're trying to solve that. Ideally this will allow

[2015-09-21 00:11] achang28 commented on #87
@lwansbrough:  do you accept donations?  Glad you're championing the "camera space" of React Native

[2015-09-21 06:20] lwansbrough commented on #87
@achang28 Thanks for considering donating! However I'm not doing this for the money, I've gone a personal interest in keeping the development of this up to date. Always looking for contributors though -- I think more of the community modules could use a larger backing of contributors to keep them fresh.

[2015-09-22 03:12] lwansbrough commented on #90
Should be fixed in v0.3.4!

[2015-09-22 03:12] #90 closed

[2015-09-22 03:12] lwansbrough commented on #87
Small update: moved the iOS files around in preparation for Android dev. :+1:

[2015-09-22 04:25] ardalann commented on #87
Thank you very much @lwansbrough ! :thumbsup:

[2015-09-22 05:51] mattiamanzati commented on #87
Thanks a lor! I Will wait For Android Version!

[2015-09-22 06:23] jiamo commented on #87
https://www.npmjs.com/search?q=react-native-camera version is 0.3.3 . How can I use the lastest version in my project?

[2015-09-22 06:24] lwansbrough commented on #87
:grimacing: Oops forgot to publish! Try now.

[2015-09-23 01:09] timmh commented on #87
I gave it a shot and got the camera view working on android: https://github.com/timmh/react-native-camera
It is very primitive and simple but it took some time to figure out how to include the native component into the app, so someone may find it useful.

[2015-09-23 02:17] lwansbrough commented on #87
Nice work, this is definitely something we can build on. I will mention that if it's anything like Obj-C, you will need to inherit React's view class so that you get all their view stuff like flexbox, etc.

[2015-09-23 11:12] timmh commented on #87
I think the whole style & layout works via `super.updateView(view, props);` in the ViewManager.
Just tried different layouts including flexbox and the sizing worked as it should.

[2015-09-30 20:48] JakeRawr opened #94 "delete photos that's saved on disk"
Is there a way to delete photos thats stored in disk?

[2015-09-30 21:59] jtremback commented on #94
Yes, with https://github.com/johanneslumpe/react-native-fs

[2015-09-30 22:00] JakeRawr commented on #94
Thanks! I'll try this out

[2015-10-01 03:40] #94 closed

[2015-10-02 08:17] tlightsky opened #95 "barcode scanner feature"
consider this feature?

[2015-10-02 08:22] #95 closed

[2015-10-02 08:22] tlightsky commented on #95
seems already supported

[2015-10-02 20:50] sslash opened #96 "Doesn't work with react-native-webpack-server"
I'm trying to use this with a project based on [https://github.com/mjohnston/react-native-webpack-server] (https://github.com/mjohnston/react-native-webpack-server), but I'm getting this error:

[code]

[2015-10-04 00:22] lwansbrough commented on #96
Can't say without a full stack trace or source code. The camera module works though so it's either a problem with the webpack server or your own code.

[2015-10-04 10:26] sslash commented on #96
Think it has got something to do with the webpack server. Anyway, I went back to normal rn transformer for now, thanks :)

[2015-10-04 19:43] #96 closed

[2015-10-05 10:25] yedeba opened #98 "stop scan method?"
Hi, stop scan barcode method exists?
Thanks

[2015-10-06 00:30] lwansbrough commented on #98
Unbind the event handler.

[2015-10-06 05:19] tlightsky commented on #87
hi, @timmh how can i use your android version?

[2015-10-06 10:23] timmh commented on #87
@tlightsky there is an README.md in the [android directory](https://github.com/timmh/react-native-camera/tree/master/android) that has instructions how to use it.
@lwansbrough I am currently implementing barcode scanning using the zxing library, would you be interested in merging this in?

[2015-10-06 11:26] mattiamanzati commented on #87
@timmh I am also interested in it! Hoping that you Will merge!

[2015-10-06 14:11] lwansbrough commented on #87
We need a way of depending on 3rd party libs first. Currently we have to include the binary that we're targeting which sucks.

[2015-10-06 14:14] lwansbrough commented on #87
With that said, since I don't think Android has bar code scanning by default (correct my if I'm wrong) then yes I'd be interested in using zxing. Historically it has been the position of this library to not depend on third party libraries but that may need to be the case for Android feature parity.

What I really want is a build script that links to a Maven repo though. But we need to standardize

[2015-10-06 14:31] timmh commented on #87
You are right, unfortunately android does not have barcode scanning included.
A possible solution would be to create two different gradle configurations which compile the library with and without 3rd party barcode scanning libraries so the user could choose whether he needs this feature or not. But it seems you are working on something that makes this kind of thing easier, so I understand that you

[2015-10-07 05:55] josiahbgrace opened #99 "Issue with requiring unknown module 'react-native-camera'"
I'm trying to use the react-native-camera in a project and I keep running into this error:

[code]

I've tried to debug with a clean build and run and clean installs of the package. Any help would be appreciated. I'm using version 0.3.6 with react-native version 0.11.4.

[2015-10-07 06:46] viscasillas commented on #99
have you tried restarting Xcode or the packager itself?

Sent from my iPhone

[2015-10-07 06:48] josiahbgrace commented on #99
Yes, I've tried both of those.

On Wed, Oct 7, 2015 at 1:46 AM, Jose Viscasillas <notifications@github.com>
wrote:

[2015-10-07 16:04] lwansbrough commented on #99
I haven't looked into this yet so it could be a problem with the module (though I'd doubt they'd break something in a minor version change.) Maybe try clearing your Babel cache? (`rm ~/.babel.json`)

[2015-10-07 19:20] josiahbgrace commented on #99
Hm... Yeah, that didn't fix the issue either. I'm working on other parts of the project now, but I'll circle back to this later and see if I can do some more digging to add some more concrete details to this issue.

On Wed, Oct 7, 2015 at 11:04 AM, Loch Wansbrough <notifications@github.com>
wrote:

[2015-10-08 16:00] JorisM commented on #87
@timmh thanks for your work! i pulled and tried to get it to work, but I ran into issues here:
first there is a typo in the readme in the android directory, I think it should look like this:

`project(':com.lwansbrough.ReactCamera').projectDir = new File(settingsDir, '../node_modules/react-native-camera/android')`

(maybe it would also be worth mentioning that the lines for build.gradle are meant

[2015-10-08 16:02] JorisM commented on #87
ah btw, the crash happens after adding this line:

`.addPackage(myReactPackage)`

to the MainActivity.java

[2015-10-08 17:01] timmh commented on #87
Hey @JorisM, thanks for your feedback!
I am sorry that the instructions in the readme are not working for you.
Did you replace the existing `.addPackage(whateverPackage)` with `.addPackage(myReactPackage)`?
If not, that might be the issue.
I will look into this with more detail later today and update the instructions.
However, I would ask you and anyone else having an issue with my fork to create

[2015-10-08 17:32] JorisM commented on #87
ah yes, that was it! thanks a bunch for reporting back so quickly!

yup I agree about not spamming this thread, but I couldn't create an issue on your fork since issues don't seem to be enabled.

[2015-10-08 20:12] ortutay commented on #87
in @timmh's version, I get the following error when I do `this.refs.cam.capture`:

```Error: this.refs.cam.capture is not a function```

When I investigate the Camera component in the debugger, the `capture` method is indeed not there. Any ideas what's going on?

[2015-10-08 21:59] timmh commented on #87
@JorisM You are right, I did not notice that issues were disabled. Happy that you now seem to have it working.
@ortutay my version is just a concept  / placeholder until the stable and feature-complete version is released in *this* repo. As the [readme](https://github.com/timmh/react-native-camera/blob/master/android/README.md) states, my version is just an experiment and is neither stable nor fea

[2015-10-09 14:34] zubru commented on #80
+1 I also have problem with this. When I go back from view with camera and once again go into it, camera freezes

[2015-10-09 18:03] jforaker commented on #80
+1
Does anyone have a solution for this?

[2015-10-09 23:36] jforaker commented on #80
SOLVED:

http://stackoverflow.com/a/33048580/1516309

@zubru
@lwansbrough
@achang28
@hrlarsen

[2015-10-10 02:09] lwansbrough commented on #80
Thanks Jakeed1 of StackOverflow for this :) I'll implement sometime tonight hopefully. Tomorrow latest.

[2015-10-10 02:09] jforaker commented on #80
That is me ;)

[2015-10-10 02:11] lwansbrough commented on #80
@jforaker Oops hahah, of course. Thanks!

[2015-10-10 20:40] skeie opened #101 "Mirror image on front camera"
Hi,

When picture is taken with the front camera, the image returned is mirrored. Is it possible to return the images 'as-is'? In other words, not mirrored?

[2015-10-10 22:17] lwansbrough commented on #101
That's default behaviour of the camera. That functionality isn't currently supported but I'd accept a pull request!

[2015-10-10 22:21] #80 closed

[2015-10-10 22:22] lwansbrough commented on #80
Can you guys give it a shot? `0.3.7`

[2015-10-11 14:27] gpbl commented on #80
I'm using 0.3.7 but the camera still freezes as i go back to the view using it

[2015-10-11 21:26] lwansbrough commented on #80
@gpbl Can you confirm that you completely reinstalled the camera module? It's possible the binaries haven't updated. It's also possible that this fix wasn't the proper fix. I haven't tested it myself.

[2015-10-11 21:36] gpbl commented on #80
I can confirm, 0.3.7 was the first version I ever installed 😊 I wonder how @jforaker got it fixed.

[2015-10-11 21:37] lwansbrough commented on #80
I too am interested. Hopefully he'll respond here so we can get more info on this fix.

[2015-10-11 22:21] jforaker commented on #80
I'll post everything when I get home ..
Just to confirm- did you
clean
Stop server
Build
Refresh
?

[2015-10-11 23:24] jforaker commented on #80
Well i can guarantee what I have works, as the answer on SO came from my teammate and we are working on the same project :D

in RCTCameraManager.h
add this
[code]
![image](https://cloud.githubusercontent.com/assets/2042031/10419691/d9d4a404-704c-11e5-8204-04477810c36e.png)

in RCTCameraManager.m
replace this block:
[code]

[code]
![image](https://cloud.githubusercontent.com/assets/2042031/10419688

[2015-10-12 08:56] gpbl commented on #80
@jforaker How can you see it is not frozen, since in the simulator it's always black? :-)
I do have the last version installed and I see with the debugger that `self.camera` is reused once it's already initialized. I'll investigating further...

[2015-10-12 09:05] gpbl commented on #80
Without knowing what does it mean, if i set `self.camera = nil;` in `RCTCameraManager.m it works (ie it does not freeze).
@lwansbrough does it make sense?
<img width="313" alt="screen shot 2015-10-12 at 11 03 35" src="https://cloud.githubusercontent.com/assets/120693/10424628/eed270dc-70d0-11e5-9057-49dffcafe5dc.png">

[2015-10-12 15:26] jforaker commented on #80
The problem we had before was that the library was recreating an instance of the view every time which contains many objects in it like the manager etc. Therefore, it spiked up the memory and froze the device. The fix will be to reuse the view instance. @gpbl I am glad it worked. And yes we should probably nill the camera instance when the session is stop.
Also I've been testing on my phone, just

[2015-10-12 15:46] gpbl commented on #80
@jforaker it sounds like your problem was not related to the navigator... but yes that issue was not good as well. I trust it works for you :-) (you can take video from your iphone with quicktime, btw)

[2015-10-12 15:47] toddw commented on #80
@jforaker plug your phone in with USB, open QuickTime and "record new movie". Select iPhone as the source

[2015-10-13 06:27] pewallin commented on #96
@sslash - this is probably due to your Webpack configuration not transpiling react-native-camera in node_modules. A build step for this module would fix this. Or just add it to your webpack.config.js...

[2015-10-13 07:47] tlightsky commented on #87
I can run the camera on Andorid with @timmh 's version.
I notice the component is quite different from iOS version.
Will they be kind the same at the end?

[2015-10-13 11:36] tronin opened #103 "Device heats up"
Hi, thanks for great component.

Is there a way to turn off the camera during transfer to another route? While working in the background, the device gets too hot.

Thanks.

[2015-10-13 15:06] mpatric commented on #80
Just to add to this, the fix in this commit: https://github.com/lwansbrough/react-native-camera/commit/8cc61edef2c018b81e1c52f13c7d261fe6a35a63 introduces issues for us too. We were not previously seeing the camera view freezing when returning to the view (and we do use a Navigator), but in 0.3.7 it does now freeze after being displayed the second time. The workaround suggested by @gpbl fixes the

[2015-10-13 15:23] jforaker commented on #80
I agree. nilling `self.camera` was a good idea that we missed the first go around.

[2015-10-13 15:59] lwansbrough commented on #80
@mpatric @jforaker Seems to be the correct fix yes. I can do that work and push to npm this evening, at work right now. If someone wants to submit a PR for that, I'd be happy to accept it - but I can't get the changes into npm until later today anyway.

[2015-10-13 16:01] lwansbrough commented on #103
I'm going to implement a fix later today that stops the camera session when it's removed from its containing view. Perhaps the solution for you then would be to remove the camera from the view when it's not being viewed.

[2015-10-13 17:08] prathamesh-sonpatki commented on #99
I am also facing same issue with version 0.3.7 with react-native version 0.7.1.

[2015-10-13 19:56] dhrrgn commented on #61
:+1: For getting this fixed.  I would help out, but don't have much experience in this area...

[2015-10-13 20:38] morenoh149 commented on #99
experiencing the same on `0.3.7` react-native `0.11.0`

[2015-10-13 23:27] darkrishabh commented on #103
@nashpro
you can use the navigator didFocus listeners to activate and deactivate the camera.

On moving to the next route you can change the state and hide the camera, and on coming back use the didFocus listener to bring it back.

[2015-10-14 23:10] YPCrumble opened #104 "RCTCamera.xcodeproj unavailable for setup in 0.3.7"
Step three of installation states:

However, when I upgrade from 0.3.6 to 0.3.7 the RCTCamera.xcodeproj file is no longer available.

[2015-10-15 00:44] YPCrumble commented on #104
My fault - closing, sorry!

[2015-10-15 00:44] #104 closed

[2015-10-18 08:56] amccloud opened #105 "Podspec"
Why was podspec removed?

Even facebook distributes modules with a podspec https://github.com/facebook/react-native-fbsdk/tree/master/react-native-fbsdkcore

[2015-10-18 18:15] lwansbrough commented on #105
It was never actually registered, and I'm hoping the React Native community can move to something better. Though I haven't had the time to work on that better solution. I think REM is currently the best attempt at bringing something better to the table (podspec solves iOS, but leaves Android unsolved.)

[2015-10-19 09:46] spierckel opened #106 "RCTBridge.h file not found"
Hello,

I followed your getting started but I have an error when building the application.
The import "RCTBridge.h" can't be found in the file RCTCamera.m.

Have you any idea to solve this problem ?

Another question, can we use this library for android ?

Thanks in advance,
Florian

[2015-10-19 13:29] #106 closed

[2015-10-19 13:31] spierckel commented on #106
It was an error from me, I hadn't clone this library in the node_modules of the project folder but in another location so it wasn't working.

[2015-10-19 19:10] sgonyea opened #107 "Tap to Focus Crashes App"
I'm currently trying to debug the source of the issue.  It's dying in a thread, during the execution of `focusAtThePoint:(CGPoint) atPoint` with:
[code]

It seems to die at some random place within the `dispatch_async` execution.  I'm debugging to see what the source of the issue is.

I'm using React Native 0.11.4 on iOS 9.0.2, with the RN Camera 0.3.8.

Thanks!

[2015-10-19 23:40] sgonyea commented on #107
Ah, interesting.  This only seems to happen when I have the `onFocusChanged` property defined.  Digging some more...

[2015-10-20 00:39] sgonyea commented on #107
Seems to be because `self.reactTag` is null, so we're sending an event to React with a target of null here:

https://github.com/lwansbrough/react-native-camera/blob/master/ios/RCTCamera.m#L170-L176

Which is odd.  I'm not yet well versed in React Native's ObjC layers to easily fix this.

[2015-10-20 18:57] lwansbrough commented on #103
Can you verify that this is still an issue with the latest version?

[2015-10-20 18:59] lwansbrough commented on #99
@prathamesh-sonpatki Not supporting that many versions back of RN.

@morenoh149 Can you update the camera and verify that this is an issue still?

[2015-10-20 19:00] lwansbrough commented on #76
Is this still an issue?

[2015-10-20 19:02] lwansbrough commented on #61
Please confirm this is still an issue with the latest version of this module + React Native.

[2015-10-20 19:39] #105 closed

[2015-10-20 19:40] amccloud commented on #99
@josiahbgrace @prathamesh-sonpatki  @morenoh149 are you using react-native-webpack-server?

[2015-10-20 19:47] amccloud commented on #107
Reproducible with `react-native-camera@latest` and `react-native@0.11.0`

[2015-10-20 19:57] amccloud commented on #61
@lwansbrough

On `react-native-camera@0.3.8` and `react-native@0.11.0`

#### First-open
- Shows first frame of live feed dim (~200ms)
- Switches to live feed no longer dim

#### Re-open
- Shows last frame from first-open and never switches to live feed
- SIGABRT at the line below when capture is called

[code]

[2015-10-20 20:27] dhrrgn commented on #61
@lwansbrough  Upgraded to both react-native-camera@0.3.8 and react-native@0.12.0

Same as @amccloud above on first open.  It is better than it was however (only shows 1 dim frame instead of multiple "stutters").

On re-open, I also see the last frame from first open, however it is only for a few milliseconds (maybe 100-200), then it switches to live feed, and I am able to capture another image and

[2015-10-20 22:00] lwansbrough commented on #107
@amccloud Thanks!

[2015-10-20 22:16] amccloud commented on #61
@dhrrgn that's weird the re-open doesn't behave the same. I think i've identified the issue.

https://github.com/lwansbrough/react-native-camera/blob/master/ios/RCTCameraManager.m#L19

Prevents RCTCamera from initializing and starting a new sessions. Setting `self.camera` to nil when the session stops fixes the issue but i'm not sure that is the intention. Could also call `    [self.camera.manager

[2015-10-20 22:29] amccloud commented on #61
@dhrrgn @lwansbrough sorry I actually was on 0.3.7 :cry:

Everything works like @dhrrgn described.

[2015-10-20 22:44] morenoh149 commented on #99
@amccloud yes actually. `"react-native-webpack-server": "^0.7.1",`

[2015-10-20 22:46] amccloud commented on #99
@morenoh149 It doesn't handle index.ios.js and index.android.js like you'd expect. You can import this way:

[code]

[2015-10-20 22:50] amccloud commented on #99
@lwansbrough You could probably close this as it is likely a `react-native-webpack-server` issue https://github.com/mjohnston/react-native-webpack-server/issues/96

[2015-10-21 02:27] josiahbgrace commented on #99
I am not using the react-native-webpack-server, but the code suggested above

    import Camera from 'react-native-camera/index.ios';

fixes the issue (with the example code in the readme).

[2015-10-21 04:06] JedWatson commented on #76
It's still an issue, and actually a pretty major one for us, I just haven't been able to get someone with enough iOS / ObjectiveC experience to look into how to fix it yet :grimacing:

Any chance you could take a look? I can set up a project that replicates the issue if that will help.

[2015-10-21 10:09] StefanoGangadin opened #108 "Unable to get the video callback"
Hi,

I'm trying to capture a video. I can't really figure out how to get the callback data when calling the stopCapture method.
Could you please help me out on this?

Many thanks in advance!

-- Stefano

[2015-10-21 16:41] lwansbrough commented on #76
I might have some time, no guarantees though. Pretty busy myself. AFAIK React Native doesn't have great support for horizontal display mode at this point. Haven't checked into that in a while though.

[2015-10-21 16:42] #99 closed

[2015-10-22 02:35] blacksunset commented on #99
@josiahbgrace
[code]
i tried the code above but i got
SystaxError:Unexpected use of reserved word 'import'

[2015-10-22 02:39] josiahbgrace commented on #99
I don't know what I was thinking when I copied that over.... My actual code is

    var Camera = require('react-native-camera/index.ios');

https://github.com/josiahbgrace/ClothesMatcher/blob/master/CameraUtil.js

And checkout this file for base code.

[2015-10-22 03:14] blacksunset commented on #99
@josiahbgrace Thank you, i have fixed the problem.
When i installed the  react-native-camera with command like this
[code]
the folder “react-native-camera” was created in mode_modules. i just copied the folder into /path/[project_name]/node_modules/
then completed the steps from 2 - 6 in the readme

[2015-10-23 12:32] WellDone2094 opened #110 "Get camera FOV"
hi, i was wandering if it's possible to get the FOV of the camera, i have seed that in objective-c is possible get it easily doing this

[code]

where camera is the AVCaptureDevice, but i don't know objective-c so i'm not able to add this feature by my-self

[2015-10-25 18:52] joshhornby commented on #87
@lwansbrough Is there an ETA on this?

[2015-10-26 06:15] nashpro commented on #103
iphone is still heated, we used willFocus to fix this problem.

[2015-10-27 14:23] machard commented on #107
Same with react native 0.13.2 and onZoomChanged

[2015-10-28 18:09] bfwg opened #111 "popN cause the camera frozen"
after pop 2 and re-enter camera component it become frozen, I had to exit and re-enter again to make it work again.

[code]

[2015-10-29 02:29] bastengao commented on #87
+1

[2015-11-01 23:57] wootwoot1234 opened #112 "Any way to check if the (iOS) device has flash or front camera?"
Is there any way to check if the iOS device has flash or front camera?  I don't want to give the user the option to change the flash if they don't have one.

[2015-11-02 23:56] morukutsu commented on #107
Hello, can someone test my PR https://github.com/lwansbrough/react-native-camera/pull/115/ and confirm it works on your side? Thanks

[2015-11-03 21:39] lwansbrough commented on #112
Does any device not support flash/front camera these days? :/ I agree this needs to be available if it isn't though.

[2015-11-03 21:42] lwansbrough commented on #108
The callback is set on the `capture` method, instead of the `stopCapture` method.

[2015-11-03 21:42] #108 closed

[2015-11-03 21:44] wootwoot1234 commented on #112
I thought the same thing but iPads don't have flash and of course some older (really old) phones.

https://en.wikipedia.org/wiki/List_of_iOS_devices#Features

[2015-11-03 21:46] lwansbrough commented on #112
Check out how this PR optionally defines constants: https://github.com/lwansbrough/react-native-camera/pull/109

It's probably possible to do the same checks for camera capabilities. I'll take a look at this at some point, but it's not priority. If you want to try it out and find a nice solution, feel free to open a PR. Thanks!

[2015-11-05 07:13] imothee opened #117 "Return a dictionary instead of a string in capture()"
I was wondering if it was within scope of the project to propose a change to the interface returned by capture to be a dictionary instead of a string so that you could return more data, somewhat like

https://github.com/marcshilling/react-native-image-picker

What I'd like to do is both write the image to the CameraRoll and return the base64 version of the data within having to jump through multip

[2015-11-05 18:52] lwansbrough commented on #117
I suppose I'm curious why you're interested in returning both? Not that I'm against returning an object, but perhaps there is a simpler solution, since you're the only person who's brought up this issue so far.

[2015-11-05 19:49] imothee commented on #117
I'm trying to avoid using the JS bridge too much. The use case is showing a preview image using the uri (instead of passing in the base64) but having the base64 to start the upload immediately from the JS side.

I realise we could do something like returning the base64, save it to cameraRoll and displaying the image using base64 from the js but that's a triple transfer over the bridge.

We could a

[2015-11-05 21:10] lwansbrough commented on #117
Personally, I'd probably use something less pretty to upload the image - something like this: https://github.com/kamilkp/react-native-file-transfer But it hasn't been updated in a while. That way you can upload from the Objective C side, removing the need to pass the image over the bridge. With that said, if you think passing an object back would be better I'd probably support that change. Would h

[2015-11-06 11:41] klausbreyer opened #118 "no callback when recording video"
I have no callback on video. :(

[code]

[code]

with Camera.constants.CaptureMode.still I get an callback. What could possibly be wrong here?

[2015-11-06 17:39] lwansbrough commented on #118
Just to verify this isn't a JS issue, can you do `this.refs.cam.capture({}, function (err, data) {...` ?

[2015-11-09 04:47] vinu123 opened #119 "Taking cropped photo"
I want my camera view to be of square size i.e. half of my iPhone's screen. I tried using 'Aspect' => 'fit' however that is only for the camera view and not the actual picture. How can I restrict the picture to be my camera view's size?

[2015-11-09 05:56] imothee commented on #117
The upload API takes the file as a base64 string inside a json object, it's simpler to do it with the fetch API, I haven't noticed any performance issues so far. I'll make a fork/pr with an implementation and let you know how it goes.

[2015-11-09 10:04] klausbreyer commented on #118
Hey,

thanks for your reply. I figured out, that the video is captures on the real device (including callback) but not on the simulator.

is this an general issue? here is my full code:

'use strict';
[code]

[2015-11-09 21:38] cancan101 opened #120 "Force Fullscreen / On Top"
I am on IOS and I am using `NavigatorIOS` and the `TabBarIOS` and I would like the `Camera` component to occupy the full screen:
![image](https://cloud.githubusercontent.com/assets/51059/11047429/53522490-8700-11e5-8191-dff85c5ca203.png)

Is there any way to accomplish this?

[2015-11-09 22:19] lwansbrough commented on #120
`<Modal/>` maybe. This problem isn't specific to the camera other than you're showing a camera in that view. Try the Reactiflux channel on Discord for help with this.

[2015-11-09 22:19] #120 closed

[2015-11-10 05:15] sgonyea commented on #107
@morukutsu: 👍. This fix works for me. Great work! (/cc @lwansbrough)

[2015-11-10 11:21] ms88privat commented on #118
@klausbreyer what I know is, that you can never use any camera in the simulator

[2015-11-10 12:33] klausbreyer commented on #118
omg!
This is something we should wirte in the readme :) I thought it just keeps white. which would be ok for testing reasons..

thank you!

[2015-11-10 17:24] lwansbrough commented on #118
Yeah, very important to mention your testing parameters!

[2015-11-10 17:24] #118 closed

[2015-11-10 17:27] lwansbrough commented on #117
Passing an image over the bridge will lock the UI. Great, thanks!

[2015-11-10 17:28] lwansbrough commented on #119
The camera doesn't support this and generally I'd like to keep it out of the camera. Processing should be left to a post-processing module.

[2015-11-11 21:32] cancan101 opened #121 "Example of Rendering Bounding Box Around Detected Bar Code"
Would be cool to have an example where a rectangle is rendered around the detected barcode.

[2015-11-12 20:24] hunteredwards commented on #87
+1

[2015-11-12 20:27] lwansbrough commented on #87
Yeah guys if you not +1 this endlessly. I understand this is in high demand and don't have the time to implement it right now. Going forward I will have a need to get the camera working on Android which is probably when it will end up happening. No timeline yet. If you've come up with a solution you think is suitable please don't hesitate to submit a PR, even if it isn't feature-complete.

[2015-11-13 00:55] lwansbrough commented on #107
@morukutsu I can't pull this in until we can confirm it doesn't affect changes made for #80.

[2015-11-13 04:45] lwansbrough commented on #119
Take a look at `ImageEditingManager` that ships with React Native.

[2015-11-13 04:45] #119 closed

[2015-11-13 04:45] #74 closed

[2015-11-13 09:30] morukutsu commented on #107
@lwansbrough Yes, I provided a test to repro #80 in my pull request topic. I could not reproduce it with the patch: so either I'm not reproducing the right bug or the bug is simply not there anymore.

Anyway, I tried to ping those who had the bug so they can quickly review my test to see if it's the correct repro but no answers so far :/

[2015-11-13 09:54] por commented on #121
I would also love to see this. Having trouble getting this to work.

[2015-11-16 17:32] sslash opened #122 "How do you get filetype of image?"
Probably a simple question. But say I want to upload the image to a server. I use https://github.com/kamilkp/react-native-file-transfer to upload an image read from disk. However, how do you get the file type of the image? currently I do filename.match(/ext=(\S+)$/) but that stinks.

[2015-11-16 17:59] lwansbrough commented on #122
It's always a jpeg.

[2015-11-16 18:15] sslash commented on #122
nice. thanks

[2015-11-17 00:42] realjamie commented on #107
@morukutsu , your fix works on my project and solves the crashing problem, thanks.

[2015-11-17 01:34] realjamie commented on #107
When I say the fix from @machard works, it means that the app doesn't crash when touching-to-focus and pinching-to-zoom. The zooming feature works well, but the re-focusing feature doesn't work the same as the iOS camera app does. When you have bright and dark parts in your camera screen at the same time, the brightness is auto-adjusted when re-focusing between the bright and the dark parts. Howev

[2015-11-17 22:09] #122 closed

[2015-11-18 00:35] brancusi opened #123 "torchMode not turning on light"
Hi,

I would like to enable torchMode during barcode scanning. I am setting the following:

[code]

For some reason this is not starting the torch though. Everything else works just fine, camera view and scanning.

What's strange is that when I navigate away then back to the scene, I see a flicker of the torch but it shuts off.

Device info: iphone 6 plus
OS: ios 9.1

Any ideas?

[2015-11-18 00:36] realjamie commented on #107
Hi @morukutsu, today I tried your fix on iPad and my app still crashes when pinching-to-zoom (but not touching-to-focus). It works well on iPod Touch.

[2015-11-18 01:10] morukutsu commented on #107
@realjamie Unfortunately, I don't have an iPad to test. I don't use the pinch to zoom feature even on iPhone.

Do you have additional details (call stack, js error)?
I'll have a look.

[2015-11-18 01:18] realjamie opened #124 "The audio isn't recorded before granting Audio Permission after recording"
The audio isn't recorded before granting Audio Permission after recording. If you start recording, and wait for a while before granting the Audio Permission, you'll find out the audio was not recorded.

The problem is that, the camera permission is requested when the component is launched, but the audio permission is requested "after recording" even when "captureAudio" is set to true. So maybe the

[2015-11-18 01:39] realjamie commented on #107
@morukutsu , thanks for quick reply. Here is the error log:

2015-11-17 17:37:54.939 MyProject[614:911509] *** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[AVCaptureVideoDevice setVideoZoomFactor:] - the passed videoZoomFactor 1.045100 out-of-range [1, activeFormat.videoMaxZoomFactor]'
*** First throw call stack:
(0x271e5fef 0x358a3c8b 0x25ce4317 0x4d323 0x4f0d9 0x2

[2015-11-18 12:00] andrzey opened #125 "Undefined is not an object(evaluating 'Camera.constants.Type')"
Hi! I'm trying to create a simple cameraapp on Android with your react-native-camera module. But when I try to use it I get the error-message: "Undefined is not an object(evaluating 'Camera.constants.Type')". I have installed the module with the npm command and react-native-camera is present in node-modules in my react-native-app. Is there something I have forgotten to do? Would really appreciate

[2015-11-18 22:55] morukutsu commented on #107
@realjamie What is the value of activeFormat.videoMaxZoomFactor?
I guess it's 1.0 on the iPad. Or it's probably related to the current activeFormat.

Apple docs says: "A maximum factor of 1.0 indicates that the format is not capable of zooming."

https://developer.apple.com/library/prerelease/ios/documentation/AVFoundation/Reference/AVCaptureDeviceFormat_Class/index.html#//apple_ref/occ/instp/AVCa

[2015-11-19 16:36] rpastorelle opened #126 "Microphone Access Denied causes freeze-up (even with `captureAudio:false`)"
In video mode, if the user has denied microphone access the following is thrown when starting to record video:

[code]

Once recording stops, the following is reported:

[code]

The error is throw [here](https://github.com/lwansbrough/react-native-camera/blob/v0.3.7/ios/RCTCameraManager.m#L288). I'm on version 0.3.8. I have set `captureAudio={false}` & also manually supplied the `audio: false` opt

[2015-11-19 23:26] achang28 commented on #65
I believe the solution to this request lies in https://github.com/lwansbrough/react-native-camera/issues/119

[2015-11-19 23:26] #65 closed

[2015-11-23 21:13] gorkemyurt opened #127 "Why is the memory option of the captureTarget prop deprecated?"
Looks like the Camera.constants.CaptureTarget.memory property is deprecated, was there a reason for this? I am guessing sending the encoding data to the JS side was too expensive?

Does that mean the default value should be the assets library url not the base 64 encoded string?

That would make the information following the depreciation info outdated..
"This property allows you to specify the targ

[2015-11-24 08:52] vinu123 commented on #119
Hey @lwansbrough, How can I use ImageEditingManager?

[2015-11-24 11:40] achang28 commented on #119
@vinu123 :  https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/ImageEditingExample.js

[2015-11-24 11:57] vinu123 commented on #119
What I don't understand is that do I use <SquareImageCropper /> because this example exports that but when I do use it, I get an error. I just don't know how to use it. God, I feel so dumb :(

[2015-11-25 11:32] prashanthnani commented on #30
Please provide some code to save asset uri images to cloudinary through node.js using react native CameraRoll component

[2015-11-25 12:28] mikeljames commented on #125
Hi @andrzey Did you also get it working on iOS? I'm getting the same issue.

[2015-11-25 15:07] mikeljames commented on #121
+1

[2015-11-25 16:25] mikeljames commented on #111
same issue for me aswell +1

[2015-11-25 22:48] pjcabrera commented on #107
@realjamie @morukutsu I can fix the crash in iPad if I change line 719 of RCTCameraManager.m to this

`device.videoZoomFactor = zoomFactor >= 1 && zoomFactor <= device.activeFormat.videoMaxZoomFactor ? zoomFactor : 1.0f;`

[2015-11-25 23:27] zackify opened #128 "Resizing?"
Is there a way to resize photos to be smaller? I'm uploading them with https://github.com/kamilkp/react-native-file-transfer

[2015-11-26 02:18] lwansbrough commented on #128
Should be possible via `ImageEditingManager`. https://github.com/facebook/react-native/blob/master/Examples/UIExplorer/ImageEditingExample.js

[2015-11-26 02:18] #128 closed

[2015-11-26 02:35] lwansbrough commented on #127
@machard Is working on an improvement for memory targets, which will actually bring it out of deprecation! :+1: The necessary changes to React Native core will be coming in 0.16.

[2015-11-26 02:37] lwansbrough commented on #125
@mikeljames Should work for iOS.

[2015-11-26 02:38] lwansbrough commented on #123
Interesting, not sure about this. I'll look into this when I get a chance. If you're familiar with Obj-C I might recommend you dive into it a bit yourself if you're willing - might be faster than waiting for me. I'd definitely accept a PR if you discover the issue.

[2015-11-26 04:08] zackify commented on #128
Thanks a lot!
On Wed, Nov 25, 2015 at 21:18 Loch Wansbrough <notifications@github.com>
wrote:

[2015-11-26 09:55] mikeljames commented on #125
Yeah I Failed to follow the install instructions correctly. I'm new to this react-native stuff. I've got a few other issues, but +1 existing issues. :)

[2015-11-26 16:08] lifuzu commented on #87
Did anyone try this: https://developers.google.com/vision/barcodes-overview.
It seems Google support Barcode scanner within Play Services, here is the sample project: https://github.com/googlesamples/android-vision

[2015-11-30 16:34] 3210jr commented on #125
hey @andrzey what are the additional things that need to be done to android? I am having a hard time figuring it out. Any help will be greatly appreciated! Thanks.

[2015-12-02 20:19] zackify commented on #128
@lwansbrough I just made this: https://github.com/CodeFoundation/rn-resize might be good to add to the readme. Sure many people want to do this.

[2015-12-04 14:24] zubru opened #132 "dyld: Symbol not found: _AVMetadataObjectTypeDataMatrixCode"
Hi,
I upgraded to newest react-native and xcode. I tried run my previous app on device and I'm getting error:

`dyld: Symbol not found: _AVMetadataObjectTypeDataMatrixCode
  Referenced from: /var/mobile/Applications/E3166042-F289-4E33-B721-FFF31236AE1E/appname.app/appname
  Expected in: /System/Library/Frameworks/AVFoundation.framework/AVFoundation
 in /var/mobile/Applications/E3166042-F289-4E33-B

[2015-12-05 01:42] alubling commented on #81
Just reading this issue because i'm also trying to get location data. I think this is the working thread quoted above, old but seems to capture the issues and has some more recent suggestions for fixes. http://stackoverflow.com/questions/10302250/reading-the-gps-data-from-the-image-returned-by-the-camera-in-ios-iphone.

For the time being it seems like an easier solution is simply to grab location

[2015-12-08 22:29] #124 closed

[2015-12-08 22:36] lwansbrough commented on #132
A PR has been merged to address this. Not sure if I've created a new npm version for all the recent changes yet though.. Sorry about that, been busy.

[2015-12-08 22:36] lwansbrough commented on #132
Try installing from this master branch and see if that fixes the problem.

[2015-12-08 22:38] #107 closed

[2015-12-11 16:09] dangnelson opened #133 "Metadata usage unclear."
I can't for the life of me figure out how to get metadata based on your docs. Do you think you could provide an example in the documentation?

I'm assuming its something like:

[code]

But it spits back an error, so does:

[code]

It seems to me that getting back an object with all the image data would be more useful as default behavior as react-native-image-picker does:

[code]

[2015-12-11 16:15] dangnelson commented on #133
I'm assuming its something like:

     this.refs.cam.capture({ meta: true}, function(err, data) {
        console.log(data);
    }

But it doesn't seem to be logging anything but the image location.

[2015-12-11 16:23] dangnelson commented on #133
It seems to me that getting back an object with all the image data as default would be more useful as default behavior as the native camera and library do on iOS:

    { isVertical: true,
      width: 2448,
      uri: 'file:///var/mobile/Containers/Data/Application/DC903F36-04CA-4976-B799-5B2719F3B9AC/Documents/images/1B8F9C5F-CFA8-4C97-B533-52E0F981513E.jpg',
      height: 3264 }

[2015-12-11 16:37] dangnelson commented on #133
I suppose my request is in line with this one:
https://github.com/lwansbrough/react-native-camera/issues/117

I'm trying to crop to an image on capture, but I need the image width and height information in order to calculate the amount to crop using the Native Module.

[2015-12-11 16:44] dangnelson commented on #87
Might be worth it to mention up front in the docs that this is iOS only. I made the dummy mistake of assuming this was cross platform since it wasn't explicitly mentioned, and it's for react-native...

[2015-12-11 16:59] lwansbrough commented on #87
@dangnelson Sorry about that Dan! It will eventually.. I can definitely add that to the docs.

[2015-12-11 17:12] dangnelson commented on #87
many thanks, otherwise great module 🙌

[2015-12-11 18:26] ethul commented on #111
Is there a work-around for this by chance? I am getting a similar issue, but it happens when I do `navigator.pop()` and then go back into the route with the camera component. Curious if there are any leads to fixing this.

[2015-12-13 20:05] bpeters opened #134 "Check permissions to access Camera"
If a user denies permissions for the camera and then tries to access the camera the app will crash. Is there a way to check for camera permissions from the Camera Api? I can then request permission with an alert like the default.

[2015-12-14 04:33] lwansbrough commented on #134
Apparently I forgot to expose the `checkDeviceAuthorizationStatus` via the JS API. You can do what you're asking via:

[code]

I'd accept a PR if you want to expose that method on the `Camera` reference like others have been in the `index.ios.js` file.

[2015-12-14 04:33] #134 closed

[2015-12-14 08:13] zubru commented on #132
Hi,
Tried your fix and I think it works. Unfortunately I have some issues with new react-native. But that error with your camera module is fixed.
Thanks a lot!

[2015-12-14 17:25] lwansbrough commented on #132
Great!

[2015-12-14 17:26] lwansbrough commented on #132
Actually I'll keep this open until a new version of the camera is released.

[2015-12-15 23:37] nickfujita opened #135 "Access to camera feed as stream"
Hello! First off, thanks for all the great work on this project, my team and I are extremely thankful that this is getting built out!

I was wondering if it would be at all possible to get access to the video stream from the camera. Currently it seems that for video, the only option would be to capture the stream to a static file, and providing a link to that file in storage (disk or camera roll).

[2015-12-16 10:58] liukepeng commented on #64
I want to  implement  scan QR_Code with React Native for Android.Can you help me?

[2015-12-16 16:55] lwansbrough commented on #64
@liukepeng Android is not yet supported unfortunately.

[2015-12-16 20:57] lwansbrough opened #136 "Compose propTypes from View.propTypes where appropriate."
https://github.com/facebook/react-native/commit/dd09c88571f5397346903e0e8c73224cbf40c862

Mentioned in release notes for 0.16-rc

[2015-12-17 07:34] liukepeng commented on #64
Thank you very much!

[2015-12-17 18:58] skeie opened #137 "Delete taken photo"
Hi,

Based on [this](https://github.com/johanneslumpe/react-native-fs/issues/34), is it possible that delete photo will be implemented into react-native-camera?

[2015-12-17 20:59] rpastorelle opened #138 "stopCapture does not always invoke the capture method's callback immediately"
Once calling `this.refs.cam.capture(options, cb)`, recording is requested to be stopped by invoking the `this.refs.cam.stopCapture();` method. If `stopCapture` method is invoked too soon after the `capture` call (<1s) then `stopCapture` never works.

Let me try to explain with code:

[code]

[2015-12-18 08:00] lwansbrough commented on #137
Hey there, I have no plans to implement any fs operations in the camera module.

[2015-12-18 08:11] lwansbrough commented on #135
So, a couple of things:

- I plan to un-deprecate the memory option because of functionality made available in core React Native (see this PR: https://github.com/lwansbrough/react-native-camera/pull/100). The memory option only provides the ability to receive a reference to a still image though.

- For any option you choose, you do not want to stream data into the JS side, because that will lock u

[2015-12-18 08:15] lwansbrough commented on #133
Hey Dan, I agree. I think this is probably better. I want to make some time to get in some of the changes I want done and get a new version out - but I can't make any promises in the short term. You could use an intermediate step which gets the image metadata and then perform the crop after.

[2015-12-18 08:18] lwansbrough commented on #138
Interesting, thanks for bringing this up. I'll add it to the list. I don't really have any leads on what may be causing this.

[2015-12-18 15:08] rpastorelle commented on #138
@lwansbrough I'm also unsure about that... I tried to dig into it a bit but wasn't able to get anything valuable. I know that it does make this call into the native API `NativeModules.CameraManager.stopCapture` below (but it has no affect):

[code]

I tried calling inside a `setInterval` instead of `setTimeout` to see if it would work eventually... but the callback was never triggered (unless the

[2015-12-19 01:58] cava23 commented on #123
So far I've traced this down to the setType method in RCTCamera.m. Torch mode is on until initializeCaptureSessionInput:AVMediaTypeVideo is called in setType. At this point, the currently configured device input is replaced, disabling torch mode. If I comment out the call to initializeCaptureSessionInput, torch mode stays on correctly. Commenting that out probably breaks something else, but that's

[2015-12-19 02:18] cava23 commented on #123
Here ya go, wrap setType with:
[code]
I'll make a PR and see what you think.

[2015-12-19 13:30] skeie commented on #137
Hi @lwansbrough, thanks for answering. Is it possible to save the images to a async storage instead of the disk? I would love to be able to not save each images to the disk.

[2015-12-19 22:27] lwansbrough commented on #137
AsyncStorage saves to disk in the background, so I'm not using it solves whatever problem you're trying to solve.

You also don't want to pass the image over the bridge in all likelihood, as it will lock the UI. Your best bet is to use the file system. If you really want to use JS APIs you can use the memory option as the target. This feature will come out of deprecation in 1.0.0.

[2015-12-21 10:52] thomasjonas commented on #127
It would be greatly helpful for my project if this feature will be brought out of deprecation! Any news on this?

[2015-12-30 10:10] thachp commented on #96
I am experiencing this problem.  How do you "add it to your webpack.config.js" ?

[2015-12-31 01:34] gorkemyurt opened #141 "Camera Component Freezes the app for 1-2 seconds during Navigator transition.."
Interesting enough, this only happens when I disable chrome debugging (so maybe some sort of race condition)

I am going to spend some time and try to isolate the issue but here is a screencast of the problem; https://www.dropbox.com/s/tfhvv9u6f0epn0n/camera.mov?dl=0

[2015-12-31 01:50] gorkemyurt commented on #141
I guess navigator keeps the camera rendered all the time even if the component is not visible; handling this manually did the trick for now
[code]
and
[code]

[2015-12-31 01:50] #141 closed

[2016-01-04 15:17] rpastorelle opened #142 "[Enhancement] More stark brightness adjustment"
Doing a quick search thru the issues it seems the brightness adjustment is automated based on tap-to-focus ([reference](https://github.com/lwansbrough/react-native-camera/issues/107#issuecomment-157232835)) ... However, I have this component in a production app with tap-to-focus and the brightness adjustment is minimal and hardly noticeable in low light conditions. Is there a way/a plan/a hint on

[2016-01-06 01:50] steveleec opened #143 "User denied access, -3311"
I have this code, like the example:

[code]

Once I clicked the button Take Picture, I got this message:

[code]

Any clue why this is happening?

[2016-01-06 19:28] steveleec opened #144 "RCTCameraManager, Code will never be executed, Array element cannot be nil"
Target deployment: 8.2
React-Native: 0.16

[code]

<img width="1076" alt="screen shot 2016-01-06 at 11 24 04 am" src="https://cloud.githubusercontent.com/assets/3300958/12152191/12d86268-b468-11e5-94c8-a93baf40ce96.png">

I cannot make use of the Camera. When I click on take picture, I got this message:

[code]

Any clue about how to fix it?

[2016-01-07 04:30] nis24jit opened #145 "How to increase the scan area of the react-native-camera?"
While scanning barcodes and qr codes,the scanning area is limited to the middle portion of the camera.Is it possible to increase the scanning area.I am able to scan the barcodes and qrcodes that fall in the middle portion of the camera but not above or below it.

[2016-01-07 19:16] chirag04 commented on #87
@lwansbrough I got https://github.com/journeyapps/zxing-android-embedded working with react-native. I can PR if you would like to add it to react-native-camera.

Android barcode scan needs to be trigged manually tho. So we can add scan as a method on CameraView.

[code]

thoughts?

[2016-01-07 19:31] ethul opened #146 "Rendering a camera in a tabbed view"
I may simply need to change my approach; however, I am wondering if there is a good way to render the same camera in two tabs. For example, I am looking to have one tab for still images and then a second tab for video. Consider the following example.

[code]

The result is that the camera is only visible in the Video tab, and nothing shows up in the Image tab.

Any thoughts or points on whether or

[2016-01-08 23:11] avindra opened #147 "```react-native link react-native-camera``` does not work"
It produces this error:

[code]

[2016-01-09 19:26] lwansbrough commented on #87
Should be an instance method to coincide with the current API, but yes I'd be okay with using that library I suppose. Does that mean we'd pull in their code into this repo? Or how were you thinking of doing it? We still don't have a way to do this :(

[2016-01-09 23:15] avindra opened #148 "Open up gitter"
Hi,

Can you please create a gitter.im for this and link it to the readme ? The url would be:

[code]

Example of [how webpack does it](https://github.com/webpack/webpack#readme).

[2016-01-11 01:46] monyxie opened #149 "Children components (visually) persist between umount and re-mount"
When a `<Camera />` component is unmounted and mounted again, its children components will persist.
[Demo](https://gist.github.com/monyxie/dd0552a72262fe508891):
![rn-camera mov](https://cloud.githubusercontent.com/assets/703164/12225476/3fde110e-b846-11e5-8d7e-c0b8919dc1a5.gif)
In the demo, everytime `<Camera />` mounts, it renders a randomly positioned line as its child. You can see the previous

[2016-01-11 03:13] jhogendorn commented on #87
I assume you've all spotted this? https://github.com/NorthFoxz/react-native-camera-android

Any thoughts?

[2016-01-11 17:15] lwansbrough commented on #87
I just opened an issue to ask if @NorthFoxz wants to merge the modules. Hopefully he's interested! :) Nice find @jhogendorn

[2016-01-12 06:50] liukepeng opened #150 "How to use it scan barcode."
run it I can saw camera open,but how to use it implement scan barcode? Or look like scanning something?

[2016-01-12 22:37] rt2zz commented on #87
@lwansbrough @NorthFoxz @jhogendorn @timmh

It looks like there are a few threads going on independently right now. Here is my current understanding of the situation:

[react-native-camera-android](https://github.com/NorthFoxz/react-native-camera-android) has barcode support & disk support
[timmh react-native-camera-android](https://github.com/timmh/react-native-camera) has memory & disk support b

[2016-01-12 22:47] lwansbrough commented on #87
@rt2zz Of course, I forgot about @timmh's fork! Ideally we go with the more stable solution. I don't have any preference over what get's implemented. Standardization is a must. If certain branches are handling things better than others, lets take the best of each where possible. APIs need to be consistent with iOS. If this is an impossibility lets talk about what needs to be changed so we can stan

[2016-01-12 22:54] lwansbrough commented on #150
You can use the `onBarCodeRead` property on `Camera` to capture bar code reads. A bounding box is returned which can be used to draw the location of the barcode.

[2016-01-12 23:01] #148 closed

[2016-01-12 23:04] rt2zz commented on #87
ideally someone with more android experience than myself, but I am happy to reconcile as needed.

[2016-01-12 23:04] lwansbrough commented on #147
Sorry about that. Android support is being tracked here: https://github.com/lwansbrough/react-native-camera/issues/87

[2016-01-12 23:07] lwansbrough commented on #87
@rt2zz As am I when I have the time. Looking for input from @timmh and @northfoxz regarding how they think it should be done.

I suppose we need to start by looking at which implementation is further along or more stable. Closer feature parity is probably more important than stability at this point, as long as the approach is correct. We should also discuss any necessary/ideal API changes that sho

[2016-01-13 04:27] NorthFoxz commented on #87
There are several issues left in my implementation now:
1. Orientation of the camera is only for portrait now
2. Component views of <Camera /> object
3. Autofocus of the view

I have to fix these issues before merging to iOS support.

[2016-01-13 04:46] rt2zz commented on #87
Sounds good. I like callbacks.

I forgot about video. Reaching feature parity may take a while but afaik everything is possible (namely passive barcode scan and touch to focus)

[2016-01-16 02:03] rt2zz commented on #87
@NorthFoxz fyi we are getting decent progress over at https://github.com/timmh/react-native-camera/pull/19

Your project has barcode which is a huge +, it might be good to coordinate efforts moving forward. What do you think?

[2016-01-16 02:19] NorthFoxz commented on #87
@rt2zz sure i would love to help!
a bit busy lately with my daytime work,
i will update my module and apis this weekend and see if you guys think its ok to merge here

[2016-01-16 06:06] geirman opened #153 "Capture Reduced Resolution Photos"
Firstly, great job! This is a great module. Doesn't look like it supports taking reduced resolution photos though unless I've missed something. Do you plan to support this or know of any work arounds?

FYI: For reference, NativeScript supports this
[Taking a memory efficient picture](http://docs.nativescript.org/hardware/camera#taking-a-memory-efficient-picture)

[2016-01-16 09:47] benvium opened #154 "Crash with: "AVCaptureSession can't startRunning between calls to beginConfiguration / commitConfiguration""
My client has reported a crash on iOS 9.2 (13C75) devices with the message "AVCaptureSession can't startRunning between calls to beginConfiguration / commitConfiguration".
It's odd as I can't reproduce it on our own devices, including those running iOS 9.2

According to crashlytics, it strikes on `_32-[RCTCameraManager startSession]_block_invoke + 4295249440`

Looks like other people have had this

[2016-01-16 09:58] benvium commented on #154
Ok, now I can reproduce this crash.

If I go into Settings / Privacy / Camera and deny app access, then the app crashes on the barcode scan page.

If I allow access again and restart the app, then it works.

[2016-01-16 15:53] colincgn opened #155 "Cannot read property aspect of undefined."
I'm getting a the following error when trying to add this Camera example to my react app.  When I open up the app I get the error, even if I don't actually use the component, simply by adding it with
```var Camera = require('react-native-camera');``` I get the error.

react-native-cli: 0.1.9
react-native: 0.18.0-rc

npm -v react-native-camera
3.5.3

However if I open up the node_modules and find t

[2016-01-16 17:16] colincgn commented on #155
Created a new project, followed steps again and it worked this time.  Safe to close this issue.

[2016-01-16 17:16] #155 closed

[2016-01-17 19:04] lwansbrough commented on #87
@NorthFoxz Sounds good - you should send those PRs to @timmh's branch so we don't have to coordinate the merge of Android stuff here. Hopefully that will make bringing Android over as a whole easier.

[2016-01-19 21:49] JakeRawr opened #156 "Next version?"
Currently, the master branch has a fix for Tap to Focus crashing issue. But v0.3.8 doesn't have that fix.When will the next version be released?

Thanks
-Jake

[2016-01-21 06:09] graywolf336 commented on #87
Looking forward to android support being merged!

[2016-01-21 14:49] dangnelson commented on #87
Same here, can't wait! Thanks for all the great work on this everybody.

[2016-01-21 16:47] wgormley opened #158 "Refocus when recording video"
I am experiencing a visual refocus at the start of recording a video. here is my code if you want to try and reproduce it. the refocus usually makes the video very dark for a short time. any thoughts on what could be going wrong? i am running this on an 6S+ with 9.2.1

link to example video: https://www.dropbox.com/s/65xn6pbo9kqp66x/IMG_0194.mov?dl=0
(for some reason the dark part shows best on sa

[2016-01-21 19:42] farmisen commented on #87
I pushed a PR (https://github.com/lwansbrough/react-native-camera/pull/157) from my fork a couple of days ago and forgot to mention it here. I haven't touched java for years and I am definitively not an Android expert so at the very least I expect my code to not be very idiomatic and I might have done some  mistakes that should be pretty obvious to spot for a more seasoned Android developer.

So f

[2016-01-21 19:44] farmisen commented on #87
I also realize I might have duplicated effort. I have been working on it over the last couple of weeks and didn't realize some were doing the same. Well, I guess there are now 3 different implementation to consider/cherry pick.

[2016-01-22 03:54] rt2zz commented on #87
haha @farmisen yeah no worries. I think you might actually have the highest api coverage of any of the forks. I think whoever implements video first will take the cake though.

[2016-01-22 12:36] NorthFoxz commented on #87
@farmisen nice job!

i think i wont have the time necessary to finish the api merge,

please continue your work and i will help if theres time

[2016-01-22 17:28] dangnelson commented on #87
Could Android support be without Video until it's ready? Or would that cause too many issues?

[2016-01-22 18:41] farmisen commented on #87
no hard promise but looking to the android dev doc it does not look like too difficult to implement so I am going to give it a shot today.

[2016-01-23 21:14] lwansbrough commented on #87
#157 has been merged. All efforts for Android should be directed towards the merged implementation. For those of you with forks, please take a look at what missing and help implement those features if you already have them developed. Thanks so much guys. Tons of great work here.

[2016-01-23 21:21] lwansbrough commented on #153
Typically I've recommended `ImageEditingManager`: https://github.com/lwansbrough/react-native-camera/issues/119

[2016-01-24 15:39] tume opened #160 "Taking full resolution photos"
When taking photos iPhone 6 the photo resolution seems to be 1080x1920 which is fine but not close to resolution it could (2448x3264).

I was going through the source code to see if there is some kind of switch for quality but only thing I could find was this line:
https://github.com/lwansbrough/react-native-camera/blob/master/ios/RCTCameraManager.m#L126

Which uses AVCaptureSessionPresetHigh pres

[2016-01-25 10:33] sharathprabhal opened #162 "Add timestamp to image captures in simulator"
Currently, image capture in the simulator is a plain white image. It will be helpful if the images had a timestamp to figure out if new captures were successful.

[2016-01-25 19:19] lwansbrough commented on #147
This should be resolved now. Please let me know if this is not the case.

[2016-01-25 19:19] #147 closed

[2016-01-26 12:50] benvium commented on #154
It looks like the intention is that the checkDeviceAuthorizationStatus method is used to check before running the camera. Unfortunately, this isn't available unless the <Camera> component is renderered, and if it renders - it crashes!

I solved this by pulling out the checkDeviceAuthorizationStatus method into a separate Native component and calling that before deciding to render the <Camera> comp

[2016-01-26 14:25] Mo-k-tec opened #164 "Linking does not seem to work"
I followed all steps but when i build the android app i get the following error.

    A problem occurred configuring project ':app'.

I added in the told files

    new RCTCameraPackage()

    include ':react-native-camera'
    project(':react-native-camera').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-camera/android')

    dependencies {
      compile project(':rea

[2016-01-26 14:56] dangnelson commented on #156
Also, with the new Android support, will there be a new release?

[2016-01-26 15:39] dangnelson commented on #164
I'm having the same problem.

I also don't see how to "Modify the ReactInstanceManager.builder() calls chain in android/app/main/java/.../MainActivity.java to include:"

I don't have any references in my MainActivity.java file to ReactInstanceManager.

My path to MainActivity.java is also different:
    android/app/src/main/java/com/.../MainActivity.java

I running the latest version of RN.

[2016-01-26 17:37] dangnelson commented on #164
This issue is related to React-Native 0.18. Here's a related solution:
https://github.com/marcshilling/react-native-image-picker/issues/74

I'll try to get a working version from that.

[2016-01-26 18:12] dangnelson commented on #164
Tagging @farmisen since he was the original source for the documentation.

[2016-01-26 18:24] rpopovici commented on #164
I linked this project with "git+https://github.com/lwansbrough/react-native-camera.git" in package.json instead of using npm version ^0.3.8 and it works this way
It looks like the npm repository was not update to the latest version

[2016-01-26 18:32] ardowz opened #165 "Getting RCTCameraViewManager cannot be cast to com.facebook.react.uimanager.ViewGroupmanager"
Using the example converted to ES6 the code works for iOS but when tried to be used on android, that error message is received.

I'm also using the most current git commit to implement it on android

[2016-01-26 18:33] ardowz commented on #164
In MainActivity.java

add this line:
import com.lwansbrough.RCTCamera.RCTCameraPackage;

before the class, that should do the trick.

[2016-01-26 18:54] dangnelson commented on #164
Worked. Thanks @ardowz

Here's what my final MainActivity looks like:

    package com.myapp;

    import com.facebook.react.ReactActivity;
    import com.facebook.react.ReactPackage;
    import com.facebook.react.shell.MainReactPackage;

    import com.lwansbrough.RCTCamera.RCTCameraPackage; // IMPORT
    import java.util.Arrays;
    import java.util.List;

    public class MainActivity extends R

[2016-01-26 19:01] dangnelson commented on #165
Yeah I'm getting this too.

[2016-01-26 19:01] ardowz commented on #164
Nice. I managed to make mine to compile, but whenever I try to run it on my phone. I get an error which is in (https://github.com/lwansbrough/react-native-camera/issues/165) was wondering if you guys made it to work in android completely.

[2016-01-26 19:02] dangnelson commented on #164
Nope. Running into the same issue.

[2016-01-26 19:26] dangnelson commented on #165
This seems like a related issue:
http://stackoverflow.com/questions/32704336/how-to-access-activity-from-a-react-native-android-module

I think the component needs to be modified to pass in the Activity.

[2016-01-26 21:51] ardowz commented on #165
I'm trying to implement whats in that document, but i dont know what to do with the activity once i get it in to RCTCameraViewManager

[2016-01-27 08:23] rpopovici opened #167 "Camera on android has no preview with rn 0.19.0"
I managed to build with camera for android, but no preview is available. Do you guys have any idea why?

[2016-01-27 10:22] corbt opened #168 "Switch to Promise-based API"
React Native is standardizing on promises over callbacks for async operations ([discussion](https://github.com/facebook/react-native/issues/4971), implementations: https://github.com/facebook/react-native/pull/5336, https://github.com/facebook/react-native/pull/5504, https://github.com/facebook/react-native/pull/5512). I think it would be good for this library to follow suit, as it will be in line

[2016-01-27 11:54] Mo-k-tec commented on #164
Also doesn't work here.

npm install react-native-camera@https://github.com/lwansbrough/react-native-camera.git --save
rnpm link react-native-camera

And then add the changes @ardowz said + @dangnelson

[2016-01-27 21:18] lwansbrough commented on #168
There are a lot of changes we want to make to the API, so I'm not against breaking the API for a major release version. async/await capture would be nice.

[2016-01-27 21:35] JeremDsgn opened #169 "How tap-to-focus feature works"
Hi!

I would like to let the user focus to take picture. But I don't know how it works.

I found on the documentation the section related to the problem : https://github.com/lwansbrough/react-native-camera#defaultonfocuscomponent But is there any example to view how it works ? I don't have any idea on how to implement this. With `defaultOnFocusComponent ` at `true` I didn't have **default internal

[2016-01-27 21:44] realjamie commented on #169
Hi,

Try set defaultOnFocusComponent to true and onFocusChanged={this._handleFocusChanged}. In your callback, you can do:

  _handleFocusChanged(event) {
      console.log(event.nativeEvent.touchPoint);
      // call capture() here
  }

The visual feedback is already provided in this component.
Hope this helps!

[2016-01-27 23:21] JeremDsgn commented on #169
Hum, it breaks the app. The focus seems to be triggered, but an error occured.

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]'
libc++abi.dylib: terminating with uncaught exception of type NSException
(lldb) `

[2016-01-28 00:01] realjamie commented on #169
Maybe the error occurred because of capture()? Try remove capture() and only print log first?

[2016-01-28 14:28] wgormley commented on #169
this fails for me too, i dont have capture in my code, just attempting to console log the event and it fails with the error @JeremDsgn gets.

[2016-01-28 15:00] dangnelson commented on #165
I was able to get the error to go away by changing RCTCameraViewManager from

to

as mentioned here:
http://stackoverflow.com/questions/35040265/react-0-18-causes-module-error/35061798#35061798

Working on device testing now to see if it works...

[2016-01-28 16:42] dangnelson commented on #165
That seemed to fix the error, but no luck on actually getting it to work.

[2016-01-28 20:38] wgormley commented on #158
this is actually caused by the camera switching from the still sensor to the video sensor. i can add a delay in the code to keep the recording from starting until after that stutter happens. it happens even if i initially set the capture mode to video initially. is that initialization actually setting the sensor? ive only looked through the code a little, so any input would be great/

[2016-01-29 01:02] ardowz commented on #165
Using what you mentioned and added some entries in AndroidManifest.xml

`<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />`

after
`<uses-

[2016-01-29 10:04] rpopovici commented on #167
Guys, any idea how to see the camera preview on android?

[2016-01-29 10:53] smallsaucepan commented on #167
What do you see @rpopovici? Can you provide some other details about your app and environment? I may be able to help having been in a similar position to you earlier today.

[2016-01-29 11:41] rpopovici commented on #167
Yes, I am building with react native 0.19.0-rc on Genymotion. I did all the suggested fixes like switching to ViewGroupManager and added user permisions. Anyway, the camera module loads, but I see no preview(transparent background). If I take a picture it works on the emulator, but on the device I get this error:
![screenshot_2016-01-29-13-33-02](https://cloud.githubusercontent.com/assets/2832454/

[2016-01-29 15:33] dangnelson commented on #165
Just to review.. I still can't get this to work in RN 0.18.

Here are the changes I've made so far:

Made the changes in the docs to these files:
android/settings.gradle:
android/app/build.gradle

Then attempted these to fix the errors:

**MainActivity.java**

[code]

**AndroidManifest.xml**

[code]

**Changed RCTCameraViewManager**
`public class RCTCameraViewManager extends SimpleViewManager
`
to

[2016-01-29 18:31] ardowz commented on #165
Not sure if this will work, but based on the other library (react-native-image-picker), but i added this in my MainActivity.java
`import android.content.Intent;`

before the Facebook imports.

Its been working on my phone already

[2016-01-29 20:25] nitelite commented on #169
I am trying to get focus on tap to work on Android, and I am also lacking the focus widget and the event does not fire. I have tried both with defaultOnFocusComponent set to true and false, and both with and without the onFocusChanged event bound. No focusing in any of these configurations. Anyone got a suggestion of where to attack this problem?

I am running the latest code from the git repo on

[2016-01-30 12:05] rpopovici commented on #167
I discovered why the camera on android it's not showing preview. Apparently RCTCameraViewManager.setType() is never called. If I add setCameraType(2); in RCTCameraView constructor I can see the preview. Now, the question is: why settings JS props don't call the native counterparts in java code?

[2016-01-30 18:50] BlackGlory commented on #165
As @ardowz said, my phone and emulator work fine after add `import android.content.Intent`.
Maybe this project's Docs and Code need to be updated for react-native 0.18.

[2016-01-31 11:28] Phoenix1708 opened #173 "(Important) android.hardware.Camera is deprecated"
Just a heads up. The native camera library used ["android.hardware.Camera" is deprecated](http://developer.android.com/reference/android/hardware/Camera.html). Device running on API level 21+ (Most latest Android phones) will experience subtle behaviour if they trying to use this library. Therefore, more backwards compatibility work needed for the Android support I guess. I am looking into it at t

[2016-01-31 17:03] JeremDsgn commented on #169
Some help @lwansbrough ?!

[2016-01-31 17:30] nitelite commented on #169
My goal was to use it for scanning barcodes, and after looking through the code a bit it looks like this project doesn't support barcode scanning on Android. I switched to react-native-barcodescanner for the Android part of the application and that seems to work fine, so no hurry on my behalf :)

[2016-01-31 17:47] rpopovici commented on #167
This is related to the fact that @ReactProp annotated props are never called. Any idea why?

[2016-01-31 23:42] FrankSalad commented on #169
What version of react-native are you on @JeremDsgn - I'm getting the same error on react-native 0.14.2 react-native-camera 0.3.8

[2016-01-31 23:45] JeremDsgn commented on #169
I'm on react-native 0.19.0 and react-native-camera 0.3.8.

[2016-01-31 23:54] FrankSalad commented on #169
@JeremDsgn did some digging, looks like it was fixed in November. https://github.com/lwansbrough/react-native-camera/issues/107

 I don't know why our npm must have pulled in an old revision.

[2016-01-31 23:55] FrankSalad commented on #169
@lwansbrough might be useful to bump the version (not sure how to force npm to see the change)

[2016-02-01 00:09] FrankSalad commented on #169
@JeremDsgn I had to `npm uninstall react-native-camera` and then `npm install https://github.com/lwansbrough/react-native-camera.git --save` to get the revision with the fix.

[2016-02-01 05:03] #168 closed

[2016-02-01 05:06] lwansbrough commented on #164
Hi all, please try with the latest commits from master.

[2016-02-01 05:06] lwansbrough commented on #162
Do you think you could do something similar for Android?

[2016-02-01 05:07] lwansbrough commented on #156
Please pull the latest changes from master. There should be some much needed fixes in there.

[2016-02-01 05:08] lwansbrough commented on #156
I'll be pushing for `1.0.0` once APIs and functionality has stabilized.

[2016-02-01 05:09] lwansbrough commented on #160
This was probably because we used to transfer data over the bridge and the full resolution would have been too slow. Would accept a PR to make this functionality possible (or perhaps even change the default)

[2016-02-01 05:11] lwansbrough commented on #154
So the authorization method has been pulled out into a static method now. It should be accessible via `Camera.checkDeviceAuthorizationStatus` - I think that will fix the issue you're describing.

[2016-02-01 05:13] lwansbrough commented on #146
Not sure how you could do this. There can only be one camera at a time. I think I would have to call this a design constraint of the device. You could try to detect when the tab is changing and swap out the component for a still image or an empty view, then switch it back. Not sure.

[2016-02-01 05:18] lwansbrough commented on #169
IMO this API needs to change. I think a `renderTapToFocus` prop would be appropriate or something similar - I want to allow for customization of that component somehow. If anyone wants to try doing this now would be a good time as I'm working through the bugs and upgrading APIs.

[2016-02-01 07:06] viscasillas commented on #156
How does this Android support work? Can I use my existing code from iOS on Android?

Sent from my iPhone

[2016-02-01 07:10] viscasillas commented on #160
Stupid question problably but Can I use my existing iOS code on Android?? Do I need to use android studio?

Thanks

Sent from my iPhone

[2016-02-01 08:32] lwansbrough commented on #156
Eventually the APIs will all work the same, for now you may have to make conditional assignments on the camera props because of lack of support of some features.

[2016-02-01 09:18] JeremDsgn commented on #169
@FrankSalad Ok, that's it ! Cool ! The last version of master is fixing the problem.
@lwansbrough Could you bump the version ? To avoid to download the dependencie from repository master.

Is there any way to custom the style of the focus square ? Changing the `borderWidth`, `borderColor` ?

[2016-02-01 11:02] sharathprabhal commented on #162
@lwansbrough Absolutely! I'll work on a PR soon.

[2016-02-01 14:17] ethul commented on #146
Thanks for taking a look. I've tried a few ways to get this going, but no luck so far. I will have to dig into it further to see if there might a way to do this. I am open to ideas. Thanks again.

[2016-02-01 15:40] dangnelson commented on #167
Using a brand new RN 0.19 project and installing from:

and following the new instructions in the docs I get no camera preview and the following error when hitting capture:

@rpopovici Can you give an exact example of where you added setCameraType(2); ?

[2016-02-01 16:30] rpopovici commented on #167
The latest incarnation of react-native-camera is totally busted with rn 0.19 on android.
You have to do the following to make it work:
1 Include View and add ...View.propTypes under propTypes in Camera.js
2 Rename REACT_CLASS in your android RCTCameraViewManager to  REACT_CLASS = "RCTCamera";  in order to match the iOS name.
3. Add setCameraType(2); setAspect(0); at the end of your RCTCameraView c

[2016-02-01 17:14] benvium commented on #154
@lwansbrough great stuff, thank you. I will give it a try later

[2016-02-01 21:52] lwansbrough commented on #169
@JeremDsgn Won't be version bumping until the API is ready. There are major changes that are unfit for a minor version bump.

[2016-02-01 21:53] lwansbrough commented on #169
See my previous comment with regards to what needs to be done about the focus square.

[2016-02-01 21:55] lwansbrough commented on #167
Can you guys submit a pull request if you've managed to fix some functionality? Thanks!

[2016-02-01 22:21] JeremDsgn commented on #169
Oh sorry, read to fast on the early morning, and you answered all of my question. The basic feature works. Hope to see the customization soon !

[2016-02-01 22:21] #169 closed

[2016-02-02 04:03] lwansbrough commented on #162
Awesome!

[2016-02-02 07:22] linshaolie opened #174 "When I switch to the settings, and then switch camare permissions, my app always crash"
![image](https://cloud.githubusercontent.com/assets/6261591/12742432/a5601de8-c9c0-11e5-9108-dc17fb12a906.png)

[2016-02-02 08:54] soliury opened #175 "Meet some issues running in android"
I have meet some issues running in android, I use Samsung Galaxy s6 API 23 in Genymotion:

[code]

And it can run, but , the camera view is empty, I mean it have nothing, just white.

[2016-02-02 13:14] rpopovici commented on #167
@lwansbrough done!

[2016-02-02 13:38] cubbuk opened #177 "Using react-native-camera for android on Ubuntu"
I could't run my app using the camera component on ubuntu.

Ubuntu version: 14.04
React-native: 0.18.1
react-native-camera: 0.3.8

I installed the latest version using the given command:

Strangely I saw that the java package name in the installed library is com.lwansbrough.ReactCamera whereas the lastest version on master branch is RCTCamera. So seems like I am downloading an older package.

The

[2016-02-02 14:48] dangnelson commented on #167
This is the first fix where I've seen the Camera working, but the Capture button isn't visible over top. I'm using a new project and the default example.

[2016-02-02 14:53] gbuszmicz commented on #177
+1

Same error here but I´m using Mac

[2016-02-02 15:10] tarikmlaco commented on #177
I managed to get past the
'Cannot evaluate module react-native-camera : Configuration with name 'default' not found.'
You just need to pick up the *latest* version, not from npm, but from git.
As the author noted on another (similar) issue, you need to type
npm install react-native-camera@[git link goes here] --save
so that you *actually* get the latest version.

After that, you should get into an

[2016-02-02 15:59] lwansbrough commented on #167
Interesting. That should be a relatively easy fix - just need to make sure sub views are being added correctly. Just going to take a look at the PR now.

[2016-02-02 16:03] lwansbrough commented on #167
Going to take a closer look at this later.

[2016-02-02 16:04] lwansbrough commented on #175
Thanks for reporting. This is an issue that's being tracked in multiple places. I'll try and have a fix tonight (8+ hours away from now.)

[2016-02-02 16:11] rpopovici commented on #167
Yes, adding children to Camera does not work for now. You can add your image with position absolute outside camera tag.

[2016-02-02 17:28] lwansbrough commented on #177
@tarikmlaco I'm gonna try and get the Android version working at least partially working today.

[2016-02-02 17:36] rt2zz opened #178 "Tap To Focus question"
Does `defaultOnFocusComponent` just disable visual feedback, but preserve the tap to focus functionality?

I am looking into potential android implementation, but am not sure what controls to expose via props, and what the default behavior should be.

[2016-02-02 18:23] lwansbrough commented on #178
I really dislike this API - I'm going to remove it for `1.0.0` - I would like to have a property `renderFocusArea` which accepts a function that accepts coordinates points, and leaves the user to return an instantiated component which will be shown at those coordinates. Like so:

[code]

Coords would be relative to the size of the camera preview, so there wouldn't be any translation required for t

[2016-02-02 18:23] tarikmlaco commented on #177
Ok. I have been forced to use 'react-native-camera-android', and it still
doesn't work as expected, but at least it builds properly. I am sure it is
a fork of your project, but I think it's worth checking out, and maybe even
merging later in the future.
Keep up the great work. Cheers :)

On Tue, 2 Feb 2016 18:28 Loch Wansbrough <notifications@github.com> wrote:

[2016-02-02 18:24] lwansbrough commented on #178
I think then that there wouldn't need to be a native API for the focus area, just an event that is triggered when the focus area is changed, with coordinates attached. Then we can handle that event inside the Camera component.

[2016-02-02 18:28] rt2zz commented on #178
I like that. I would propose we should also:
- default to a reasonable tap to focus region
- allow disabling tap to focus either by setting renderFocusArea={false} or exposing a separate prop

[2016-02-02 18:31] lwansbrough commented on #178
I think tap to focus enabled by default makes sense, so in that case `renderFocusArea={false}` would make sense, yeah.

The same could be done for face detection where a bounding box and coordinates are sent back to a `renderFaceDetectionArea(coords, size)` where coords are now the top left edge of the region, and size is the size of the region.

[2016-02-02 22:17] ethul commented on #146
Closing since it is not an issue, but a design constraint.

[2016-02-02 22:17] #146 closed

[2016-02-03 02:36] zackify commented on #177
Getting the same thing here. `Cannot evaluate module react-native-camera : Configuration with name 'default' not found.` I really need this to work, wish I knew Java enough that I could help

[2016-02-03 10:12] awitherow commented on #164
any update on this? i'm going through the steps from @ardowz now. I've changed the config & I've reinstalled the latest via npm but I still get this output.

[code]

[2016-02-03 10:29] awitherow opened #180 "undefined is not an object (evaluating '_reactNativeCamera2.default.constants.Aspect')"
On first run, I get this error.

Here are the relevant snippets of my code, pretty much copy paste driven development from the example shown:

[code]

I've written ```aspect={Camera.constants.Aspect.Fill}``` pretty much word for word as it was defined in the readme. Did I miss something? :see_no_evil:

[2016-02-03 11:04] awitherow commented on #180
Solution: delete node_modules & reinstall.

In my packages.json, to get this working, I have...

[code]

[2016-02-03 11:04] #180 closed

[2016-02-03 12:09] tarikmlaco commented on #177
@zackify you just need to pull the latest branch, NOT from npm, but from git.
npm install react-native-camera@[git link goes here] --save

But you won't be able to build the module, until there's a working android version available.
In the meantime, there's a (partially) working fork, react-native-camera-android, i suggest you also pick the latest version from GitHub, if you're really in a hurry.

[2016-02-03 13:15] Phoenix1708 commented on #177
@zackify @tarikmlaco  @gbuszmicz I got the Android version built and running. I think if you look into the "android" folder of your installed version of this library i.e in node_module, you probably won't find any ```build.gradle``` file, which means you are building a project which doesn't know how to build itself. Other than wait for the working version to be release to npm you can folk this rep

[2016-02-03 13:20] Phoenix1708 commented on #177
@lwansbrough as I mentioned in #173 we will have to resolve this or more issues will be raised regarding to various strange behaviour of the Android camera.

[2016-02-03 13:25] Phoenix1708 commented on #175
You are very likely used npm to installed the out of date version i.e not what's on the master branch @soliury see #177 it will probably give you an idea.

@lwansbrough I guess the the README needs to be updated now otherwise there will be more such issue raised.

[2016-02-03 20:37] mkraft commented on #164
@rpopovici Worked for me, thanks.

[2016-02-03 21:44] tomprogers opened #181 "Uncaught Error: undefined is not an object (evaluating 'CameraManager.Aspect')"
I'm getting this error on simulators and on my real iPhone 5.

I followed the "mostly automatic" instructions. None of the commands threw any errors.

I'm building an app using ExponentJS, in case that's relevant. I haven't figured out how to follow the manual steps yet (I don't have an Xcode project).

[2016-02-04 03:34] soliury commented on #175
@lwansbrough @Phoenix1708 I have install the latest master code, but failed.  I mean, when I meet the issue, I have installed the latest code from master, and then show:

[code]

And today, I reinstall the package from the new master, but failed.

![image](https://cloud.githubusercontent.com/assets/5032079/12805022/340c9972-cb33-11e5-8cd6-0c2625b06619.png)

[2016-02-04 09:55] Phoenix1708 commented on #175
Hi @soliury , do you mind to show me how did you installed the library ?

[2016-02-04 17:16] soliury commented on #175
Just like this:

[code]

And then, I check the code, it have linked.

[2016-02-04 17:36] Phoenix1708 commented on #175
If you put ```"react-native-camera": "git+https://github.com/lwansbrough/react-native-camera.git"``` in your package.json as one of the dependencies and run ``` npm install ``` you should be able to get the correct version and the required file.

[2016-02-04 21:19] lwansbrough commented on #175
I've had problems with rnpm setting the include path of the native modules in settings.gradle. Make sure these paths are set correctly.

[2016-02-05 03:49] evanmrose opened #182 "Reject function error 'Too many arguments to block call, expected 1, have 3"
`else if (target == RCTCameraCaptureTargetCameraRoll) {
    [[[ALAssetsLibrary alloc] init] writeImageDataToSavedPhotosAlbum:imageData metadata:metadata completionBlock:^(NSURL* url, NSError* error) {
      if (error == nil) {
        resolve([url absoluteString]);
      }
      else {
        reject(RCTErrorUnspecified, nil, RCTErrorWithMessage(error.description));
      }
    }];
    return;
  }

[2016-02-05 04:05] evanmrose commented on #182
Looks like RCTPromiseRejectBlock now only accepts 1 argument. I'm in RN 0.19. I'm not sure what version your supporting up to now but let me know if I should submit a PR fixing this by passing only the RCTErrorWithMessage to the reject fn. @lwansbrough

[2016-02-05 04:16] evanmrose commented on #181
+1

[2016-02-05 10:01] corbt commented on #76
Any workarounds @JedWatson? I'm running into this as well, which is a blocking issue because our app only records in landscape mode. I'm finding that consistently when the phone is already in landscape mode and I render the `Camera` the preview is in portrait orientation, until I wiggle the device a bit and it snaps to landscape. If I render the `Camera` when the phone is in portrait and then rota

[2016-02-05 11:05] corbt commented on #173
It's marked as deprecated because it has been replaced by the camera2 library on API 21+. However, it is still fully supported and you won't run into any issues using it. The vast majority of camera apps in Android are still using it. Since camera2 isn't available for API < 21 and React Native supports API 16+, using the "deprecated" Camera module is probably the right choice for this project, as

[2016-02-05 11:17] corbt commented on #182
Actually, RCTPromiseRejectBlock recently moved from 1 to 3 arguments (https://github.com/facebook/react-native/commit/0c5f279c9df869db2afb3e1d92a54e6d930551ad), so this code is in line with the new syntax. But that change was prior to the release of 0.19, so I'm not sure why this wouldn't work with that version. :/

[2016-02-05 11:24] corbt commented on #76
I think I've tracked down the bug to the following method:

[code]

On the first iteration through, `previewLayer.connection.videoOrientation` *always* remains 0, ignoring what we try to set it to. When the method is called a second or more times (in response to the device being rotated), the `videoOrientation` is set correctly.

I'm assuming this is related to some initialization order issue wher

[2016-02-05 15:59] evanmrose commented on #182
Not sure what's up or if my version is off but what I posted fixed my issue...

\_(ツ)_/¯

[2016-02-05 15:59] #182 closed

[2016-02-06 23:53] mikollo opened #184 "'Selfie' pictures are saved horizontally flipped"
With default settings, pictures I take on iphone 5 are saved to camera roll horizontally reflected.

[2016-02-07 00:12] mikollo commented on #184
Suprisingly default camera ios app does the same - Instagram  and Snapchat doesnt work this way though... weird. I suppose it isnt issue, sorry.

[2016-02-07 00:12] #184 closed

[2016-02-07 19:07] juggleru opened #185 "White screen"
I'm using sample from readme and see just red bordered white screen with small area with text [CAPTURE].

Android 5.0
React-native 0.19

[2016-02-07 20:23] ananogal commented on #185
I get exactly the same.

[2016-02-08 05:07] mikollo commented on #174
https://github.com/lwansbrough/react-native-camera/issues/134

You cant render <Camera /> if You detect that user disabled acces for camera 😉

[2016-02-08 16:03] tomprogers commented on #181
The problem appears to be related to the fact that projects created with ExponentJS don't come with all the Xcode and Objective-C stuff that you get when you create a new project via `react-native init [myappname]`. In this scenario, the rnpm link command listed in the README performs no work -- and shows no errors -- and this module won't function.

I don't think this project is responsible for r

[2016-02-08 16:03] #181 closed

[2016-02-08 17:54] corbt opened #188 "[Enhancement] Returning video/picture metadata"
It's often useful to get metadata about a picture/video you've captured. It's especially useful to know a video's duration. This can be estimated by manually timing the user's button presses, but it would be easier and more accurate if the framework did this automatically.

I'd like to propose a change to the `capture` method's resolved return value. Currently, it just returns the file's path. Thi

[2016-02-09 03:23] samhunta opened #189 "($300) Android & iOS video support"
I'm offering 0.8 bitcoin (approx $300 at the time of this writing) for working Android & iOS video support

[2016-02-09 15:35] rohitgoyal opened #190 "How to define Barcode scanner scan area?"
Hi
Currently there is not mention of the scan area and by default it is in the middle so I have to do guessing to scan a barcode. Is it possible to make the whole screen scannable?

Also is scanning feature not available for Android yet?

Thanks,
Rohit

[2016-02-10 10:52] rohitgoyal commented on #121
+1

[2016-02-10 18:23] agrass commented on #185
I'm with the same problem

[2016-02-10 19:25] agrass commented on #185
Hey guys, check this issue #167. It's there a pull request of @rpopovici that solve it

[2016-02-10 19:52] agrass commented on #167
I updated to react native 0.19 and I'm using @rpopovici fixes. I see the preview perfect, but when I press the capture button I get an error. Anybody knows why could happen this?

[code]

[2016-02-11 01:21] kwngo commented on #175
Does react-native-camera only work with devices running API 23?

[2016-02-11 15:17] rajatmehndiratta commented on #123
Running into the same issue; was @cava23's PR made? I can't find it when I search + don't see the change in RCTCamera.m.

[2016-02-11 16:58] cava23 commented on #123
I couldn't quite get it right, so I never made a PR. We ended up initializing the camera on componentDidMount, after the props were set. You can see our fork here: https://github.com/Tredsite/react-native-camera

[2016-02-11 17:34] agrass opened #193 "Error capture method in Android: NoSuchKeyException: couldn't find key type in dynamic object"
When I try to use the capture() method I get this error (Same with type, title and description):

[code]

I get the capture method working, please if anyone can check If the change are ok or not? #192

[2016-02-11 20:25] kwngo commented on #193
Getting a similar error running react-native 0.19

[2016-02-11 20:32] agrass commented on #193
Yoy can solve it adding ```  type: props.type, ``` into capture method default options in Camera.js or adding in the method capture like this:

[code]

[2016-02-11 20:49] kwngo commented on #193
Thanks, think it worked. I'm getting content://media/external/images/media/22 events in my logs.

[2016-02-11 20:50] kwngo commented on #190
Also need this functionality :+1:

[2016-02-12 00:17] hunteredwards opened #194 "[Android] Switching to front camera doesn't work"
Has anyone been able to implement a working switching between the back and front cameras for Android?

Only the back camera initializes the camera view, and with it, capture works.

However, the front camera renders nothing, and the capture method stops working.

Device: Samsung Galaxy S5
RN: 0.19
Android: 5.1.1

[2016-02-12 00:21] hunteredwards commented on #189
@Dyscrete I have a working implementation of video recording that I built on top of a fork of this repo by @timmh. I'm going to get this repo working for RN 0.19, then fork it, and hopefully, I can have something up by the end of the weekend.

[2016-02-12 07:41] wisdomdeng opened #195 "npm Error"
I try to install it on an android emulator but I keep getting the following error messages when I typed
npm install react-native-camera@https://github.com/lwansbrough/react-native-camera.git --save

npm ERR! Darwin 15.3.0
npm ERR! argv "/Users/ruizhi/.nvm/versions/node/v5.5.0/bin/node" "/Users/ruizhi/.nvm/versions/node/v5.5.0/bin/npm" "install" "react-native-modal" "--save"
npm ERR! node v5.5.0
np

[2016-02-12 19:32] Dyscrete commented on #189
@hunteredwards I'm using RN 0.19 so it would be awesome if you could do this and I'd happily pay the bounty!

[2016-02-13 11:57] rameshvishnoi90904 opened #197 "takePicture Failed Error"
After modifying the below line i get takePicture failed error
Camera camera = RCTCamera.getInstance().acquireCameraInstance(2);

[2016-02-13 14:25] juggleru opened #198 "How to show capture button?"
I'm trying to show capture button like this:

[code]

But the image is not visible.

What is wrong?

[2016-02-14 02:13] splicefracture opened #199 "onBarCodeRead doesn't work on Andoird"
I'm not seeing support for onBarCodeRead on Android.
Are there any plans for this to be to be implemented?

Here is my sample code in case I'm missing something.

[code]

[2016-02-15 06:07] gaotinggxl opened #200 "RCTCameraManager.m error"
reject(RCTErrorUnspecified, nil, RCTErrorWithMessage(error.description));

error:   Too many arguments to block call, expected 1, have 3.

[2016-02-15 07:23] lwansbrough commented on #200
Please specify React version, etc.

[2016-02-15 07:24] lwansbrough commented on #199
Feature parity is still a ways off for Android. As far as I know Android doesn't have a barcode scanner built into the default camera implementation, so we'll have to consider how we can make that work too.

[2016-02-15 07:30] gaotinggxl commented on #200
react version is 0.16

[2016-02-15 10:26] lwansbrough commented on #200
Ok, sorry about this but we're building master against the latest version of React so we can keep up with important optimizations and API changes in the core. This is an unfortunate side effect of using pre-1.0 software like RN. I'd expect using React Native 0.20 or later will solve your problem, but please understand the camera module is still in a pre-release state as well.

[2016-02-15 10:26] lwansbrough commented on #200
I'm going to close this as the issue pertains to an earlier version of React Native. Please feel free to re-open the issue if it persists with the current stable version of React.

[2016-02-15 10:26] #200 closed

[2016-02-15 17:43] agrass commented on #193
fixed in PR #192 with default params

[2016-02-15 17:43] #193 closed

[2016-02-15 21:25] rdhaliwal commented on #123
FWIW @brancusi I had the same issue where I tried to initialise the Camera with TorchMode.on, but when I changed it so it was set with a variable and it was initially set to off, then toggled to on, it started to work for me. Maybe it'll help? ¯\_(ツ)_/¯

[code]

[2016-02-17 00:22] rt2zz commented on #197
Is this in android? try installing the latest from master `npm install lwansbrough/react-native-camera`

[2016-02-17 00:24] rt2zz commented on #195
react-native-modal is not a dependecy of react-native-camera, so your issue probably lies elsewhere. when in doubt `rm -rf node_modules && npm install` :+1:

[2016-02-17 00:24] #195 closed

[2016-02-17 00:46] rt2zz commented on #29
This issue is a bit dated. there is now a `target="temp"` option for both android and iOS thanks to @christopherdro :+1:

[2016-02-17 00:46] #29 closed

[2016-02-17 00:48] christopherdro commented on #29
@rt2zz Just a heads up, I believe this applies only to photos. Temp directory for videos needs to still be added.

[2016-02-17 02:27] andreacab opened #202 "iOS - Build fail: too many arguments on block call"
react-native: 0.14.2
After carefully following the steps mentioned in the readme, I get an error trying to build my project:
"Too many arguments to block call, expected 1, have 3"

In RCTCameraManager.m there are 8 calls to a reject method with three arguments passed in. Xcode expects only one, any idea?

Thanks for your help.

[2016-02-17 02:34] rt2zz commented on #202
@andreacab we do not support old versions of react-native, especially right now when this project is a bit in flux. I would recommend upgrading to react-native 0.20 and installing camera from master `npm i lwansbrough/react-native-camera`

[2016-02-17 02:40] andreacab commented on #202
Thanks so much for your quick answer. Knew that would happen some day. Will update then.

[2016-02-18 13:31] rohitgoyal commented on #199
@lwansbrough
Google just released Barcode APIs recently.
https://developers.google.com/android/reference/com/google/android/gms/vision/barcode/Barcode
Check it out.

[2016-02-18 13:49] chenbin92 commented on #202
@andreacab @rt2zz  I have the same problem, thank you very much

[2016-02-19 01:58] rt2zz commented on #202
after reading more it appears the signature of promise reject was changed in 0.19. Your best bet is to either upgrade to rn .19+ or to downgrade react-native camera.

[2016-02-19 01:58] #202 closed

[2016-02-19 15:37] abr54 opened #205 "Prompting and forced acceptance of microphone permissions even if captureAudio set to false"
This is related to the change that was made in https://github.com/lwansbrough/react-native-camera/pull/129 - as suggested there I have a use case where I don't need microphone access at all (a barcode scanner).

I've set the ```captureAudio``` prop to false but I'm still being asked to allow microphone access when trying to access the camera. Additionally ```checkDeviceAuthorizationStatus``` retur

[2016-02-19 19:14] bdeezz opened #206 "RCTCameraModule.stopCapture got 2 arguments, expected 3"
React Native version 0.20.0, Android 5.0, Node.js version 5.0.0, react-native-camera (master)

[2016-02-20 00:49] davidjeffries commented on #158
I noticed this as well... From what I can tell it is caused when adding the audio input to the capture session which happens here: https://github.com/lwansbrough/react-native-camera/blob/master/ios/RCTCameraManager.m#L596

I don't have much ios experience but I think adding the audio to the session causes the video to restart and refocus which looks bad in the resulting video file.

For now I hack

[2016-02-22 09:47] rohitgoyal commented on #87
@lwansbrough Is the barcode issue is also sorted out?

[2016-02-22 13:08] cubbuk commented on #194
Same issue using Nexus 5. When trying to switch to front came screen freezes with the current snapshot of the screen, but app stays responsive.

RN: 0.20
Android: 6.0.1

[2016-02-22 18:13] rt2zz commented on #87
@rohitgoyal no. There are two possibilities: either using zxing barcode scanner or using android native barcode scanner. The downside of the latter is that it lacks support for older versions of android.

If you have some time, there is a working android barcode implementation at https://github.com/NorthFoxz/react-native-camera-android that can be used as a reference for implementing here. PR appr

[2016-02-22 20:11] cubbuk commented on #194
Seems like this is fixed in the latest version of repo thanks to @rpopovici.
The below check was required for the front camera to work properly.
[code]

[2016-02-23 13:03] mikollo commented on #198
You might try using position='absolute' for this image and make sure that You have proper source.

[2016-02-23 13:13] mikollo opened #209 "[question] Is this taking pictures at 1920x1080 res. regardless of the device?"
I don't understand obj-c enough to figure it out from code.

[2016-02-23 13:18] mikollo commented on #209
#https://github.com/lwansbrough/react-native-camera/issues/160

[2016-02-23 17:18] hunteredwards commented on #194
@cubbuk thanks for finding that. You're a life saver!

[2016-02-23 17:18] #194 closed

[2016-02-23 21:57] robsquires opened #210 "Shutter "effect" executed at the beginning of recording a video"
### Steps to reproduce
1. Setup camera in video recording mode as per [Usage](https://github.com/lwansbrough/react-native-camera#usage)
2. Start recording, using `camera.capture()`

### Expected behaviour
When I start recording a video, I'd like to apply my own UX to notify the user that recording has started. (show a timer etc).

### Actual behaviour
When I start recording a video, I get a shutte

[2016-02-24 00:40] pyrabbit commented on #160
I am interested in this type of enhancement and would consider working on a PR. I haven't done much with Objective-C or Swift or mobile for that matter. Is this a relatively straight forward fix or would it require a significant rehaul.

[2016-02-24 13:15] JBerendes commented on #198
On Android I also found this to be a problem. Consistency is maybe the more immediate concern.
Absolute positioning is correct but I had to start the component outside the Camera rather than containing it inside. Now that works and looks consistent on iOS and Android for me. I also put all of that inside my own CameraCapture component so I now have something understandable and reusable.

[2016-02-24 14:22] JBerendes commented on #189
To be clear, it is known that iOS is currently working. I'm using it and that works fine. This is a request to get the feature working on Android. Feature parity across platforms is ideal. Thanks to anyone who takes this on.

[2016-02-24 18:09] dhrrgn commented on #101
@lwansbrough @skeie It turns out we needed this feature, so... I submitted a PR for it :) (it is only for iOS  at the moment, see PR for reasoning): https://github.com/lwansbrough/react-native-camera/pull/212

[2016-02-25 11:20] cuitianze commented on #181
+1

[2016-02-25 14:39] sodik82 commented on #198
@JBerendes thanks - it helped

[2016-02-26 03:16] gimlids commented on #210
Are you sure this is an "effect"? Or is there something strange happening with the camera's actual exposure? I am seeing what I believe to be a camera exposure issue at the beginning of recording video, resulting in the first frame of every video being essentially black. I'm guessing the iOS camera API is being manipulated in such a way as to cause this.

[2016-02-26 03:18] gimlids commented on #210
Followup, is this a dup of https://github.com/lwansbrough/react-native-camera/issues/158?

[2016-02-26 03:28] gimlids commented on #158
Also seeing this... sometimes it also causes the video to start with the exposure way down: https://www.youtube.com/watch?v=RMID_ysDgJs

@davidjeffries one side effect might be always asking the user for permission to use the microphone. Perhaps an API should be added to allow specifying the capture mode at initialization time.

[2016-02-27 10:35] robsquires commented on #210
@gimlids I've posted the effect here: https://youtu.be/DjZ_Or_zA4c

[2016-02-27 10:37] robsquires commented on #210
This doesn't happen when you start recording video in the native camera app, so I agree it's likely to be custom manipulation of the API. I've had a look through the RCTCamera and RCTCameraManager but I'm struggling to find too much

[2016-02-27 16:09] rpopovici commented on #160
It's done just needs to be merged https://github.com/lwansbrough/react-native-camera/pull/211

[2016-02-28 08:36] robsquires commented on #210
@gimlids you were right -  #158 solved this :+1:

[2016-02-28 08:36] #210 closed

[2016-02-28 23:02] rtfpessoa opened #215 "Camera gets slow and eventually gets stuck"
I am using `react-native-camera`with the helper [react-native-qrcode-reader](https://github.com/lazaronixon/react-native-qrcode-reader).
After I take my first shot/qr code scan, if I go back to the camera view the camera stops working leaving a steady image in the screen.
The rest of the app seems unaffected.
### Steps to reproduce
1. Use `react-native-qrcode-reader` to scan qr code
2. Go back to

[2016-02-29 20:16] miletbaker commented on #199
+1 for integrating Google's vision.barcode API so we can have onBarCodeRead implemented on Android.

You guys are doing a great job and if you can fit in barcode support on Android that would be amazing. Thanks.

[2016-02-29 22:39] RGBz commented on #205
I second this, the API should be updated inline with @lwansbrough's concerns from #129

[2016-03-01 20:37] tomprogers opened #216 "memory leak?"
I've got a simple POC app that presents the react-native-camera, along with a hold-to-record button. When I open the app and let it run with the Perf Monitor active, the RAM used by the app slowly climbs over time, even if I don't record anything.

Has anyone else noticed whether this module is leaking memory?

Here's the relevant code:

[code]

### Steps to reproduce
1. Load the app and open the

[2016-03-03 03:09] rt2zz commented on #205
we can either
a) add an optional options parameter to `checkDeviceAuthorizationStatus`. Something like:`{types: ['audio', 'video']}`
b) split this out into two methods: `requestVideoAccess` `requestAudioAccess`.

Thoughts?

[2016-03-03 03:10] rt2zz commented on #205
after writing this I think b) is the way to go. It is cleaner and more explicit.

[2016-03-03 03:12] rt2zz commented on #215
There may be a memory leak (see #216) or there could be an issue with having multiple cameras mounted. Often times the way navigator works you end up with multiple running cameras which is very costly. One solution for this case is to track which route is active and do not render the camera if the route is not active. This is really easy to do with NavigationExperimental, I am less certain about t

[2016-03-03 19:54] pankajmonga12 opened #219 "timer set for camera"
can you tell is there any property to set timer for camera capture image automatically ?

[2016-03-03 20:31] aforty commented on #188
I would find this useful. 👍

[2016-03-03 20:42] rt2zz commented on #219
you can just use a `setTimeout(() => { this.refs.camera.capture()})`

[2016-03-04 00:19] rtfpessoa commented on #215
@rt2zz what do you mean by `NavigationExperimental`?

[2016-03-04 10:53] pankajmonga12 opened #220 "Undefined is not an object(evaluating 'CameraManager.Aspect')"
i try to make simple react native camera app. when i try to run it gives me tht error.

[2016-03-04 13:03] corbt commented on #188
@lwansbrough have you had a chance to think about this?

[2016-03-04 17:19] rt2zz commented on #215
@rtfpessoa it is not in the docs yet, but the core team is working on a new Navigation library: https://github.com/facebook/react-native/commit/a3085464f6ea36fc6b53cd0c711c048ffb1516f9

[2016-03-04 17:56] rt2zz commented on #220
what version of camera and what version of react-native are you using? I would suggest installing camera from master

[2016-03-05 05:25] rameshvishnoi90904 opened #221 "Does this Component support QR Scanning in android ???"

[2016-03-05 09:54] pankajmonga12 commented on #220
react-native-cli: 0.1.10
react-native: 0.21.0

i already installed camera from master

[2016-03-07 03:49] tkmoney opened #222 "[enhancement] Ability to adjust quality and/or resolution"
It would be great if there was some way to adjust the image quality and/or the resolution of the image.

[2016-03-07 05:44] klvs commented on #189
Any update on this?

[2016-03-07 16:35] Phoenix1708 commented on #206
Same Issue here React Native Version 0.21.0. Android 6.0.1, Node version 4.3.2, react-native-camera (master)

[2016-03-07 20:04] lindesvard commented on #220
Same here. When I import the module the error occurs.

Have react-native 0.21.0 aswell.

[2016-03-08 14:15] abr54 commented on #205
I think b) sounds reasonable yep.

[2016-03-09 08:47] cubbuk commented on #87
Thanks for the great work =) Currently android version does not support video recording, is there any plan for implementing video feature for android too @lwansbrough  @farmisen?

[2016-03-09 09:12] cubbuk commented on #198
As @JBerendes mentioned subviews for Android does not work, I had to put my components outside `Camera` component too, but in IOS it works as it is described in the docs. Maybe it is a good idea to update **Subviews** section in docs to clarify this difference.

[2016-03-09 20:25] RGBz commented on #142
:+1:

[2016-03-09 22:14] Vampirkod commented on #220
After installing and linking package, important to rebuild native part of app.

[2016-03-10 19:29] MatthewRDodds commented on #149
I'm experiencing this same issue with iOS when trying to show a slightly different camera view (scanning barcode vs taking a picture):

![screen shot 2016-03-10 at 2 27 09 pm](https://cloud.githubusercontent.com/assets/1717864/13681659/492a27f2-e6cc-11e5-8399-a43d038f84e1.png)

The previous view is visually persistent, as if it's just been chilling in the background until I render my next camera v

[2016-03-10 22:59] freemanon commented on #220
Same here, just upgraded to 0.21.0

[2016-03-10 23:22] freemanon commented on #220
Fixed it, had to link the library manually.

[2016-03-11 02:24] monyxie commented on #149
@MatthewRDodds We took our child component and put it under the same parent as `<Camera/>`, then we styled it so that it appears on top of `<Camera/>`.

[2016-03-11 14:29] rpastorelle opened #224 "Requesting Android Permissions at Run Time?"
Regarding [Requesting Permissions at Run Time](http://developer.android.com/intl/es/training/permissions/requesting.html)

Since this is using the "dangerous" permission: `android.permission.CAMERA`, shouldn't there be a corresponding permission check/request (say, `checkDeviceAuthorizationStatus`) in the Java module?

Learning Java/Android myself so if not, can you please explain why?

According

[2016-03-13 21:35] jadnco commented on #188
Adding a `location` object that includes latitude and longitude would also be awesome.

[2016-03-16 16:22] KalebPortillo opened #226 "Very bad quality picture taken on android"
### Environment
- **React Native version**: 0.21
- **React Native platform + platform version**: Android 5.1

### react-native-camera
**Version**:  "master"

My code:
[code]
[code]

So the problem is, when I run this in one of my android phones 4.4 kitkat, the image quality seens fine:
![img_2016-03-16 13 18 27](https://cloud.githubusercontent.com/assets/10066821/13819824/a8481d1e-eb79-11e5-9fce-5

[2016-03-16 20:46] cdimascio opened #227 "Saved image is incorrectly rotated - picture orientation does not match the preview orientation."
### Steps to reproduce
1. Create react native app using sample code provided in README.md
2. Run app on a Nexus 9 (or any device whose default orientation is landscape not portrait)
3. Hold device in portrait mode and Take a picture. (Picture is now saved)
4. Open picture. The picture is rotated incorrectly. It's sideways
### Expected behaviour

Saved Picture should retain the same orientation as

[2016-03-16 22:26] KalebPortillo commented on #227
+1

[2016-03-17 14:25] drakmail commented on #221
There are PR: https://github.com/lwansbrough/react-native-camera/pull/229

[2016-03-18 10:48] dcz-switcher commented on #198
Maybe add another example for android ?

`render() {
        return (
            <View style={styles.container}>
                <Camera
                    ref={cam => this.camera = cam }
                    style={styles.preview}
                    aspect={Camera.constants.Aspect.fill}>
                </Camera>
                <TouchableHighlight
                    style={styles.actionButton

[2016-03-18 14:58] agrass commented on #226
I have the same issue in android

[2016-03-18 15:06] agrass opened #231 "Camera some times take a while to show the image in Android"
### Actual behaviour

Some times the camera take too much time to show the current image or just not show nothing, it show only a black background color or some times just the camera not work. someone more with this issue??
### Environment
- Android 5.0
### react-native-camera

**Version**: npm version

[2016-03-18 16:12] agrass commented on #224
Hi @rpastorelle,

The open source version of React Native doesn't yet support the Android M permission. Is a known issue, but hopefully it will be solved by someone soon.  [https://facebook.github.io/react-native/docs/known-issues.html#android-m-permissions](https://facebook.github.io/react-native/docs/known-issues.html#android-m-permissions )

[2016-03-18 16:40] agrass commented on #226
I think it should be solved with this PR #211

[2016-03-18 21:33] KalebPortillo commented on #226
Thanks for help @agrass ,
Any idea when this PR will be accepted?

[2016-03-19 00:59] agrass commented on #226
The PR is in standby because they want to make the resolution more configurable. There are a solution proposed, but I have no knowledge of the progress of that, hopefully soon

[2016-03-21 21:40] MatthewRDodds commented on #149
That solution seems to have worked for me as a work-around.

[2016-03-21 21:51] rt2zz commented on #149
If I recall correctly, react-native-maps had a similar issue that they resolved. unfortunately I cannot find a reference in the commits. If anyway has any ideas help would be appreciated.

[2016-03-22 12:07] rpopovici commented on #227
This is happening because on most SAMSUNGs and some other devices the orientation information is saved in EXIF metadata tag. You have to use this information if you want to properly visualize this picture. Take a look here for more info http://stackoverflow.com/questions/28298956/captured-image-getting-rotated-on-nexus-9

[2016-03-22 19:02] elaygl commented on #189
+1 video for android

[2016-03-23 17:45] gm758 commented on #222
Looks like this was added in the latest version. Super helpful for one of my current projects! Sending full resolution video over a network was a nightmare.

[2016-03-23 17:54] corbinschwartz commented on #216
Our team is able to reproduce by just including the camera package. Still trying to figure out a way to make it not leak.

[2016-03-23 18:03] stoffern commented on #198
This will work:
[code]

[2016-03-23 19:01] rpopovici commented on #227
Guys I made a PR which is suppose to fix the locked orientation problem. This might fix the Nexus 9 issue too https://github.com/lwansbrough/react-native-camera/pull/232

[2016-03-23 19:16] rpopovici commented on #216
Guys thanks for finding this. I think I fixed https://github.com/lwansbrough/react-native-camera/pull/233 Just let me know if this fixes the problem

[2016-03-23 19:32] tomprogers commented on #216
Thanks! Will pull from `eab5ef1` and let you know.

[2016-03-23 20:55] tkmoney commented on #222
Cool! It looks like there is a enum of strings options that you can pass to "captureQuality" but I dont see any documentation for what they are.

[2016-03-23 21:35] #226 closed

[2016-03-24 18:02] corbinschwartz commented on #216
@rpopovici, thank you!

[2016-03-24 18:18] rt2zz commented on #216
merged :+1:

[2016-03-24 18:18] #216 closed

[2016-03-24 18:18] rt2zz commented on #216
please reopen if it is still an issue

[2016-03-24 20:26] shssoichiro commented on #181
For those who may still be googling to find the answer to this, my issue was that I had not restarted XCode/rebuilt the project after installing react-native-camera. Reloading the JS isn't enough, I had to exit the simulator and restart XCode so that the native modules would build.

Hopefully this helps someone.

[2016-03-25 00:06] Dyscrete commented on #189
Can we get this going?!

[2016-03-26 04:16] faceyspacey opened #234 "does this component support recording video on Android?"
### Steps to reproduce

1.
2.
3.
### Expected behaviour

Tell us what should happen
### Actual behaviour

Tell us what happens instead
### Environment
- **Node.js version**:
- **React Native version**:
- **React Native platform + platform version**: iOS 9.0, Android 5.0, etc
### react-native-camera

**Version**: npm version or "master"

[2016-03-30 00:37] sscaff1 opened #236 "Preview Screen Disappears after one second"
When you take a picture, a preview of the image comes up for one second and then begins capturing again (in still mode) so that you can take another picture. This is fine for certain use cases, but it would be nice to give the Camera Component the option of staying on that preview so that you can introduce a UI above the previewed image (similar to how SnapChat does it). I don't currently see this

[2016-03-30 00:40] #236 closed

[2016-03-30 02:53] wulunyi commented on #155
After installing and linking package, important to rebuild native part of app.

[2016-03-30 16:58] sscaff1 commented on #188
This is exactly what I need. I need the metadata on the callback as @corbt mentioned above. Has any work been done on this?

[2016-03-30 17:01] sscaff1 commented on #133
@lwansbrough this seems very similar to #188.

[2016-03-30 17:43] corbt commented on #188
No, I don't think anyone is working on this. I'm happy to implement this in a PR though if @lwansbrough agrees it's a good idea. It's a breaking change so consensus/approval is important.

[2016-03-30 18:19] rt2zz commented on #188
This would be great to have, and since we are looking at a putting together 1.0 release, breaking api changes are very much fair game.

Also with the promise based api, we do not have a lot of alternative options to support metadata.

:+1:

[2016-03-30 20:34] sscaff1 opened #237 "Long Delay between onPress and Finished Callback"
There is an average of a 2 second delay on Android between pressing "Capture" and the data being returned from the promise. I used another package https://github.com/NorthFoxz/react-native-camera-android and there is an average of a 0.8 second delay for the same scenario (which is much better). Any ideas? I saw a closed issue from a while ago showing that the delay was related to a similar delay a

[2016-03-30 21:39] yodacom commented on #188
👍

[2016-03-30 22:20] realjamie opened #238 "If you start another recording before the previous long video file is saved, the app crashes when you stop the second recording."
### Steps to reproduce
1. Record a long video, like 10 minutes.
2. Before the long video file is saved (you probably need to print a log to tell), quickly start another recording.
3. Stop the second recording.
### Expected behaviour

Both of the videos should be saved. The camera should work after that.
### Actual behaviour

Both of the videos are saved. However, the app crashes. It says it cannot

[2016-04-01 20:22] evanmrose opened #241 "Issues including images outside of the component where they were captured"
I have an application component which takes and orders a number of pictures and saves them to disk. I can reference them from within the same component and display them to the user. Outside of that view, however, I get errors saying module unrecognized.

Is the path that is returned from the RN Camera callable from anywhere component in an application? It doesn't seem to be, but is it relative?

H

[2016-04-02 12:40] shaikhussian opened #242 "when trying to run in device getting error"
hai when i try to run this in device, I am getting an error like the below screenShot,when click on capture
![img_0204](https://cloud.githubusercontent.com/assets/11956308/14226366/ca548f46-f8fd-11e5-8ab4-b32fbf9534c9.jpg)
can you please tell me that how to solve it, And i am using this module for QR-Reader, how can i scan the generated QR  using this module

[2016-04-02 17:19] rt2zz commented on #242
Most likely you are using an old version that haf a callback interface for capture. I would try installing master and see if that helps

[2016-04-04 01:52] rt2zz opened #246 "1.0 Changes, TODO, and RFC"
**So far the following changes are slated for 1.0**
- Promise api instead of callbacks
- Android Support
- `mirrorImage` option
- `captureQuality` option
- `target: temp` option
- Capture to return object with metadata instead of a simple string value

**TODO: release blockers**
- [x] [Change RCT prefix](https://github.com/lwansbrough/react-native-camera/issues/283) (presumably to RN)
- [x] Androi