[2018-11-21 10:39] raghavendramogeraya opened #1938 "Check camera exists or not"
I have installed and using this module and working fine for me. But, need to check whether front or back camera is available in the device. I need to show switch 'front' or 'back' to change the camera front or backside.
Please help me how we can check this?

[2018-11-21 10:43] n1ru4l commented on #1938
This can be checked with https://developer.android.com/reference/android/content/pm/PackageManager

Maybe we should export an array that includes the supported camera types?

I am pretty sure on iOS there is always a front and face camera, so we can make it static.
On android we will have to write some native code

[2018-11-21 12:40] ntelkedzhiev commented on #1650
Same here... Simulated on Android.

[2018-11-21 14:03] SirhanDada commented on #1929
Thanks for the answer, I followed the procedures and now the error path is in Camera.js, how to proceed?

![7481a05a-6c30-47b6-94d9-fc40b56abf61](https://user-images.githubusercontent.com/45172643/48846125-6b370000-ed85-11e8-84f0-4a49ed20eb94.jpg)

[2018-11-21 16:31] SirNeuman commented on #1931
I get this issue also. Specifically when using RNCamera within a stackNavigator component from `react-navigation` after transitioning between screens. Doesn't happen all the time but happens a lot of the time. Not sure exactly how to work around this yet or if this is a bug with RNCamera or an issue with my implementation of the stackNavigator component. I don't get this problem when i use the swi

[2018-11-21 16:39] galcivar commented on #1930
I am experiencing this issue using the docs example from the [Docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md). Just changed options:
`const options = { quality: 1, base64: true, pauseAfterCapture: true }`

Packages:
"react-native": "^0.57.5",
"react-native-camera": "^1.4.3"

[2018-11-21 17:36] kassim commented on #1866
I can confirm creating a `/node_modules/react-native-camera/android/gradle.properties` file with
[code]
fixes the build for me
so this needs to be generated by the https://github.com/react-native-community/react-native-camera library then to fix the problem

[2018-11-21 18:59] jtwarren commented on #726
@SimonErm, I've experienced this issue on RNCamera, the latest version I remember this happening on was 1.2.x

[2018-11-21 20:34] vvusts commented on #1725
Is there any status on this?

[2018-11-21 22:02] SimonErm commented on #1838
#1641 Works on latest Release

[2018-11-21 22:02] #1838 closed

[2018-11-21 22:05] SimonErm commented on #1533
RCTCamera is deprecated

[2018-11-21 22:21] #1533 closed

[2018-11-21 23:14] OyeOvi commented on #1373
Anything on this yet?
takePictureAsync never returns!

[2018-11-21 23:41] ksairi commented on #1373
@OyeOvi  make sure you don't any spinning loader or related. I removed mine and takePictureAsync started to return!

[2018-11-21 23:45] OyeOvi commented on #1373
@ksairi there is no loader or anything like that
[code]

[2018-11-21 23:49] ksairi commented on #1373
@OyeOvi  try to no to set the state, neither before nor after ``takePictureAsync``. console.log the uri and see if it returns.

[2018-11-21 23:53] OyeOvi commented on #1373
Tried doing so, same thing, I'm running it in Android using Expo

[2018-11-21 23:56] OyeOvi commented on #1373
Figured it out!
There were some caches issue I guess - because same code was working fine in [Expo Smack](https://snack.expo.io/)
I cleared the data of Expo App and it stated to work fine!

[2018-11-22 08:04] xinggangling commented on #1897
I have the same problem;

"react-native-camera": "1.4.3",
 <uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTER

[2018-11-22 08:39] n1ru4l opened #1939 "use clang-format for objective c code"
# Feature-Request

**Describe the Feature**
Use automatic code formatter for objective c code.

**Possible Implementations**
I started using https://github.com/angular/clang-format for my private code yesterday and it is a blessing.

We can use it as a precommit hook similar to prettier!

**Related Issues**
None

[2018-11-22 09:17] maxschmeling commented on #1934
I believe this is being caused by the `updateSessionAudioIsMuted` call in the `record` method of `RNCamera`.

If I comment out this line, the flicker goes away: https://github.com/react-native-community/react-native-camera/blob/b1d91eb91ab148356a2069e20b24c93068154b2f/ios/RN/RNCamera.m#L525

I'm going to attempt to call `updateSessionAudioIsMuted` in `setupMovieFileCapture` and see if that resolve

[2018-11-22 10:18] n1ru4l commented on #1934
Okay https://github.com/react-native-community/react-native-camera/pull/1932 is the culprit.

@maxschmeling Yeah Lets introduce the `defaultMuted` property! Do you want to send a pull request?

[2018-11-22 14:09] SirhanDada opened #1940 "undefined is not an object (evaluating 'Z.Aspect')"
Guys i'm getting the message: "undefined is not an object (evaluating'z.Aspect') render the demo code in Android,

![7481a05a-6c30-47b6-94d9-fc40b56abf61](https://user-images.githubusercontent.com/45172643/48907175-d6e4a000-ee4d-11e8-8d3f-7162a3f1a08b.jpg)

it's not link's problem...

following the path of error we got here:

![image](https://user-images.githubusercontent.com/45172643/48907304-2c2

[2018-11-22 15:30] maxschmeling commented on #1934
I could be wrong, but I don't think #1932 is the culprit. It was still calling `updateSessionAudioMuted` before that point. #1932 just changed the value it was passing.

Again, I could be misunderstanding (not an Obj-C developer at all) but it doesn't matter too much either way. The `defaultMuted` change should fix it.

[2018-11-22 16:12] maxschmeling commented on #1934
Sorry to flood with comments here but don't want to forget things through the holidays. I am seeing the flicker when `stopRecording` is called for the first time even after my POC change for calling `updateSessionAudioIsMuted` earlier. I'm assuming it's removing the audio input after recording stops, but not sure (though maybe that isn't the case because I don't see it flicker again if you start r

[2018-11-22 20:20] n1ru4l commented on #1934
@maxschmeling IDK how the `defaultVideoQuality` property behaves today when updated, but it would be nice to have a change of the `defaultVideoQuality` property to be reflected on the native camera instance.

And thank you for your interest in contributing to this project! Ping me in the PR and I will review and test the implementation 😊

[2018-11-22 22:37] maxschmeling commented on #1934
@n1ru4l I've submitted a WIP pull request that has the initial fix in it but a couple todos for the flicker on the first `stopRecording` and looking into handling changes in the `defaultVideoQuality` and `defaultMuted` values. I'll work on those as I have time today and tomorrow.

https://github.com/react-native-community/react-native-camera/pull/1942

[2018-11-23 00:11] achimbaggins opened #1943 "App crash after linking"
# Question

**To Do First**
- [ ok ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [  ok ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [  ok ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

*

[2018-11-23 08:05] SimonErm commented on #1943
If this just happens on Android, it sounds like missing permission at manifest or missing permission request at runtime.

[2018-11-23 09:56] prateekgoel opened #1944 "2d Matrix code scanning"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera
RCTCamera(deprecated)

**Platforms**
Android

**Versions**

- Android: Tested on Oreo and Pie
- react-native-camera: 1.5.1
- react-native: 0.57.7
- react: 16.4.1
- react-navigation: 2.17.0

**Description/Current Behaviour**
I am usi

[2018-11-23 11:32] kapil708 commented on #885
hi @irsyadmhdilham did you find any solution.

[2018-11-24 15:12] galcivar commented on #1252
Besides reinstalling everything, nothing else has worked...added repositories, changed sdk to:
        buildToolsVersion = "27.0.3"
        minSdkVersion = 16
        compileSdkVersion = 27
        targetSdkVersion = 27
        supportLibVersion = "27.1.1"

Tried every single other version but I get that gradle uses 27.0.3 by default now

[2018-11-24 20:07] kosintop opened #1946 "Manual Focus Depth not working?"
**Related Modules**
RNCamera

**Platforms**
Android

**Versions**
- react-native-camera: 1.4.3
- react-native: 0.5
- react:16.0.0

**Description/Current Behaviour**
The camera preview does not change focus after adjusting focus level, all focusDepth look blur the same

**Expected Behaviour**
The camera preview focus/blur level should change when focusDepth change

**Steps to Reproduce**

set <RNCa

[2018-11-25 00:05] jtwarren opened #1947 "RNSensorOrientationChecker undefined upgrading 1.2.0 to 1.4.3"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- iOS: 12.1
- react-native-camera: 1.4.3
- react-native: 0.57.5
- react: 16.6.1

**Description/Current Behaviour**

After upgrading from 1.2.0 to 1.4.3 I am getting a build error on ios.
[code]

T

[2018-11-25 20:29] rlveiga opened #1948 "[ios] App crashes, permission changes made to Info.plist file automatically removed on build."
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

**Versions**
- Android:
- iOS: 12.0
- react-native-camera: ^1.4.3
- react-native: 0.57.3
- react: 16.6.0-alpha.8af6728

**Description/Current Behaviour**
When my screen with the RNCamera is to be rendered, the app crashes and exits. I have

[2018-11-25 20:41] SimonErm commented on #1216
I worked on it, but i don't think this is the solution, because the 2D codes returning different ResultPoints

[2018-11-26 01:29] hautch commented on #1948
I have fixed this by including Privacy - Camera Usage Description to the Custom iOS Target Properties in Xcode. Why isn't this in the docs?

[2018-11-26 01:30] hautch commented on #1948
I have fixed this by including Privacy - Camera Usage Description to the Custom iOS Target Properties in Xcode. Why isn't this in the docs?

[2018-11-26 05:29] bartello1982 commented on #1706
Are there any news about this one? I have the same issue.

[2018-11-26 06:55] ajaykumar97 commented on #1467
Following configuration worked for me:
`implementation (project(':react-native-camera')) {
        implementation ("com.google.android.gms:play-services-vision:10.0.1") {
            force = true
        }

        exclude group: "com.google.android.gms"
        implementation 'com.android.support:exifinterface:27.+'
    }
implementation 'com.google.android.gms:play-services-base:10.0.1'
`

Make s

[2018-11-26 09:02] ntelkedzhiev opened #1949 "pauseAfterCapture not fully functional on 1.4.3"
**Platforms**
Android

**Versions**
- Android: 7.1.2
- react-native-camera: 1.4.3
- react-native: 0.57.5
- react: 16.6.3

**Description/Current Behaviour**
There is a 2-3 seconds delay before the image "freezes".

**Expected Behaviour**
Image should "freeze" on capture.

**Steps to Reproduce**
Set `pauseAfterCapture: true`

[2018-11-26 09:17] n1ru4l commented on #1897
@xinggangling Does it also crash on a real device?

[2018-11-26 09:19] n1ru4l commented on #1725
@Tsiniloiv @vvusts You can help fixing this issue by testing the following pull request: https://github.com/react-native-community/react-native-camera/pull/1941

(it is android only)

[2018-11-26 10:05] Tsiniloiv commented on #1725
@vvusts No status on my end. Gave up on this a while back and just locked the app in the orientation that returns the right-side-up images.

@n1ru4l Thanks for the tip! I'll see if I find some time to look at it.

[2018-11-26 10:58] n1ru4l opened #1950 "iOS: [UIApplication statusBarOrientation] must be used from main thread only"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**

- Android:
- iOS:
- react-native-camera:
- react-native:
- react:

**Description/Current Behaviour**

Runtime Warning:

```- (UIInterfaceOrientation)getOrientationBy:(CMAcceleration)acceleration```

[2018-11-26 10:59] Fsarmento commented on #1725
Hi, I am also having the same problem. With orientation locked to portrait, if the user takes the picture in landscape, I would like the output foto to be rotate in order to be correctly visualized in portrait. That doesn't happens at the moment.

I gave a look at the code before having a look at your pull request and my first approach was to update [calcCameraRotation](https://github.com/react-na

[2018-11-26 11:10] SimonErm commented on #1725
i think we should use the deviceOrientation by default and add a orientation option to takePicture, similar to iOS. I already worked on it and will do a PR this week.

[2018-11-26 23:06] maxschmeling opened #1951 "What is the proper way to import for flowtype to work?"
# Question

In trying to get flow typing in my project for react-native-camera, it seems I have to import like this:
[code]
instead of what all the docs say which is:
[code]
Am I missing something? Is flow not configured correctly? I notice that `src/index.js` doesn't have `// @flow` at the top and if I add it locally, everything works with the standard import.

Is there a reason the `index.js` fi

[2018-11-26 23:41] maxschmeling commented on #1951
I just realized that the import change causes the packager build to fail, so it doesn't actually work even though the flow typing works great that way.

[2018-11-27 04:13] akbarmaulan4 commented on #1449
same issue, I'm using RNCamera, when get data uri I try to save to my local storage with react-native-fs,

[2018-11-27 11:48] prateekgoel commented on #1368
Using component state doesn't help. As setState is asynchronous, there are many times when multiple scans are triggered before the state changes.
@sibelius Please reopen this issue. I think react-native-camera should provide a better solution.

[2018-11-27 12:49] ortimanu commented on #1707
We are having problems on some Androids OS 5 of our users with this same configuration. Any updates?

[2018-11-27 15:55] Udbhav12 opened #1953 "Is it possible to detect if the captured image contains barcode ?"
# Question

**Ask your Question**

I have a use case in which after capturing image,I want to check if the image captured contains barcode, only then user can proceed, else the user must be prompted to recapture image

I am looking for Shape Detection API. Is it possible to do so using react-native-camera?

[2018-11-27 22:49] Cygnus2112 commented on #1807
+1

[2018-11-28 03:09] dasouch opened #1954 "start failed - recordAsync crashes"
# Bug Report
**To Do First**
- [ *] Did you try latest release?
- [ *] Did you try master?

**Related Modules**

RNCamera

**Platforms**
Android

**Versions**

- Android: 7.1.1
- react-native-camera: 1.4.3
- react-native: 0.57.4
- react: 16.6.0

**Description/Current Behaviour**
When starting to record, Error appears: start failed.

![screen shot 2018-11-27 at 9 50 52 pm](https://user-images.githu

[2018-11-28 10:00] AlexSeoven opened #1955 "Add image to video when recording is in progress"
# Question

**To Do First**
- [*] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [*] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [*] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-11-28 10:04] SychevSP commented on #1947
I had the same issue after upgrading from 1.2.0 to 1.4.3.
I solved it by deleting FaceDetector folder in Project Navigator in xcode.
I found the solution in the manual:
https://github.com/react-native-community/react-native-camera#face-detection-or-text-recognition-steps
Hope this helps

[2018-11-28 13:34] imansalhi commented on #1871
I'v same problem and the interesting thing is that i'v this problem only in macintosh ...
every thing is working when i build it on windows

[2018-11-28 15:12] AndreyPatseiko commented on #1467
Please update the documentation as the starting example uses **onGoogleVisionBarcodesDetected** function for read code. (in BadInstagramCloneApp)

[2018-11-28 17:17] brendanyounger commented on #1923
I am interested in implementing this feature. How do you set up development? I don't see a test project in the repo.

[2018-11-28 17:34] sibelius commented on #1923
check this https://github.com/react-native-community/rncamera-example

[2018-11-28 23:00] albullington opened #1956 "Front camera shows black screen and crashes app on iOS"
# Bug Report
**To Do First**
- [ Y ] Did you try latest release?
- [ Y ] Did you try master?
- [ Y ] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**
- Android: N/A
- iOS: 12, testing production build on an iPhone SE
- react-native-camera: git+https://github.com/react-native-community/react-native-camera.git#e18d52d2045f7db82c11368ff51cc3882

[2018-11-29 01:06] sfeidersullivan commented on #1947
Also getting (almost) the same error after upgrading from 1.1.4 -> 1.4.3:
[code]

- iOS: 12.1
- react-native-camera: 1.4.3
- react-native: 0.56.0

While @SychevSP answer does work, why is this version of RN Camera purposefully breaking out of the box?
Where you either have to add the GMV frameworks or manually opt out of Face Detection with a postinstall script.

[2018-11-29 22:16] justinkiang commented on #1950
I believe this issue is causing barcode recognition to not work when I turn the device landscape in an app that is locked to portrait

[2018-11-30 08:36] n1ru4l commented on #1950
@justinkiang Wanna contribute a fix?

[2018-11-30 12:52] n1ru4l commented on #1940
Related #1929

Please provide a reproduction repository.

[2018-11-30 13:43] n1ru4l commented on #1467
@AndreyPatseiko Feel free to send a pull request that improves the documentation if there are any misunderstandings.

[2018-11-30 13:56] augustl commented on #940
We just got one as well. Android 8.1.0, device SM-G390F, React Native 0.57.4, react-native-camera v1.4.1. Sentry also reported "orientation: landscape".

[code]

[2018-11-30 20:14] justinkiang commented on #1950
That should do it

[2018-11-30 20:21] himanshusoni commented on #1500
Any updates on this issue ?

we recently moved from `react-native-barcode-universal` (which used rn-camera 1.0 internally ) to `react-native-camera: 1.4.3`
The interesting fact is that we are facing the above issue on xcode 10. But its working fine on xcode 9.3.1 !!

[code]

[2018-11-30 21:02] jtwarren commented on #1848
I'm still seeing this crash on 1.4.3 with both quality and mirrorVideo defined:
[code]

[2018-12-01 08:32] BaderSerhan commented on #1848
@jtwarren you should set `mirrorVideo: false` for it to work

[2018-12-01 11:03] Nocturne-FFG opened #1959 "Could not resolve all files for configuration ':react-native-camera:classpath'"
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [ ] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-camera:1.4.3
- react-native:0.52.2
- react:16.2

**Description/Current Behaviour**
Compile Error

**Expected Behaviour**
Compiled successfully

**Steps to Reproduce**

Use react

[2018-12-01 13:53] #1959 closed

[2018-12-01 14:10] Nocturne-FFG commented on #1914
Hey friend! Have you solved this problem? I am more serious, I will crash every time, never succeeded on Android.

[2018-12-01 14:18] Nocturne-FFG opened #1960 "Android crashes while taking a photo"
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [ ] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android: 6.0
- iOS:
- react-native-camera:1.4.3
- react-native:0.52.2
- react:16.2

**Description/Current Behaviour**
Android crashes while taking a photo. (Android physical machine . version:6.0)

**Expected

[2018-12-01 14:19] Nocturne-FFG commented on #1960
manifest.xml:
![image](https://user-images.githubusercontent.com/45280212/49329284-20a05980-f5b7-11e8-8455-bde011923130.png)

[2018-12-01 14:49] kosintop commented on #1946
After googling around it looks like the device's camera has to support manual focus
I install this [apk ](https://play.google.com/store/apps/details?id=com.sdgsystems.camera2probe&rdid=com.sdgsystems.camera2probe&pli=1)on my phone to check my camera capabilities and turn out it does not support manual focus

[2018-12-01 14:49] #1946 closed

[2018-12-02 17:11] shohailahm opened #1962 "Face recorgnition"
# Question

**To Do First**
- [ ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-12-02 17:11] shohailahm opened #1963 "Onfaces detected is getting called when faces comes infront of camera but doesnt fire event when the faces go out of camera?"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android:26.03
- iOS:
- react-native-camera:1.3.0
- react-native:0.57.3
- react:16.6

**Description/Current Behaviour**

onfacesDetected gets called when faces come in front of camera. Is there any way to know

[2018-12-02 20:30] n1ru4l commented on #1962
Duplicate of #1963

[2018-12-02 20:30] #1962 closed

[2018-12-02 20:30] n1ru4l commented on #1963
Please fill out the template.

[2018-12-02 20:32] n1ru4l commented on #1946
Feel free to send a pull request that adds this information to the docs!

[2018-12-02 20:35] n1ru4l commented on #1960
Could you please provide some logs? You can use `adb logcat` (https://developer.android.com/studio/command-line/logcat)

[2018-12-02 20:37] n1ru4l commented on #1848
@BaderSerhan Is the `mirrorVideo` option broken?

[2018-12-02 22:55] jtwarren commented on #1848
@BaderSerhan I specifically want `mirrorVideo: true`, and yes @n1ru4l it is crashing for me on 1.4.3.

[2018-12-03 01:48] rajivshah3 commented on #1763
This might be related to https://github.com/react-native-community/react-native-camera/issues/1613

[2018-12-03 07:52] jamesawer3 opened #1964 "Uploading video to server"
Hi,
 I'm using react-native-camera(^0.6.0) in my app, I have to upload the recorded video to server as multipart data. In android they are posting like this,

[code]

but in iOS the file path is returning as `assets-library://asset/asset.mov?id=41B76A24-1018-46C1-A658-C1EFFC552FD0&ext=mov` but if I post the assets path it's not uploading.

PostData:

[code]

Can anyone help me out with this????

[2018-12-03 08:33] phuhk commented on #1534
I must code native iOS using `ZXing` lib to resolve this case. Any one need help can pm me.

[2018-12-03 12:16] Nocturne-FFG commented on #1960
@n1ru4l Thank you, I found the answer, add "compile 'com.android.support:exifinterface:27.+'"

[2018-12-03 12:16] #1960 closed

[2018-12-03 13:41] svipben opened #1965 "How to know if camera is started recording"
There's no such var like `isRecording` or something like that which returns boolean if the recording is started or no.

[2018-12-03 13:42] sibelius commented on #1965
can't you handle this on javascript side?

[2018-12-03 13:46] svipben commented on #1965
I'm doing it but my problem is I get `Video is not recording.` by trying to use `stopRecording()`. This happens if I click too often on start/stop recording. Even if I use var by checking if the recording is in progress I get the same issue. Since I can't be sure 100% if it's started because I'm setting it only before `recordAsync`, I believe boolean from the native module will be way better.

[2018-12-03 13:50] sibelius commented on #1965
can you avoid using state in this case

you can have `this.isRecording` that will be faster than `setState`, so you won't have any problem I guess

[2018-12-03 14:02] mconiglio commented on #1914
Hey @Nocturne-FFG, no I haven't. I tried different options and even setting the quality to 0.1, but nothing seems to work

[2018-12-03 16:45] lucas-dolsan commented on #1609
Also having this issue.

**Environment**:
[code]

[2018-12-04 00:06] ahmetozalp commented on #1923
+1 plss.

[2018-12-04 03:36] danna88 commented on #1383
Change the first line to $(SRCROOT)/../../../ios?    is project targets or RNCamera targets?

[2018-12-04 04:31] Luke-Tan opened #1967 "taking picture with takePictureAsync immediately after changing camera type doesn't work"
# Bug Report
**To Do First**
- [Y] Did you try latest release?
- [Y] Did you try master?
- [Y] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- Android: -
- iOS: 11.4
- react-native-camera: 1.5.0
- react-native: 0.57.7
- react: 16.6.3

**Description/Current Behaviour**

Calling `takePictureAsync` immediately after calling `setState` to

[2018-12-04 06:08] svipben commented on #1965
Okay, the issue is when I start recording there's some sort of glitch seems like it initializes the camera and if I press stop that moment I get `Video is not recording.`, but second time everything seems okay.

[2018-12-04 11:14] svipben commented on #1965
I'm currently working on iOS implementation and seems everything is good, I can't test the Android because currently I don't have it, but I can make a PR for iOS if needed.

[2018-12-04 11:48] svipben commented on #1965
Sounds good!

[2018-12-04 12:00] BaderSerhan commented on #1848
@n1ru4l yes, the crash is occurring because of `mirrorVideo: true` option.
@jtwarren I want it too, but I'd rather have an inverted video in my app for now rather than a crash.

[2018-12-04 13:13] svipben commented on #1965
Already opened a PR here: https://github.com/react-native-community/react-native-camera/pull/1969

[2018-12-04 13:20] Orxcle-xx opened #1970 "iOS: Photo orientation issue"
# Bug Report

- [ ] Did you try latest release?, Yes: 1.4.3
- [ ] Did you try master? Yes
- [ ] Did you look for existing matching issues? Yes, lots of issues found, maybe some of them are related to mine. No solution found for me.

**Related Modules**

Using only this module.

**Platforms**

Haven't tried on Android. Working currently only with iOS.

**Versions**
- iOS: iOS 12
- react-native-came

[2018-12-04 13:35] juwo123 commented on #1924
@mateuszmatyszkowicz did you find any solution? I'm struggling with the same problem with reading aztec codes from polish car documents

[2018-12-04 15:06] yis4yimmy opened #1971 "iOS: onTextDetected returning empty textBlocks"
# Bug Report
**To Do First**
- [X] Did you try latest release?
- [X] Did you try master?
- [X] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- Android: n/a
- iOS: 12.1
- react-native-camera: master
- react-native: 0.57.1
- react: 16.5.0

**Description/Current Behaviour**
Currently I have this code:
[code]
And the console statement retu

[2018-12-04 20:53] ahmetozalp commented on #1923
help link: [stackoverflow](https://stackoverflow.com/questions/53621240/react-native-camera-real-time-object-detection-image-labeling-support)

[2018-12-05 00:14] FullstackJack commented on #1767
Still have the issue after copying @n1ru4l podfile and reinstalling pods.

[2018-12-05 05:48] shashikiran797 opened #1972 "AAPT error with 1.4.3 version"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-camera:
- react-native:
- react:

**Description/Current Behaviour**

I was using ```"react-native-camera": "^0.12.0"``` for one of my projects with targetSdkVersion as 22 and eve

[2018-12-05 10:24] sibelius opened #1973 "revamp documentation"
# Feature-Request

**Describe the Feature**
Improve docs

**Possible Implementations**
- [x] docusaurus - https://docusaurus.io/docs/en/installation

- [ ] Add API.md
- [ ] Revision on outdated methods

[2018-12-05 16:14] n1ru4l commented on #1767
@FullstackJack Please provide a minimal reproduction repository.

[2018-12-05 16:18] n1ru4l commented on #1923
@ahmetozalp This is a open source project that lives from its contributors. It is unlikely this feature will be implemented from any of current maintainer (unless they have a project that requires it). Therefore I encourage you to implement this feature and contribute to this library if you need this feature!

[2018-12-05 16:38] #1965 closed

[2018-12-05 16:42] n1ru4l commented on #1965
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-05 18:40] ahmetozalp commented on #1923
use this library if I know java or swift. Thank You!

[2018-12-05 20:51] g4laura commented on #1909
I'm having the same error, would you mind sharing more about how you fixed it?

[2018-12-05 22:32] whydna commented on #1858
anyone have a workaround for this? HEVC videos won't play in Chrome.

[2018-12-06 07:15] farkhanda44zeb commented on #1736
same issue:(

[2018-12-06 08:17] dileepbolisetti commented on #1909
@g4laura
[](https://github.com/react-native-community/react-native-camera/issues/1909#issuecomment-437650544)

[2018-12-06 09:35] jacktv1 opened #1975 "Cannot focus on Samsung Galaxy J1 2016"
# Question

**To Do First**
- [ ] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [ ] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [ ] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-12-06 10:40] sibelius commented on #1736
link is wrong

relink

[2018-12-06 10:40] #1736 closed

[2018-12-06 10:41] sibelius commented on #1909
we need more docs

[2018-12-06 11:54] ahmetozalp opened #1976 "How do I save onTextRecognized data when I save an image with takePictureAsync?"
# Hi.
How do I save onTextRecognized data when I save an image with takePictureAsync?

App.js

        <RNCamera
          ref={ref => {
            this.camera = ref;
          }}
          onTextRecognized={canDetectText ? this.textRecognized : null}

TakePicture function.

     takePicture = async function() {
        if (this.camera) {
          const options = { quality: 0.5, base64: true };

[2018-12-06 13:55] augustl opened #1977 "`NativeModules.CameraManager` is undefined in swift projects(but not obj-c projects)"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- Android: -
- iOS: 11.4
- react-native-camera: 1.5.0
- react-native: 0.57.7
- react: 16.6.3

**Description/Current Behaviour**

When integrating react-native-camera into an existing iOS app, it s

[2018-12-06 14:00] brunotalhate commented on #1870
I've recompiled using legacy build but I'm still facing the `{type: "face", faces: Array(0), target: 347}` object.

Using cocoapods, iPhone 6 with iOS 12, xCode 10.1 and couldn't find any solution yet

[2018-12-06 15:08] augustl commented on #1977
FWIW - this is a brand new app, so I decided to roll it as an objective-c app instead of a swift app. I can very easily create swift classes in my objective-c based app, so as far as I can tell there are no downsides to doing that :)

[2018-12-06 16:07] whydna opened #1978 "Setting RNCamera captureAudio to false does no not work."
# Bug Report
**To Do First**
- [Y ] Did you try latest release?
- [Y ] Did you try master?
- [Y ] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**
- iOS:
- react-native-camera: 1.5.0

**Description/Current Behaviour**
Setting `captureAudio` to `false` doesn't work. It still requests microphone permissions and the output video still contains

[2018-12-06 16:54] whydna commented on #1858
OK, so I figured this out. Basically, `AVMovieFileOutput.availableVideoCodecTypes` is limited by video settings, including the video quality parameter.

If you don't provide a default in RNCamera component for `defaultVideoQuality` or `quality` in `recordAsync` then it will default to the highest quality which only supports HEVC.

So you want to specify a quality like so:

[code]
or
[code]

[2018-12-06 17:31] ErikaMolino commented on #1954
Hi, i have the same issue.
You solved it?

[2018-12-06 20:35] ErikaMolino commented on #1954
@dasouch thank you!!!!!! you made my day.

[2018-12-06 21:09] n1ru4l commented on #1858
@whydna Glad you got it working!

Just for clarification: The value of codec is determined by the codec?

That would mean that the example of OP (@c-goettert) is not working because the quality `480p` does not support the codec `H264`? But if it does not support `H264`, it is strange iOS falls back to using `HVEC` ? 😕💫

Seems a bit fishy to me.

@whydna Have you checked the first example you are p

[2018-12-06 22:50] io-pan commented on #1805
I had the same error and solved it after reading [documentation](https://github.com/react-native-community/react-native-camera#user-content-permissions):    ;-)

Add <uses-permission android:name="android.permission.RECORD_AUDIO"/>
in AndroidManifest.xml

[2018-12-07 11:34] n1ru4l opened #1980 "add react-native-camera-cli that makes common tasks easier"
# Feature-Request

**Describe the Feature**
Add a react-native-camera-cli that can automate certain install steps.

**Possible Implementations**
First command:

- `react-native-camera download-ios-vision-frameworks`

A script that downloads all necessary `*.frameworks` and adds them to the `*.pbxproj`.
This could e.g. be executed as a `postInstall` script.

I already started experimenting here: ht

[2018-12-07 11:43] sibelius commented on #1980
check this https://github.com/facebook/react-native-fbsdk/blob/master/bin/ios_setup.js

[2018-12-07 11:57] n1ru4l commented on #1980
Dope thank you!

[2018-12-07 13:50] gokujy commented on #1530
I am getting the same error:
Could not find method google() for arguments [] on repository container
Solve: I'm working on firebase crud and i installed angularfire2 and firebase plugin both.
So i uninstall firebase and error solved, i mean this error coming because conflict.

[2018-12-07 16:05] whydna commented on #1858
@n1ru4l

The available codecs depend on the video settings. In this case, the default quality setting (defaults to highest available quality) seems to only support HEVC. So if you don't specify a quality setting then it will default to HEVC, despite setting a specific codec.

We should throw an exception if the requested codec isn't available because it isn't immediately obvious until you try and

[2018-12-07 16:30] n1ru4l commented on #1858
@whydna You did not answer my question does the first example you mentioned work?

Also a warning is not an exception and should be there to give the developer some valuable information about how to use the API.

[2018-12-07 16:38] whydna commented on #1858
@n1ru4l I've updated the comment w/ working exception.

I suppose whether the side effect is severe enough to warrant an exception is up for debate. IMO it should at least be an error rather than a warning (in fact, the current warning message is incorrect as @matthewng mentioned above).

But as it stands, using `recordAsync()` without default settings will produce videos which will not play on de

[2018-12-08 05:12] UberMC commented on #1870
Is face detection broken on iOS?

[2018-12-08 17:47] brunotalhate commented on #1870
I've been unable to make it work on iOS using both cocoapods and non-cocoa.
Spent 2 days trying a lot of specs without success. 😞

The closest I've achieved was the empty face on mount

Did your tried it lately?

Em sáb, 8 de dez de 2018 3:12 AM, Trent <notifications@github.com> escreveu:

[2018-12-08 20:37] ozankonur opened #1981 "saveToCameraRoll Error"
I am using CameraRoll.saveToCameraRoll( data.uri ) but I'm getting 'undefined not an object (evaluating 'data.uri')'

Here is my code;

` <View style={styles.container}>
                <RNCamera
                    ref={ref => {
                        this.camera = ref;
                    }}
                    style = {styles.preview}
                    type={RNCamera.Constants.Type.back}

[2018-12-09 08:09] olegwn commented on #1870
I noticed that face detection works on iPhone X device but doesn't work on iPhone 6 device!

[2018-12-10 01:39] radjivF opened #1982 "Example RN camera is crashing on IOS and android"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android
iOS

**Versions**

- Android: last one
- iOS: last one
- react-native-camera: 1.5.1
- react-native:0.55.4
- react:16.3.1

**Description/Current Behaviour**

Im using the tutorial for RNCamera and when I render

[2018-12-10 02:08] radjivF commented on #810
Same problem here

[2018-12-10 06:16] shohailahm commented on #1963
someone found anything guys?

[2018-12-10 08:00] munonn430 commented on #1671
can i have the custom marker source code?

[2018-12-10 08:04] n1ru4l commented on #1982
Do you mean https://github.com/react-native-community/rncamera-example ?

[2018-12-10 08:13] choo737 commented on #1686
for my case, these only works on second round of navigation.
`navigation.addListener('willFocus', () =>
      this.setState({ focusedScreen: true })
    );
    navigation.addListener('willBlur', () =>
      this.setState({ focusedScreen: false })
    );`

"react-native-camera": "^1.4.3",
"react-native-qrcode-scanner": "^1.1.0",
"react-navigation": "2.18.3",
"react-navigation-redux-helpers": "^2.0.

[2018-12-10 08:53] n1ru4l commented on #810
@radjivF Please try RNCamera, RCTCamera is deprecated.

If you still receive this error with RNCamera please open a new issue.

[2018-12-10 08:53] #810 closed

[2018-12-10 09:22] n1ru4l commented on #1686
@choo737 Could you please provide a minimal reproduction repository?

[2018-12-10 09:34] jazzystring1 commented on #1923
I already successfully implemented this feature in my project. Only that, I didn't use MLKit for image labeling because of lack of extensible.  I used TensorFlow Lite (https://www.tensorflow.org/lite) so that I can train model(to improve accuracy) and load it for image recognition establishing flexibility for the user. Tell me what you think about this.

[2018-12-10 09:57] n1ru4l commented on #1923
@jazzystring1 I am not biased on any particular implementation and if preferable I would like to keep it modular, so that if someone wants to use MLKit instead of TensorFlow Lite he can do so.

Maybe related: https://github.com/react-native-community/react-native-camera/issues/1262

[2018-12-10 10:03] n1ru4l commented on #1262
## iOS

On Objective-C we can do something like:

[code]

**Default Setup:**
With https://github.com/react-native-community/react-native-camera/issues/1980 we could make enabling the extensions easier.

**CocoaPods Setup:**

Here we can use SubPods to enable specific features (I already did something similar for react-native video https://github.com/react-native-community/react-native-video/blob/b

[2018-12-10 10:50] tushgup commented on #1923
@jazzystring1 Hey, that's awesome! What do you exactly mean when you say 'lack of extensibility'? I'd love to have a look at your PR!

[2018-12-10 11:05] jazzystring1 commented on #1923
@tushgup What I mean is that since MLKit ondevice image labeling(offline use) only supports up to 400 labels while the Cloud API(for online use) only supports 1000 labels per month if I'm not mistaken. What I want to happen in my project is to recognize more than 2000 labels for offline usage without using Cloud API. You can't add or extend the labels on your own in MLKit for ondevice image labeli

[2018-12-10 12:44] tushgup commented on #1923
@jazzystring1 I see. Yeah, I created the issue because I noticed the similarities in their coding structure, and I feel like the 400 labels is a good starting point for most use-cases. Looking forward to seeing your implementation! ^_^

[2018-12-10 13:34] jazzystring1 commented on #1923
Oops I was totally wrong. MLKit can now let you use your own custom model for Tensorflow Lite which I haven't read in the past few months. (https://firebase.google.com/docs/ml-kit/android/use-custom-models). This is exciting. I'm looking forward into this!

[2018-12-10 14:07] jetonk commented on #1982
I have the same problem

[2018-12-10 15:15] n1ru4l commented on #1982
I am currently working on porting the rncamera-example to this repository, it seems like the face detection stuff is broken.

[2018-12-10 15:28] n1ru4l opened #1983 "include deviceOrientation and orientation in RecordResponse"
# Feature-Request

**Describe the Feature**

I am developing an app that records videos in the portrait mode. Therefore I force the orientation Portrait mode with the following code:

[code]

However I need to know the actual deviceOrientation when the video recording started on the JS Thread.

**Possible Implementations**
Expose a new property `deviceOrientation` on the result returned by `camera

[2018-12-10 15:41] sibelius commented on #1983
I think we can provide this

[2018-12-10 16:12] ahmetozalp commented on #1923
I'm following the subject++

[2018-12-10 16:14] ahmetozalp commented on #1976
I was looking for a simple way, but I could take the positions of the setState and integrate them.

Thank You..

[2018-12-10 16:14] #1976 closed

[2018-12-11 04:43] TheBlackHacker commented on #1719
For Android devices, you shoud set the ratio manualy, see:
https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#user-content-android-ratio

[2018-12-11 09:20] prateekgoel commented on #1944
Any update here?

[2018-12-11 09:57] dangkhoa2708 opened #1986 "Review of pauseAfterCapture doesn't contain flash image, only image without the flash"
# Question
Hello guys, I used pauseAfterCapture with flash on, but it turns out the review showing image without flash, however, the returned uri displays  correctly. Do you have any idea to get it work for displaying it correctly in the review ?

[2018-12-11 09:59] n1ru4l commented on #1986
This seems like a bug. Could you please use the issue template for reporting a bug?

[2018-12-11 10:31] #1724 closed

[2018-12-11 10:31] n1ru4l commented on #1805
Like @io-pan explained you have to add `<uses-permission android:name="android.permission.RECORD_AUDIO"/>` to your `AndroidManifest.xml`.

Your adb logcat logs should show something like this:
[code]

[2018-12-11 11:01] #1978 closed

[2018-12-11 11:02] n1ru4l commented on #1978
The `captureAudio` property is not implemented for `RNCamera`. I updated the documentation. You would want to use the `mute` property.

[2018-12-11 11:32] n1ru4l opened #1988 "[Android] recordAsync Promise never resolves if device is rotated"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: 7.1.1
- iOS: -
- react-native-camera: master
- react-native: 0.57.1
- react: 16.5.0

**Steps to Reproduce**

1. Start the example app with no `screenOrientation` defined in the `And

[2018-12-11 12:55] n1ru4l commented on #1725
@SimonErm What is your progress on this PR?

[2018-12-12 06:44] prateekgoel commented on #1272
@sibelius This is still the issue for me. I have tried it with the latest version of react-native-camera and with RNCamera and RCTCamera also. Not working in any case.

[2018-12-12 06:58] prateekgoel commented on #1944
@n1ru4l I updated the Issue using the template. I hope this gets fixed soon.

[2018-12-12 08:58] n1ru4l commented on #1948
@hautch Feel free to send a pull request that improves the documentation!

[2018-12-12 08:59] n1ru4l commented on #1943
Closed due to missing feedback.

[2018-12-12 08:59] #1943 closed

[2018-12-12 09:03] xjing97 commented on #832
Thx, Camera.Constants.FlashMode.torch is the correct key, and it works!!!

I think you should change your RNCamera to Camera, and it will work

[2018-12-12 09:09] n1ru4l commented on #832
`Camera` is deprecated and will be removed in the next major release. Please use `RNCamera`, if you experience any issues with `RNCamera` I encourage you to open a new issue/or fix the issue with a pull request.

[2018-12-12 13:34] brunotalhate commented on #1870
Tried with manual linking and I was able to build without errors using the package version `"react-native-camera": "git+https://github.com/react-native-community/react-native-camera.git#7d172af864e963fde3d732fbfd2b8d124ab2b582"` and `Legacy Build System`

[2018-12-12 13:37] sibelius commented on #1870
@brunotalhate can we do a git bisect to check where the bug was introduced?

[2018-12-12 13:58] n1ru4l commented on #1982
@radjivF Have you tried the example app that is in this repository?

[2018-12-12 14:04] #1983 closed

[2018-12-12 14:07] n1ru4l commented on #1978
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-12 14:07] n1ru4l commented on #1983
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-12 14:53] n1ru4l commented on #1970
Have you tried using the `orientation` option?

[2018-12-12 14:56] n1ru4l commented on #1652
Possible related to #1725

[2018-12-12 14:59] n1ru4l commented on #1967
Please use the issue template.

There is a certain delay because the communication between the js thread and native thread is asynchronous. In the future this might be solvable with react-native fabric (read more here: https://github.com/react-native-community/discussions-and-proposals/issues/4 keyword JSI Bindings).

[2018-12-12 15:01] n1ru4l commented on #1964
You will have to provide more context. Otherwise we won't be able to help you

[2018-12-12 15:02] n1ru4l commented on #1743
Closing due to missing info and multiple other similar issues being open (eg #1725).

[2018-12-12 15:02] #1743 closed

[2018-12-12 15:03] n1ru4l commented on #581
Closed during to missing feedback.

[2018-12-12 15:03] #581 closed

[2018-12-12 15:06] n1ru4l commented on #417
This issue was originally related to `RCTCamera` which is deprecated. Please try to use `RCTCamera` instead. If you still experience any issues, please search for similar issues first before opening a new one.

[2018-12-12 15:06] #417 closed

[2018-12-12 15:08] n1ru4l commented on #887
`RCTCamera` is deprecated, please try to use `RNCamera` instead.

[2018-12-12 15:08] #887 closed

[2018-12-12 15:09] n1ru4l commented on #1091
`RCTCamera` is deprecated. Please try to use `RNCamera`instead.

[2018-12-12 15:09] #1091 closed

[2018-12-12 15:10] AngelVenchev commented on #135
Hey I am working on this feature since it's a very important part of our app. I've done the dynamic file reading (while the video is still being recorded). Still the issue is that the bridge is being locked up as. @lwansbrough said in the beginning of this thread.
I am writing here to ask for any directions or documentation on how to implement this with a separate react-native module. I am determi

[2018-12-12 15:13] n1ru4l commented on #1459
This was fixed https://github.com/react-native-community/react-native-camera/pull/1786.

If you still experience this issue with the newest version please reopen this issue.

[2018-12-12 15:13] #1459 closed

[2018-12-12 15:18] Luke-Tan commented on #1967
So is the only way to fix this to add a setTimeout to takePicture after calling setState?

[2018-12-12 15:46] paomosca commented on #1706
Today i made some tests (because i noticed a new release [1.6.0], but the problem still persists)

I made an experiment with react-native-orientation-locker, locking the camera in landscape (right or left) make the barcode recognition works again.
If the app is locked in portrait mode only, the barcode scanning is not working correctly.

I hope this info can help to investigate a little bit more.

[2018-12-12 15:48] n1ru4l commented on #1706
@paomosca What happens if you use the `orientation` option?

[2018-12-12 16:35] paomosca commented on #1706
I'll try to debug a little bit more on the native side... if I'll find any new hint, I'll be back to you... I hope so...

[2018-12-12 16:38] brunotalhate commented on #1914
I'm facing a similar case, but the app crashes every time takePictureAsync is called with base64 on, but without base64 it works properly.
Tested in a Samsung Galaxy C5 Pro. Working well on other android devices.

[2018-12-12 16:50] n1ru4l commented on #1914
Please provide Crash Logs

[2018-12-12 21:22] ahmetozalp commented on #1923
to add this feature required correction?

https://github.com/react-native-community/react-native-camera/blob/master/ios/TextDetector/TextDetectorManager.m

[2018-12-12 21:36] ahmetozalp opened #1991 "Real-time Object detection - show words one by one - IOS"
# Feature-Request

**Describe the Feature**
Can words be displayed individually?

please help me to do something like in the picture

example app... (swift use)

https://i.ibb.co/K0YbsqP/Ekran-Resmi-2018-12-13-01-32-47.png

[2018-12-12 23:00] markidm commented on #1259
@sibelius I have a conditional render based on state, I'm getting the same issue.

[2018-12-12 23:47] radjivF commented on #1982
@n1ru4l yes I have tried the example, it works on ios but still crash on android.

[2018-12-13 08:18] n1ru4l commented on #1982
I have no problems with https://github.com/react-native-community/react-native-camera/tree/master/examples/basic

Can you please provide more information about your hardware?

[2018-12-13 09:38] n1ru4l commented on #1259
@markidm Could you please provide a reproduction repository? Or fork this repository in order to implement a reproduction in `examples/basic`?

[2018-12-13 09:58] n1ru4l opened #1993 "remove lodash dependency"
# Feature-Request

**Describe the Feature**
Remove `lodash` as a dependency. No need to pull in the whole library.

**Possible Implementations**
We can use `Object.entries(props).map()` instead.

**Related Issues**
NONE

[2018-12-13 10:12] sibelius commented on #1259
Just do a setState while trying to do a capture

[2018-12-13 10:44] rkostrab commented on #1325
This PR still not resolved the issue.
Using `Google Pixel` - Every record from front camera is flipped upside down.
My dependency is `Master`:
[code]

[2018-12-13 11:37] beaurushton commented on #850
@JoschaP isn't that what https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#zoom does?

[2018-12-13 12:45] rkostrab commented on #1325
If I put this property co Camera:
[code]
then the video is OK. But it's bad to set it "portraitUpsideDown" to see it properly.

[2018-12-13 13:19] n1ru4l commented on #850
@beaurushton Have you tested it? I think @JoschaP means the zoom is not applied when the camera is initialized for the first time.

[2018-12-13 14:46] n1ru4l commented on #1325
@rkostrab Could you please test if https://github.com/react-native-community/react-native-camera/pull/1992 solves this issue?

[2018-12-13 14:52] #1325 closed

[2018-12-13 15:20] rkostrab commented on #1325
@n1ru4l,

tested your fix using this dependency (I hope it's correct):
[code]

**And results are:**

RCTCamera:
- nothing happend, mp4 still flipped upside down (in: front camera video recording)

RNCamera:
- OK

[2018-12-13 15:31] rkostrab commented on #1325
@n1ru4l No, but I've made some native changes in my fork and now I have to dig for a while in that again and also rewrite JSX... Maybe new `RNCamera` props will enough for my needs.
Maybe it's time to switch to new RNCamera and forget old RCTCamera.

Anyway thanks!

[2018-12-13 18:31] ahmetozalp commented on #1991
friends don't have help

[2018-12-13 19:14] syadykin commented on #1870
Commenting out https://github.com/syadykin/react-native-camera/blob/master/ios/RN/RNCamera.m#L622 reverts face detection back, not sure what it is for though.

[2018-12-13 19:51] syadykin commented on #599
This might fix this issue: https://github.com/react-native-community/react-native-camera/pull/1994

[2018-12-13 20:16] #1725 closed

[2018-12-13 20:18] sibelius commented on #599
test on master

[2018-12-13 20:18] #599 closed

[2018-12-13 20:19] n1ru4l commented on #1725
:tada: This issue has been resolved in version 1.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-13 20:19] n1ru4l commented on #1053
:tada: This issue has been resolved in version 1.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-13 20:45] emilemoureau commented on #1982
I have the same problem..

[2018-12-13 20:59] n1ru4l commented on #1982
@emilemoureau Crash logs?

[2018-12-13 21:04] ozankonur commented on #1254
@Friendly-Robot  Thanks it helped me.

[2018-12-13 21:09] n1ru4l commented on #1870
@syadykin It is for setting the `defaultVideoQuality` property on the `RNCamera` instance in order to prevent flickering. The flickering cannot be avoided when using `recordAsync`

[2018-12-13 21:21] #1982 closed

[2018-12-13 21:22] emilemoureau commented on #1982
Solved, sorry, I didn't have the right config in info.plist !

[2018-12-14 09:14] Ann1995 opened #1999 "FAILURE: Build failed with an exception."
* What went wrong:
Could not resolve all files for configuration ':react-native-camera:debugCompileClasspath'.

  Searched in the following locations:
      https://jcenter.bintray.com/com/google/android/gms/play-services-vision/15.0.2/play-services-vision-15.0.2.jar

Environment
Node.js version: v8.11.2
React Native version:  "^0.57.7
react-native-camera
Version: ^1.2.0

[2018-12-14 09:22] n1ru4l commented on #1999
@Ann1995 Did you follow the instructions in the `Readme`? https://github.com/react-native-community/react-native-camera#android

[2018-12-14 09:47] #1999 closed

[2018-12-14 09:57] prateekgoel commented on #1993
@n1ru4l Can I work on this?

[2018-12-14 09:58] n1ru4l commented on #1993
@prateekgoel already submitted #1996, but we have plenty of other issues that need help 😊

[2018-12-14 10:47] Ann1995 commented on #1999
@n1ru4l  yes.. my package.json
{
  "name": "spector",
  "version": "1.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest",
    "lint": "eslint app --fix",
    "postinstall": "./fix-rncamera.sh ./node_modules/react-native-camera/ios/RNCamera.xcodeproj/project.pbxproj"
  },
  "rnpm": {
    "assets": [
      "./app/assets/fo

[2018-12-14 11:08] n1ru4l commented on #1999
I ran the following steps to ensure everything is alright:

[code]

<details>

<summary>Full Build Output</summary>

[code]

</details>

___

Seems like you misconfigured something. Please double check your `android/build.gradle` and `android/app/build.gradle` with the ones of the example.

It is most likely you forgot to add a repository since the google vision library cannot be found in the jcen

[2018-12-14 11:13] #1993 closed

[2018-12-14 11:46] Ann1995 commented on #1999
android/build.gradle
// Top-level build file where you can add configuration options common to all sub-projects/modules.

[code]

android/app/build.gradle
apply plugin: "com.android.application"

import com.android.build.OutputFile

/**
 * The react.gradle file registers a task for each build variant (e.g. bundleDebugJsAndAssets
 * and bundleReleaseJsAndAssets).
 * These basically call `react-nati

[2018-12-14 12:16] n1ru4l commented on #1999
@Ann1995 check https://github.com/react-native-community/react-native-camera/issues/1878 please

[2018-12-14 13:04] Ann1995 commented on #1999
@n1ru4l thanks for your help!!!

[2018-12-14 13:05] n1ru4l commented on #1999
cc @sibelius We need to document this somehow. Why does this issue not occur with the example app?

[2018-12-14 13:13] Nabellaleen opened #2000 "Package is overweighted"
Hi,

After a npm install of your package, the directory size is 16M, mostly due to android build directory, embedding stuff which should not be commited

You should clean that, it's totally useless and horrible for users :)

[code]

[2018-12-14 13:17] sibelius commented on #2000
android/build is generated by android

[2018-12-14 13:22] n1ru4l commented on #2000
I think he is right run

[code]

[2018-12-14 13:30] sibelius commented on #2000
we can ignore more stuff on .npmignore

like examples

[2018-12-14 13:38] sibelius commented on #2000
https://stackoverflow.com/questions/40642008/how-do-i-view-the-size-of-npm-packages

[2018-12-14 13:41] MiracleWhy commented on #2000
i remove the build directory ,but when i run app,it show like this .

![_20181214213802](https://user-images.githubusercontent.com/38320434/50006512-eab49980-ffe8-11e8-8b06-aec6b7db9a1a.jpg)

[2018-12-14 14:04] sibelius commented on #1706
try master

[2018-12-14 14:04] sibelius commented on #1706
https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.3

[2018-12-14 14:08] sibelius commented on #1988
@n1ru4l is this still a thing?

[2018-12-14 14:08] sibelius commented on #1970
recheck on 1.6.3

[2018-12-14 14:08] #1970 closed

[2018-12-14 14:08] sibelius commented on #1607
recheck on 1.6.3

[2018-12-14 14:08] #1607 closed

[2018-12-14 14:08] sibelius commented on #1609
recheck on 1.6.3

[2018-12-14 14:08] #1609 closed

[2018-12-14 14:09] sibelius commented on #1570
recheck on 1.6.3

[2018-12-14 14:09] #1570 closed

[2018-12-14 14:09] n1ru4l commented on #1988
Yes had no time to dig deeper as it is not a requirement of my app (locked in portrait)

[2018-12-14 15:20] n1ru4l commented on #2000
@MiracleWhy please check https://github.com/react-native-community/react-native-camera/issues/1844

[2018-12-14 16:56] mcorner commented on #1807
Even with 1.6.3 (which contained a fix), this is still broken for me on some android devices (Samsung for instance).

const options = { quality: 0.5, base64: true, orientation: RNCamera.Constants.ORIENTATION_UP };
const data = await this.camera.takePictureAsync(options);

fixOrientation: true does work, but it is incredibly slow (6 seconds) because it is rotating the image afterwards.

[2018-12-14 16:58] mcorner commented on #1053
I don't think this is fixed.  See my comment in #1807.

I am using 1.6.3 and:
      const options = { quality: 0.5, base64: true, orientation: RNCamera.Constants.ORIENTATION_UP };
      const data = await this.camera.takePictureAsync(options);

AUTO doesn't work either.  It is just on samsung phones.

[2018-12-14 16:59] n1ru4l commented on #1053
@mcorner does it also occur when the image is not returned as base64?

[2018-12-14 17:01] n1ru4l commented on #1053
Also it should be orientation: 'portrait' check the docs pls

[2018-12-14 17:08] mcorner commented on #1053
"portrait" produces the same result.  Removing base64 is a bit harder because of our code, but I can try that if you think that will matter.

[2018-12-14 17:15] mcorner commented on #1053
We are uploading the file from storage to s3, and that image is rotated as well, so it isn't just the base64.

[2018-12-14 17:20] sibelius commented on #1053
You can save to disk and upload directly using Blob, it would be faster than using base64

[2018-12-14 17:21] mcorner commented on #1053
We are.  We are just using the base64 as a convenient preview.

[2018-12-14 18:03] n1ru4l commented on #1053
@mcorner I have no Samsung test device. It is working as expected on my nexus 5x device. Could you please dig into whats the issue and fix it? Possibly related: https://github.com/google/cameraview/issues/22

[2018-12-14 18:06] sibelius commented on #1053
I think we need a testing matrix for orientation

We have front and back camera
We have many device orientations
We have many display orientations
We have many options to try to fix them

We need to understand in which combination is failing

[2018-12-14 18:07] sibelius commented on #1053
Much like this comment https://github.com/react-native-community/react-native-camera/pull/1992#issuecomment-447011051

[2018-12-14 19:31] mcorner commented on #1053
I will get a Samsung device to test with (it doesn't happen on my pixel).  The fixOrientation does work, it is just abysmally slow.  My best option ATM is to hide that latency with a UI element (spinner).  I am bit surprised that rotating a bitmap is this slow, Expo seems to be using the same exact method to do it (createBitmap: [expo](https://github.com/expo/expo/blob/1add34f1687336787591dcc4144a

[2018-12-14 19:33] AshokICreate opened #2002 "increasing brightness to min or max make app to crash"
# Bug Report
**To Do First**
- [NO Method has same code] Did you try latest release?
- [No Method has same code as master] Did you try master?
- [YES ] Did you look for existing matching issues?

**Related Modules**

RNCameraManager.m

**Platforms**

iOS

**Versions**

- Android:
- iOS: 11
 "react-native-camera": "1.1.2",
[code]

**Description/Current Behaviour**

Try to increase the brightness to

[2018-12-14 20:06] mcorner commented on #1053
Note that this is actually a problem on iOS as well...  It takes a photo containing exif rotation data.  So if you put this into a uiwebview etc that does not know how to deal with exit rotation it shows up as rotated incorrectly.  The docs say that "fixOrientation" is Android only, but the ios Code seems to respect the option:

https://github.com/react-native-community/react-native-camera/blob/a5

[2018-12-14 20:09] AshokICreate commented on #2002
https://github.com/master-nevi/WWDC-2010/blob/master/AVCamDemo/Classes/AVCamDemoCaptureManager.m

` [device exposureMode] != exposureMode` ??

[code]

[2018-12-14 20:10] sibelius commented on #1053
for fast android image take picture, we need this:

https://github.com/react-native-community/react-native-camera/issues/1836

[2018-12-14 20:18] AshokICreate commented on #2002
https://github.com/danielebogo/DBCamera/blob/master/DBCamera/Managers/DBCameraManager.m

[code]

[2018-12-14 22:03] n1ru4l commented on #1053
I am also not experiencing this issue on iOS I am confused.

[2018-12-14 22:07] n1ru4l commented on #1836
How would this be implemented?

You pass an option to `takePicture` and the first value of uri will be the "preview". Then afterwards we will fire a event that includes the url to the actual picture?

[2018-12-14 22:37] marcfielding1 commented on #220
My project was previously working fine, in my case I had to...

1) rm ios/Podfile.lock
2) rm -rf ios/Pods/
3) npm run newclear

Once that's done head into the ios directory pod install. In Xcode click product, clean build folder.

[2018-12-14 23:45] sibelius commented on #1836
Having an event could make sense, we can have more events

[2018-12-14 23:47] n1ru4l commented on #1836
Is it even possible get a preview frame and take photo at once? camerakit-android only supports the one or the other.

[2018-12-14 23:53] sibelius commented on #1836
Not sure, we should try

[2018-12-15 00:32] n1ru4l commented on #1836
A big issue is also that until the `onPictureTaken`/`onPreviewFrame` callback is called almost 2 seconds pass. I quickly updated the code to use `onPreviewFrame`, but still it does not feel more performant 😕. Seems like it takes a long time until the communication over the bridge actually reaches the java code...

[2018-12-15 01:48] sibelius commented on #1836
are you sending event before any image processing?

[2018-12-15 05:54] AshokICreate commented on #2002
[code]

[2018-12-15 13:42] kgrajan12 commented on #1741
i'm also stopped in this same problem

[2018-12-15 23:55] jasan-s opened #2004 "Face detect bounding box and Blur Face"
# Question

## My use case:
 I want to blur faces in taken photos(save the blurred face image as a copy + original). Thus I need to detect the face and its position and size of the bounding box.

## Other options I have expolored:
One way I thought about doing this was using [face-api.js](https://github.com/justadudewhohacks/face-api.js) and then using something like [Sharp.js](https://github.com/

[2018-12-16 01:38] jasan-s opened #2005 "Basic Example Error: module react does not exist in the haste module map"
# Bug Report

Cloned the git repo and ran the [Basic Example](https://github.com/react-native-community/react-native-camera/tree/master/examples/basic) Keep getting the following error.
**Platforms**
   iOS

**Description/Current Behaviour**

Get the error: `**module react does not exist in the haste module map**`

**Expected Behaviour**
Basic Example should run without error

**Steps to Reproduce

[2018-12-16 01:56] jasan-s commented on #2005
Had to Run `yarn install` in the root directory first

[2018-12-16 01:56] #2005 closed

[2018-12-16 03:57] mcorner commented on #1053
After some testing, this is my understanding:

The photos taken with RNCamera iOS (and Samsung phones) are rotated 90degrees CCW.  To compensate for that the exif includes an Orientation tag of "6", meaning "please rotate this image 90 degrees Clockwise when you display it".  Many things deal with it correctly, like chrome and gmail.  But many places seem not to, like a UIWebView in an android app

[2018-12-16 10:43] MiracleWhy commented on #2000
tks,it might be my com.google.xxx is not the right version

[2018-12-16 14:32] SergioGeeK7 commented on #135
hey @AngelVenchev , I'm on the same path like you, I'm reading the file while is been recorded, the problem that I've noticed is there's a lag of 10 sec before the plugin dump the frames into the file, so I'm trying to get it to work from there, seems I'm stuck.

What I did to not block the UI was adding threading management...

[code]
I'm on ios side for now cause it's the primarily platform the

[2018-12-16 14:39] SergioGeeK7 commented on #135
@lwansbrough Hi man, would you like to provide some code example or links about this approach you're outlining here?

`you'd need a way to control the stream so you can get the reference to it in another native module. You'd probably have to build the native module for streaming (unless one exists - but I doubt it) and that native module would read the native camera stream from this module`

thank

[2018-12-16 19:48] mcorner commented on #1053
forceUpOrientation: true seems to work on iOS for me to get the rotation right.

Example: https://s3.amazonaws.com/petcarenow-store/development/chatMedia/LJt4-9ed82f44-51e7-4518-8a0c-2f03378a1740.jpg

The exif is:
Orientation                     : Horizontal (normal)

[2018-12-17 01:20] atrauzzi commented on #1361
Encountering this issue as well @jgfidelis -- what are the permissions I should have?

I've currently got:

[code]

[2018-12-17 03:09] atrauzzi opened #2008 "net::ERR_FILE_NOT_FOUND when trying to fetch uri of TakePictureResponse"
# Bug Report
**To Do First**
- [X] Did you try latest release?
- [X] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Description/Current Behaviour**

When I run the following:

[code]

...the last line triggers the following exception (regardless of whether I have the debugger attached or not):

When I have the debugger attached and I'm inspecting

[2018-12-17 08:56] #2000 closed

[2018-12-17 09:02] n1ru4l commented on #1836
@sibelius check this out: https://github.com/react-native-community/react-native-camera/compare/master...n1ru4l:test-fast-mode

[2018-12-17 10:02] RukaiJohn opened #2010 "Is there a way to add a timer in the camera. Example, 3 or 10 seconds before taking the photo"

[2018-12-17 12:06] guhyeon commented on #1909
In my case, I have solved by
Adding jitpack to android/build.gradle
and gradle cache clean cd android && ./gradlew clean

//Adding jitpack to android/build.gradle
allprojects {
    repositories {
        maven { url "https://jitpack.io" }
        maven { url "https://maven.google.com" }
    }
}

[2018-12-17 12:09] n1ru4l commented on #2010
I am going to close this issue since there is no further information provided. You can use the timers provided by react-native https://facebook.github.io/react-native/docs/timers.

[2018-12-17 12:09] #2010 closed

[2018-12-17 12:11] n1ru4l commented on #2008
What exactly do you want to do with the image?

[2018-12-17 12:57] darekg11 commented on #1750
Bumping, I would also like to know that.

[2018-12-17 14:16] atrauzzi commented on #2008
I'd like to get a `Blob` object.  Initially it'll be for sending the file to a server, but we also have a few other operations in mind where it'll be nice to have the standard `Blob` representation (watermarking, encryption).

Biggest thing here is I want to avoid loading all the data into memory as a base64 encoded string.

[2018-12-17 14:19] atrauzzi commented on #2008
Entering this in as a separate comment, but it appears as though I've been able to get access to the file thanks to [this comment](https://github.com/expo/expo/issues/2402#issuecomment-443726662).

Seems like there's a problem in react native with `fetch`...

[2018-12-17 14:19] #2008 closed

[2018-12-17 17:16] darekg11 commented on #1708
I am on:
react-native: **0.57.4**
react-native-camera: **1.1.12** because of #1754

Currently in following scenario:
1. Open page where `react-native-camera` is mounted for the first time
2. Decline permissions
3. Click on the button to ask for permissions
4. Accept them
5. Start recording via `await camera.recordAsync(OPTIONS)`
6. Get a crash of message and stack trace like in OP

When I restart

[2018-12-17 19:19] paomosca commented on #1706
@sibelius just tried 1.6.3 but same behavior... nothing changes, is really hard to get barcode scanning in portrait mode (almost impossible)

[2018-12-17 19:20] sibelius commented on #1706
share some logs

[2018-12-17 19:22] paomosca commented on #1706
@sibelius the problem is that i have no log, because the event just doesn't fire.
(Using iphone 6s with OS 12.1.1)

[2018-12-18 08:15] n1ru4l commented on #220
I am going to lock this issue since people are discussing solutions to different problems. Please follow the Readme steps correctly.

[2018-12-18 08:16] n1ru4l commented on #1954
Use a `VideoQuality` that is available on your device.

[2018-12-18 08:22] n1ru4l commented on #1741
@halilb  @kgrajan12 AFAIK the `path` option was never intended to append the recording to an already existing file. However since this seems like a nice feature I encourage you all to implement it and send a pull request.

[2018-12-18 08:33] n1ru4l commented on #135
On `android` we could maybe pass something to the `RNCameraPackage` constructor? https://github.com/react-native-community/react-native-camera/blob/e79cd566ab61e31105dddef0193d7dd351a14d59/examples/basic/android/app/src/main/java/com/rncameraexample/MainApplication.java#L20-L35

On `iOS` we could handle the setup in `- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(N

[2018-12-18 08:39] n1ru4l commented on #1708
@darekg11 Could you provide a minimal reproduction example? The best way would be by forking this repository and adjusting https://github.com/react-native-community/react-native-camera/tree/master/examples/basic

Thank you for investigating on this issue.

[2018-12-18 08:46] n1ru4l commented on #1750
This is currently not possible. However this seems like a reasonable feature and we are happy to accept pull requests for it.

A possible implementation could be a new property (`shouldAskForPermissions`) which is a function that returns a `Promise` which resolves to either `true` or `false`. Depending on the result we could then decide whether the dialog with the `agree` and `disagree` buttons sh

[2018-12-18 09:12] n1ru4l commented on #1955
You can generate thumbnails for your video by using https://github.com/phuochau/react-native-thumbnail#readme

[2018-12-18 09:12] #1955 closed

[2018-12-18 11:33] #968 closed

[2018-12-18 11:35] n1ru4l commented on #1978
**Update**: The `captureAudio` option is used to check whether `RNCamera` should ask for permissions Android Permissions (https://github.com/react-native-community/react-native-camera/blob/e79cd566ab61e31105dddef0193d7dd351a14d59/src/RNCamera.js#L412) or not.

[2018-12-18 11:40] n1ru4l opened #2011 "actually implement captureAudio property"
# Feature-Request

**Describe the Feature**
The `captureAudio` property on the `RNCamera` instance is currently only used for determining whether the `requestPermissions` code should ask for Android Audio Recording permissions or not.

I previously removed documentation for this property since I thought it is not implemented on `RNCamera`.

We should reimplement it with the following functionality

[2018-12-18 11:51] sibelius commented on #1836
I think the problem is the imagem processing part

[2018-12-18 11:52] n1ru4l commented on #1836
Nah I do not think so.

Takes a long time until this is actually logged: https://github.com/react-native-community/react-native-camera/compare/master...n1ru4l:test-fast-mode#diff-12e8b1a707fb43be92dea959a0b95215R474 (after pressing the capture button)

[2018-12-18 13:18] darekg11 commented on #1750
I think what @YouCii meant and what I meant is to disable showing the `Alert` that happens before actual dialog happens. On my Huawei P8Lite running Android 6.0, things are happening in following order:
1. Alert showing just `permissionDialogTitle` and `permissionDialogMessage` pops up
2. Actual native dialog showing required permission and `Agree`/`Disagree` pops up.

Is there possibility to remo

[2018-12-18 13:20] darekg11 commented on #1708
@n1ru4l I would love too but, I am afraid that I won't get a chance until weekend.

[2018-12-18 14:18] arneson commented on #1053
@mcorner
Experiencing the same on Nokia devices.
You got anywhere on Android?

[2018-12-18 15:08] mcorner commented on #1053
On Android use: fixOrientation . That will rotate the image and erase the exif rotation.  It may be a bit slow though.

[2018-12-18 15:14] arneson commented on #1053
@mcorner
Thanks, I had the wrong name of the flag, found forceUpOrientation somewhere but now it works.
Yeah, it sure is slow. I guess I have to add a spinner and freeze the rest until this is fixed. Slightly annoying.

[2018-12-18 17:37] atrauzzi opened #2012 "Make a Blob representation available (without having to go through URI)"
# Feature-Request

**Describe the Feature**

When images are taken, the `TakePictureResponse` has options for `base64` and a `uri`.  Unfortunately, `Blob` support in react native is not in the best of shape currently (see related issue below).  This means that I have no way of obtaining a compatible `Blob` using the `fetch` API and `uri`.

I'd like to see another key added to `TakePictureResponse`

[2018-12-18 17:40] #1216 closed

[2018-12-18 20:39] sibelius opened #2013 "discussion about license"
@tidelift / @tieguy says this package is not only MIT

the correct label for this package is

`MIT AND Apache-2.0 AND BSD-3-Clause`

as we have THIRD-PARTY-LICENSES as well

what do you guys think?

[2018-12-18 20:52] tieguy commented on #2013
👋 Happy to answer any questions, but the very short version is: users receive and have to comply with all of THIRD-PARTY-LICENSES, so the package.json license field should reflect everything in there.

[2018-12-18 22:01] vinayan3 commented on #1053
I'm having similar problems where `fixOrientation` is incredibly slow on
* Nexus 5X - 8.1.0. ~ 7/8 seconds
* Samsung SM-G925A  - 7.0 ~4/5seconds

The code I'm using are:
[code]

[2018-12-18 22:30] AngelVenchev commented on #135
@n1ru4l Is this what you're suggesting an idea on general interoperability between separate react-native modules, or a solution to this issue. I am pretty new to react-native and I don't understand much, this is why I am asking.

[2018-12-18 22:45] AngelVenchev commented on #135
@SergioGeeK7 I am already thinking if running it in a separate component cannot work for some reason. I am thinking about implementing the streaming part inside the camera module, instead of throwing the base64 encoded pieces of the video to the JS thread directly flushing them to the server and exposing this to the props of the camera component, having this, supporting base64 and both OSs I will

[2018-12-19 07:12] AbsohAbsoh commented on #1914
I'm also experiencing this issue regardless of base64 being on/off.

[2018-12-19 07:18] n1ru4l commented on #1914
@AbsohAbsoh Please provide crashlogs.

[2018-12-19 07:58] n1ru4l commented on #1053
@vinayan3 Sadly there is currently no more performant implementation of rotating a Bitmap that I am aware of. If you have contact to any experienced android developers or are one yourself it would be awesome if someone could help out with this issue.

[2018-12-19 08:12] n1ru4l commented on #2012
Does this need to be solved in `react-native-camera`?

Can't you create a `Blob` with the method described by you and the current workaround mentioned in https://github.com/expo/expo/issues/2402#issuecomment-443726662?

[2018-12-19 08:33] n1ru4l commented on #2013
included in https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.4

[2018-12-19 08:33] #2013 closed

[2018-12-19 08:55] arneson commented on #1053
What about doing what iOS and some cameras do? Don’t rotate it, but set the exif orientation value?

[2018-12-19 08:56] n1ru4l commented on #1053
@arneson Please read https://github.com/react-native-community/react-native-camera/issues/1053#issuecomment-447615936

[2018-12-19 11:47] n1ru4l commented on #1951
@sibelius Can you answer this question?

[2018-12-19 11:51] n1ru4l commented on #1850
Please use the template and provide a full stacktrace.

[2018-12-19 11:51] #1850 closed

[2018-12-19 11:54] n1ru4l commented on #1862
@miracle2k You are referring to Android Code, but the actual report is related to android.

@petlys @miracle2k Could check if your issue is resolved when using this pull request: https://github.com/react-native-community/react-native-camera/pull/1995

[2018-12-19 11:58] sibelius commented on #1951
this should work:

[code]

feel free to send a pr to fix or improve this

I recommend moving to TS

[2018-12-19 11:58] #1951 closed

[2018-12-19 11:58] n1ru4l opened #2017 "Github Bot that adds install command to pull requests"
# Feature-Request

**Describe the Feature**
It would be helpful if we could have a bot that automatically posts the `yarn` or `npm` install command to a new pull request, so that bug reporters that get pointed to a pull request have no additional obstacle of testing the pull request (Many people do not know you can install a git npm package etc.).

@sibelius What do you think?

**Possible Implemen

[2018-12-19 12:03] sibelius opened #2018 "Migrate to ML Kit"
# Feature-Request

**Describe the Feature**
Google Mobile Vision (GMV) is deprecated https://developers.google.com/vision/
We should migrate to ML Kit https://developers.google.com/ml-kit/

## How to implement this
- [ ] Add ML Kit for both android and ios
- [ ] Provide a migration path to use ML Kit instead of GMV
- [ ] Remove GMV from RNCamera

## Features that this would enable
- [ ] Image Labe

[2018-12-19 12:05] n1ru4l commented on #1858
@whydna What is your opinion of my API proposal in https://github.com/react-native-community/react-native-camera/issues/1858#issuecomment-445030451?

[2018-12-19 12:05] sibelius commented on #2017
great, we can try to use github actions or hubot for this

[2018-12-19 12:06] n1ru4l commented on #2017
@sibelius Do we have access to github actions?

[2018-12-19 12:07] n1ru4l commented on #2018
This would definetly be a big breaking change. I think we should setup a roadmap for version 2.0

[2018-12-19 12:09] sibelius commented on #2018
sure, we could try to use github boards or milestone to keep track of v2.0

[2018-12-19 12:10] sibelius commented on #2017
not yet, https://twitter.com/sseraphini/status/1075362702233624577

[2018-12-19 12:31] n1ru4l commented on #1712
@priezz @cameronbell Are you interested in investigating and fixing this issue?

[2018-12-19 12:39] n1ru4l opened #2019 "Version 2 Discussion"
# Version 2 Discussion

Version 2 should be all about removing deprecated dependencies and APIs and fixing bad APIs.

Roadmap Overview: https://github.com/react-native-community/react-native-camera/projects/1

Please link all crucial issues that should be part of v2 in this Thread.

[2018-12-19 12:55] n1ru4l commented on #2019
@sibelius we can develop v2.0 in a new branch and use semantic-release to create v2.0 pre-releases (https://github.com/semantic-release/semantic-release/issues/563#issuecomment-448538232).

[2018-12-19 13:04] Sterlingryan commented on #1712
@priezz @cameronbell  @n1ru4l  I apologize for the late reply, if it is of any help, I upgraded the version to 1.2.0 (using RNCamera) and it fixed that issue

[2018-12-19 13:07] n1ru4l commented on #1712
@cameronbell Please open a new issue if you are experiencing this issues on the newest version.

[2018-12-19 13:07] #1712 closed

[2018-12-19 13:16] n1ru4l commented on #675
@iarambula Feel free to send a pull request that improves the documentation.

I am going to close this issue. Please open a new or search for an existing open issue if you are still experiencing this issue with `RNCamera`.

[2018-12-19 13:16] #675 closed

[2018-12-19 13:18] n1ru4l commented on #1206
@Gmtas Please test it with the newest version of `RNCamera` and open a new issue if this error still occurs.

[2018-12-19 13:19] n1ru4l commented on #652
Please test it with the newest version of RNCamera and open a new issue if this error still occurs.

[2018-12-19 13:19] #652 closed

[2018-12-19 13:20] n1ru4l commented on #566
Please open a new issue with crashlogs if you still experience this issue with the newest version and `RNCamera`.

[2018-12-19 13:20] #566 closed

[2018-12-19 13:21] n1ru4l commented on #558
`RNCamera` is deprecated. Please us `RNCamera` instead and open a new issue if you still experience this issue.

[2018-12-19 13:21] #558 closed

[2018-12-19 13:22] n1ru4l commented on #632
Closed due to missing activity. If you still experience this issue with the newest version of `RNCamera` please open a new issue.

[2018-12-19 13:22] #632 closed

[2018-12-19 13:23] n1ru4l commented on #687
@djleonskennedy Please feel free to send a pull request that implements these features.

[2018-12-19 13:31] n1ru4l commented on #848
Closed due to missing activity. Please open a new issue if you still experience this with the newest version of `RNCamera`.

[2018-12-19 13:31] #848 closed

[2018-12-19 13:33] n1ru4l commented on #1701
Please open a new issue if you still experience this issue with the latest `RNCamera` version.

[2018-12-19 13:33] #1701 closed

[2018-12-19 13:33] #1950 closed

[2018-12-19 13:36] n1ru4l commented on #888
@narychen  @qq326646683 Feel free to send a pull request that implements such a feature.

[2018-12-19 14:00] atrauzzi commented on #2012
Nope, if you read my referenced issue, you'll see that fetch doesn't return a standard Blob.  It's broken and can't be used outside of their implementation. As in... If you pass that blob to anything that expects one, it just ends up being treated as an object.

I think there's merit either way for you to offer the blob, even if their blob implementation wasn't broken.  Blobs are native codes best

[2018-12-19 14:07] sibelius commented on #2012
Blob is a great idea, feel free to send a pr to support them

[2018-12-19 14:11] n1ru4l commented on #2012
I still not understand whats the issue with `react-native-camera` since it must be fixed in `react-native` core. And you could then create a Blob by using the uri property of the `recordAsync`/`takePictureAsync` result?

[2018-12-19 14:16] atrauzzi commented on #2012
@n1ru4l - As I outline in the linked issue: The blob from `fetch` using `uri` is **broken**.  You can't even slice it.  It just returns an instance of itself of the same `size`.  You can't pass it to axios because it doesn't have `Blob` as its prototype. Simply put, it's not a Blob.  It's a react-native-not-blob.  So it can't be used with any library designed to use the standard ECMA blob APIs.

B

[2018-12-19 14:18] sibelius commented on #2012
I think this should be solved on core first

let's reopen this when core is fixed

have you tested this example https://github.com/expo/react-native-blob-test?

[2018-12-19 14:18] #2012 closed

[2018-12-19 14:19] atrauzzi commented on #2012
Whether it's fixed in core or not probably won't affect your implementation of directly offering a standard blob.  This seems like something you could do right away and help people out greatly -- core is probably going to take a long time to fix this.

[2018-12-19 14:19] n1ru4l commented on #920
Seems like this issue is resolved. If you experience any issues I recommend testing if the issue is still occurring with the newest version of `RNCamera`.

[2018-12-19 14:19] #920 closed

[2018-12-19 14:21] n1ru4l commented on #860
Please open a new issue if you are still experiencing these issues with the newest version of `RNCamera`.

[2018-12-19 14:21] #860 closed

[2018-12-19 14:22] #992 closed

[2018-12-19 14:22] n1ru4l commented on #895
Please open a new issue if you are still experiencing this problem with the newest version of `RNCamera`.

[2018-12-19 14:22] #895 closed

[2018-12-19 14:24] n1ru4l commented on #884
Please open a new issue if you are still experiencing this problem with the newest version of `RNCamera`.

[2018-12-19 14:24] #884 closed

[2018-12-19 14:32] atrauzzi commented on #2012
And like I said, I'm sorry, I literally don't have the background to implement it.

[2018-12-19 14:33] n1ru4l commented on #2012
@atrauzzi I understand your frustration, but currently the best workaround is simply using fetch instead of axios as @sjchmiela mentioned in his comment (https://github.com/expo/expo/issues/2402#issuecomment-443726662).

As @sibelius said we are happy to accept pull requests for this, but it does most likely make more sense to fix the in `react-native` core.

[2018-12-19 14:39] n1ru4l commented on #2012
@atrauzzi If you are interested this is how I do fileuploads at the moment:

[code]

[2018-12-19 14:41] atrauzzi commented on #2012
@n1ru4l - If I want to do binary manipulation of the image, using fetch won't work.  Your solution of using `fetch` assumes all I want to do is send it over the network.  I can't chunk it, I can't do anything except feed it back to the same RN API that generated it.

Offering a binary representation without requiring people to find the file on the filesystem is absolutely a better option for you t

[2018-12-19 14:44] atrauzzi commented on #2012
This is unrelated.. But for what it's worth, I have a transfer working without using base64 data currently.  It's a complete workaround and some ugly one-off code, but as I mention in my last comment, I can't use chunking and I can't use axios.
(My organization has all of its network operations abstracted using an internal package built on axios.  We did this because axios builds on standard APIs

[2018-12-19 15:06] envyTang opened #2021 "Can I limit the picture size to no more than 1M"
The picture size of different models is not consistent. Can I limit the picture size to no more than 1M?

**To Do First**
`options = { quality: 0.3, base64: true };`

[2018-12-19 16:30] mcorner commented on #1053
https://github.com/CameraKit/camerakit-android seems to use JNI to libjpeg-turbo for rotation.  A bit of a project unfortunately.

[2018-12-19 16:34] sibelius commented on #1053
@mcorner feel free to send a pr to fix this

[2018-12-19 17:38] SergioGeeK7 commented on #135
Hey @AngelVenchev that sounds good, wonder if flushing one event per frame with a base64 image will be a lot for the bridge and camera component, we won't know until you make it.

regarding my approach I ended up creating my own UI native component, connect to the camera stream and analyze each frame ( my app is about live object detection).

next, every time I detected the object, I flush an even

[2018-12-19 18:52] n1ru4l commented on #2021
No this is not possible since the native modules do not provide this option

[2018-12-19 18:52] #2021 closed

[2018-12-19 18:59] sibelius commented on #2021
maybe we can accept a PR for this

[2018-12-19 19:40] n1ru4l commented on #755
It is also possible to have sync calls to the native thread: https://github.com/react-native-community/discussions-and-proposals/pull/11#discussion_r

I quickly tested it an it works much faster than using the async method.

However this can conflict with the react-native chrome debugger. If we would use this implementation under the hood we should detect if a chrome debugger instance is connected

[2018-12-19 19:51] sibelius commented on #755
we can try that, maybe a flag or something

[2018-12-19 21:13] n1ru4l commented on #755
@DavitVosk @Tzinov15 @jose920405 @Gatreek92 Anyone interested can try https://github.com/n1ru4l/react-native-camera/commit/da3f8ec538ffc96552a08574cac7fec14fa386a6

I added a sync mode toggle to the example app. Keep in mind this is android only. I had no time to do benchmarks, but it seems to me that sync mode is slightly faster than async mode.

[2018-12-20 10:30] chmartinez commented on #1708
In my case, the problem was related to how the `RNCamera` works with FaCC (https://github.com/react-native-community/react-native-camera/blob/master/src/Camera.js#L285).

*NOTES*:
* this issue only happened to me on physical Android devices with react-native v0.54 and RNCamera v1.3.1
* the code I'm sharing is not fully functional but a way to show what was my scenario and how I fixed the issue.

M

[2018-12-20 14:14] n1ru4l commented on #1744
@tonmanayo We are open to pull requests that expose methods for asking for the desired permissions.

[2018-12-20 16:43] subodhsri commented on #510
reopening.

[2018-12-20 20:10] ricbermo opened #2022 "mute option is not properly documented or badly implemented."
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android
iOS

**Versions**

- Android:
- iOS:
- react-native-camera: 1.6.3
- react-native: 0.57.7
- react: 16.6.1

**Description/Current Behaviour**
It looks like the description of `mute` is not accurate: `mute (any

[2018-12-21 00:52] grsabreu commented on #1919
As of this, the reading is indeed correct.
https://stackoverflow.com/questions/22234424/zxing-not-reading-brazilian-barcode-bills-interleaved-2-of-5-correctly-how-ca

[2018-12-21 01:36] sibelius commented on #1919
Welcome to Brazil

[2018-12-21 06:16] AshokICreate commented on #1616
[code]

[code]

[2018-12-21 10:21] bachlongkocanh commented on #1575
`  i = 0;
    onBarCodeRead = (scanResult) => {
        this.i++
        if (this.i == 0) {
            if (scanResult.data != null) {
                this.setState({ ResultScan: scanResult.data })
                this.props.navigation.state.params.onSelect({ result: scanResult.data });
                this.props.navigation.goBack();
            }
        }
        return;
    }`
resolve for me.

[2018-12-21 10:30] KlemenS189 opened #2023 "Barcode scanner bounds units"
## Question
I have a question about units that are used in the bounds.
Since the plugin doesn't offer the possibility to customize the area in which to scan, I want to restrict the area with bounds. The problem is that I can't correlate the units of the returned bounds with any other units used in react-native.

## Example
I am using LG G6.
To get the dpi units of the screen I used Dimension.get('

[2018-12-21 11:33] grsabreu commented on #1919
🙃

[2018-12-21 12:09] n1ru4l commented on #1919
@grsabreu Does this mean we can close this issue?

[2018-12-21 12:41] n1ru4l commented on #2022
We have currently definitely some issues regarding audio and video.

Are you sure not passing  `mute: false` to `recordAsync` will result in no audio?

On iOS I can reproduce the issue for sure.

Can you please test https://github.com/react-native-community/react-native-camera/pull/2024 and report there if it resolves this issue that you are experiencing.

[2018-12-21 14:12] ricbermo commented on #2022
hey, @n1ru4l for sure. I'll do that once I have some time.
This is what I have as `options`.
[code]

[2018-12-22 13:10] darekg11 commented on #1708
@n1ru4l
Forked repo with easy reproduction:
https://github.com/darekg11/react-native-camera/tree/reproduce-the-crash

Reproduction steps:
1. Install the app (notice the permissions are not listed, as any new app should not ask for permissions upon startup when targeting devices with Android 23+)
2. Launch app
3. Decline permissions.
4. Click `REC` button
5. Crash

# What have I changed:
1. Bumped

[2018-12-23 19:56] miracle2k commented on #1862
@n1ru4l The link to the `react-native-maps` repo indeed goes to iOS code, but the investigation I described above I did in the Android debugger, and I ended up feeling fairly certain (like 80% certain) that this is the underlying issue here.

`react-native-maps` apparently doesn't have this problem on the Android side, because there, `<MapView>` just creates a single native view. On the `iOS` side

[2018-12-23 23:43] n1ru4l commented on #510
@sbodhrsi If you experience this issue with the newest version of `RNCamera` please open a new issue with the log output.

[2018-12-23 23:50] n1ru4l commented on #1575
We should definitely have some way to disable `onBarCodeRead` calls. This could block the react-router bridge and could result in bad performance

[2018-12-24 04:03] isaaclem commented on #386
@RikNieuwoudt : After added all the privacy as you've listed, the crashing does seems to be decreased a lot, however I'm still facing the same issue if I constantly keep scanning and switching back and forth between scanning and normalscreen

[2018-12-24 08:26] subodhsri opened #2025 "Camera unable to save file until debug mode is turned on."
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**

- Android: v6 (API 23), v9 (API 28) Both Simulator and Real Device
- react-native-camera: v1.6.4 (git+https://git@github.com/react-native-community/react-native-camera.git)
- react-native: 0.56.

[2018-12-24 09:15] arseniisemenov commented on #1923
@ppsreejith such a great work  👍 ! Can't wait to use it in iOS !

[2018-12-24 13:52] youssefatti opened #2026 "Build Failed with FaceDetector Step"
I have build failed when i want to add FaceDectector.
this is my pod file :

target 'RNCamFaceDetect' do
  pod 'React', :path => '../node_modules/react-native', :subspecs => [
    'Core',
    'CxxBridge', # Include this for RN >= 0.47
    'DevSupport', # Include this to enable In-App Devmenu if RN >= 0.43
    'RCTText',
    'RCTNetwork',
    'RCTWebSocket', # Needed for debugging
    'RCTAnimation

[2018-12-24 17:35] Udbhav12 commented on #1923
@ppsreejith -  Can your code detect barcode present in images ?

[2018-12-24 17:48] arseniisemenov commented on #1923
@Udbhav12 barcode scanner is implemented in react-native-camera (this repo)

[2018-12-24 17:51] Udbhav12 commented on #1923
@arseniisemenov - I am not talking about barcode scanning,I am already using RN Camera's barcode scanning. I was talking about barcode detection in a static image. I will be first using RN camera to capture an image and once the image has been captured, i need to detect whether it contains barcode or not

[2018-12-24 18:20] youssefatti commented on #2026
I had to unlink react-native-camera to fixed it

[2018-12-24 18:21] #2026 closed

[2018-12-24 18:52] mudasserhassan1 commented on #1964
Android needs Absolute file path (which you are providing) while IOS needs 'uri' of that image/video to pass to API in my case it was 'content://media/external/video/media/120529' .
Hope this helps.

[2018-12-25 03:31] mopilo opened #2027 "A problem occurred configuring project ':react-native-camera'."
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [ ] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-camera: 1.2.0
- react-native: 0.56.0
- react: 16.4.1

**Description/Current Behaviour**

**Expected Behaviour**
Need the app to build

**Steps to Reproduce**
Added googl

[2018-12-25 09:01] benhartouz commented on #1914
Same issues with me , and i got this stack

[code]

[2018-12-25 09:03] benhartouz commented on #1785
+1

[2018-12-25 09:15] benhartouz commented on #1914
@mconiglio  I've just solved this problem by adding "android:largeHeap="true"" to android/src/main/AndroidManifest.xml. and rebuild your project with react-native run-android

for example:
...
android:name=".MainApplication"
android:allowBackup="true"
android:largeHeap="true"*
android:label="@string/app_name"
android:icon="@mipmap/ic_launcher"
android:theme="@style/AppTheme">

[2018-12-25 12:45] dmitryn commented on #2027
I also have this issue, here is my build.gradle:
[code]

* react-native-camera 1.1.5
* react-native 0.56

[2018-12-26 03:10] icesyc opened #2028 "native record method has delay with the recordAsync call, stopRecording did not work"
Hello
I got a problem on IOS, my test phone is iphone7, ios version: 12.1.2.

when recordAsync is called, the native method will prepare the work first,  there is about 500ms before  the recording started,  when stopRecording is called at this time,  "Video is not recording" will show up, but the recording request was not cancelled.

How can I handle this?
here is my log for the delay
![image](htt

[2018-12-26 04:41] mopilo commented on #2027
were you able to solve it??

[2018-12-26 05:10] mopilo commented on #2027
This what fixed it for me.

https://github.com/react-native-community/react-native-image-picker/issues/999#issuecomment-445465847

[2018-12-26 07:46] icesyc commented on #1897
set the prop
[code]
fixed the problem.

[2018-12-26 08:01] zouminhuababa commented on #1897
给应用的麦克风权限授权

[2018-12-26 10:47] dmitryn commented on #2027
@mopilo upgrade to `1.6.4` solved this issue for me

[2018-12-26 10:52] dmitryn commented on #2027
Here are  different `build.gradle` for each version:

https://github.com/react-native-community/react-native-camera/blob/v1.1.5/android/build.gradle
https://github.com/react-native-community/react-native-camera/blob/v1.6.4/android/build.gradle

[2018-12-26 11:02] dmitryn commented on #2027
Solution is to move `jcenter()` down the list in `build.gradle`:

[code]

[2018-12-26 21:35] joshuafarray commented on #1914
Same issue for me.

Android version: 7.0
Android Build: NPN25.137-33
Manufacturer: Motorola
Model: Moto G5 Plus

I'm not sure how much is relevant, but this is what I see in logcat:

[code]

`android:largeHeap="true"` is set in my android manifest.

[2018-12-26 21:48] n1ru4l commented on #1897
Please write english to help everyone. I am going to lock conversation. Recording does only work on real devices..

[2018-12-26 21:50] n1ru4l commented on #1964
Going to close this since there is no response since 24 days.

[2018-12-26 21:50] #1964 closed

[2018-12-26 21:57] n1ru4l commented on #2027
As pointed out by @dmitryn this issue is solved when using the newest version of `react-native-camera` (`1..6.4`).

[2018-12-26 21:57] #2027 closed

[2018-12-26 22:10] n1ru4l commented on #1914
@benhartouz @joshuafarray The only solution here would be to reduce memory consumption during the background task (which does some processing to the image).

There is some task that can require huge amounts of memory being done in the following lines here: https://github.com/react-native-community/react-native-camera/blob/5e5da25276e031b3b1616d1cb2acd980ce6459b5/android/src/main/java/org/reactnati

[2018-12-26 22:12] n1ru4l commented on #1785
Closing due to missing feedback.

[2018-12-26 22:12] #1785 closed

[2018-12-26 22:15] joshuafarray commented on #1914
@n1ru4l Thanks for the additional info.  Will investigate further and report back if I can figure anything useful out.

[2018-12-27 07:32] yernandus opened #2029 "no audio"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- iOS:latest
- react-native-camera:1.6.4
- react-native:0.57.5
- react:16.6.1

**Description/Current Behaviour**

video is recorded without audio

**Expected Behaviour**

recorded videos should ha

[2018-12-27 08:36] n1ru4l commented on #1914
@benhartouz As I mentioned this should only be a temporary solution. If you want this issue resolved you should investigate on how to do the image processing without high memory usage.

I personally use the `skipProcessing` option, so it is very unlikely that I am going to fix the issue.

[2018-12-27 08:43] benhartouz commented on #1914
@n1ru4l yeah will investigate further.

[2018-12-27 08:48] yernandus commented on #2029
solved by passing { muted: false } to recordAsync. The documentation is misleading

[2018-12-27 09:23] yernandus opened #2030 "Android will crash on recordAsync() if captureAudio is not passed to RNCamera. It is not in the documentation"
# Bug Report
**To Do First**
- [ x] Did you try latest release?
- [ ] Did you try master?
- [x ] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: 8
- react-native-camera:1.6.2
- react-native:0.57.5
- react:16.6.1

**Description/Current Behaviour**

crash on recording video
**Expected Behaviour**

record a video
**Steps to R

[2018-12-27 14:14] saadrehman013 commented on #1977
Any update on this issue. Actually, I am using 'react-native-beautiful-video-recorder' and this module resides in the peer dependencies. I am stuck with this error.

undefined is not an object (evaluating 'CameraManager.Aspect')

Any help??

[2018-12-27 17:48] mschmuckler commented on #1507
@YouCii Did you manage to find the maximum width that works on all androids? Or quality? Or combination of width/quality?

[2018-12-28 00:35] YouCii commented on #1507
@mschmuckler I think it's basically impossible to find a stable configuration that works for all android. Maybe we can determine the current device's memory size to dynamically initialize these configurations.

[2018-12-28 08:09] laukaichung opened #2031 "Unable to use play-services-vision:15.0.2"
I've installed both react-native-firebase and react-native-camera. The camera was fine when play-services -vision was stuck at `12.0.1`, but I just ran into this error (**Error updating property googleVisionBarcodeDetectorEnable**)  https://github.com/react-native-community/react-native-camera/issues/1844 that requires an upgrade to `15.0.2`.

  It looks like there are Google Play Services and Fir

[2018-12-28 09:56] Iamivan1996 opened #2032 "[IOS] Is it possible to record a Mp4 video"
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2018-12-28 20:42] enieber commented on #1589
@freshlybakedcode  any solution?

[2018-12-28 21:31] darekg11 commented on #2032
Well, we are using both `react-native-camera` and `react-native-video` for recording and play backing videos taken on both IOS and Android devices and so far it worked without problems without any 3rd party conversion. Tested on multiple Android and IOS devices.
Did you try to launch those MOVs at all with `react-native-video`?  Asking out of curiosity because we haven't seen any problems so far b

[2018-12-29 00:17] n1ru4l commented on #2032
Currently it is not possible to record `mp4` videos with `react-native-camera` on iOS. You will have to convert it. Seems like renaming would also work (https://stackoverflow.com/a/12589999/4202031).

Also I can play both `mp4` and `mov` files with `react-native-video`. You should open an issue there if it is not working correctly.

Also keep in mind that since iOS 11 `HVEC` is the default used vi

[2018-12-29 00:18] n1ru4l commented on #2029
@yernandus Can you please test if https://github.com/react-native-community/react-native-camera/pull/2024 fixes your issue?

[2018-12-29 07:52] icxcat commented on #1977
+1

[2018-12-29 11:50] #1139 closed

[2018-12-29 11:56] n1ru4l commented on #2031
Please read https://developer.android.com/studio/build/multidex

[2018-12-31 03:07] Iamivan1996 commented on #2032
Sorry for late reply, that was my mistake, because after i command with react-native link, i have not check the react-native-video is integrated. So that's why the app was crash.

@n1ru4l rename the file is work for me, but for your information, IOS 11 HVEC is not work for android and previous IOS version, and also android devices produce mp4 files that cannot be played on iOS devices and the Quic

[2018-12-31 10:10] kassim commented on #1914
I've been experiencing the same crash reports in Crashlytics, where a OOM is produced from the `rotateBitmap` method. On devices Samsung Galaxy J3, Samsung Galaxy Note 3, Sony Xperia E5

I was able to recreate locally on a cheap Samsung Galaxy J1 device after repeatedly trying to perform the same 'take picture' sequence in my app - problem is, some of my users have been reporting not being able to

[2018-12-31 14:12] n1ru4l commented on #2032
@Iamivan1996 You do not have to convert it to `mov` container format. It could also be `mp4`. The important part is that the video container format and codec should be supported by all the target platforms (e.g. web, iOS, android).

[2018-12-31 17:14] darekg11 commented on #2032
I think MP4 with H264 codec set to profile: `Baseline` should be enough.
Here is a Android docs:
https://developer.android.com/guide/topics/media/media-formats
As you can see, pretty much all Android versions should support decoding H264 Baseline

And for IOS:
https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/StreamingMediaGuide/FrequentlyAskedQuestions/Freque

[2018-12-31 23:09] jayb967 commented on #1407
I am also having issue, have firebase installed as well!

[2019-01-01 14:57] Hirurgo commented on #1671
Где ваши доказательства. RNCamera wrapped in View in official doc.

https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md

[2019-01-02 03:10] Iamivan1996 commented on #2032
@darekg11 @n1ru4l Thank you for your guidance and support. I will take a note with my backend program partner.

This is my first time to build an app with react native, and also i have not too much experience in Camera.

[2019-01-02 03:10] #2032 closed

[2019-01-02 10:01] arneson commented on #2011
@n1ru4l
In my opinion, after looking at it, I think it makes the most sense to auto-mute if you have not passed captureAudio: true to the component. Do you agree? If you do I'll put that together and create a PR.

Secondly, are you saying that recording without audio is not currently supported and need to be implemented as well or does this issue only refer to the captureAudio/mute params thing?

[2019-01-02 10:15] Michaelvilleneuve commented on #1748
Same problem on 0.57.8
Also, it does not seem to happen on every machine since our build machine keeps working

[2019-01-03 03:14] telmen commented on #1870
Any update on this? using cocoapods

[2019-01-03 05:38] telmen commented on #1870
Hi @brunotalhate, any luck with it?

[2019-01-03 09:10] tiendn commented on #1870
Hope !

[2019-01-03 11:39] Rohithzr commented on #2030
@n1ru4l related recursion overload :D

related #2025  ?

but I do have permissions.
I take permissions manually at the start of the app.

[code]
so these are 100% granted.

manifest.xml
[code]

[2019-01-04 03:43] telmen opened #2033 "Face detection not working on iOS 12.1.2, iPhone 6S"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera
FaceDetector

**Platforms**

iOS

**Versions**

<! -- - Android: -->
- iOS: 12.1.2
- react-native-camera: ^1.6.4
- react-native: 0.57.7
- react: 16.6.1

**Description/Current Behaviour**

iPhone 6S(iOS 12.1.2) is currently not dete

[2019-01-04 15:09] n1ru4l commented on #2011
@arneson What about not having set the `captureAudio` property and not using the `mute` option with `false`?

Recording without audio is currently supported. You will have to pass  the option `mute` with the value `false` to the `recordAsync` method.

[2019-01-04 15:11] n1ru4l commented on #2030
Can you reproduce this issue with the example app in this repository?

[2019-01-04 15:12] n1ru4l commented on #2033
Duplicate of #1870

[2019-01-04 15:12] #2033 closed

[2019-01-04 15:30] ananth10 opened #2034 "Is there any way to capture image of scanned bar code or crop barcode image?"
Hello Developers!!

I am using this library  to scan barcode . it is working perfectly. but I need to capture image of barcode.

I have came to know about this scanner app https://play.google.com/store/apps/details?id=com.gamma.scan&hl=en. it would scan barcode and display it in next screen. I need exact like this.
please provide me idea . I will really appreciate it.

Thanks.

[2019-01-05 09:17] alamothe commented on #1752
Looks like it's necessary to ask for permissions on Android. `react-native-camera` won't do this by itself, while on iOS it does.

[2019-01-05 15:56] gaurav321garg commented on #1956
I am also facing similar issue.
`Application threw exception NSInternalInconsistencyException: *** -[AVCaptureStillImageOutput captureStillImageAsynchronouslyFromConnection:completionHandler:] Inconsistent state
Originated at or in a subcall of realm::Column<double>::average(unsigned long, unsigned long, unsigned long, unsigned long*) const`

[2019-01-05 20:05] vinayan3 commented on #1053
@n1ru4l I've going through the code and on Android if there is any post processing what happens is
there is no Exif data being included into the output JPEG.  I hacked up some code to include the ExifData in `ResolveTakenPictureAsyncTask.java`.
[code]
If you read the docs about `ExifInterfance` it indicates that `saveAttributes()` is slow because it reads the file, writes the exif data in a temp f

[2019-01-06 17:51] balthazar commented on #1748
Same, had to downgrade to `0.57.7`

[2019-01-06 18:58] jasan-s opened #2035 "react-native-view-shot compability"
# Question
How can i overlay a view on top of image and save that as a new image.
I tried using https://github.com/gre/react-native-view-shot/ while using `pauseAfterCapture` but it didn't work see below:

RNCamera Preview Image:
<img width="323" alt="screen shot 2019-01-07 at 3 06 59 pm" src="https://user-images.githubusercontent.com/13863953/50798671-09c3e580-128e-11e9-83ee-3cd578d1e060.png">

C

[2019-01-06 21:39] jasan-s commented on #1888
@msageryd  how are you getting the coordinate values to use in `autoFocusPointOfInterest`. can you share the implementation gist

[2019-01-07 03:34] tushgup commented on #1923
Hi! Has there been any progress on this yet?

[2019-01-07 03:40] brendanyounger commented on #1923
I've got a fork (https://github.com/brendanyounger/react-native-camera) that works for barcode scanning on both iOS and Android using MLKit.  It's very rough and I don't have any immediate plans to clean it up and submit a PR, but if you want to see how it's done, it's not too hard to follow.

[2019-01-07 05:30] nubwang commented on #2035
为啥不能用哇，刚init一个项目，加了这个插件，安装了link了，Could not resolve all files for configuration ':react-native-camera:releaseCompileClasspath'.

  Required by:
      project :react-native-camera

[2019-01-07 07:47] arneson commented on #2011
By not having set the captureAudio prop you mean changing the default of captureAudio to true?

To summarize:
1. Change captureAudio default to true
2. If captureAudio is set to false, disregard mute property and always pass mute:true to the camera?

[2019-01-07 09:55] furedal commented on #1748
This should probably be reopened, ```RN 0.57.8``` breaks the latest version of RNC.
For now, it works using ```RN 0.57.7```

This is what I am getting, looks like the original issue
`/Users/Chrille/Documents/my_app/node_modules/react-native-camera/android/src/main/java/org/reactnative/camera/CameraModule.java:7: error: cannot find symbol
import com.facebook.react.uimanager.UIBlock;

[2019-01-07 11:01] sibelius commented on #1748
this happens when you resolve react-native wrong on gradle

[2019-01-07 15:02] n1ru4l commented on #2011
@arneson Yeah that would be a solution without any breaking changes (since I consider recording audio by default but not asking for permissions as a bug). Are you interested in fixing this issue?

In the next breaking change release we could then deprecate and remove the `mute` property.

[2019-01-07 15:14] arneson commented on #2011
@n1ru4l
Yeah! Sure! I'll take a look. I have that basically done in my fork, just need to look through it once more.

[2019-01-07 16:36] cydjohn commented on #1977
I have the same issue, solved by running `pod install` after `react-native link react-native-camera`.

[2019-01-07 17:07] pedrosimao commented on #1416
Hello,
Can you leave this issue open as a "Feature Request"?
I could try to make a pull request myself, by using `autoFocus` together with `autoFocusPointOfInterest`.
The only problem is that `autoFocusPointOfInterest` does not seem to exist on Android.
Can you confirm this last information?

[2019-01-07 17:23] pedrosimao commented on #1830
Nice, so, it basically means you can autofocus with your thinger on Android (and iOs) but you want a visual element (square or round) that is drawn when user touches the screen?
If it is the case it won't be difficult to create a prop that provides a visual overlay for helping with focus. I can try to make one...

[2019-01-07 18:47] Craigtut commented on #1416
As of this point, the master branch does not contain autoFocusPointOfInterest for android.

I opened #1974  a while back adding autoFocusPointOfInterest to android, but as of now it hasn't been reviewed and added. It's a few releases behind master at this point.

[2019-01-08 08:15] n1ru4l commented on #2035
Duplicate of https://github.com/gre/react-native-view-shot/issues/85

I do not know how `react-native-view-shot` works, so I cannot help you with that. If you have time to investigate further (and this issue can be resolved by adding changes to `react-native-camera`) I encourage you to provide a pull request.

As a **workaround** you could show the taken picture with an `ImageBackground` component

[2019-01-08 08:18] n1ru4l commented on #2034
This is currently not possible. However we are always open to contributions. So if you want to implement this feature feel free to send a pull request

[2019-01-08 10:15] #2029 closed

[2019-01-08 10:19] n1ru4l commented on #2029
:tada: This issue has been resolved in version 1.6.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 10:29] #2030 closed, assigned to nobody

[2019-01-08 10:31] sibelius commented on #1977
Can we have an example-swift in this repo to make it easy to reproduce this bug?

[2019-01-08 10:33] n1ru4l commented on #2029
:tada: This issue has been resolved in version 1.6.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 10:33] n1ru4l commented on #2030
:tada: This issue has been resolved in version 1.6.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 10:39] n1ru4l commented on #386
`Camera` is deprecated. Please use `RNCamera` instead.

[2019-01-08 10:42] n1ru4l commented on #1671
@raphaelho wrote

That is not true, you can wrap `RNCamera` into any component. (as @Hirurgo said).

[2019-01-08 10:48] #1311 closed

[2019-01-08 10:49] n1ru4l commented on #1616
@AshokICreate Can you please provide a step by step guide to reproduce this issue with the example app in this repository?

[2019-01-08 10:55] n1ru4l commented on #1311
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 10:58] augustl commented on #1977
My repo has examples for both swift and obj-c :) https://github.com/augustl/react-native-camera-ios-native-module-issue

[2019-01-08 10:58] sibelius commented on #1862
fixed here https://github.com/react-native-community/react-native-camera/releases/tag/v1.7.0

[2019-01-08 10:58] #1862 closed

[2019-01-08 10:58] sibelius commented on #1259
fixed here https://github.com/react-native-community/react-native-camera/releases/tag/v1.7.0

[2019-01-08 10:58] #1259 closed

[2019-01-08 10:59] n1ru4l commented on #1977
@sibelius Sure but adding something that is not working will not help 😅

AFAIK there is no official react-native swift template/create-react-native-app template

[2019-01-08 11:20] n1ru4l commented on #1752
This issue was fixed in https://github.com/react-native-community/react-native-camera/releases/tag/v1.6.6

Please try to upgrade to the newest version.

[2019-01-08 11:20] #1752 closed

[2019-01-08 16:10] manel27 commented on #1642
Someone? Help.

[2019-01-08 16:55] neonsec commented on #690
Facing the same on frontcam. Huge delay on getting the picture captured.

[2019-01-08 18:45] keithj0nes opened #2040 "recordAsync() does not fire a second time"
Bug Report

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- Android:
- iOS:  11.2
- react-native-camera: 1.2.0
- react-native: 0.56.0
- react: 16.4.1
- react-navigation: 2.11.2

**Description/Current Behaviour**

home screen -> camera screen -> details screen

My UI is set up to where when the video is done recording, it navigates to the details screen where I can preview the vi

[2019-01-09 00:28] matheusmonte opened #2041 ""camera not authorized" in version 1.8.0 (Android)"
# Bug Report
**To Do First**
- [X ] Did you try latest release?
- [ X] Did you try master?
- [ X] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android (Not tested in iOs)

**Versions**

- Android: 8.1
- iOS: not tested
- react-native-camera: 1.8.0
- react-native: "0.57.5"
- react: 16.6.1

**Description/Current Behaviour**
npm install in react-native-camer

[2019-01-09 04:20] mtr1012 opened #2042 "Does RCTCamera support pinch to zoom on iOS?"
I'm using RCTCamera as camera component on my project.
But I can't pinch to zoom on iOS but on Android, everything works fine.

My question is: How can I support pinch to zoom on iOS?

Many thanks

[2019-01-09 04:54] renalpraba commented on #2041
![photo_2019-01-09_11-53-00](https://user-images.githubusercontent.com/39117076/50877606-29314e80-1405-11e9-892c-fe0eacb87fc6.jpg)

Found this using v1.8.0 , v1.7.0 & 1.6.6
No problem in v1.6.5

[2019-01-09 08:54] syadykin commented on #2041
Same issue, 1.6.1 works fine.

[2019-01-09 09:23] n1ru4l commented on #2042
`RCTCamera` is deprecated.

Pinch zoom is supported in user land. If you come up with a recipe we might add it .

Checkout the documentation for https://facebook.github.io/react-native/docs/gesture-responder-system.html

[2019-01-09 10:42] mtr1012 commented on #2042
I want to support pinch to zoom by myself but RCTCamera doesn't have "zoom" prop so I can't set it by handling pinch gesture. So the only way I can have the pinch to zoom feature is migrate to RNCamera ?

Thanks for reply me @n1ru4l

[2019-01-09 11:11] n1ru4l commented on #2042
@mtr1012 Yes, `RCTCamera` will be removed in the next major release.

[2019-01-09 11:11] #2042 closed

[2019-01-09 11:51] adimshev commented on #2041
Same issue

[2019-01-09 12:03] Yajan commented on #1373
I am not getting any response from `this.camera.capture`

    takePicture() {
        console.log("In Take picture");
        const options = {}
        this.camera.capture({metadata: options})
            .then(data => {
                console.log("captured Image data",data);
                CameraRoll.saveToCameraRoll(data.uri, "photo");
            })
            .catch(err => {

[2019-01-09 12:12] renalpraba commented on #2041
@n1ru4l I'm using [react-native-qrcode-scanner](https://github.com/moaazsidat/react-native-qrcode-scanner) (require react-native-camera) with its sample setup getting this error when using react-native-camera 1.6.6 or later, no problem on 1.6.5

[2019-01-09 12:19] adimshev commented on #2041
[code]

[2019-01-09 12:38] adimshev commented on #2041
Permissions are automatically requested when first rendering the RNCamera.

[2019-01-09 12:44] n1ru4l commented on #2041
@adimshev Are both `Camera` and `Audio` recording permissions permitted?

[2019-01-09 12:46] adimshev commented on #2041
I add into Manifest only Camera permissions (for barcode scanner).

[2019-01-09 12:49] n1ru4l commented on #2041
@adimshev Try to set the `captureAudio` property on the `RNCamera` component to `false` if you do not want audio being recorded/permissions for audio recording being asked.

[2019-01-09 12:51] adimshev commented on #2041
Thank you, now I will install the latest version again and try. 5 minutes.

[2019-01-09 13:00] n1ru4l commented on #2019
# Idea: Do not record audio by default

Recording audio requires additional permissions. A developer that only wants to scan a qr code does not require recording audio.

Therefore it would be best if by default audio recording is disabled.

Only if the developer added the `captureAudio` property to the component (and permissions are granted). Also I think we should differentiate between the both c

[2019-01-09 13:21] matheusmonte commented on #2041
Hi @n1ru4l

We are using as documentation.

`<RNCamera
                                style={styles.camera}
                                 ref={ref => {
                                    this.camera = ref;
                                }}>
                            </RNCamera>`

When app show screen in the first time, it ask for permissions, you allow, after this, if you check app permiss

[2019-01-09 13:59] santanapaulo commented on #2041
I am getting the same issue as @matheusmonte described. I just updated the version and the camera permission seems not working.

[2019-01-09 14:06] n1ru4l commented on #1373
@Yajan RCTCamera is deprecated. Please use RNCamera instead.

[2019-01-09 14:07] n1ru4l commented on #2041
@santanapaulo Does Does #2041 (comment) resolve your issue?

[2019-01-09 14:42] santanapaulo commented on #2041
@n1ru4l the #2041 (comment) worked!!! Thank you for solving it and letting us know.

PS: I am not sure, but maybe if we set the permissions allowed for sound will it worked. I didn't try it.

[2019-01-09 15:01] n1ru4l commented on #2041
@santanapaulo Yeah it should work. Going to close this since it seems resolved.

[2019-01-09 15:01] #2041 closed

[2019-01-09 17:49] srGritsuk commented on #1870
**It broke right here:**
(Older devices cannot shoot video with photo quality)
Its work fine from iPhone 6s and earlier with:
self.session.sessionPreset = AVCaptureSessionPresetHigh (not AVCaptureSessionPresetPhoto)

https://github.com/react-native-community/react-native-camera/blob/master/ios/RN/RNCamera.m#L623

You can manually set a weak preset, for iPhone 6s works fine preset:
defaultVideoQual

[2019-01-09 19:22] Samykills commented on #1507
ok so i think i found a solution, you gotta mention exif here like this :
this.camera.takePictureAsync({ quality: 0.2, exif: false, base64: false })

[2019-01-09 19:22] Samykills commented on #1914
it works with exif

this.camera.takePictureAsync({ quality: 0.2, exif: false, base64: false })

[2019-01-09 20:57] mschmuckler commented on #1507
@Samykills { exif: false, base64: false } are the defaults according to [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md).

Is quality: 0.2 good enough? That sounds incredibly low, as if the picture would be fuzzy. Also, if you don't specify a width, it seems you'd still be taking large pics (1200x + or something) with low quality.

[2019-01-10 00:17] arapocket opened #2043 "What version of play services should I use? (with react-native-firebase)"
## What is the latest version of play services that includes play-services-vision?

I am trying to build my project with play-services 16.0.1 for react-native-firebase but I can see that there is no play-services-vision:16.0.1

[2019-01-10 04:02] telmen commented on #1870
Yeah, it seems solving the problem.

[2019-01-10 05:05] Nocturne-FFG commented on #1914
@mconiglio Solved my problem by adding "compile'c​​om.android.support:exifinterface:27.+"

[2019-01-10 09:39] Samykills commented on #1507
@mschmuckler  yeah true these are defaults, but if i do not specify explicitly then this method is failing, not sure on the cause though.

And m keeping the quality low for my usecase as i need the same image blurred so it does'nt matter, hence a low sized file, have to provide a specific width here. thanks for the tip :D

[2019-01-10 16:39] fabriziobertoglio1987 commented on #512
as suggested a debugged the view and found out, as displayed in the picture that the `Camera` component `state.isAuthorized: false`. I switched to true and it works.

![screenshot from 2019-01-10 17-38-24](https://user-images.githubusercontent.com/24992535/50982921-8c52dc00-14fe-11e9-9480-80c600d78007.png)

[2019-01-10 18:34] matt-oakes commented on #1714
I'm seeing this as well on a Nexus 5X. It looks like it's trying to rotate the image before text detection, however, it's not doing it correctly.

When in portrait, the rotation value is set to `90`, however, it only correctly detects text if I lock the screen rotation and then rotate the phone 90 degrees anti-clockwise.

I'm going to look into this a little more.

[2019-01-10 18:50] GaneshSaiKumar commented on #1797
Duplicate of #1686

[2019-01-10 19:04] t-hughes commented on #1459
@akriger did you find a fix for your issue, I am having the same issue and updating to the latest version (1.8.0) still did not fix it. It only happens on iOS versions 10 or above for me.

[2019-01-10 19:58] punksta commented on #1988
When device is rotated without `screenOrientation` `android:configChanges` in manifest android os [recreates](https://developer.android.com/guide/topics/resources/runtime-changes) activity. it means the whole react-native ui will be recreated. I am not 100% sure, but I it seams like js engine is getting restarted in this case and we can't change it.
So I think opposite, all pending promises should

[2019-01-10 20:01] vinayan3 opened #2046 "[Android] `useCamera2API` and barcode scanning isn't working"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

**Platforms**
Android

**Versions**
- Android:
  * Nexus 5X @ Android 8.1.0
  * Samsung S6 Edge(SMG-925A)  @ Android 7.0
- react-native-camera: 1.8.0
- react-native: 16.6.3
- react:  0.57.8

**Description/Current Behavior**
Camera is setup

[2019-01-10 21:06] shaktalles opened #2047 "Black screen at first render and null object reference on android"
# Bug Report
**To Do First**
- [ x ] Did you try latest release?
- [ x ] Did you try master?
- [ x ] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: 6.0.1
- iOS:
- react-native-camera: 1.8.0
- react-native: 0.57.8
- react: 16.6.3

**Description/Current Behaviour**

After creating a new app: react-native init appexample,
In

[2019-01-10 22:35] MrIceman commented on #1220
any news to this issue?

[2019-01-11 04:18] cmejet commented on #2041
The capture audio = false does seem to solve this, HOWEVER it does NOT match the documentation of how to implement.  Unless you stumble upon this you would have no idea. I too upgraded from and suddenly it told me unauthorized when it worked perfectly fine before.

[2019-01-11 06:38] n1ru4l commented on #1988
@punksta can you contribute a fix for this issue?

[2019-01-11 07:32] punksta commented on #1988
@n1ru4l btw, why you need no screenOrientation in manifest? https://stackoverflow.com/a/5726776/2795206 you can have callbacks for orientation changes.

[2019-01-11 07:43] mrudulakb commented on #2041
Hi @n1ru4l,
The comment to set captureAudio to false worked. thanks.
<RNCamera ref={ref => { this.camera = ref }} captureAudio={false}>

[2019-01-11 08:01] n1ru4l commented on #1988
@punksta I was testing how I could reproduce this issue. My product does not suffer from this issue, but other projects might do so.

[2019-01-11 08:32] GaneshSaiKumar commented on #2047
@n1ru4l  same issue here

[2019-01-11 08:59] syntony commented on #2047
same issue, thanks  @shaktalles for advice, downgrading solved this problem

[2019-01-11 09:00] n1ru4l commented on #2047
Sorry for the inconveniences. Could you please try if https://github.com/react-native-community/react-native-camera/pull/2048 resolves your issue?

[2019-01-11 10:52] GaneshSaiKumar commented on #1686
i'm using react-native-qrcode-scanner still facing the same issue

[2019-01-11 12:02] shaktalles commented on #2047
hi @n1ru4l, I tried #2048 PR, now it gives a black screen, but with the loading spinner spinning forever.
I will make more tests next week.

[2019-01-11 12:16] matt-oakes commented on #1714
I believe I have found the issue.

### The issue
[This code](https://github.com/react-native-community/react-native-camera/blob/master/android/src/main/java/org/reactnative/camera/RNCameraViewHelper.java#L278-L284) in the library is taking in the `rotation` from the `CameraView` and converting it to the image rotation. It is, however, making some assumptions about the camera orientation which is w

[2019-01-11 12:34] matt-oakes commented on #2046
This is likely caused by the same issue as #1714

[2019-01-12 02:20] GaneshSaiKumar commented on #215
happening again
###how?
whenever i go to some other screen and come back to RNCamera page, i'm getting a white screen for 2 seconds and after that it's working fine.

though cam is not being shown, it is still working from 0 seconds but view rendering only after 2 secs.

react-native-camera: 1.8.0
react-navigation:2.6.2

[2019-01-12 03:41] andcosta commented on #1956
it's working now : )

<key>NSMicrophoneUsageDescription</key>
<string>Your message to user when the microphone is accessed for the first time</string>

[2019-01-14 04:01] lFaustus commented on #2043
i used the play-services-vision:16.2.0
[code]

[2019-01-14 08:00] n1ru4l commented on #215
@GaneshSaiKumar please open a new issue with the template.

[2019-01-14 08:07] n1ru4l commented on #2047
@shaktalles Do you only grant `CAMERA` permissions or also `RECORD_AUDIO` permissions?

[2019-01-14 09:03] MarkRunWu commented on #2043
I found there're a property `googlePlayServicesVersion` to specify which version it would load.
But since the version would be missing in other 'com.google.android.gms:' module.
May renaming the property name into `playServicesVersion` ?

[2019-01-14 13:17] soumyamishra89 commented on #1866
is there any progress on this issue? With the new androidx migration the app build is stalled.

[2019-01-14 13:33] kassim commented on #1866
@soumyamishra89 if you point to our branch in your **package.json** like so:
[code]
and `npm install` then it should work for you

I haven't synced it with the latest updates in a while
perhaps you may want to fork your own branch to be able to apply those updates

[2019-01-14 13:57] Shabnam-Veranloo commented on #1508
fixOrientation:true doesn't work for me when guality is 1 (if quality==0.5 its work) :(

[2019-01-14 15:13] Domino987 commented on #836
Any news on this. I occurred at my device, if the device was locked for a certain amount of time.

[2019-01-14 16:50] dubert opened #2051 "RNCamera **will** crash on iOS if all three Privacy keys are not included in Info.plist"
# RNCamera crashes on iOS if all three Privacy keys are not included in Info.plist

Upon reading the README I came across:

[code]

Naive me, I wasn't planning on doing any recording, so I didn't include `NSMicrophoneUsageDescription`. My app kept crashing on render and I went digging down a number of rabbit holes. Frustrated and I went back to square one and added all three, and boom, it works.

[2019-01-14 18:02] n1ru4l commented on #2047
@shaktalles Could you please provide a reproduction repository?

[2019-01-14 18:35] dubert commented on #2051
Update: I am somewhat to blame. This only happens if `captureAudio` is not set to `false` which I did not set. Part of what stumped me was that `Camera` was working, but `RNCamera` was not. But this is because `Camera` defaults `captureAudio` to `false`, but `RNCamera` defaults it to `true`.

[2019-01-14 20:12] arapocket commented on #2043
@lFaustus Thanks for the reply. Unfortunately I am also using location and now that's complaining about a non-existent version.

@MarkRunWu I didn't know googlePlayServicesVersion starts from 16.x.x. Good to know. Unfortunately I was already using playServicesVersion.

[2019-01-14 22:43] matheusmonte commented on #2041
Hi @n1ru4l .

captureAudio={false} solve this issue, thanks.

I try to update documentation in this PR (#2052 ) to avoid more people to have this problem

If need something more, please, let me know

[2019-01-14 22:50] t-hughes opened #2053 "RNCamera View Doesn't Rotate"
# Bug Report
**To Do First**
- [Y] Did you try latest release?
- [Y] Did you try master?
- [Y] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

iOS

**Versions**

- Android:
- iOS: 11.4.1
- react-native-camera: 1.8.0
- react-native: 0.55.4
- react: 16.3.2

**Description/Current Behaviour**

The bug that was reported in #1459 is what I am experiencing. The v

[2019-01-15 05:01] micchyboy237 commented on #2051
But how do we set it to false? I use this library because of react-native-qr-scanner, and it crashes when there is no microphone permission

[2019-01-15 08:20] n1ru4l commented on #2051
@dubert I am working on making microphone permissions optional. Currently my time is limited so if someone could test #2048 and review it would help me massively.

[2019-01-15 09:11] HighSoftWare96 commented on #2041
I had the same problem passing from the 1.5.0 to the 1.8.0 release version. On simulator it crashes, on real device the "camera not authorized" text appears. Solved with captureAudio={false}.

Do I need to open a new issue on this?

[2019-01-15 09:19] n1ru4l commented on #2041
@HighSoftWare96 You can help by testign this PR: #2048

[2019-01-15 13:44] KryDos commented on #1956
hey @andcosta ,
what did you do to make it working? Have you added NSMicrophoneUsageDescription key to your Info.plist? It didn't help in my case (it was there).

[2019-01-15 15:47] Jalson1982 opened #2054 "On barcodeRead android hardware back button do not work"
Hello. I have strange problem. I am using react native camera and on button press in Component i open camera. Scan bar code get result and save it in state. Close camera and when press android hardware back button it does not return on previous screen. I need to press android hardware back button same times as number of scanned bar codes ?! After that all works fine... What can be cause of this is

[2019-01-15 16:10] alexisbronchart commented on #2041
@renalpraba and others using react-native-qrcode-scanner you can add the prop `cameraProps={{ captureAudio: false }}` on your `QRCodeScanner`.

[2019-01-15 16:18] Jalson1982 commented on #2054
Solved it was issue with my modal not camera...

[2019-01-15 16:36] luissmg commented on #2047
@n1ru4l I think this is because `react-native-camera` is always showing up the `notAuthorizedView` and not checking properly for the permission?
In my case this is happening, even after giving permission. I am only using the camera to take photos, no video.

[2019-01-15 17:03] luissmg commented on #2047
Soooooooooo I was looking into the lib's code... This is what I found.
In [this](https://github.com/react-native-community/react-native-camera/pull/2037) PR the `captureAudio` is set to `true` by default. Yes, this fixes a lot of stuff for some people, but also ruins for others like me that are not using audio.

Why did this break?
In [this](https://github.com/react-native-community/react-native-c

[2019-01-15 18:23] mconiglio commented on #1914
@benhartouz Seems that `android:largeHeap="true"` did the trick for now. Thanks for your help!

[2019-01-16 08:08] #2054 closed

[2019-01-16 09:59] AngelVenchev commented on #135
I tried the described approach in [this tutorial](https://medium.com/react-native-training/build-youtube-alike-livestreams-with-react-native-8dde24adf543) which worked for android, however for iOS the streamed file was a bit different than the completed file. There were 6 bytes in the beginning of the file that specify how large is the video atom and how much it's offset from the beginning of the

[2019-01-16 10:15] Fsarmento commented on #2051
I update yesterday react-native-camera for the latest version and my app started crashing. [This](https://github.com/react-native-community/react-native-camera/commit/2940faf8710d321f790419c3458a7eaf9127b93e#diff-6ee136227b7a6fdd96b7a213d5648f4eR261) commit from 8 days ago changed the default `captureAudio` from false to true.

[2019-01-16 11:01] n1ru4l commented on #2051
@Fsarmento Could you please check if #2048 resolves that crash issue when `captureAudio` is not set?

[2019-01-16 16:44] KryDos commented on #1956
Based on what I've found (and based on @gaurav321garg's comment) the crash happens because there is uncaught exception thrown in RN/RNCamera.m. Specifically `takePicture` method.

At the time when code execution reach `self.stillImageOutput captureStillImageAsynchronouslyFromConnection:connection completionHandler...` part of the code, the exception is happening. There is no `completionHandler` ex

[2019-01-16 20:19] KryDos commented on #1613
by commenting out the line mentioned by @davidpricedev here - https://github.com/react-native-community/react-native-camera/issues/1613#issuecomment-407547670 I was able to get rid of that black screen issue.

Not

[2019-01-16 23:45] prakhar-goel commented on #1736
Try `react-native link`

[2019-01-16 23:45] prakhar-goel commented on #1407
Try `react-native link`

[2019-01-17 05:57] cactis commented on #1729
``
java.lang.RuntimeException: java.io.IOException: setPreviewTexture failed
 at com.google.android.cameraview.Camera1.setUpPreview(Camera1.java:189)
 at com.google.android.cameraview.Camera1$1.onSurfaceChanged(Camera1.java:119)
 at com.google.android.cameraview.PreviewImpl.dispatchSurfaceChanged(PreviewImpl.java:56)
 at com.google.android.cameraview.TextureViewPreview$1.onSurfaceTextureAvailable(

[2019-01-17 07:17] AgingChan commented on #2046
I have encountered a similar issue. The only difference is that the set `useCamera2Api` to `true` will result in the `Face Detection` not working.

[2019-01-17 07:56] hggz commented on #1711
There isn't a conflict my son. I'm going to say this one time, and one time only.

CLEAN your mother ****ing grade build cache.

./gradlew cleanBuildCache

[2019-01-17 08:12] n1mda commented on #1263
I'm still seeing this issue, even with `forceUpOrientation: true` setting

[2019-01-17 08:46] n1ru4l commented on #2053
@SimonErm can you take look into this?

[2019-01-17 08:59] n1ru4l commented on #1711
@hggz Please watch your language 😇

Duplicate of #2043

[2019-01-17 08:59] #1711 closed

[2019-01-17 09:01] n1ru4l commented on #1729
@cactis `RNCamera` has nothing to do with picking photos from an album. Can you please explain more what si causing this issue?

[2019-01-17 09:04] n1ru4l commented on #1407
@sibelius Can this by fixed by adjusting the `RNCamera.xcodeproj` or is there a reason why the search paths are recursive?

[2019-01-17 09:06] jasan-s commented on #1282
@n1ru4l how exactly does the utility function you shared is integrated with RNCamera?

[2019-01-17 09:12] n1ru4l commented on #1282
You pass a `onZoomProgress` function to the component and set the value as the state which is then passed to RNCamera.

[code]

[2019-01-17 09:57] sibelius commented on #1407
Maybe we can fix here, but it should work on both normal projects and podfile projects

[2019-01-17 11:21] ingviso commented on #1772
Is there anyone looking into this issue ? I also have this issue.

[2019-01-17 11:32] msageryd commented on #2034
@ananth10 Do you need to display an exact copy of the captured image? Or do you simply need to display a barcode that matches the value of the captured barcode?

I had the same problem wit QR codes. I didn't want to store jpg-files of captures qr codes. Instead I store the value of the qr code and when I need to display the qr code I render a new one with react-native-qr-code-svg.

I suspect there

[2019-01-17 12:03] n1ru4l commented on #1772
@ingviso  Since there is no recent activity here it does not seem that anyone is working on it. Feel free to tackle this, otherwise please do not generate unnecessary notifications for maintainers.

[2019-01-17 15:57] Lythenas opened #2057 "How to scale the TextBlock coordinates for displaying"
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2019-01-18 07:39] recepkocur commented on #2057
+1

[2019-01-18 07:40] recepkocur commented on #1282
+1

[2019-01-18 08:08] n1ru4l commented on #2057
@recepkocur Please stop spamming issues.

[2019-01-18 08:40] ManigandanRaamanathan opened #2058 "How to get face orientation detection prop feature"
# Feature-Request

**Describe the Feature**
I want face orientation detection feature. Such as Y and R value of Google Mobile Vision https://developers.google.com/vision/face-detection-concepts#face_orientation

**Possible Implementations**
It is possible to implement. Google mobile vision already have these feature and the expo also have these feature in their library https://docs.expo.io/version

[2019-01-18 08:42] ManigandanRaamanathan commented on #1399
Any update on this issue?

[2019-01-18 08:46] n1ru4l commented on #2058
We are open to contributions that implement this feature.

[2019-01-18 08:48] ManigandanRaamanathan commented on #2058
@n1ru4l  Yes, Thanks for help. Looking forward the feature

[2019-01-18 09:30] #1714 closed

[2019-01-18 09:34] n1ru4l commented on #1714
:tada: This issue has been resolved in version 1.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 09:34] n1ru4l commented on #2046
:tada: This issue has been resolved in version 1.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 10:48] asanz8 commented on #2047
@luissmg Setting ```captureAudio={false}``` did the job, using version 1.8.0

[2019-01-18 11:01] n1ru4l commented on #2047
@asanz8 You could help by checking if #2048 solves this issue without having to set the `captureAudio` property to `false`.

[2019-01-18 11:08] luissmg commented on #2047
@n1ru4l I will install your fork from `feature-audio-permissions` branch today and will let you know how it ended up

[2019-01-18 12:42] luissmg commented on #2047
Already tested by @asanz8!

[2019-01-18 14:58] #2047 closed

[2019-01-18 14:58] #2051 closed

[2019-01-18 15:02] n1ru4l commented on #2051
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 15:02] n1ru4l commented on #2047
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 15:32] n1ru4l commented on #2011
Implemented in #2037 and #2048

[2019-01-18 15:32] #2011 closed

[2019-01-20 12:30] gabrielbabierra commented on #1530
Anyone have the same issue as mine after @kk412027247 's compiled edition changes. I have a build succesful but when i run my terminal i have an error:

_Bundling `index.android.js`  [development, non-minified]  0.0% (0/1), failed.
error: bundling failed: Error: Couldn't find preset "module:metro-react-native-babel-preset" relative to directory "/Users/Cyberland/Desktop/AttApp"_

[2019-01-20 17:00] HarshitMadhav commented on #1503
Facing the same issue I am unable to set the custom width and height to the scan area.

[2019-01-20 22:51] rajivshah3 commented on #1772
This is what I observed on my iPhone 6S while testing my app with @msageryd 's patch (also logging `videoMaxZoomFactor`, `videoZoomFactor`, and `zoom`):

Opening the camera component for the first time:
[code]

Closing and opening it (saw same values as above), then closing and opening a third time:
[code]

So for some reason, it seems like `device.activeFormat` is changing between times that the

[2019-01-21 04:15] EthanDM commented on #1927
I'm currently having this issue as well, even after asking for storage permission during runtime.

Was anything ever discovered on this? The videos are saving but are unplayable and 0:00 long.

[2019-01-21 06:56] sfgghh commented on #2019
Leave

[2019-01-21 14:16] shaktalles opened #2059 "RNCamera with orientationFix crashes on Samsung S5 (Android)"
# Bug Report
**To Do First**
- [ x ] Did you try latest release?
- [ x ] Did you try master?
- [ x ] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: 6.0
- react-native-camera: 1.9.0 & 1.2.0
- react-native: 0.57.7
- react: 16.6.1

**Description/Current Behaviour**

After taking pictures with RNCamera, I found the know rotat

[2019-01-21 14:31] n1ru4l commented on #2059
Please provide crash logs.

[2019-01-21 16:14] shaktalles commented on #2059
Here it is.

[bugsnag_error_stacktrace_java.lang.RuntimeException_event_2019.01.21.txt](https://github.com/react-native-community/react-native-camera/files/2779649/bugsnag_error_stacktrace_java.lang.RuntimeException_event_2019.01.21.txt)

[2019-01-21 17:10] cquillen2003 opened #2060 "Unable to resolve module handlePermissions after installing v1.9.0 using react-native link"
# Bug Report
**To Do First**
- [x] Did you try latest release? Yes
- [ ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: 27
- react-native-camera: 1.9.0
- react-native: 0.57.8
- react: 16.6.3

**Description**
Application will not run on Android because of the following error:

"Unable to resolve m

[2019-01-21 17:32] sibelius commented on #2060
this was removed from the latest version, check master code

[2019-01-21 23:20] cquillen2003 commented on #2060
I tried the master branch as well.  Same error.

[2019-01-21 23:53] sibelius commented on #2060
It was removed

[2019-01-22 05:01] twalk4821 commented on #2060
clear bundler cache: npm start -- --reset-cache

[2019-01-22 08:10] aiibe opened #2061 "Toggling torch works only when remote debug is ON (android 7.0)"
Toggling torch on/off won't work without remote debugging on.
Happens with Android (7.0)
Not tested with iOS yet

[code]

[2019-01-22 08:12] n1ru4l commented on #2060
@cquillen2003 Please report if @twalk4821 solution works for you.

**yarn**: `yarn react-native start --reset-cache`
**npm (with start script): `npm start -- --reset-cache`
**npm (without start script): `npx react-native start --reset-cache`

I personally added the `--reset-cache` flag to the `start` script in my `package.json`.

[2019-01-22 08:13] n1ru4l commented on #2061
@aiibe Are you interested in solving this issue?

[2019-01-22 08:17] n1ru4l commented on #2059
Duplicate of #1914

[2019-01-22 08:17] #2059 closed

[2019-01-22 08:18] n1ru4l commented on #1914
Crashlog from #2059 (which is a duplicate of this issue)

[code]

[2019-01-22 08:19] n1ru4l commented on #1656
Duplicate of #1914

[2019-01-22 08:19] #1656 closed

[2019-01-22 09:00] aiibe commented on #2061
Issue solved.
I feel so stupid to put ``` console.log(this.camera)``` inside the render function.
I forgot to remove/comment it out causing the app to stuck.
My bad my bad...

[2019-01-22 09:00] #2061 closed

[2019-01-22 15:42] SimonErm commented on #2053
Yes, i will do.

[2019-01-22 21:17] chadhobson commented on #1282
@n1ru4l I'm guessing you aren't using this in a modal, eh? Anyone know how to get PanResponder to work in a modal?

[2019-01-23 06:40] aiibe opened #2063 "Could not resolve project :react-native-camera"
**Platforms**
Android

**Versions**

- Android: 7.0
- react-native-camera: (master)
- react-native: 0.57.8
- react: 16.6.3

**Description/Current Behaviour**

Build Error
[code]

Every time a new module is added via ``npm install``, react-native-camera directory will be missing\removed from node_modules.
I have to re-install react-native-camera to solve the problem. Found the solution [here](https

[2019-01-23 08:13] n1ru4l commented on #2063
What version of `npm` are you using? You can run `npm --version` to display it.

Do you install `react-native-camera` with `npm install --save react-native-camera`?

[2019-01-23 08:45] aiibe commented on #2063
Yes I used ``npm install --save react-native-camera``
``npm`` version 6.6.0

[2019-01-23 08:59] n1ru4l commented on #2063
I might be wrong but I do not think that this issue is related to `react-native-camera`. Have you tried downgrading your `npm` version? I am using `yarn` and have not used `npm` in a while, but `npm install` should actually work fine.

[2019-01-23 11:19] n1ru4l commented on #2063
You should be able to install the package with `npm install --save react-native-camera@git+https://git@github.com/react-native-community/react-native-camera.git`

You should actually never edit the package.json dependencies and devDependencies manually since the changes will not be reflected in your lock files. Furthermore I think you forgot the `.git` extension in your url.

[2019-01-23 11:56] n1ru4l commented on #2063
@aiibe the documentation needs some improvements then 😊Using the master branch is only recommended when you can live with things breaking.

@aiibe Just out of curiosity: Have you any specific reason for installing from master?

[2019-01-23 11:58] Dror-Bar opened #2065 "specify picture save path (similar to record video)"
# Question

How to change the path where image is saved using takePictureAsync()?
In the docs I only see the option to change path for video.
Is it possible?

[2019-01-23 12:01] n1ru4l commented on #2065
It seems like this is not possible yet. However we could accept a pull request for this. Shouldn't be to hard to implement. Feel free to send a pull request!

[2019-01-23 12:09] Dror-Bar commented on #2065
Thanks for the answer.
I'm not sure how to do this myself. But for the meantime I might try to use the solution suggested [here](https://stackoverflow.com/questions/48151242/how-to-save-a-picture-to-a-specific-folder-from-react-native-camera-roll/50081434#50081434).

[2019-01-23 12:17] n1ru4l commented on #2019
## Idea: Migrate to TypeScript and provide flow type definitions

TypeScript is generally more widespread than flow. There is currently no check that ensures the validity of flow type annotations of `react-native-camera`.

[2019-01-23 12:18] n1ru4l commented on #2019
## Idea: Use depfu for handling dependencies

https://github.com/marketplace/depfu

[2019-01-23 16:18] gla5001 opened #2066 "Android not building using compileSdkVersion 28 AndroidX"
# Question

This does not seem to build on android using the sdk 28. It complains about not finding cannot find symbol ExifInterface, since package android.support.media does not exist. Any ideas whats going on?

[2019-01-23 17:25] SimonErm commented on #2053
@t-hughes Can you provide the props you are using?

[2019-01-24 04:11] #2066 closed

[2019-01-24 04:16] gla5001 opened #2067 "Add support for Androidx instead of using support library"
AndroidX will replace the Support Libraries.

See: https://developer.android.com/jetpack/androidx/

[2019-01-24 15:44] gla5001 commented on #2067
see PR https://github.com/react-native-community/react-native-camera/pull/2068

[2019-01-25 08:36] orcunorcun opened #2069 "Missing NSMicrophoneUsageDescription key"
When i try to upload my app to app store connect i got a message from them. So your library have to text purpose string in info.plist for NSMicrophoneUsageDescription key. Can you text it and release again? Thank you?

[2019-01-25 08:38] orcunorcun commented on #2069
By the way I am using "react-native-camera": "^1.9.1" version. And I didn't add the NSMicrophoneUsageDescription key in my info.plist file because i don't need to use that function.

[2019-01-25 08:51] n1ru4l commented on #2069
@orcunorcun Could be related to this line: https://github.com/react-native-community/react-native-camera/blob/406641f25919d00879a99f592a5c0fdc4b72907f/ios/RN/RNCameraManager.m#L389

I added this change recently to prevent crashes when `NSMicrophoneUsageDescription` is not defined in your `Info.plist`...

@orcunorcun Could you try to wrap the this code in `#ifdef DEBUG` to check if apple would acce

[2019-01-25 08:59] HarshithaHJ commented on #1565
Any Updates here facing same issue

[2019-01-25 09:05] orcunorcun commented on #2069
Actually am new on react native so I don't know how can I do that.

[2019-01-25 09:07] orcunorcun commented on #2069
It's my App Delegate file

----------------------------------

#import "AppDelegate.h"
#import <Firebase.h>

#import <React/RCTBundleURLProvider.h>
#import <React/RCTRootView.h>

@implementation AppDelegate

- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
  NSURL *jsCodeLocation;

  #ifdef DEBUG
    jsCodeLocation = [[RCTBundleURLProvi

[2019-01-25 09:10] n1ru4l commented on #2069
edit `node_modules/react-native-camera/ios/RN/RNCameraManager.m` and wrap the referenced lines in `#ifdef DEBUG` and add a `#else` case to resolve with `NO`

[2019-01-25 09:14] orcunorcun commented on #2069
I think it is alrealdy like that.
------------------------------
#ifdef DEBUG
        RCTLogWarn(@"Checking video permissions without having key 'NSCameraUsageDescription' defined in your Info.plist. You will have to add it to your Info.plist file, otherwise RNCamera is not allowed to use the camera. You can learn more about adding permissions here: https://stackoverflow.com/a/38498347/4202031");

[2019-01-25 09:16] orcunorcun commented on #2069
Do you mean i should text like that?

------------

RCT_EXPORT_METHOD(checkRecordAudioAuthorizationStatus:(RCTPromiseResolveBlock)resolve
                  reject:(__unused RCTPromiseRejectBlock)reject) {
    if ([[NSBundle mainBundle].infoDictionary objectForKey:@"NSMicrophoneUsageDescription"] != nil) {
        [[AVAudioSession sharedInstance] requestRecordPermission:^(BOOL granted) {

[2019-01-25 09:17] n1ru4l commented on #2069
@orcunorcun change it to this:

[code]

[2019-01-25 09:20] orcunorcun commented on #2069
Ok i am trying it now :)

[2019-01-25 09:21] n1ru4l commented on #2069
@orcunorcun Thank you for testing this 😊

Can you also please also provide your `RNCamera` component code?

[2019-01-25 09:23] orcunorcun commented on #2069
in my code
------------
`<RNCamera
          style={styles.container}
          type={type}
          flashMode={flashMode}
          ref={(c) => { this.cameraRef = c; }}
          permissionDialogTitle={Strings.Permission_to_use_camera}
          permissionDialogMessage={Strings.We_need_your_permission_to_use_your_camera}
          captureAudio={false}

          {this.renderCameraMenu()}
</RNCam

[2019-01-25 09:32] n1ru4l commented on #2069
Okay I just wanted to check if you set the `captureAudio` property! Seems alright, let's wait what apple has to say 😫

[2019-01-25 09:46] orcunorcun commented on #2069
I think problem solved :) they didn't send me an email about that problem this time. And they applied my app for test flight :) Thank you so much! ^^

[2019-01-25 09:49] n1ru4l commented on #2069
@orcunorcun Thank you for investigating on this! I will try to fix this issue soon. For now you could use https://www.npmjs.com/package/patch-package

The following code seems to trigger Apple and therefore should only be used in `DEBUG` mode.

[code]

[2019-01-25 10:03] #2069 closed

[2019-01-25 10:07] n1ru4l commented on #2069
:tada: This issue has been resolved in version 1.9.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.9.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-25 10:33] n1ru4l commented on #1565
@HarshithaHJ Please open a new issue with the issue template.

[2019-01-25 11:31] HarshithaHJ opened #2071 "duplicate entry com/facebook/infer/annotation/Assertions.class"
duplicate entry  com/facebook/infer/annotation/Assertions.class

While integrating Mixpanel i m getting this below error

addJar(/Users/username/.android/build-cache/48b19d5ecb96a942eee8c8477d9bff7285be82ce/output/jars/libs/infer-annotations-4.0.jar): entry com/facebook/infer/annotation/Assertions.class
addJar(/Users/username/.android/build-cache/64267b07bff7533ae662e29c3111aac7a9cb33cc/output/jar

[2019-01-26 19:11] twalk4821 opened #2072 "Bad Camera Ref -> no preview, can't access camera class"
# Bug Report
**To Do First**
- [x] Did you try latest release? yes
- [x] Did you try master? yes
- [x] Did you look for existing matching issues? yes

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**

- Android: 26-27
- react-native-camera: 1.8.1 and 1.9
- react-native: 0.57.8
- react: 16.6.3

**Description/Current Behaviour**
Preview loads black. When trying to log out the "ref"

[2019-01-27 16:47] TheSolly opened #2073 "Changing Camera Type from back to front result in black screen in specific situation"
# Bug Report
**To Do First**
- [ Y] Did you try latest release?
- [ Y] Did you try master?
- [ Y] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**

- Android:
- iOS:
- react-native-camera: any version above 1.3.1
- react-native: 0.57.4
- react: 16.6.1

**Description/Current Behaviour**
I am using react-native-camera with react-native-video t

[2019-01-27 19:15] Lythenas commented on #2025
I get the same error using `takePictureAsync`:

[code]

I take a picture every second and it works for around 5 seconds and then I get this error.

[2019-01-28 07:40] isaaclem commented on #1407
I tried removed `./ios/Build` folder and running command `react-native run-ios`, it's working fine, build successfully and running on simulator.

Now I switched over to XCODE and build it, I'm hitting the same problem again. Anyone have idea how to deal with it?

[2019-01-28 08:12] n1ru4l commented on #2072
Logging the camera object can freeze the thread and as a result crash your application, you should avoid it.

[2019-01-28 11:37] NicWickman opened #2074 "undefined is not a function (evaluating '_this.camera.takePhotoAsync(options)')"
# Bug Report
**To Do First**
- [x ] Did you try latest release?
- [x ] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**

RNCamera

**Platforms**

Android

**Versions**

- Android: Various
- react-native-camera:  react-native-camera@1.9.2
- react-native: react-native: 0.58.1
- react: react@16.6.3
 react-navigation@3.0.9

**Description/Current Behaviour**

**

[2019-01-29 04:16] twalk4821 commented on #2072
Hi -

Thanks for the suggestion. Just removed all the logging statements. Now I'm back to the original error (which I should have posted, as well):

[code]
Let me know if there's any other information I can provide you.
Thanks -
Tyler

[2019-01-29 07:24] ghost opened #2076 "Ratio not working in RNCamera."
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2019-01-29 09:30] rasmuslelumees opened #2077 "Invalid bounds and dimensions returned by RNCamera onBarCodeRead on Android"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues? - [This bounds units one](https://github.com/react-native-community/react-native-camera/issues/2023) seems to be related.

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**
- Android: 8.0
- iOS:
- react-native-camera: 1.9.2
- react-native: 0.57.2

[2019-01-29 16:34] GreenRidingHood commented on #1591
is there any progress?? i get same problem after I change my SDK or update everything at Android,

[2019-01-29 22:22] wadehuang36 opened #2079 "use another variable name for googlePlayServicesVersion"
# Feature-Request

com.google.android.gms:play-services-vision have different version than other com.google.android.gms modules.

I tried 15.0.2, but it caused problem with latest com.google.firebase modules
I tried 16.0.0, but here is no play-services-vision:16.0.0
and many versions.  I cannot find a version fit with all dependencies. and end up fork the project and changed gradle.build to read a

[2019-01-30 01:58] hackthemachin3 opened #2080 "tried to register two views with the same name GestureHandlerRootView"
As you can see in the screenshot, I get the issue after i install react-navigation and react-gesture-handler
![screenshot_20190130-014721](https://user-images.githubusercontent.com/46753886/51952992-74ea7d00-2432-11e9-9b93-7397b64dd652.png)

[2019-01-30 05:43] Marti0808 commented on #2080
What should I do

[2019-01-30 08:03] n1ru4l commented on #2072
duplicate of #1931

[2019-01-30 08:03] #2072 closed

[2019-01-30 08:06] n1ru4l commented on #2031
@laukaichung It seems like you did not read the link I shared... https://developer.android.com/studio/build/multidex

[2019-01-30 12:53] SimonErm commented on #2080
I think you ejected an Expo-App. If its true, you don't need to use react-native-gesture-handler since expo already use it and that causes the red screen. If you unlink react-native-gesture-handler it should work. Since this is not a react-native-camera issue, i will close it.

[2019-01-30 12:53] #2080 closed

[2019-01-30 13:25] n1ru4l opened #2081 "asdasd"
asdad

[2019-01-30 14:06] #2081 closed

[2019-01-30 15:19] TheSolly commented on #2073
UPDATE:
setting those two options inside my `recordAsyc` method fixed the problem for now on v1.9.2!
`
  {
    quality: RNCamera.Constants.VideoQuality["720p"],
    mirrorVideo: false
  }
`

[2019-01-31 05:13] alexshikov commented on #1639
@ethaizone just keep in mind, the original CameraView from Google repo has a few bugs and it's not supported anymore by Google (or anybody).

https://github.com/react-native-community/cameraview has a few fixes comparing to original repo.

[2019-01-31 09:06] jbcullis commented on #1873
Same issue here.

[2019-01-31 09:21] n1ru4l commented on #1873
@jbcullis Please open a new issue with the issue template.

[2019-01-31 10:49] raghavendramogeraya opened #2082 "Transparent screen with rectangular area for capturing"
Currently I am using the capture area with 250px height, placed at the center of the screen with a rectangular border. Now the top and bottom portions are filled with black colour. Is there any option to show whole screen transparent with capture area (250px) with border. The image should take the content inside the capture area and not whole screen.

Please let me know if this is possible.

[2019-01-31 11:41] inventsys commented on #1753
Same problem here. Any solution?

[2019-01-31 12:18] MaartenR opened #2083 "Android sometimes throws an exception on startPreview"
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [x] Did you look for existing matching issues?
Been bumping into this issue since release 0.12. Currently on 1.9.2 and it is still occurring. Didn't see changes in master that would make a difference here.

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**
- Android: 8.1.0
- react-native-came

[2019-01-31 17:35] masrc opened #2084 "library not found for -lRCTCamera"
Hey, guys! So, this week I'm making the RCTCamera to RNCamera migration.
I've followed [this doc](https://github.com/react-native-community/react-native-camera/blob/master/docs/migration.md) and on Android its working fine, however, on IOS I got this error:

![screen shot 2019-01-31 at 15 17 00](https://user-images.githubusercontent.com/26003571/52072028-56d46800-256b-11e9-9b32-3a20a3047fd0.png)

[2019-01-31 23:07] 404sand808s opened #2085 "Missing NSMicrophoneUsageDescription key (#2)"
Hey, sorry for opening another issue with this - tried to comment on the other thread but it was locked to me - but I think the issue may not be resolved. My app is still being automatically rejected because it wants me to have NSMicrophoneUsageDescription in info.plist. I also have put captureAudio={false} in my use of the RNCamera component :)

 Link to original issue [here](https://github.com/r

[2019-02-01 03:04] riyadshauk commented on #1248
I had a similar issue just now. My solution? Just use Camera from the Expo SDK (since I was already using Expo and not yet detached): [https://docs.expo.io/versions/v32.0.0/sdk/camera/](https://docs.expo.io/versions/v32.0.0/sdk/camera/). At least their provided example code runs fine... will see how further features integrations play out using that.

[2019-02-01 05:46] subodhsri commented on #2025
fixed on latest

[2019-02-01 05:46] #2025 closed

[2019-02-01 06:53] n1ru4l commented on #1631
@riyadshauk You can either do that or correctly link the library 😇

[2019-02-01 07:07] n1ru4l commented on #2085
Related:
- https://github.com/react-native-community/react-native-camera/pull/2048
- https://github.com/react-native-community/react-native-camera/pull/2070

Because of this code Apple Rejects the app if `NSMicrophoneUsageDescription` is not provided. This sucks since the code will never be called if you set the property `captureAudio` to `false` this code will never be called.

[code]

I already

[2019-02-01 07:13] n1ru4l commented on #2084
@masrc Might be possible that `lRCTCamera.a` is still referenced in the `Link Binary With Libraries` section in the `Build Phases` tab on xcode and cannot be located.

[2019-02-01 11:40] masrc commented on #2084
Yep, its solved!! Thank u

[2019-02-01 11:41] #2084 closed

[2019-02-01 14:13] michalkow opened #2086 "RNCamera.Constants.BarCodeType.upce returns undefined"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android
iOS

**Versions**
- Android: 26
- iOS: 12.1
- react-native-camera: 1.10.0
- react-native: 0.57.8
- react: 16.6.3

**Description/Current Behaviour**
RNCamera.Constants.BarCodeType.upce returns undefined

**Expe

[2019-02-02 15:58] wizzard94 commented on #1443
Take a look at step 4 in the documentation
https://github.com/react-native-community/react-native-camera#android

[2019-02-02 16:09] nicholasess commented on #1790
@n1ru4l I don't continue because of the change my routine, I'm sorry.

[2019-02-02 16:09] #1790 closed

[2019-02-02 18:20] tomderudderetna commented on #712
still Error in Android

[2019-02-02 18:20] tomderudderetna opened #2088 "Undefined is not an object (evaluating CameraManager.Aspect)"
# Bug Report
**To Do First**
- [ ] Did you try latest release?
- [ ] Did you try master?
- [ ] Did you look for existing matching issues?

**Related Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-camera:
- react-native:
- react:

**Description/Current Behaviour**

**Expected Behaviour**

**Steps to Reproduce**

**Additionals**
![photo_2019-02-02_19-13-41](https://user-ima

[2019-02-03 00:04] jbcullis opened #2089 "Prefix attr value to prevent conflicts"
# Feature-Request

**Describe the Feature**
I recently ran into the issue of a conflict with the attr value aspectRation where the square sdk also had an entry however with a different format.

**Possible Implementations**
It would be nice to prefix any attr values to clearly identify they belong to react-native-camera and prevent conflicts with other packages.

**Related Issues**

[2019-02-03 09:58] valentin-karmun opened #2090 "onStatusChange : wrong property name in typings (status in typings vs cameraStatus in source)"
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
* RNCamera

**Platforms**
* Android
* iOS

**Versions**
- react-native-camera: 1.10.0
- react-native: 0.57.1
- react:16.5.1

**Description/Current Behaviour**
On `onStatusChange` event, Typescript doesn't allow to get `cameraStatus` property

[2019-02-03 10:13] sibelius commented on #2089
Can you send me the link of this sdk?

Does this sdk uses react native camera?

[2019-02-03 10:20] jbcullis commented on #2089
This is the sdk - https://github.com/square/react-native-square-reader-sdk

I don't think it uses the camera for taking photos, but it does do image uploads for logo's and product photos.
It may also reference the aspect ratio for the signature pad?

Either way, I though it would be much easier for libraries to prefix their variables to prevent duplicate entries.

[2019-02-03 14:09] sibelius commented on #2089
What if another library conflicts with the prefixed version?

This can’t scale, we won’t change because of this reason

[2019-02-03 14:09] #2089 closed

[2019-02-03 16:36] sibelius commented on #2089
aspectRatio={props.sdkAspectRatio}

[2019-02-03 19:30] n1ru4l commented on #2088
Please try to link the project properly with `react-native link` (or manually depending on your setup). Please also keep in mind, that this project could also have conflicts when using the expo SDK.

[2019-02-03 19:33] #2090 closed

[2019-02-03 19:34] n1ru4l commented on #712
Duplicate of #2088

Please link properly or provide a reproduction repository.

[2019-02-03 19:37] n1ru4l commented on #2090
:tada: This issue has been resolved in version 1.10.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.10.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-04 00:22] Angelk90 opened #2092 "Save photo with the square of the face recognition"
Hi @n1ru4l:

How can I make sure that I can save the picture with the square of the face recognition?

I would like to make sure that when the user takes the picture, and in the photo are recognized faces, as seen in the image. The photo is saved with a detail, ie the square that is used for facial facial recognition, for example.

Link expo: https://snack.expo.io/HJzPls-EV

![](https://camo.githu

[2019-02-04 10:33] n1ru4l commented on #2092
Duplicate of https://github.com/react-native-community/react-native-camera/issues/2035

[2019-02-04 10:33] #2092 closed

[2019-02-04 10:42] Angelk90 commented on #2035
@n1ru4l : In reference to the issues #2092, that have been closed without being able to reply to the message.

I do not understand the answer that has been given.
Which means: This is out of scope of this library ...

I posted the code with an example, and I asked how I could do something, saving by applying a filter for example, I did not ask things that have nothing to do with the module.

[2019-02-04 10:47] Angelk90 commented on #2035
@n1ru4l : In reference to the issues #2092, that have been closed without being able to reply to the message.

I do not understand the answer that has been given.
Which means: This is out of scope of this library ...

I posted the code with an example, and I asked how I could do something, saving by applying a filter for example, I did not ask things that have nothing to do with the module.

[2019-02-04 10:59] n1ru4l commented on #2035
@Angelk90 It simply means this is not an issue related to the functionality of react-native-camera. Issues are intended for requesting new features or reporting bugs.

Questions should be asked on StackOverflow.

I do not have time to provide examples for things not covered by the core features. Therefore I closed your issue.

Also the example you provided is for the expo-sdk which is not react-na

[2019-02-04 11:21] Angelk90 commented on #2035
@n1ru4l : Are you telling me that the request to add a `SurfaceView `function on the camera, for example, in order to do what I asked, for example to apply a filter through a kernel, is beyond the requests that can be made here?

![](https://i.imgur.com/blp1TyO.jpg)

[2019-02-04 12:22] n1ru4l commented on #2035
@Angelk90 Nope, I never said that. Feel free. It would even be better if you could implement it.

[2019-02-04 20:58] Xeoncross opened #2093 "Support for camera shutter speed?"
# Feature-Request

**Describe the Feature**

Both Android and iPhone lenses support specifying shutter speed. By default they calculate the speed for you along with ISO and Aperture. It would be great to have access to camera shutter speed as an option. This would allow slow speeds for action blur, nicer water in landscape photos, high shutters for freezing fast-moving objects, etc...

On Android

[2019-02-05 12:44] hariDasu commented on #710
my issue is similar.. when I scan a QR code i need to do a lookup of the portion of this string that is returned, i.e. `A00012367` will be product's bar code # in my redux state tree. so i have to `filter()` over the array of products to return the specific product I want to navigate to. i simply want the QR scanner to return the result as soon as it reads a single barcode, but it keeps scanning.

[2019-02-05 21:31] t-hughes commented on #2053
@SimonErm - type, ref, style, and onBarCodeRead

[2019-02-06 11:00] tomtomgo92 opened #2094 "How use data URI"
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2019-02-06 11:05] n1ru4l commented on #2094
Please check the example app or the documentation: https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md#rncamera

It seems like you do not understand the fundamentals of this library.

Also it is not possible to show images with https://facebook.github.io/react-native/docs/alert.

[2019-02-06 11:05] #2094 closed

[2019-02-06 12:47] tomtomgo92 commented on #2094
thank you :)

[2019-02-06 13:26] Eriwyr commented on #1272
Same problem for me, anyone has found a way to fix this problem ?

[2019-02-06 22:08] IgorDePaula commented on #1358
I copied the example and not working =/

[2019-02-07 07:28] tomderudderetna commented on #2088
Your example don t work, I have no choice to use Expo beacause create-react-app is is not up to date

[2019-02-07 07:32] n1ru4l commented on #2088
What exactly is wrong with the example app?it works fine for me.

Please provide a reproduction repository.

[2019-02-07 08:06] TheAlgo commented on #1254
@ozankonur what did you do to save the image in the gallery?

[2019-02-07 08:13] ozankonur commented on #1254
@TheAlgo I use above my codes & I removed 'base64: true' from options.

[2019-02-07 08:14] TheAlgo commented on #1254
@ozankaur did this save the image to gallery ?

[2019-02-07 08:17] ozankonur commented on #1254
@TheAlgo yes

[2019-02-07 08:49] TheAlgo commented on #1254
![whatsapp image 2019-02-07 at 2 18 46 pm](https://user-images.githubusercontent.com/26045331/52399821-63b10880-2ae3-11e9-8569-b55e7698daa7.jpeg)
@ozankonur  I am getting this and my image is not getting saved

[2019-02-07 09:08] TheAlgo commented on #1254
undefined is not an object data.uri , it is showing @ozankonur

[2019-02-07 15:07] RukaiJohn opened #2096 "How do you get the eye position for facedetection"
I tried, but I'm not sure if I'm close to getting it right or not.

[code]

[2019-02-07 18:03] jwaldrip commented on #1931
I am also seeing this. My error in logcat is as follows:

[code]
Some notes in our implementation:

1) We are running the camera in a Modal.
2) We are on React Native 58.3

[2019-02-07 18:51] jwaldrip commented on #1931
Also confirmed this is happening when the camera is the root component in an aoo with no state.

[2019-02-07 18:51] Zaporozhec7 commented on #1931
I have same issue. App using **react-native-navigation** library for routing. React-native version **0.57.7**.
And I have different behaviour on 2 physical devices:
- On device with Android **8.0.0** I have Promise that rejected immediatelly, with error same as posted by @nosuchip
- On device with Android **7.1.2**, I have Promise that resolved or rejected.

[2019-02-07 19:19] hariDasu commented on #926
this works with the above merged PR, this issue can be closed now @prajnarobo @justynspooner

[2019-02-07 19:32] sibelius commented on #926
use RNCamera instead of RCTCamera

[2019-02-07 19:32] #926 closed

[2019-02-07 23:28] dap1995 commented on #1748
I am trying to update to 0.58.4, and I'm getting the same error. How to solve that?

[2019-02-08 04:04] moribaleta opened #2097 "Image size of IOS is cropped even if the view is in full screen"
# Question

**To Do First**
- [x] Take a look in the [README](https://github.com/react-native-community/react-native-camera/blob/master/README.md)
- [x] Take a look in the [docs](https://github.com/react-native-community/react-native-camera/blob/master/docs/RNCamera.md)
- [x] Take a look in the [QA](https://github.com/react-native-community/react-native-camera/blob/master/docs/QA.md)

**Ask your Q

[2019-02-08 04:08] moribaleta commented on #2097
the image resolution in Android is the same with the Android Camera App
but in IOS if the image is taken the output image resolution has lower height than the native IOS camera app

//'use strict';
import React from 'react';
import { Dimensions, StyleSheet, TouchableOpacity, TouchableHighlight, View, Image, ActivityIndicator } from 'react-native';
import SnackBar from 'rn-snackbar'
import { RNCame

[2019-02-08 04:11] moribaleta commented on #2097
![screen shot 2019-02-08 at 12 10 25 pm](https://user-images.githubusercontent.com/13190143/52458486-8eaa6380-2b9a-11e9-89e3-998a3d375e36.png)

the right side is the output from the Native IOS Camera app on the right was the result from the RNCamera

[2019-02-08 04:13] moribaleta commented on #2097
<img width="271" alt="screen shot 2019-02-08 at 12 12 39 pm" src="https://user-images.githubusercontent.com/13190143/52458524-de892a80-2b9a-11e9-9103-e14cc3920f4c.png">

[2019-02-08 09:51] teggno commented on #1694
I had to display the camera as part of a screen so couldn't use the `<Modal>` workaround. However, I found a nice solution that worked as follows:

1. In my screen component's constructor:
[code]

2. My screen component's `render()` function:
[code]

[2019-02-08 10:35] teggno commented on #1935
It would be possible to use Microsoft's Azure Pipelines for running detox tests on the **Android emulator** an on **iOS simulator**. Azure Pipelines is Microsoft's CI/CD offering and it's free for open source projects (including parallel build jobs). We've successfully set up such tests in a project where we are using react native.

[2019-02-08 10:36] ManigandanRaamanathan commented on #1501
For me the front camera not detecting face. Any solution?

[2019-02-08 19:32] AlanSaracho opened #2098 "onTextRecognized with face detector"
# Bug Report

Hi! I can use Face detector and text detector split, but when i try to active together only show a black screen without any preview.
Some ideas?

PD: This feature works very well on andorid.

**To Do First**
- [yes] Did you try latest release?
- [yes] Did you try master?
- [yes] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
iOS

**Versions**

[2019-02-09 02:14] mmamaniwolox commented on #1975
Im having this issue as well on a J1 and a Google Pixel

[2019-02-09 18:10] jwaldrip commented on #1931
@SimonErm bump. Any news here?

[2019-02-11 03:22] ManigandanRaamanathan opened #2100 "Front facing camera not detecting face"
# Bug Report
**To Do First**
- [Yes] Did you try latest release?
- [No] Did you try master?
- [No] Did you look for existing matching issues?

**Related Modules**
RNCamera
FaceDetector

**Platforms**
Android

**Description/Current Behaviour**
Front facing camera is not detecting face

**Expected Behaviour**
Front facing camera should detect face

**Steps to Reproduce**
Used example code provided f

[2019-02-11 08:18] n1ru4l commented on #1694
Going to close this, since this question seems resolved. If you still experience any issues please ask on stackoverflow or open a new issue.

[2019-02-11 08:18] #1694 closed

[2019-02-11 08:25] n1ru4l commented on #1931
@jwaldrip Please provide a reproduction repository.

[2019-02-12 06:14] ManigandanRaamanathan commented on #2100
@n1ru4l guys any update on this issue? Can you please fix these 2 bugs on yaw angle value and front camera face detection?

[2019-02-12 06:31] ManigandanRaamanathan commented on #2058
@n1ru4l  may I know the status of this enhancement? is i possible to get output face orientation whether facing left, right, up or down?

[2019-02-12 06:55] n1ru4l commented on #2058
@ManigandanRaamanathan Feel free to sent a pull request to implement this. I do not have time or the requirements to work on this. Please also avoid generating unnecessary notifications. Once there is any progress I am sure someone will notify you in this issues.

[2019-02-12 06:57] n1ru4l commented on #2100
Please feel free to send a pull request to fix those issues. I have neither the time or the requirements to fix this behaviour. If you or your company rely on react-native-camera you might consider allocating time for working/improving on this library.

[2019-02-12 10:24] AlessioCamm opened #2104 "Error while updating 'useCamera2Api' - Android"
# Bug Report
**Related Modules**
RNCamera

**Platforms**
Android

**Versions**
- Android:
- iOS:
- react-native-camera: 1.10.2
- react-native: 0.58

**Description/Current Behaviour**
I found this error while I want to show the camera

![f07107ed-83c9-4e0e-be75-7467a611d8f5 png](https://user-images.githubusercontent.com/22292009/52628769-9b8bc780-2eb8-11e9-8760-c93689293445.jpg)

 Someone has found

[2019-02-12 11:07] sraka1 commented on #940
We're also receiving this in Fabric, but are unable to replicate...has anyone seen this problem?

[2019-02-12 13:33] ivosabev commented on #1949
Any progress on this?

[2019-02-12 17:09] carloscuesta commented on #940
@sraka1 In my particular case it happened because a user denied the camera permissions and then he tried to enter to the screen that showed up the Camera

[2019-02-12 21:59] St7-07 commented on #2098
Same happen to me, no results found on internet, and I can't achieve manual installation to prove that way, however in RNCamera docs remark that TextDetector can only be installed through CocoaPods

[2019-02-13 03:25] yogisalomo commented on #2040
I'm having a similar problem of executing _recordyAsync_ multiple times like this issue. The original issue solved it with some navigation event, however in my case, I simply just want to call the _recordyAsync_ function again in the same component.

Every time I call _recordyAsync_ for the second time, I faced this `[Error: Starting video recording failed. Another recording might be in progress.]

[2019-02-13 08:57] n1ru4l commented on #1949
@ivosabev You could start by using git bisect in order to find out when this issue was introduced (https://git-scm.com/docs/git-bisect). It would help fixing this issue a lot.

Otherwise once somebody is working on this he will probably notify in this thread. No need to ask for progress.

[2019-02-13 09:05] AshokICreate commented on #1616
[code]

[2019-02-13 10:35] jaresan opened #2105 "Auto focus not working with camera2 api."
# Bug Report
**To Do First**
- [x] Did you try latest release?
- [x] Did you try master?
- [x] Did you look for existing matching issues?

**Related Modules**
RNCamera

**Platforms**
Android

**Versions**

- Android: 8.0
- react-native-camera: 10.1.2 & master
- react-native: 0.58.4
- react: 16.6.3

**Description/Current Behaviour**
When using `useCamera2Api` prop on Camera, the `AutoFocus` mode do

[2019-02-13 11:41] ntelkedzhiev commented on #1949
@n1ru4l This issue has existed ever since `pauseAfterCapture` was introduced (https://github.com/react-native-community/react-native-camera/commit/f6f9f29). https://github.com/react-native-community/react-native-camera/commit/71b10c1 made it better but there is still a significant delay.

[2019-02-13 13:20] AshokICreate commented on #1616
I changed to below code.

`- (void)_setupOrDisableMetadataOutput
{
    if ([self isReadingBarCodes] && (_metadataOutput == nil || ![self.session.outputs containsObject:_metadataOutput])) {
        AVCaptureMetadataOutput *metadataOutput = [[AVCaptureMetadataOutput alloc] init];
        if ([self.session canAddOutput:metadataOutput]) {
            @try {
                if(![self.session.outputs co

[2019-02-13 23:22] SimonErm commented on #2088
The stacktrace leads to Camera.js which relates to RCTCamera. Am I right? If i am right try RNCamera, because RCTCamera is deprecated.

[2019-02-14 07:53] ZHkkk opened #2107 "cocopods"
# Bug Report

[!] CocoaPods could not find compatible versions for pod "react-native-camera":
  In Podfile:
    react-native-camera (from `./React/node_modules/react-native-camera`)

cocopods  platform  8.0

[2019-02-14 09:44] n1ru4l commented on #2107
We cannot help you without more information.

[2019-02-14 11:28] AshokICreate commented on #1616
https://github.com/n1ru4l anything u can help?

[2019-02-14 11:29] AshokICreate commented on #1616
@n1ru4l please find above comments

[2019-02-14 20:33] stoffern commented on #1836
I think this is related to a problem in RN core, i made a custom module to send string data of 3-4 mb and the write / read times are high.
1mb write = approx 500ms
1mb read = approx 500ms

problem with slow speeds are also reported in react-native-fs and other modules that require "big" data sendt as string.

[2019-02-15 07:25] prodoxx commented on #2100
Hey @ManigandanRaamanathan , try installing React-Native Camera version 1.2.0 (or a lower version that is not latest). I got the latest version a yesterday and the face detection was not working properly. It was not detecting faces properly or it looked like it was too slow. I downgraded to 1.2.0 and it works fine now.

[2019-02-15 07:26] ManigandanRaamanathan commented on #2100
@prodoxx thanks for the info. Will try the older version and update here

[2019-02-15 07:30] ManigandanRaamanathan commented on #2100
@prodoxx is the front / selfie camera detects face on the version that you're using?

[2019-02-15 07:30] prodoxx commented on #2100
Yeah, I'm using version 1.2.0 right now and it detects it.

[2019-02-15 07:31] ManigandanRaamanathan commented on #2100
@prodoxx thanks for the update.

[2019-02-15 09:04] SimonErm commented on #2086
Just a typo, should be upc_e instead. I am going to do a PR this weekend.

[2019-02-15 10:42] #2086 closed

[2019-02-15 10:45] n1ru4l commented on #2086
:tada: This issue has been resolved in version 1.11.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-camera)
- [GitHub release](https://github.com/react-native-community/react-native-camera/releases/tag/v1.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-15 11:14] sibelius commented on #1620
reference https://github.com/react-native-community/react-native-netinfo/pull/14

[2019-02-15 11:36] n1ru4l opened #2110 "Deprecate `permissionDialogTitle` and `permissionDialogMessage` in favor of `androidCameraPermissionOptions` and `androidRecordAudioPermissionOptions`"
# Feature-Request

**Describe the Feature**
Instead of having different properties like:

- `permissionDialogTitle`
- `permissionDialogMessage`
- `permissionButtonPositive` (not implemented yet)
- `permissionButtonNegative` (not implemented yet)
- `permissionsButtonNeutral` (not implemented yet)

We should have a better approach:

- `androidCameraPermissionOptions`
- `androidRecordAudioPermissionO

[2019-02-15 11:56] n1ru4l commented on #2088
Closing this issue since there is no feedback from the author. If anyone still experiences this issue with the latest version of react-native-camera and `RNCamera` he should open a new issue.

[2019-02-15 11:56] #2088 closed

[2019-02-16 14:12] Luehang opened #2111 "RNCamera whiteBalance prop does not work with Android 9.0."
# Bug Report
**To Do First**
- [ x ] Did you try latest release?
- [ x ] Did you try master?
- [ x ] Did you look for existing matching issues?

**Related Modules**

After upgrading phone emulator to **Android 9.0 Pie**, `RNCamera` `whiteBalance` prop does not work.  Only `RNCamera.Constants.WhiteBalance.auto`.  Ends up crashing when changing it dynamically.

**Platforms**

After upgrading phone e

[2019-02-16 14:37] tomtomgo92 commented on #1335
thank !

[2019-02-16 15:27] pitchourou commented on #1914
any update on this guys ? using `largeHeap=true` is not an ideal solution

[2019-02-16 21:28] younessiysa commented on #1740
Set the RNcamera props  captureAudio={false}

[2019-02-18 02:41] cuongngoht opened #2113 "React native disable context menu in Camera Preview Screen in IOS"
# Question
I need to disable context menu in Camera Preview Screen in IOS device.  How to do this ?

https://i.stack.imgur.com/Wre0q.png

[2019-02-18 04:32] hungdev commented on #700
https://github.com/hungdev/react-native-media-helper

[2019-02-18 06:05] #2113 closed

[2019-02-18 07:01] n1ru4l commented on #2107
You are resolving the `react-native-camera` podfile from the wrong directory. Please check the readme/cocoapods setup guide.

[2019-02-18 07:02] #2107 closed

[2019-02-18 11:35] n1ru4l commented on #1740
If you still experience this issue with the newest version of `react-native-camera` please open a new issue.

[2019-02-18 11:35] #1740 closed

[2019-02-18 12:04] n1ru4l commented on #2019
## Idea: Remove prop-types
Having TypeScript and flow type definitions should me more than enough.

[2019-02-18 12:17] hariDasu commented on #2079
@wadehuang36 would you mind linking to your fork? I have the same issue integrating with react-native-firebase in order to set up push notifications on android

[2019-02-18 12:31] n1ru4l commented on #2079
@ariDasu check out https://github.com/react-native-community/react-native-camera/pull/2112

[2019-02-18 14:01] AnurajDev commented on #1509
Are there any specific reasons why "stopPreview()" is not implemented in RNCamera? I have the same problem @YouCii  has.

[2019-02-18 14:09] n1ru4l commented on #1509
Despite the fact that you can simple unmount the camera component when you navigate away from a screen (e.g. react-navigation https://reactnavigation.org/docs/en/with-navigation-focus.html), there is a `pausePreview` method: https://github.com/react-native-community/react-native-camera/blob/808fbb1be06b4f19f7653246ebb6ffdc35e9315e/src/RNCamera.js#L454

@AnurajDev Is there anything not working with

[2019-02-18 15:06] SimonErm commented on #2105
Workaround: disable autofocus, then it works^^. No kidding 😆

[2019-02-18 15:15] sibelius commented on #2105
can you guys test this PR https://github.com/react-native-community/react-native-camera/pull/1974

maybe it solves your problem

[2019-02-18 16:05] n1ru4l commented on #1509
Do a conditional render and return null instead of the RNCamera in case the property injected by WithNavigationFocus is false

[2019-02-18 21:54] jwaldrip commented on #1931
@n1ru4l extracting this from our app would be a pain. Would you be able to jump on a hangout?

[2019-02-18 23:35] jonahgreenthal opened #2116 "Allow user to choose flash mode while the camera is open"
# Feature-Request

**Describe the Feature**
When the camera screen is active, the user should be able to choose the flash mode. (If the developer wants to let them.)

**Possible Implementations**
iOS displays a "lightning bolt" icon at the top left of the native camera screen, which when tapped expands a menu (Auto, On, or Off). Imitating that implementation seems reasonable.

We could add an addi

[2019-02-19 00:37] sibelius commented on #2116
Can’t this be implemented on user land?

[2019-02-19 00:39] jonahgreenthal commented on #2116
What does "user land" mean? Do you mean that the developer using `react-native-camera` should implement this themself? (By creating their own overlay on the `<RNCamera>` component?)

If so: I take your word that it is possible, but it still seems like it would be a convenient feature for the package to provide.

[2019-02-19 00:59] sibelius commented on #2116
Packages should provide the building blocks to users implements their features

We should focus on fewer public apis to be easier to maintain

We can accept this as a recipe for the docs

[2019-02-19 05:48] AnurajDev commented on #1509
@n1ru4l  Thanks a lot for the replies.

My problem was my device time and computer time were out of sync. After they were synced, navigation is happening much faster.

Thanks again. :)

[2019-02-19 06:55] Bang9 commented on #2082
use png image or try it

[code]

[2019-02-19 08:29] SimonErm commented on #2116
Take a look here: https://github.com/react-native-community/react-native-camera/blob/master/examples/basic/App.js

[2019-02-19 11:19] #1509 closed

[2019-02-19 14:53] ManigandanRaamanathan commented on #727
@Nandez89 you found your solution?